@import "~scss/_vars";

.blocks {
	.block.blockBookmark { padding: 6px 0px; }
	.block.blockBookmark {
		.focusable { border-radius: 6px; }

		.inner { 
			display: flex; border-radius: inherit; border: 1px solid $colorLightGrey; transition: border-color 0.2s ease-in-out; 
			cursor: pointer; position: relative; border-radius: 12px; overflow: hidden;
		}
		.inner:hover { border-color: $colorMediumGrey; }
		.inner.bgColor { border: 0px; }
		
		.inner {
			.side.left { width: 100%; padding: 16px; }
			.side.right { border-radius: 0px 12px 12px 0px; overflow: hidden; display: none; }
		}
		
		.inner.vertical { display: block; }
		.inner.vertical {
			.side.left { width: 100%; border-radius: 0px; }
			.side.right { 
				position: absolute; top: 0px; left: 0px; height: 116px; width: 100%; border-radius: 0px;
				border-bottom: 0.05em solid $colorLightGrey; 
			}
		}

		.inner.withImage {
			.side.left { width: calc(100% - 236px); }
			.side.right { width: 236px; display: block; }
		}

		.inner.withImage.vertical { padding-top: 116px; }
		.inner.withImage.vertical {
			.side.left { width: 100%; }
			.side.right { width: 100%; }
		}

		.name { @include text-common; line-height: 18px; height: 18px; color: $colorBlack; @include clamp2; margin-bottom: 4px; }
		.descr { @include text-small; line-height: 16px; color: $colorVeryDarkGrey; margin-bottom: 6px; @include clamp2; }

		.link { 
			@include text-small; height: 18px; color: $colorDarkGrey; @include text-overflow-nw; display: flex; gap: 0px 6px; 
			align-items: center; 
		}
		.img { width: 100%; height: 116px; object-fit: cover; display: block; }
		.fav { width: 16px; height: 16px; object-fit: cover; }
	}
	
	.block.blockBookmark > .wrapContent { border-radius: 6px; }
	.block.blockBookmark > .wrapContent > .selectable > .dropTarget { padding-top: 0px; padding-bottom: 0px; }
}