@import "~scss/_vars";
@mixin cnt-2 { width: 260px; }
@mixin cnt-3 { width: 172px; }
@mixin cnt-4 { width: 128px; }

.blocks {
	.block.blockChat { @include text-common; }
	.block.blockChat {
		.wrap.isDraggingOver { opacity: 0.5; cursor: copy; }

		.scrollWrapper { display: flex; flex-direction: column; min-height: 206px; justify-content: flex-end; }
		.scrollWrapper {
			.scroll { min-height: 100%; display: flex; flex-direction: column; justify-content: flex-end; }
		}

		.emptyState { display: flex; flex-direction: column; gap: 16px 0px; align-items: center; justify-content: center; flex-grow: 1; text-align: center; }
		.emptyState {
			.icon { width: 56px; height: 56px; background: url('~img/icon/chat/emptyState.svg'); }
			.label { @include text-common; font-weight: 400; color: var(--color-text-secondary); }
			.button { margin-top: 4px; }
		}

		.section { display: flex; flex-direction: column; gap: 4px 0px; padding: 16px 0px; }
		.section:first-child { padding-top: 0px; }
		.section {
			> .date { position: sticky; display: flex; justify-content: center; top: 60px; z-index: 10; pointer-events: none; transition: opacity 0.3s $easeInQuint; }
			> .date {
				.label { @include text-small; padding: 3px 10px; background: var(--color-bg-primary); border: 1px solid var(--color-shape-tertiary); border-radius: 13px; }
			}
			> .date.hide { opacity: 0; }
		}

		markupmention.withImage {
			smile, .space { display: none; }
		}

		@import "./chat/attachment";
		@import "./chat/message";
		@import "./chat/form";
	}
}
