@import "~scss/_vars";

.blocks {
	.block { 
		border-bottom: 1px solid red; padding: 1px 0px; word-break: break-word; display: flex; flex: auto; 
	}
	.block {
		.wrapMenu { width: 50px; }
		.wrapContent { width: calc(100% - 50px); position: relative; }
		.flex { position: relative; z-index: 1; }
		.icon.dnd { width: 24px; height: 24px; background-size: 7px 12px; background-image: url('~img/icon/dnd.svg'); }
	}
	
	.block.isOver > .wrapContent > .dropTarget { background: rgba(0,200,0,0.3); }
	
	/* Row */
	.block.blockLayout.c0 { padding: 0px; }
	.block.blockLayout.c0 > .wrapMenu { display: none; }
	.block.blockLayout.c0 > .wrapContent { width: 100%; }
	.block.blockLayout.c0 > .wrapContent > .children { display: flex; }
	.block.blockLayout.c0 > .wrapContent > .dropTarget { display: none; }
	
	/* Column */
	.block.blockLayout.c1 { padding: 0px; }
	.block.blockLayout.c1 > .wrapMenu { display: none; }
	.block.blockLayout.c1 > .wrapContent { width: 100%; }
	.block.blockLayout.c1 > .wrapContent > .dropTarget { display: none; }
}