@import "~scss/_vars";

.block.blockCover { position: absolute; left: 24px; top: 0px; height: 296px; width: calc(100% - 48px); }
.block.blockCover {
	.wrapMenu { display: none; }
	.wrapContent { position: relative; z-index: 1; width: 100%; height: 100%; }
	
	.loaderWrapper { position: absolute; left: 0px; top: 38px; width: 100%; height: calc(100% - 38px); background: rgba(255,255,255,0.7); z-index: 10; }
	.loaderWrapper {
		.loader { 
			left: auto; top: 16px; right: 16px; margin: 0px; border-color: #fff; border-left: 2px solid $colorBlack; 
		}
	}
	
	.wrap { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; }
	.wrap.isDragging, .wrap.isEditing { cursor: grab; }
	
	.wrap.isEditing {
		.elements { opacity: 1; }
		.elements { 
			.btn { opacity: 1 !important; }
		}
	} 
	.wrap.isDragging {
		.elements { opacity: 0.5; }
	}
	
	.wrap.isDraggingOver { opacity: 0.5; }
	
	.cover { position: absolute; left: 0px; top: 0px; transform-origin: 0px 0px; }
	img.cover { background-color: transparent; height: auto; }
	.elements { width: 704px; height: calc(100% - 40px); position: absolute; left: 50%; margin-left: -352px; bottom: 0px; z-index: 1; }
	.elements:hover { 
		.btn { opacity: 1 !important; }
	}
	
	.elements {
		.buttons { position: absolute; left: 0px; bottom: 8px; }
		
		.dragWrap { 
			width: 160px; height: 24px; background: rgba(0,0,0,0.5); position: absolute; left: 50%; bottom: 8px; margin-left: -80px;
			border-radius: 4px; padding: 0px 8px; display: flex; 
		}
		.dragWrap {
			.input-drag { width: 96px; margin-right: 8px; }
			.number { width: calc(100% - 106px); font-size: 14px; color: #fff; font-weight: 500; text-align: right; }
		}
	
		.btn { 
			font-weight: 500; font-size: 14px; height: 24px; line-height: 24px; cursor: pointer; display: inline-block; opacity: 0;
			padding: 0px 8px; border-radius: 4px; margin-right: 8px; white-space: nowrap; transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out; text-align: center;
		}
		.btn.active { opacity: 1; }
		.btn:last-child { margin: 0px; }
		
		.btn.white { background: rgba(255,255,255,0.7); }
		.btn.white:hover, .btn.white.active { background: rgba(255,255,255,0.9); }
		
		.btn.black { color: #fff; background: rgba(0,0,0,0.5); }
		.btn.black:hover, .btn.black.active { background: rgba(0,0,0,0.7); }
		
		.btn {
			.icon { width: 16px; height: 16px; margin: -2px 6px 0px 0px; }
			.txt { line-height: 18px; }
		}
		
		.btn.drag { position: absolute; cursor: grab; width: 210px; top: 50%; left: 50%; margin: -12px 0px 0px -105px; }
		.btn.drag {
			.icon { background-image: url('~img/icon/cover/drag.svg'); }
		}
		
		.btn.addCover {
			.icon { background-image: url('~img/icon/add/cover1.svg'); }
		}
	}
}

.editorWrapper.withIconAndCover.align0 {
	.block.blockCover {
		.elements {
			.buttons { left: 80px; }
		}
	}
}

.editorWrapper.isProfile.withIconAndCover.align0 {
	.block.blockCover {
		.elements {
			.buttons { left: 112px; }
		}
	}
}