@import "~scss/_mixins";

.blocks {
	.block.blockDataview { @include text-common; padding: 6px 0px; }
	.block.blockDataview {
		.wrap { position: relative; }

		> .wrapContent { z-index: 1; }
		> .wrapContent.bgColor > .selectionTarget > .dropTarget { padding: 8px; }

		#set-loader { margin: 24px auto; }
		.icon.plus { width: 20px; height: 20px; }
		
		.icon.edit {
			display: none; width: 28px; height: 28px; background-size: 20px; border-radius: 6px;
			background-color: var(--color-bg-primary); box-shadow: 0px 0px 4px var(--color-shape-highlight-medium);
			z-index: 1;
		}

		.button.expand { 
			display: none; flex-shrink: 0; background-color: var(--color-bg-primary); z-index: 1; @include text-common;
			font-weight: 500; padding: 0px 8px; border-color: var(--color-shape-highlight-medium);
			color: var(--color-text-secondary);
		}

		.button.expand {
			&:hover, &.hover { background-color: var(--color-shape-tertiary); color: var(--color-text-primary); }

			.icon { width: 20px; height: 20px; display: none; }
		}


		.loadMore { 
			display: flex; align-items: center; @include text-small; line-height: 20px; width: 100%; margin-top: 10px; padding: 4px 2px; color: var(--color-text-secondary);
			transition: $transitionAllCommon;
		}
		.loadMore {
			.icon { width: 20px; height: 20px; }
			.name { @include text-overflow-nw; width: calc(100% - 20px); }
		}

		.loadMore:hover { color: var(--color-text-primary); }

		.dateSelect { padding: 2px 0px 2px 10px; display: flex; flex-direction: row; margin: 0px 0px 12px 0px; justify-content: space-between; }
		.dateSelect {
			.side.left { @include text-paragraph; font-weight: 600; display: flex; flex-direction: row; gap: 0px 2px; align-items: center; }
			.side.right { display: flex; flex-direction: row; align-items: center; justify-content: flex-end; gap: 0px 2px; align-items: center; }

			.select { padding: 2px 4px; border: 0px; }
			.select {
				.icon.arrow { display: none; }
			}

			.btn { padding: 2px 4px; line-height: 20px; transition: $transitionAllCommon; border-radius: 4px; }
			.btn:hover { background-color: var(--color-shape-highlight-medium); }

			.icon.arrow { width: 24px !important; height: 24px !important; }
			.icon.arrow.right { transform: rotateZ(180deg); }
		}

		.dataviewEmpty { 
			color: var(--color-text-secondary); display: flex; align-items: center; justify-content: center; border-top: 1px solid var(--color-shape-secondary); 
			text-align: center; padding: 16px 0px; height: 300px;
		}
		.dataviewEmpty.withHead { border-top: 0px; }
		.dataviewEmpty {
			.inner { width: 300px; }
			.name { font-weight: 500; margin: 0px 0px 2px 0px; }
			.descr { @include text-small; margin: 0px 0px 8px 0px; }
			.button { color: var(--color-text-primary); }
		}

		.dataviewHead { display: flex; flex-direction: row; align-items: center; gap: 0px 2px; width: 100%; color: var(--color-text-primary); }
		.dataviewHead {
			.icon.source { opacity: 0; }
			.icon.source.active { opacity: 1; }

			.editableWrap { @include text-header2; height: 28px; @include text-overflow-nw; }
			.editableWrap.isEmpty { min-width: 120px; }
			.editableWrap {
				.editable { height: 100%; }
			}
		}
		.dataviewHead.isEditing {
			.editableWrap { cursor: text; }
		}
		.dataviewHead.isDeleted {
			.editableWrap { color: var(--color-text-tertiary); }
			#head-source-select { display: none; }
		}
		.dataviewHead.isCollection {
			.editableWrap.isEmpty { min-width: 160px; }
		}

		.dataviewControls { font-weight: 500; color: var(--color-control-active); position: relative; overflow: hidden; }
		.dataviewControls::after { content: ''; display: none; height: 1px; width: 100%; background: var(--color-shape-secondary); position: absolute; bottom: 0px; }
		.dataviewControls.viewGrid::after, .dataviewControls.viewList::after { display: block; }

		.dataviewControls {
			> .sides { gap: 0px 16px; display: flex; flex-direction: row; align-items: center; justify-content: stretch; width: 100%; }
			> .sides {
				> .side { padding: 15px 0px; white-space: nowrap; line-height: 28px; display: flex; flex-direction: row; align-items: center; }
				> .side.left { flex-grow: 1; padding-left: 20px; max-width: 100%; }
				> .side.right { flex-shrink: 0; gap: 0px 4px; justify-content: flex-end; }
				> .side.right {
					.filter { color: var(--color-text-primary); padding: 0px; }
					.filter {
						.inner { gap: 0px; height: 100%; background: none; padding: 0px 4px; }
						.inner:hover { background-color: var(--color-shape-highlight-medium); }
						.filterInputWrap { overflow: hidden; width: 0px; transition: width 0.2s $easeInQuint; }
						.line { display: none !important; }
						.icon.commonClear { display: none; }
					}
					.filter.isActive {
						.inner { background-color: var(--color-shape-highlight-medium); }
						.icon:hover { background-color: unset; }
						.icon.commonClear { display: block; }
						.filterInputWrap { width: 120px; }
					}

					.buttonWrap { margin-left: 6px; display: flex; }
					.buttonWrap {
						.button { margin-left: 0; }
					}
					.buttonWrap.withSelect {
						.button.addRecord { border-radius: 14px 0 0 14px; padding: 0px 4px 0px 12px; }
						.button.isArrow {
							height: 28px; border: 0px; border-radius: 0px 14px 14px 0px; padding: 0px 8px; display: flex; align-items: center; justify-content: center; 
						}
						.button.isArrow {
							.icon { margin: 0px; }
						}
					}
				}
			}

			.icon { position: relative; transition: $transitionAllCommon; }
			.icon.btn-filter.on,
			.icon.btn-sort.on { color: var(--color-system-accent-100); }
			.icon.btn-filter.on:hover,
			.icon.btn-sort.on:hover { background-color: var(--color-system-selection) !important; }

			.icon.btn-filter {
				.bullet {
					position: absolute; right: -2px; top: -2px; width: 10px; height: 10px; border-radius: 50%;
					border: 2px solid var(--color-bg-primary); background: var(--color-system-accent-100);
				}
			}

			.views { display: flex; gap: 0px 16px; flex-direction: row; align-items: center; justify-content: flex-start; }
			.views {
				.icon.plus { opacity: 0; }
			}

			.dropTarget.isOver.middle { padding: 0px 4px; border-radius: 4px; margin: 0px -4px; }
			.dropTarget.isOver.middle {
				.viewItem { color: var(--color-text-primary); transition: none; }
			}

			.viewItem { 
				transition: color $transitionCommon; @include text-header3; font-weight: 700; @include text-overflow-nw; 
				max-width: 300px; color: var(--color-control-active);
			}
			.viewItem {
				.icon.arrow { width: 20px; height: 20px; }
			}
			.viewItem:last-child { margin: 0px; }
			.viewItem:hover, .viewItem.active { color: var(--color-text-primary); }
			.viewItem.isDragging { background: rgba(255,255,255,0.5); padding: 0px 4px; border-radius: 4px; width: auto !important; }

			.viewSelect { display: none; border: 0px; padding-left: 0px; color: var(--color-text-primary); }
			.viewSelect {
				.icon:hover, .icon.active { background-color: transparent !important; }
				.name { @include text-overflow-nw; }
			}
		}
		.dataviewControls.small {
			.side.left {
				.views { display: none; }
				.viewSelect { display: inline-block; }
			}
		}

		.dataviewSelection { font-weight: 400; display: none; }
		.dataviewSelection {
			.side.left { @include text-header3;  }
			.side.right {
				.element {
					display: flex; flex-direction: row; align-items: center; gap: 0px 6px; border-radius: 4px; padding: 0px 6px 0px 4px;
					transition: $transitionAllCommon; color: var(--color-text-primary);
				}
				.element {
					.icon { width: 20px; height: 20px; }
				}
				.element:hover { background-color: var(--color-shape-highlight-medium); }
			}
		}

		.dataviewFilters { padding: 12px 0px; }
		.dataviewFilters {
			> .sides { display: flex; align-items: flex-start; justify-content: space-between; width: 100%; }
			> .sides {
				> .side.left { flex-grow: 1; padding-left: 14px; max-width: 100%; display: flex; gap: 8px; flex-wrap: wrap; }
				> .side.right { flex-shrink: 0; gap: 0px 4px; justify-content: flex-end; align-items: flex-start; }

				.separator.vertical { width: 1px; height: 20px; background-color: var(--color-shape-secondary); align-self: center; flex-shrink: 0; }

				.filterItem {
					position: relative; display: flex; flex-direction: row; gap: 0px 4px; height: 28px; align-items: center; padding: 0px 10px 0px 8px;
					border-radius: 16px; color: var(--color-text-secondary);
				}
				.filterItem {
					.icon.sortArrow { width: 20px; height: 20px; margin: 0px; transform: rotateZ(180deg); }
					.icon.sortArrow.c1 { transform: rotateZ(0deg); }
					.icon.advanced { width: 20px; height: 20px; }
					.icon.relation { width: 20px; height: 20px; }
					.icon.arrow { width: 8px; height: 8px; }

					&.isActive { color: var(--color-system-accent-100); background-color: var(--color-system-highlight); }
					&.isActive {
						&:hover, &.hover { background-color: var(--color-system-selection); }
						.name { font-weight: 500; }

						.icon.hasSvg { color: var(--color-system-accent-100); }
						.icon.relation { background-color: var(--color-system-accent-100); }
					}
					&:hover, &.hover { background-color: var(--color-shape-highlight-medium); border-color: transparent; }

					.content { display: flex; gap: 4px; @include text-overflow-nw; max-width: 180px; }
					.value { @include text-overflow-nw; }

					.label.condition { text-transform: lowercase; }
				}

				.itemAdd { display: flex; align-items: center; height: 28px; gap: 4px; flex-wrap: nowrap; padding: 0px 8px 0px 6px; border-radius: 14px; }
				.itemAdd {
					&:hover, &.hover { background-color: var(--color-shape-highlight-medium); }

					.icon.plus { width: 20px; height: 20px; }
					.label { color: var(--color-text-secondary); }
				}

				.buttons {
					.label { font-weight: 500; color: var(--color-text-secondary); padding: 3px 8px; }
					.labe:hover { color: var(--color-text-primary); }
				}
			}
		}

		.content {
			.scroll { overflow-x: auto; overflow-y: visible; min-height: 300px; }
			.scroll::-webkit-scrollbar { display: none; }
		}

		.viewContent {
			.icon.drag {
				z-index: 1; cursor: grab;
				position: absolute; top: 50%; margin: -6px 0px 0px 0px; left: 4px; opacity: 0; transition: opacity $transitionCommon;
			}
		}

		.hoverArea.active,
		.hoverArea:hover {
			.dataviewControls {
				> .sides {
					> .side.right { opacity: 1; }
				}

				.views {
					.icon.plus { opacity: 1; }
				}
			}
			.dataviewHead {
				> .sides {
					> .side.right { opacity: 1; }
				}

				#head-source-select { opacity: 1; }
			}
		}
	}

	.block.blockDataview.isSelectionSelected {
		.dataviewControls {
			> .sides {
				> .side.right { opacity: 1; }
			}

			.views {
				.icon.plus { opacity: 1; }
			}
		}
		.dataviewHead {
			> .sides {
				> .side.right { opacity: 1; }
			}

			#head-source-select { opacity: 1; }
		}
	}

	.block.blockDataview.isInline {
		.wrapMenu > .icon.commonDnd { height: 60px; }
		.dataviewEmpty { 
			height: auto; padding: 48px 0px; border-top: 1px solid var(--color-shape-secondary); 
			border-bottom: 1px solid var(--color-shape-secondary); 
		}

		.dataviewFilters {
			.side.left { padding-left: 0px; }
		}

		.dataviewControls { margin: 0px 0px 8px 0px; }
		.dataviewControls {
			> .sides { align-items: center; }
			> .sides {
				> .side { padding: 0px; height: 28px; }
				> .side.left { display: flex; flex-direction: column; align-items: flex-start; gap: 4px 0px; }
				> .side.right { transition: opacity $transitionCommon; opacity: 0; gap: 0px; }
				> .side.right {
					.icon.expandControls, .btn-settings { margin-right: 4px; }
					.collapsible { display: flex; gap: 0px 4px; align-items: center; overflow: hidden; transition: width 0.15s $easeInQuint; }
				}
			}

			.icon.expandControls { width: 28px; height: 28px; flex-shrink: 0; }

			.views { gap: 0px 12px; }
			.viewItem { @include text-common; font-weight: 500; }
			.button { margin-left: 6px; }

			.icon.plus { width: 20px; height: 20px; }
			.icon.plus:hover { background-color: transparent; }
		}
		.dataviewControls {
			> .sides > .side.right {
				.collapsible:not(.isCollapsed) { margin-right: 4px; }
				.collapsible.isCollapsed { width: 0px; }
				.icon.expandControls.isCollapsed { transform: rotateZ(180deg); }
			}
		}
		.dataviewControls::after { display: none !important; }

		.dataviewSelection {
			.side.left { @include text-paragraph; }
		}

		.content {
			.scroll { padding-bottom: 2px; min-height: unset; }
		}
	}

	.block.blockDataview.isInline {
		.dataviewControls > .sides > .side.right { position: absolute; right: 0px; background-color: inherit; }
	}

	.block.blockDataview.isInline.isNarrow {
		.dataviewControls {
			.icon.expandControls, .collapsible { display: none !important; }
		}
	}

	.block.blockDataview {
		.dragOverlay {
			display: none; pointer-events: none; background-color: var(--color-bg-primary); z-index: 10;
			width: 100%; flex-direction: column; align-items: center; justify-content: center;

			.inner {
				display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 12px 0px;
			}

			.label { @include text-header3; font-weight: 700; color: var(--color-text-tertiary); }
		}
	}
}

.editorWrapper.isDraggingOver {
	.blocks .block.blockDataview {
		.dragOverlay { display: flex; }
		.content { display: none; }
	}
}

.blocks {
	.block.blockDataview.showMenu {
		.dataviewHead {
			.icon.source { opacity: 1; }
		}
		.dataviewControls {
			> .sides {
				> .side.right { opacity: 1; }
			}
			.views {
				.icon.plus { opacity: 1; }
			}
		}
	}
	
}

html.platformWindows {
	.blocks {
		.block.blockDataview {
			.content {
				.scroll { overflow: overlay; }
			}
		}
	}
}
