@import "~scss/_vars";

.blocks {
	.block.blockDataview { @include text-common; padding: 6px 0px; }
	.block.blockDataview {
		.wrapContent { z-index: 1; }

		#set-loader { margin: 24px auto; }
		.icon.plus { width: 20px; height: 20px; background-image: url('~img/icon/plus/menu0.svg'); cursor: pointer; }
		
		.icon.edit { 
			display: none; flex-shrink: 0; width: 20px; height: 20px; background-image: url('~img/icon/dataview/button/edit0.svg'); cursor: pointer; 
			background-size: 20px;
		}
		.icon.edit:hover { background-image: url('~img/icon/dataview/button/edit1.svg'); }

		.loadMore { 
			display: flex; align-items: center; @include text-small; line-height: 20px; width: 100%; margin-top: 10px; padding: 4px 2px; color: $colorDarkGrey;
			transition: $transitionFast; cursor: pointer;
		}
		.loadMore {
			.icon { flex-shrink: 0; width: 20px; height: 20px; background-image: url('~img/arrow/loadMore0.svg'); }
		}

		.loadMore:hover { color: $colorBlack; }
		.loadMore:hover { 
			.icon { background-image: url('~img/arrow/loadMore1.svg'); }
		}

		.dataviewEmpty { 
			color: $colorDarkGrey; display: flex; align-items: center; justify-content: center; border-top: 1px solid $colorBorderLight; 
			text-align: center; padding: 16px 0px; height: 300px;
		}
		.dataviewEmpty.withHead { border-top: 0px; }
		.dataviewEmpty {
			.inner { width: 300px; }
			.name { font-weight: 500; margin: 0px 0px 2px 0px; }
			.descr { @include text-small; margin: 0px 0px 8px 0px; }
			.button { color: $colorBlack; }
		}

		.dataviewHead, .dataviewControls {
			.sides, .side { display: flex; flex-direction: row; align-items: center; }
			.sides { justify-content: stretch; width: 100%; }
			.side.left { flex-grow: 1; }
			.side.right { flex-shrink: 0; gap: 0px 12px; justify-content: flex-end; }
		}

		.dataviewHead { display: flex; flex-direction: row; align-items: center; padding: 10px 14px; border-bottom: 1px solid $colorBorderDark; gap: 0px 6px; }
		.dataviewHead {
			.side.left { gap: 0px 6px; }
			.side.right { opacity: 0; transition: $transitionFast; }

			.iconWrap { 
				padding: 4px; border-radius: 4px; transition: $transitionFast; cursor: pointer; display: flex; align-items: center;
				line-height: 20px; @include text-small; color: $colorMediumGrey;
			}
			.iconWrap:hover { background-color: $colorHover; }
			.iconWrap.icon { flex-shrink: 0; }
			.iconWrap {
				.icon { width: 20px; height: 20px; }
				.icon.set { background-image: url('~img/icon/dataview/head/set.svg'); }
			}

			.editableWrap { @include text-header3; height: 26px; cursor: pointer; max-width: 50%; @include text-overflow-nw; }
			.editableWrap.isEmpty { min-width: 70px; }

			.icon.expand { width: 20px; height: 20px; background-image: url('~img/icon/menu/action/expand0.svg'); }

			#head-source-select { opacity: 0; }
			#head-source-select.active { opacity: 1; }
		}
		.dataviewHead.isEditing {
			.editableWrap { cursor: text; }
		}
		.dataviewHead.isDeleted {
			.editableWrap { color: $colorSecondary; }
			#head-source-select { display: none; }
		}

		.dataviewControls { font-weight: 500; color: $colorMediumGrey; position: relative; height: 49px; }
		.dataviewControls::after { content: ''; display: none; height: 1px; width: 100%; background: $colorBorderLight; position: absolute; bottom: 0px; }

		.dataviewControls.viewGrid::after { display: block; }

		.dataviewControls {
			.sides { gap: 0px 16px; }
			.side { padding: 10px 0px; white-space: nowrap; line-height: 28px; }
			.side.left { padding-left: 14px; }

			.icon { cursor: pointer; position: relative; width: 28px; height: 28px; background-size: 20px; border-radius: 4px; transition: $transitionFast; }
			.icon:hover, .icon.active { background-color: $colorHover; }

			.icon.filter { background-image: url('~img/icon/dataview/button/filter0.svg'); }
			.icon.filter.on { background-image: url('~img/icon/dataview/button/filter1.svg'); }
			.icon.sort { background-image: url('~img/icon/dataview/button/sort0.svg'); }
			.icon.sort.on { background-image: url('~img/icon/dataview/button/sort1.svg'); }
			.icon.settings { background-image: url('~img/icon/dataview/button/settings.svg'); }

			.views { display: flex; gap: 0px 16px; flex-direction: row; align-items: center; justify-content: flex-start; }
			.views {
				.viewItem { 
					transition: color 0.2s ease-in-out; cursor: pointer; @include text-paragraph; font-weight: 700; @include text-overflow-nw; 
					max-width: 300px; color: $colorMediumGrey;
				}
				.viewItem { 
					.icon.arrow { width: 20px; height: 20px; background-image: url('~img/arrow/view.svg'); }
				}
				.viewItem:last-child { margin: 0px; }
				.viewItem:hover, .viewItem.active { color: $colorBlack; }
				.viewItem.isDragging { background: rgba(255,255,255,0.5); padding: 0px 4px; border-radius: 4px; width: auto !important; }

				.icon.plus { opacity: 0; }
			}

			.viewSelect { display: none; border: 0px; @include text-header3; }
			.viewSelect {
				.icon:hover, .icon.active { background-color: transparent !important; }
			}

			.side.left.small {
				.views { display: none; }
				.viewSelect { display: inline-block; line-height: 20px; }
			}

			.button { padding: 0px 8px; @include text-common; }
		}

		.dataviewSelection { font-weight: 400; }
		.dataviewSelection {
			.side.left { @include text-paragraph; color: $colorBlack;  }
			.side.right {
				.element {
					display: flex; flex-direction: row; align-items: center; gap: 0px 6px; border-radius: 4px; padding: 0px 6px 0px 4px; cursor: pointer;
					transition: $transitionFast;
				}
				.element.black { color: $colorBlack; }
				.element.orange { color: #f09c0e; font-weight: 500; }
				.element:hover { background-color: $colorHover; }
			}
		}

		.content {
			.scroll { overflow-x: auto; overflow-y: visible; transform: translate3d(0px,0px,0px); }
			.scrollWrap { background: #fff; padding-bottom: 14px; }
		}

		.content.isCollection {
			.dataviewControls { padding-left: 8px; }

			.dataviewControls.viewList {
				.line { width: 100%; margin: 0px; }
			}
		}

		.hoverArea:hover {
			.dataviewControls {
				.side.right { opacity: 1; }
				.views {
					.icon.plus { opacity: 1; }
				}
			}
			.dataviewHead {
				.side.right { opacity: 1; }
				#head-source-select { opacity: 1; }
			}
		}
	}

	.block.blockDataview.isInline {
		.wrapMenu > .icon.dnd { height: 88px; }

		.dataviewEmpty { height: auto; padding: 48px 0px; }
		.dataviewHead { padding-left: 0px; padding-right: 0px; }

		.dataviewControls {
			.side { padding-top: 9px; padding-bottom: 9px; }
			.side.left { padding-left: 0px; }
			.side.right { transition: opacity 0.2s ease-in-out; opacity: 0; }
			.line { display: none; }
		}
		.dataviewControls.active {
			.side.right { opacity: 1; }
		}
	}

	.block.blockDataview.showMenu {
		.dataviewHead {
			.side.right { opacity: 1; }
			#head-source-select { opacity: 1; }
		}
		.dataviewControls {
			.side.right { opacity: 1; }
			.views {
				.icon.plus { opacity: 1; }
			}
		}
	}
	
}

html.platformMac {
	.blocks {
		.block.blockDataview {
			.content {
				.scrollWrap { padding: 0px; }
				.scroll::-webkit-scrollbar { display: none; }
			}
		}
	}
}

html.platformWindows {
	.blocks {
		.block.blockDataview {
			.content {
				.scroll { overflow: overlay; }
			}
		}
	}
}