@import "~scss/_vars";

.blocks {
	.block.blockDataview { @include text-common; }
	.block.blockDataview {
		.icon.plus { width: 20px; height: 20px; background-image: url('~img/icon/dataview/button/plus0.svg'); cursor: pointer; }
		.icon.plus:hover { background-image: url('~img/icon/dataview/button/plus1.svg'); }
		
		.icon.checkbox { width: 20px; height: 20px; background-image: url('~img/icon/dataview/checkbox0.svg'); }
		.icon.checkbox.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }
		
		.views { @include text-header3; color: $colorDarkGrey; margin-bottom: 20px; }
		.views {
			.item { margin-right: 20px; display: inline-block; vertical-align: middle; transition: $transitionFast; cursor: pointer; }
			.item:last-child { margin: 0px; }
			.item:hover, .item.active { color: $colorBlack; }
			
			.icon.plus { margin-top: -4px; }
		}
		
		.buttons { display: flex; margin-bottom: 8px; font-weight: 500; color: $colorDarkGrey; }
		.buttons {
			.side { width: 50%; }
			.side.right { text-align: right; }
			.item { 
				display: inline-block; vertical-align: top; cursor: pointer; transition: $transitionFast; margin-right: 14px; 
				position: relative; text-align: left; line-height: 20px;
			}
			.item:last-child { margin: 0px; }
			.item:hover, .item.active { color: $colorBlack; }
			
			.item {
				.icon { width: 20px; height: 20px; margin: 0px 4px 0px 0px; vertical-align: top; }
				.icon.relation { background-image: url('~img/icon/dataview/button/relation0.svg'); }
				.icon.filter { background-image: url('~img/icon/dataview/button/filter0.svg'); }
				.icon.sort { background-image: url('~img/icon/dataview/button/sort0.svg'); }
				.icon.more { background-image: url('~img/icon/dataview/button/more0.svg'); }

				.icon.arrow { 
					margin: -6px 0px 0px 0px; width: 12px; height: 12px; background-image: url('~img/icon/dataview/button/arrow0.svg');
					position: absolute; right: 0px; top: 50%;
				}
				
				.icon.view { margin: 0px; }
				.name { display: inline-block; vertical-align: top; }
			}
			.item.view { width: 32px; }
			
			.item:hover, .item.active {
				.icon.plus { background-image: url('~img/icon/dataview/button/plus1.svg'); }
				.icon.arrow { background-image: url('~img/icon/dataview/button/arrow1.svg'); }
				.icon.relation { background-image: url('~img/icon/dataview/button/relation1.svg'); }
				.icon.filter { background-image: url('~img/icon/dataview/button/filter1.svg'); }
				.icon.sort { background-image: url('~img/icon/dataview/button/sort1.svg'); }
				.icon.more { background-image: url('~img/icon/dataview/button/more1.svg'); }
				
				.icon.view.c0 { background-image: url('~img/icon/dataview/view/grid1.svg'); }
				.icon.view.c1 { background-image: url('~img/icon/dataview/view/list1.svg'); }
				.icon.view.c2 { background-image: url('~img/icon/dataview/view/gallery1.svg'); }
				.icon.view.c3 { background-image: url('~img/icon/dataview/view/board1.svg'); }
			}
		}
		
		.content {
			.view { border-top: 1px solid #e0ded2; }
			
			.card { min-height: 112px; border: 1px solid $colorLightGrey; border-radius: 12px; padding: 16px; }
			.cell { @include text-common; }
			
			.cell.c-multiselect {
				.tag { margin: 0px 6px 6px 0px; }
			}
			
			.cell.c-link {
				.icon.user { margin-right: 5px; }
			}
			
			.cell.c-checkbox { cursor: pointer; }
			
			.cell.c-url, .cell.c-email, .cell.c-phone {
				a { text-decoration: none; border-bottom: 1px solid #d2d0c2; transition: $transitionFast; cursor: pointer; }
				a:hover { border-color: $colorBlack; }
			}
			
			.view.viewGrid { border-collapse: collapse; min-width: 100%; border-bottom: 1px solid #e0ded2; }
			.view.viewGrid {
				.head { 
					text-align: left; @include text-small; color: $colorDarkGrey; font-weight: 500;
					padding: 7px 8px; border-bottom: 1px solid #e0ded2; border-right: 1px solid #e0ded2; white-space: nowrap;
				}
				.head:last-child { border-right: 0px; }
				.head {
					.icon { width: 20px; height: 20px; margin: 0px 4px 0px 0px; }
				}
				
				td.cell { padding: 6px 8px; border-bottom: 1px solid #e0ded2; border-right: 1px solid #e0ded2; vertical-align: top; }
				td.cell:last-child { border-right: 0px; }

				.icon.checkbox { vertical-align: top; }
			}
			
			.view.viewGallery { padding: 16px 0px; }
			.view.viewGallery {
				.cell:last-child { margin: 0px; }
			
				.cell.c-title { margin-bottom: 9px; }
				.cell.c-date { color: #6c6a5f; }
			
				.card { 
					width: 260px; border: 1px solid $colorLightGrey; border-radius: 12px; padding: 16px; 
					margin: 0px 16px 16px 0px; display: inline-block; vertical-align: top;
				}
			}
			
			.view.viewBoard {
				.columns { display: flex; }
				.column { width: 240px; margin-right: 24px; }
				.column {
					.head { padding: 10px 4px; }
				}
				
				.card { width: 100%; margin-bottom: 8px; }
				
				.card.add { 
					min-height: 0px; text-align: center; padding: 10px 0px; line-height: 1; transition: $transitionFast; cursor: pointer; 
				}
				.card.add {
					.icon { vertical-align: top; }
				}
				
				.card.add:hover { border-color: $colorBlack; }
				.card.add:hover {
					.icon { background-image: url('~img/icon/dataview/button/plus1.svg'); }
				}
			}
			
			.view.viewList {
				.item { width: 100%; display: inline-block; margin-bottom: 8px; }
				.item:last-child { margin: 0px; }

				.cellContent { display: inline; margin-right: 8px; }
				.cellContent:last-child { margin: 0px; }

				.cellContent.c-title { @include text-paragraph; }

				.icon.checkbox { width: 24px; height: 24px; }
			}
		}
	}	
}