@import "~scss/_mixins";

.blocks {
	.block.blockDiv { padding: 0px; line-height: 0px; }
	.block.blockDiv {
		.dropTarget { height: 16px; }
		
		.icon.dnd { height: 12px; top: 50%; margin-top: -6px; background-image: none !important; }
		.icon.dnd:hover { background-image: none !important; }

		.wrap { text-align: center; position: relative; height: 100%; }

		.line, .dots { width: 100%; position: absolute; top: 50%; left: 0px; }
	}

	.block.blockDiv.divLine {
		.line {  height: 1px; border-bottom: 1px solid var(--color-shape-primary); }
	}

	.block.blockDiv.divDot {
		.dots { height: 2px; margin-top: -1px; white-space: nowrap; }
		.dot { width: 2px; height: 2px; background: var(--color-control-accent); margin-right: 18px; display: inline-block; vertical-align: top; }
		.dot:last-child { margin: 0px; }
	}
}