@import "~scss/_mixins";

.blocks {
	.block.blockFeatured { 
		@include text-common; line-height: 24px; color: var(--color-text-secondary); padding: 0px 0px 24px 0px; white-space: nowrap; display: flex; 
	}
	.block.blockFeatured {

		&.isReadonly {
			.cell.isEmpty { display: none; }
		}

		.wrapContent.bgColor {
			.listColumn {
				.blockRelation {
					.info { padding-left: 8px; }
				}
			}
		}
		.listColumn {
			.wrapMenu { display: none; }
		}

		.listInline { display: flex; flex-direction: row; align-items: center; gap: 0px 2px; flex-wrap: wrap; }
		.listInline {
			.bullet { width: 2px; height: 2px; border-radius: 50%; background: var(--color-text-secondary); }

			.cell { white-space: nowrap; display: inline-flex; flex-direction: row; align-items: center; gap: 0px 2px; min-height: 28px; }
			.cell.canEdit {
				.cellContent {
					.empty { display: inline; }
				}
			}
			.cell:last-child .bullet { display: none; }

			.cellContent { 
				height: 100% ;display: flex; border-radius: 20px; vertical-align: top; padding: 0px 6px; transition: background $transitionCommon; 
				cursor: default !important; 
			}
			.cellContent.disabled { opacity: 1; }

			.cellContent:not(.disabled):hover, 
			.cellContent:not(.disabled).hover { background: var(--color-shape-highlight-medium); }
			.cellContent {
				.element { line-height: inherit; background: none !important; cursor: default !important; }
				.iconObject { display: none; margin: 0px; }
				.name { vertical-align: baseline; line-height: inherit; display: inline; word-break: break-word; white-space: normal; }

				.empty { vertical-align: top; }
				.flex { display: inline-flex; flex-direction: row; align-items: center; }

				.more { @include text-common; line-height: 24px; }
				.label { display: inline; vertical-align: middle; }
			}

			.cellContent.c-select {
				.over {
					display: inline-flex; flex-direction: row; align-items: center; flex-wrap: wrap; gap: 0px 4px; vertical-align: middle;
					margin-top: -2px;
				}
				.tagItem { margin: 0px; max-width: 400px; }

				&:hover, &.hover { background: none; }
				&:hover, &.hover {
					.tagItem.isSelect { background: var(--color-shape-highlight-medium) !important; }
					.tagItem.isMultiSelect {
						&::after { 
							content: ''; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; 
							background: var(--color-shape-highlight-medium); border-radius: inherit; 
						}
					}
				}
			}

			.cellContent.c-select.isSelect { height: 24px; padding: 0px 8px 0px 7px; gap: 4px; align-items: center; }
			.cellContent.c-select.isSelect {
				.wrap { height: 24px; display: flex; align-items: center; }
				.over { margin-top: 0px; }
			}

			.cellContent.c-file {
				.over { display: inline-flex; flex-direction: row; align-items: center; gap: 0px 2px; height: 28px; }
				.element { flex-shrink: 0; display: flex; }
				.iconObject { display: block; }
				.name { display: none; }
			}

			.cellContent.c-object {
				.over {
					display: inline-flex; flex-direction: row; align-items: center; flex-wrap: wrap; gap: 0px 6px; vertical-align: middle;
					margin-top: -2px;
				}
				.iconObject { margin: 0px 6px 0px 0px !important; }
			}

			.cellContent.c-select, 
			.cellContent.c-object, 
			.cellContent.c-file {
				.over { align-items: center; }
			}

			.cellContent.c-checkbox { display: inline-flex; flex-direction: row; align-items: center; height: 28px; gap: 0px 4px; }

			.cellContent.c-longText {
				.name { display: inline-block; vertical-align: top; max-width: 220px; @include text-overflow-nw; }
			}
		}
	}
	.block.blockFeatured > .wrapMenu:hover > .icon.commonDnd { opacity: 1; }

	.block.blockFeatured.align0 {
		> .wrapContent > .selectionTarget > .dropTarget > .wrap > .listInline { margin-left: -4px; }
	}

	.block.blockFeatured.align1 {
		.wrap > .listInline { justify-content: center; }
	}

	.block.blockFeatured.align2 {
		.wrap > .listInline { justify-content: flex-end; }
	}
}