@import "~scss/_vars";

.blocks {
	.block.blockFeatured { @include text-common; line-height: 28px; color: $colorDarkGrey; white-space: nowrap; padding: 2px 0px 30px 0px; display: none; }
	.block.blockFeatured {
		.icon.checkbox { width: 20px; height: 20px; vertical-align: middle; margin-top: -4px; background-image: url('~img/icon/dataview/checkbox0.svg'); }
		.icon.checkbox.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }

		.wrap { white-space: normal; }

		.bullet { width: 4px; height: 4px; border-radius: 100%; background: $colorDarkGrey; display: inline-block; vertical-align: middle; margin: 0px 2px; }

		.cellContent { display: inline; vertical-align: middle; padding: 5.5px 6px; transition: background 0.2s ease-in-out; cursor: pointer; }
		.cellContent:hover, .cellContent.hover { background: rgba(172,169,150,0.1); }
		.cellContent > .wrap { display: inline; }
		.cellContent.isName .name { display: inline; }
		.cellContent {
			.element { margin: -1px 6px 0px 0px; vertical-align: middle; line-height: inherit; background: none !important; }
			.element:last-child { margin-right: 0px; }

			.tagItem { margin-top: -3px; margin-right: 6px; vertical-align: middle; }
			.tagItem:last-child { margin-right: 0px; }

			.iconObject { display: none; }
			.name { vertical-align: baseline; line-height: inherit; display: inline; word-break: break-word; white-space: normal; }

			.empty { vertical-align: top; display: inline; }
		}

		.cellContent.c-file { padding: 5px 3px; }
		.cellContent.c-file {
			.element { margin-right: 2px; }
			.iconObject { display: inline; margin: 0px; }
			.name { display: none; }
		}
		.cellContent.c-checkbox { padding: 5px 3px; }
	}

	.block.blockFeatured.align0 {
		.cellContent.type { margin-left: -6px; }
	}
}

.editorWrapper.noSystemBlocks {
	.blocks .block.blockText.description { display: none; }
	.blocks .block.blockFeatured { display: none; }
}

html.withDataview {
	.blocks .block.blockFeatured { display: flex; }
}