@import "~scss/_vars";

.blocks {
	.block.blockFile {
		.loaderWrapper { border-radius: 4px; border: solid 1px #d2d0c2; height: 48px; width: 100%; }
		.error { margin: 0px; font-size: 13px; line-height: 24px; height: 24px; }
		
		.name {
			min-width: 40px; max-width: calc(100% - 180px); height: 22px; line-height: 22px; display: inline-block;
			vertical-align: top; padding-top: 1px; cursor: pointer; @include text-overflow-nw;  
		}
		.size {
			max-width: 100px; font-size: 13px; height: 22px; line-height: 22px; letter-spacing: 0.1px; color: $colorDarkGrey; margin: 0px 8px;
			display: inline-block; vertical-align: top; padding-top: 1px;
		}
		.download {
			width: 80px; height: 22px; letter-spacing: 0.2px; color: #2dbcfe;
			transition: $transitionFast; opacity: 0; padding-top: 1px; display: inline-block; cursor: pointer;
		}
		.download:hover { color: #1092d9; }

		.icon.type { width: 24px; height: 24px; margin-right: 4px; transition: none; vertical-align: top; }
		.icon.other { background-image: url('~img/icon/file/other.svg'); }
		.icon.image { background-image: url('~img/icon/file/image.svg'); }
		.icon.video { background-image: url('~img/icon/file/video.svg'); }
		.icon.text { background-image: url('~img/icon/file/text.svg'); }
		.icon.archive { background-image: url('~img/icon/file/archive.svg'); }
		.icon.audio { background-image: url('~img/icon/file/audio.svg'); }
		.icon.pdf { background-image: url('~img/icon/file/pdf.svg'); }
		.icon.presentation { background-image: url('~img/icon/file/presentation.svg'); }
		.icon.table { background-image: url('~img/icon/file/table.svg'); }
	}
	.block.blockFile:hover {
		.download { opacity: 1; }
	}
	
	.block.blockFile > .wrapContent > .selectable > .dropTarget { @include text-overflow-nw;  }
	.block.blockFile > .wrapContent > .selectable > .dropTarget { padding-top: 4px; padding-bottom: 2px; }
	.block.blockFile > .wrapContent > .selectable.isSelected .download { display: none; }
}