@import "~scss/_mixins";

.blocks {
	.block.blockFile { padding: 6px 0px; white-space: nowrap; }
	.block.blockFile.withContent { padding: 0px; }
	.block.blockFile {
		.loaderWrapper { border-radius: 4px; border: solid 1px var(--color-shape-primary); height: 48px; width: 100%; }
		.error { margin: 0px; font-size: var(--font-size-small); line-height: 24px; height: 24px; }
		
		.inner { display: flex; flex-direction: row; align-items: center; }

		.name {
			min-width: 40px; height: 24px; line-height: 24px; display: inline-block; font-weight: 500;
			vertical-align: top; @include text-overflow-nw; margin: 0px 8px 0px 4px;
		}
		.size {
			@include text-common; max-width: 100px; height: 24px; line-height: 24px; color: var(--color-control-active);
			display: inline-block; vertical-align: top; flex-shrink: 0;
		}

		.iconObject { flex-shrink: 0; }
	}
	
	.block.blockFile > .wrapContent > .selectionTarget > .dropTarget { @include text-overflow-nw;  }
	.block.blockFile.withContent > .wrapContent > .selectionTarget > .dropTarget { padding: 3px 0px; }

	.block.blockFile:not(.withContent) > .wrapContent > .selectionTarget.isSelectionSelected::after { left: 0px; width: 100%; border-radius: 8px; }
}