@import "~scss/_mixins";

.blocks {
	.block.blockIconPage { padding: 0px 0px 16px 0px; }
	.block.blockIconPage {
		.iconObject { 
			position: relative; z-index: 2; display: inline-block; box-shadow: 0px 0px 0px 4px var(--color-bg-primary); 
			background-color: var(--color-bg-primary) !important;
		}
	}
}