@import "~scss/_mixins";

.blocks {
	.block.blockIconUser { padding: 0px 0px 12px 0px; }
	.block.blockIconUser {
		.wrap { display: inline-block; position: relative; }

		.iconObject { position: relative; z-index: 3; display: inline-block; box-shadow: 0px 0px 0px 4px var(--color-bg-primary); }
		.loaderWrapper { 
			position: absolute; left: 50%; top: 50%; z-index: 4; background: rgba(255, 255, 255, 0.5); 
			width: 128px; height: 128px; margin: -64px 0px 0px -64px; border-radius: 100%;
		}
	}
}