@import "~scss/_vars";

.blocks {
	.block.blockImage { padding: 7px 0px; }
	.block.blockImage.isResizing * { cursor: nwse-resize; }
	
	.block.blockImage {
		.loaderWrapper { border-radius: 4px; border: solid 1px #d2d0c2; height: 48px; width: 100%; }
		.error { margin: 0px; font-size: 13px; line-height: 18px; }
		
		.wrap { max-width: 100%; position: relative; display: inline-block; }
		.img { width: 100%; display: block; }
		
		.icon.resize {
			width: 20px; height: 20px; position: absolute; right: 2px; bottom: 2px;
			background-image: url('~img/icon/resize.svg'); opacity: 0; cursor: nwse-resize;
		}
				
		.icon.dots {
			width: 32px; height: 32px; border-radius: 8px; background-color: rgba(0,0,0,0.35); position: absolute; right: 10px; top: 10px;
			background-image: url('~img/icon/menu/file/dots.svg'); opacity: 0; background-size: 24px 24px; cursor: pointer; z-index: 1;
		}
	}
	.block.blockImage > .wrapContent > .selectable > .dropTarget { line-height: 0px; }
	
	.block.blockImage:hover {
		.icon.resize { opacity: 1; }
		.icon.dots { opacity: 1; }
	}
	
	.block.blockImage > .wrapContent > .selectable.isSelected > .dropTarget > .wrap {
		.icon.resize { opacity: 1; }
		.icon.dots { opacity: 1; }
	}
}