@import "~scss/_vars";

.blocks {
	
	.block.blockLayout > .wrapContent > .selectable > .dropTarget { display: none; }
	
	/* Row */
	.block.blockLayout.c0 { padding: 14px 0px; }
	.block.blockLayout.c0 > .wrapMenu { display: none; }
	.block.blockLayout.c0 > .wrapContent { width: 100%; overflow: visible; }
	.block.blockLayout.c0 > .wrapContent > .children { display: flex; flex-direction: row; align-items: stretch; }
	
	.block.blockLayout.c0 > .wrapContent > .dropTarget { padding: 0px; width: calc(100% - 48px); height: 15px; position: absolute; left: 48px; border-radius: 0px !important; }
	.block.blockLayout.c0 > .wrapContent > .dropTarget.targetTop { top: -14px; }
	.block.blockLayout.c0 > .wrapContent > .dropTarget.targetBot { bottom: -14px; }

	/* Column */
	.block.blockLayout.c1 { padding: 0px; margin: 0px; }
	.block.blockLayout.c1 {
		.columnEmpty { flex-grow: 1; }
	}
	.block.blockLayout.c1 > .wrapMenu { display: none; }
	.block.blockLayout.c1 > .wrapContent { width: 100%; display: flex; flex-flow: column; }

	.block.blockLayout.c1 > .wrapContent > .children > .blockDataview {
		.content { overflow: hidden; }
	}

	.block.blockLayout.c1 > .wrapContent > .children > .block.first.blockText.header1 { padding-top: 0px; }
	.block.blockLayout.c1 > .wrapContent > .children > .block.last.blockText.header1 { padding-bottom: 0px; }

	.block.blockLayout.c1 > .wrapContent > .children > .block.first.blockText.header2 { padding-top: 0px; }
	.block.blockLayout.c1 > .wrapContent > .children > .block.last.blockText.header2 { padding-bottom: 0px; }

	.block.blockLayout.c1 > .wrapContent > .children > .block.first.blockText.header3 { padding-top: 0px; }
	.block.blockLayout.c1 > .wrapContent > .children > .block.last.blockText.header3 { padding-bottom: 0px; }

	.block.blockLayout.c1 > .wrapContent > .children > .block.first.blockFile > .wrapContent > .selectable > .dropTarget { padding-top: 0px; }
	.block.blockLayout.c1 > .wrapContent > .children > .block.last.blockFile > .wrapContent > .selectable > .dropTarget { padding-bottom: 0px; }

	.block.blockLayout.c1 > .wrapContent > .children > .block.first.blockMedia > .wrapContent > .selectable > .dropTarget { padding-top: 0px; }
	.block.blockLayout.c1 > .wrapContent > .children > .block.last.blockMedia > .wrapContent > .selectable > .dropTarget { padding-bottom: 0px; }
	
	/* Div */
	.block.blockLayout.c2 { margin: 0px !important; }
	.block.blockLayout.c2 > .wrapMenu { display: none; }
	.block.blockLayout.c2 > .wrapContent { width: 100%; overflow: visible; }

	/* Header */
	.block.blockLayout.c3 { margin: 0px !important; }
	.block.blockLayout.c3 > .wrapMenu { display: none; }
	.block.blockLayout.c3 > .wrapContent { width: 100%; overflow: visible; }

	/* Footer */
	.block.blockLayout.c4 { margin: 0px !important; }
	.block.blockLayout.c4 > .wrapMenu { display: none; }
	.block.blockLayout.c4 > .wrapContent { width: 100%; overflow: visible; }
}