@import "~scss/_vars";

.blocks {
	.block.blockLink { white-space: nowrap; }
	.block.blockLink {
		.focusable { cursor: pointer; }

		.name { display: inline-block; vertical-align: top; max-width: calc(100% - 30px); position: relative; @include text-overflow-nw; }
		.name {
			.txt { line-height: inherit; vertical-align: top; @include text-overflow-nw; width: 100%; display: inline; position: relative; }
			.txt::before {
				content: ""; width: 100%; height: 0px; border-bottom: 1px solid $colorMediumGrey; transition: $transitionFast;
				position: absolute; bottom: 0px; left: 0px; z-index: 1;
			}
		}
		.iconObject { margin-right: 6px; }
		
		.archive {
			border-radius: 3px; background-color: #f3f2ec; display: inline-block; vertical-align: middle; margin: 0px 0px 0px 8px;
			@include text-small; color: $colorMediumGrey; padding: 0px 6px; display: none;
		}

		.loading {
			color: $colorMediumGrey;
		}
		.loading {
			.loaderWrapper { width: 24px; height: 24px; margin: 0px 4px 0px 0px; display: inline-block; vertical-align: top; }
			.loader { width: 20px; height: 20px; margin: -10px 0px 0px -10px; }
		}

		.linkCards { margin-top: 16px; white-space: normal; }

		.linkCard { display: inline-block; vertical-align: top; width: 100%; margin: 6px 0px; }
		.linkCard:nth-child(2n + 2) { margin-right: 0px; }
		.linkCard {
			.sides { display: flex; }
			.side.left { flex-shrink: 0; margin-right: 16px; }
			.side.right { width: 100%; }

			.iconObject { margin: 0px; }
			.name { @include text-paragraph; margin-bottom: 2px; max-width: 100%; }
			.descr { @include text-common; color: $colorVeryDarkGrey; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; }
			.cover { position: static; padding: 68px 12px 12px 12px; border-radius: 6px; color: $colorBlack; }
		}
		.linkCard.c24 {
			.side.left { margin-right: 6px; }
		}

		.linkCard.card {
			.sides { border: 1px solid #dfddd0; }
		}
		.linkCard.withCover {
			.sides { border: 0px; }
		}
		.linkCard.card, .linkCard.withCover {
			.sides { padding: 16px; background: #fff; border-radius: 6px; }
		}

		.linkCard.isTask {
			.iconObject { width: 24px; height: 24px; }
			.side.left { margin-right: 6px; }
		}

		.linkCard.isHuman {
			.name { font-weight: 600; }
		}
	}
	.block.blockLink:hover {
		.name .txt:before { border-color: $colorBlack; }
	}
	
	.block.blockLink > .wrapContent > .selectable > .dropTarget { padding: 3px 0px; }
	.block.blockLink > .wrapContent > .selectable > .dropTarget > .isArchived {
		.name { color: $colorMediumGrey; border-color: $colorLightGrey; }
		.archive { display: inline-block; }
	}
}