@import "~scss/_vars";

.blocks {
	.block.blockMedia.isResizing * { cursor: nwse-resize; }
	
	.block.blockMedia {
		.loaderWrapper { border-radius: 4px; border: solid 1px #d2d0c2; height: 48px; width: 100%; }
		.error { margin: 0px; font-size: 13px; line-height: 18px; }
		
		.wrap { max-width: 100%; position: relative; display: inline-block; overflow: hidden; }
		.media { width: 100%; display: block; }
		video { height: 100%; }
		
		.icon.resize {
			width: 20px; height: 20px; position: absolute; right: 2px; bottom: 2px;
			background-image: url('~img/icon/resize.svg'); opacity: 0; cursor: nwse-resize;
		}
				
		.icon.dots {
			width: 32px; height: 32px; border-radius: 8px; background-color: rgba(0,0,0,0.35); position: absolute; right: 10px; top: 10px;
			background-image: url('~img/icon/menu/file/dots.svg'); opacity: 0; background-size: 24px 24px; cursor: pointer; z-index: 1;
		}
		
		.icon.play {
			width: 64px; height: 64px; border-radius: 100%; position: absolute; left: 50%; top: 50%; margin: -32px 0px 0px -32px;
			background-image: url('~img/icon/play.svg'); background-color: rgba(255,255,255,0.7); cursor: pointer;
			background-size: 24px 28px; background-position: 24px center;
		}
		.icon.play:hover { background-color: rgba(255,255,255,0.9); }
	}
	.block.blockMedia > .wrapContent > .selectable > .dropTarget { line-height: 0px; padding: 7px 0px; }
	
	.block.blockMedia:hover {
		.icon.resize { opacity: 1; }
		.icon.dots { opacity: 1; }
	}
	
	.block.blockMedia > .wrapContent > .selectable.isSelected > .dropTarget > .focusable > .wrap {
		.icon.resize { opacity: 1; }
		.icon.dots { opacity: 1; }
	}
	
	.block.blockMedia > .wrapContent > .selectable > .dropTarget > .focusable > .wrap.isPlaying {
		.icon.resize { display: none; }
		.icon.dots { display: none; }
		.icon.play { display: none; }
	}
}