@import "~scss/_vars";

.blocks {
	.block.blockRelation { line-height: 20px; }
	.block.blockRelation {
		.wrap { vertical-align: middle; display: inline-block; line-height: 1; }
		.icon.relation { 
			width: 20px; height: 20px; margin-right: 4px; vertical-align: middle; background-image: url('~img/icon/menu/action/block/relation0.svg')
		}
		.label { 
			@include text-common; line-height: 20px; vertical-align: middle; display: inline-block; width: calc(100% - 24px); 
			color: $colorDarkGrey;
		}
	}

	.block.blockRelation > .wrapContent > .selectable > .dropTarget { padding: 2px 0px; }
}