@import "~scss/_vars";

.blocks {
	.block.blockRelation { @include text-common; }
	.block.blockRelation > .wrapContent > .selectable > .dropTarget { padding: 0px; }

	.block.blockRelation {
		.icon.edit { display: none; }
		.icon.checkbox { width: 20px; height: 20px; vertical-align: top; background-image: url('~img/icon/dataview/checkbox0.svg'); }
		.icon.checkbox.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }

		.input { @include text-common; line-height: 22px; vertical-align: top; display: inline-block; height: 22px; padding: 0px; }

		.sides { display: flex; }

		.info { padding: 6px 2px 6px 0px; line-height: 20px; width: 30%; min-width: 40px; flex-shrink: 0; @include text-overflow-nw; }
		.info.noValue { width: 100%; color: $colorSecondary; }
		.info.noValue.canEdit { cursor: pointer; }

		.info {
			.name { 
				display: inline-block; vertical-align: top; @include text-common; line-height: 20px; @include text-overflow-nw; 
				width: calc(100% - 24px); color: $colorVeryDarkGrey;
			}
		}

		.cellContent.canEdit {
			.empty { display: block; }
		}

		.cell { @include text-common; width: 70%; position: relative; padding: 5px 8px; border-radius: 4px; transition: background 0.2s ease-in-out; }
		.cell.canEdit:hover { background: $colorHover; }
		
		.cell.c-select { padding: 4px 8px; }
		.cell.c-select {
			.tagItem, .itemWrap { margin: 3px 6px 3px 0px; } 
			.empty { line-height: 24px; }
		}

		.cell.isEditing { padding: 0px; }
		.cell.isEditing {
			.cellContent { position: relative; height: auto !important; min-height: 32px; border-radius: 4px; }
			.cellContent.isName .input { height: 20px; line-height: 20px; width: calc(100% - 24px); }
			.icon.clear { right: 8px; }
		}

		.cell.isEditing.c-select {
			.cellContent { padding: 4px 8px; }
			.placeholder { padding: 4px 8px; }
		}
		.cell.isEditing.c-select.isStatus {
			.over { width: calc(100% - 26px); }
		}

		.cell.isEditing.c-shortText, 
		.cell.isEditing.c-number, 
		.cell.isEditing.c-url, 
		.cell.isEditing.c-phone, 
		.cell.isEditing.c-email
		{
			.cellContent { padding: 5px 8px !important; }
		}

		.cell.isEditing.c-date {
			.cellContent { padding: 5px 8px 4px 8px !important; }
		}

		.cell.c-object {
			.element { margin-top: 1px; margin-bottom: 1px; background: none !important; }
		}
		.cell.isEditing.c-object {
			.cellContent { padding: 5px 8px 3px 8px !important; }
			.placeholder { padding: 5px 8px 3px 8px; }
		}

		.cell.isEditing.c-longText {
			.cellContent { box-shadow: 0px 0px; visibility: hidden; }
			.cellContent span:empty { height: 22px; }
		}

		.cell.isEditing.c-longText, .cell.isEditing.c-file { 
			.cellContent { box-shadow: 0px 0px; border: 0px; padding: 5px 8px; }
		}
	}
}