@import "~scss/_mixins";

.blocks {
	.block.blockTableOfContents { padding: 15px 0px; }
	.block.blockTableOfContents { 
		.item { color: var(--color-text-secondary); padding: 4px 0px; @include text-common; }
		.item {
			.label { border-bottom: 0.05em solid rgba(146, 144, 130, 0.5); transition: $transitionAllCommon; display: inline; }
		}
		.item:hover {
			.label { border-color: var(--color-text-secondary); }
		}
	}

	.block.blockTableOfContents > .wrapContent > .dropTarget.targetBot { display: block; height: 2px; }
}