@import "~scss/_vars";

.blocks {
	.block.blockTableOfContents { padding: 6px 0px; }
	.block.blockTableOfContents { 

		.item {
			.children { padding-left: 20px; }
		}

		.item.blockText.header1 > .text { @include text-header1; }
		.item.blockText.header2 > .text { @include text-header2; }
		.item.blockText.header3 > .text { @include text-header3; }

		.item.blockLayout > .children { padding: 0px; }
	}
}