@import "~scss/_vars";

.blocks {
	.block.blockText { font-size: 15px; line-height: 24px; letter-spacing: -0.08px; font-weight: 400; word-wrap: break-word; }
	.block.blockText {
		.wrap { flex: auto; position: relative; padding: 0px; }
		.value { -webkit-user-modify: read-write-plaintext-only; }
		
		.placeHolder { color: #ebe9e0; position: absolute; z-index: 0; left: 0px; top: 0px; display: none; }
		
		a { cursor: pointer; }
		kbd { display: inline; font-family: 'Mono'; line-height: 1.71; background: rgba(247,245,240,0.5); padding: 0px 4px; border-radius: 2px; }
		
		.markers { white-space: nowrap; }
		.markers {
			.marker { text-align: center; display: inline-block; vertical-align: top; position: relative; }
			.marker {
				.icon { display: inline-block; }
			}
			
			.marker.number { vertical-align: baseline; line-height: 24px; }
			.marker.number {
				span { min-width: 28px; line-height: 1; display: inline-block; text-align: center; padding-right: 4px; }
			}
			
			.marker.bullet {
				span { min-width: 28px; line-height: 1; display: inline-block; text-align: center; padding-right: 4px; }
				
				.icon { width: 6px; height: 6px; background: $colorBlack; border-radius: 100%; }
				
				.textColor-grey .icon { background-color: #aca996 !important; }
				.textColor-yellow .icon { background-color: #ecd91b !important; }
				.textColor-orange .icon { background-color: #ffb522 !important; }
				.textColor-red .icon { background-color: #f55522 !important; }
				.textColor-pink .icon { background-color: #e51ca0 !important; }
				.textColor-purple .icon { background-color: #ab50cc !important; }
				.textColor-blue .icon { background-color: #3e58eb !important; }
				.textColor-ice .icon { background-color: #2aa7ee !important; }
				.textColor-teal .icon { background-color: #0fc8ba !important; }
				.textColor-lime .icon { background-color: #5dd400 !important; }
			}
			
			.marker.check, .marker.toggle { width: 24px; height: 22px; line-height: 22px; margin-right: 4px; cursor: pointer; }
			.marker.check, .marker.toggle {
				.icon { position: absolute; display: block; left: 50%; top: 50%; }
			}
			
			.marker.toggle {
				.icon { width: 10px; height: 10px; background-size: 6px 10px; background-image: url('~img/icon/marker/toggle.svg'); margin: -5px 0px 0px -5px; }
			}
			
			.marker.check {
				.icon {
					width: 18px; height: 18px; background-image: url('~img/icon/marker/check0.svg'); margin: -9px 0px 0px -9px;
				}
			}
			.marker.check.active {
				.icon { background-image: url('~img/icon/marker/check1.svg'); }
			}
		}
	}
	
	.blockText.title { padding: 12px 0px 24px 0px; font-size: 36px; line-height: 40px; letter-spacing: -0.72px; font-weight: 600; }
	.blockText.header1 { padding: 23px 0px 1px 0px; font-size: 28px; line-height: 32px; letter-spacing: -0.36px; font-weight: 600; }
	.blockText.header2 { padding: 15px 0px 1px 0px; font-size: 22px; line-height: 28px; letter-spacing: -0.16px; font-weight: 600; }
	.blockText.header3 { padding: 15px 0px 1px 0px; font-size: 17px; line-height: 24px; font-weight: 600; }
	
	.blockText.quote { padding: 7px 0px 7px 0px; font-size: 18px; line-height: 26px; }
	.blockText.quote > .wrapContent > .selectable > .dropTarget > .flex > .line { width: 2px; height: 100%; position: absolute; left: 11px; top: 0px; background: $colorOrange; }
	.blockText.quote > .wrapContent > .selectable > .dropTarget > .flex > .wrap { padding-left: 28px; }
	.blockText.quote > .wrapContent > .selectable > .dropTarget > .flex > .wrap > .placeHolder { left: 28px; }
	
	.blockText.code { font-family: 'Mono'; line-height: 1.71; margin: 7px 0px; }
	.blockText.code > .wrapContent > .selectable > .dropTarget { padding: 42px 16px 16px 16px; background: rgba(247,245,240,0.5); }
	.blockText.code > .wrapContent > .selectable > .dropTarget > .flex { position: static; } 
	.blockText.code {
		.select { 
			position: absolute; top: 16px; left: 16px; z-index: 1; font-size: 13px; height: 18px; border: 0px;
			font-weight: 500; color: #aca996; 
		}
		.select {
			.current { padding: 0px 16px 0px 0px; }
		}
	}
	
}