@import "~scss/_vars";

.blocks {
	.block.blockText { font-size: 16px; line-height: 24px; letter-spacing: 0.08px; font-weight: 400; word-wrap: break-word; }
	.block.blockText {
		.value { -webkit-user-modify: read-write-plaintext-only; width: 100%; overflow: hidden; position: relative; z-index: 1; }

		.placeholder { display: none; }

		kbd { 
			display: inline; font-family: 'Plex'; border-radius: 4px; background: $colorLightGrey; padding: 2px 4px;
		}

		.disabled { color: $colorMediumGrey; opacity: 1 !important; }

		smile {
			img { position: static !important; left: auto !important; top: auto !important; margin: 0px !important; vertical-align: middle; }
		}
		smile * { display: inline; vertical-align: middle; }
		smile .loaderWrapper { display: inline-block; }

		emoji { display: inline; user-select: all; }
		emoji * { user-select: all; }
		emoji {
			smile img { vertical-align: top; }
			name { display: none; }
		}

		lnk { position: relative; }
		lnk, obj { cursor: pointer; color: inherit; border-bottom: 1px solid $colorMediumGrey; text-decoration: none; }
		lnk.disabled, obj.disabled { border-width: 0px; }
		lnk::after {
			content: ""; display: inline-block; background-image: url('~img/icon/link.svg'); background-repeat: no-repeat;
			width: 14px; height: 14px; vertical-align: middle; margin: 0px 0px 4px 4px;
		}

		lnk, obj {
			underline { text-decoration: none; }
		}

		mention { cursor: pointer; white-space: nowrap; display: inline; user-select: all; }
		mention * { user-select: text; }
		mention {
			smile { display: none; position: relative; z-index: 1; }
			.space { width: 4px; height: 20px; margin-top: -4px; vertical-align: middle; display: none; }

			name { display: inline; white-space: normal; vertical-align: top; position: relative; border-bottom: 1px solid $colorMediumGrey; }
		}
		mention.disabled {
			name { border-width: 0px; }
		}

		mention.withImage {
			smile { display: inline; }
			.space { display: inline; }
		}
		mention.withImage.c24 name bgcolor:first-child { margin-left: -22px; padding-left: 22px; }
		mention.withImage.c26 name bgcolor:first-child { margin-left: -22px; padding-left: 22px; }
		mention.withImage.c28 name bgcolor:first-child { margin-left: -27px; padding-left: 27px; }
		mention.withImage.c32 name bgcolor:first-child { margin-left: -34px; padding-left: 34px; }
		
		mention:hover {
			name::before { border-color: $colorBlack; }
		}

		bold { font-weight: 600; }
		italic { font-style: italic; }
		strike { text-decoration: line-through; }
		underline { text-decoration: underline; }
		
		.markers { display: flex; }
		.markers {
			.marker { 
				text-align: center; display: inline-block; vertical-align: top; position: relative; width: 24px; height: 24px; 
				line-height: 24px; margin-right: 6px;
			}
			.marker {
				.icon { display: inline-block; }
			}
			
			.marker.number { vertical-align: baseline; min-width: 24px; width: auto; }
			.marker.number > span { min-width: 100%; display: inline-block; text-align: center; }
			
			.marker.check, .marker.toggle { cursor: pointer; }
			.marker.check, .marker.toggle {
				img { width: 100%; height: 100%; }
			}
		}
	}

	.block.blockText > .wrapContent > .selectable.isSelectionSelected::after { z-index: 0; }

	.block.blockText > .wrapContent > .selectable > .dropTarget > .flex > .wrap { flex: auto; position: relative; padding: 0px; width: 100%; }	

	.block.blockText > .wrapContent > .selectable > .dropTarget .value.isFocused { background: none; }

	.block.blockText.isReadonly > .wrapContent > .selectable > .dropTarget .marker.check { cursor: default; }
	.block.blockText.isReadonly > .wrapContent > .selectable > .dropTarget .value { min-height: 24px; cursor: text !important; user-select: text !important; }
	.block.blockText.isReadonly > .wrapContent > .selectable > .dropTarget .placeholder { display: none; }

	.block.blockText.isReadonly.code > .wrapContent > .selectable > .dropTarget { padding: 16px; }
	.block.blockText.isReadonly.title > .wrapContent > .selectable > .dropTarget .value { min-height: 1em; }

	.block.blockText.isChecked > .wrapContent > .selectable > .dropTarget * { color: $colorMediumGrey !important; }

	.block.blockText > .wrapContent > .selectable > .dropTarget { padding: 3px 0px; }

	.block.blockText.title { padding: 22px 0px 6px 0px !important; @include text-title; }
	.block.blockText.title {
		.placeholder { 
			color: $colorMediumGrey; position: absolute; z-index: 0; left: 0px; top: 0px; display: none;
			width: 100%; height: 100%; cursor: text; 
		}
		.value { -webkit-user-modify: read-write-plaintext-only; }
	}
	.block.blockText.title > .wrapContent > .selectable > .dropTarget { padding: 4px 0px 2px 0px; }

	.block.blockText.description { padding: 0px 0px 6px 0px; @include text-description; }

	.block.blockText.header1 { padding: 22px 0px 0px 0px; }
	.block.blockText.header1 > .wrapContent > .selectable > .dropTarget { @include text-header1; line-height: 35px; padding: 4px 0px 2px 0px; }
	.block.blockText.header1 > .wrapContent > .selectable > .dropTarget mention .space { width: 6px; height: 32px; }
	
	.block.blockText.header2 { padding: 14px 0px 0px 0px; }
	.block.blockText.header2 > .wrapContent > .selectable > .dropTarget { @include text-header2; padding: 3px 0px 2px 0px; }
	.block.blockText.header2 > .wrapContent > .selectable > .dropTarget mention .space { width: 5px; height: 28px; }
	
	.block.blockText.header3 { padding: 14px 0px 0px 0px; }
	.block.blockText.header3 > .wrapContent > .selectable > .dropTarget { @include text-header3; padding: 2px 0px 3px 0px; }
	.block.blockText.header3 > .wrapContent > .selectable > .dropTarget mention .space { width: 5px; height: 26px; }
	
	.block.blockText.quote { padding: 6px 0px 6px 0px; }
	.block.blockText.quote > .wrapContent > .selectable > .dropTarget { @include text-quote; padding: 2px 0px 3px 0px; }
	.block.blockText.quote > .wrapContent > .selectable > .dropTarget mention .space { width: 5px; height: 26px; }
	.block.blockText.quote > .wrapContent > .additional > .line { 
		width: 0px; height: 100%; position: absolute; left: 11px; top: 0px; border-left: 2px solid $colorOrange; 
	}
	.block.blockText.quote > .wrapContent > .selectable > .dropTarget > .flex > .wrap { padding-left: 28px; }
	.block.blockText.quote > .wrapContent > .selectable > .dropTarget > .flex > .wrap > .placeholder { left: 28px; }

	.block.blockText.quote.align2 > .wrapContent > .selectable > .dropTarget > .flex > .wrap { padding-left: inherit; padding-right: 28px; }
	.block.blockText.quote.align2 > .wrapContent > .selectable > .dropTarget > .flex > .line { left: auto; right: 11px; }
	.block.blockText.quote.align2 > .wrapContent > .selectable > .dropTarget > .flex > .wrap > .placeholder { left: auto; right: 28px; }
	
	.block.blockText.callout > .wrapContent { background: $colorVeryLightGrey; border-radius: 6px; padding: 16px 16px 0px 16px; margin: 6px 0px; }
	.block.blockText.callout > .wrapContent > .children { margin-left: -14px; }
	.block.blockText.callout > .wrapContent > .selectable > .dropTarget > .flex {
		.additional { margin-right: 14px; }	
		.additional {
			.iconObject { margin-top: 2px; }
		}
	}
	.block.blockText.callout > .wrapContent > .dropTarget.targetBot { display: block; height: 16px; }
	.block.blockText.callout > .wrapContent > .dropTarget.targetBot.isOver.bottom { box-shadow: 0px -2px 0px $colorOrange inset; }
	.block.blockText.callout.last > .wrapContent { margin-bottom: 0px; }

	.block.blockText.code { padding: 6px 0px; }
	.block.blockText.code > .wrapContent > .selectable > .dropTarget { padding: 41px 16px 16px 16px; background: rgba(247,245,240,0.5); }
	.block.blockText.code > .wrapContent > .selectable > .dropTarget > .flex { position: static; } 
	.block.blockText.code > .wrapContent > .selectable > .dropTarget > .flex {
		.value { font-family: 'Plex'; @include text-common; tab-size: 4; }
		.value * { background: none; }
		.additional { 
			position: absolute; top: 9px; left: 0px; z-index: 1; display: block; padding: 0px 16px; width: 100%;
		}
		.additional {
			.select { border: 0px; color: $colorMediumGrey; @include text-common; border-radius: 0px; padding: 0px 20px 0px 0px; }
			.select {
				.name { overflow: visible; }
			}
			.select:hover, .select.active { background: none; }
			
			.buttons { position: absolute; right: 16px; top: 0px; }
			.buttons {
				.btn { padding: 0px; height: 20px; line-height: 20px; color: $colorMediumGrey; @include text-common; cursor: pointer; }
				.btn {
					.icon { margin-right: 4px; vertical-align: top; }
					.txt { line-height: 20px; vertical-align: top; }
				}
			}

			.icon.codeWrap { 
				width: 20px; height: 20px; background-image: url('~img/icon/menu/action/wrap0.svg'); cursor: pointer;
			}
		}
	}

	.block.blockText.code.isReadonly > .wrapContent > .selectable > .dropTarget > .flex {
		.value { white-space: pre !important; }
		.additional { display: none; }
	}

	.block.blockText.code.isUnwrapped > .wrapContent > .selectable > .dropTarget .value {
		white-space: nowrap; overflow-x: auto;
	}

	.block.blockText.latex > .wrapContent > .selectable > .dropTarget .flex { display: block; }
	.block.blockText.latex > .wrapContent > .selectable > .dropTarget {
		.katex-display { margin: 0px; }
	}

	.block.blockText.paragraph > .wrapContent > .dropTarget.targetBot,
	.block.blockText.quote > .wrapContent > .dropTarget.targetBot,
	.block.blockText.bulleted > .wrapContent > .dropTarget.targetBot,
	.block.blockText.numbered > .wrapContent > .dropTarget.targetBot,
	.block.blockText.checkbox > .wrapContent > .dropTarget.targetBot,
	.block.blockText.toggle > .wrapContent > .dropTarget.targetBot
	{ height: 2px; display: block; margin-bottom: -2px; }

	.block.blockText.paragraph > .wrapContent > .dropTarget.targetBot.isOver.bottom,
	.block.blockText.quote > .wrapContent > .dropTarget.targetBot.isOver.bottom,
	.block.blockText.bulleted > .wrapContent > .dropTarget.targetBot.isOver.bottom,
	.block.blockText.numbered > .wrapContent > .dropTarget.targetBot.isOver.bottom,
	.block.blockText.checkbox > .wrapContent > .dropTarget.targetBot.isOver.bottom,
	.block.blockText.toggle > .wrapContent > .dropTarget.targetBot.isOver.bottom
	{ box-shadow: 0px -2px 0px $colorOrange inset; }

	.block.blockText.paragraph > .wrapContent.bgColor > .selectable > .dropTarget, 
	.block.blockText.header1 > .wrapContent.bgColor > .selectable > .dropTarget,
	.block.blockText.header2 > .wrapContent.bgColor > .selectable > .dropTarget,
	.block.blockText.header3 > .wrapContent.bgColor > .selectable > .dropTarget
	{ padding-left: 8px; padding-right: 8px;  }
}

.editorWrapper.isTask {
	.blocks .block.blockText.title { @include text-header1; }
	.blocks .block.blockText.title {
		.flex { gap: 0px 8px; }
		.marker { width: 30px; height: 30px; margin: 0px; }
	}
}