@import "~scss/_vars";

.blocks {
	.block.blockTitle { padding: 12px 0px 24px 0px; font-size: 36px; line-height: 40px; letter-spacing: -0.72px; font-weight: 600; }
	.block.blockTitle {
		.input { padding: 0px; font-size: inherit; line-height: inherit; letter-spacing: inherit; font-weight: inherit; height: auto; }
	}
	.block.blockTitle > .wrapContent > .selectable > .dropTarget { padding: 3px 0px 2px 0px; }
	.block.blockTitle > .wrapMenu { visibility: hidden; }
}