@import "~scss/_vars";

.blocks {
	.block.blockType { margin-top: 42px !important; }
	.block.blockType { 
		.wrapMenu { visibility: hidden; }

		.placeholder { @include text-common; margin-bottom: 20px; position: static; }

		.filter { padding: 0px; margin-bottom: 8px; }
		.filter {
			.input { @include text-paragraph; height: 24px; background: none !important; }
		}

		.item { position: relative; padding: 8px 8px 8px 72px; height: 64px; cursor: pointer; border-radius: 2px; }
		.item.hover { background: $colorHover; }

		.item {
			.iconObject { position: absolute; left: 8px; top: 8px; background: $colorVeryLightGrey; border-radius: 10px; }

			.info { height: 100%; position: relative; line-height: 48px; }
			.info {
				.txt { width: 100%; }
				.name { @include text-paragraph; @include text-overflow-nw; }
				.descr { width: 100%; @include text-small; color: $colorMediumGrey; @include text-overflow-nw; margin: 2px 0px 3px 0px; }
			}
		}
	}
}