@import "~scss/_vars";

.blocks {
	.block.blockType { padding: 0px 0px 18px 0px; }
	.block.blockType { 
		.wrapMenu { visibility: hidden; }
		.focusable.isFocused { background: none; }

		.wrap { display: flex; justify-content: flex-start; gap: 8px; flex-wrap: wrap; }

		.item { 
			position: relative; padding: 3px 8px; border-radius: 2px; border-radius: 6px; border: 1px solid $colorBorderDark; 
			display: inline-block; display: flex; align-items: center; gap: 0px 4px; color: $colorDarkGrey; @include text-overflow-nw;
		}
		.item.hover, .item.active { background: $colorHoverMedium; }

		.item {
			.icon { flex-shrink: 0; }
			.icon.search { width: 12px; height: 12px; background-image: url('~img/icon/block/search.svg'); }
		}
	}
}