@import "~scss/_vars";

.blocks {
	.block.blockVideo {
		.wrap { max-width: 100%; position: relative; line-height: 0px; }
		video { width: 100%; display: block; }
		.error { margin: 0px; font-size: 13px; line-height: 18px; }
		
		.icon.resize {
			width: 20px; height: 20px; position: absolute; right: 2px; bottom: 2px;
			background-image: url('~img/icon/resize.svg'); opacity: 0; cursor: nwse-resize;
		}
				
		.icon.dots {
			width: 32px; height: 32px; border-radius: 8px; background-color: rgba(0,0,0,0.35); position: absolute; right: 10px; top: 10px;
			background-image: url('~img/icon/menu/file/dots.svg'); opacity: 0; background-size: 24px 24px; cursor: pointer; z-index: 1;
		}
		
		.icon.play {
			width: 48px; height: 48px; border-radius: 100%; position: absolute; left: 50%; top: 50%; margin: -24px 0px 0px -24px;
			background-image: url('~img/icon/play.svg'); background-color: rgba(255,255,255,0.2); cursor: pointer;
		}
		.icon.play:hover { background-color: rgba(255,255,255,0.5); }
	}
	
	.block.blockVideo > .wrapContent > .selectable > .dropTarget { padding-top: 4px; padding-bottom: 2px; }
	
	.block.blockVideo:hover > .wrapContent > .selectable > .dropTarget > .wrap {
		.icon.resize { opacity: 1; }
		.icon.dots { opacity: 1; }
	}
	
	.block.blockVideo > .wrapContent > .selectable.isSelected > .dropTarget > .wrap {
		.icon.resize { opacity: 1; }
		.icon.dots { opacity: 1; }
	}
	
	.block.blockVideo > .wrapContent > .selectable > .dropTarget > .wrap.isPlaying {
		.icon.resize { display: none; }
		.icon.dots { display: none; }
		.icon.play { display: none; }
	}
	
}