{
	"plugins": [
		"react-hot-loader/babel",
		[ "prismjs", {
			"languages": [ 
				"javascript", 
				"css", 
				"markup", 
				"java", 
				"cpp", 
				"csharp", 
				"php", 
				"sql", 
				"go", 
				"swift", 
				"kotlin" 
			],
			"plugins": [ "line-numbers" ],
			"theme": "twilight",
			"css": false
		} ]
	]
}