.DS_Store
.project
.settings/
node_modules/
build.zip
build/
addon
protobuf
todo.md
done.md
commands.md
.idea
tools
dist/*.node
docs/*
electron/env.json
src/json/schema
dist/bundle-back.js
dist/builder-debug.yml
dist/mac-arm64/
