.eslintrc.js
.github/
*.md

dist/__snap-arm64
dist/*.dmg
dist/*.zip
dist/*.yml
dist/*.yaml
dist/lib
dist/linux-arm64-unpacked
dist/linux-unpacked
dist/mac
dist/mac-arm64
dist/img
dist/font
dist/win-unpacked
dist/*.node