{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"semi": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"parser": "babel-ts",
	"insertPragma": true,
	"proseWrap": "never",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"singleAttributePerLine": false
}