.eslintrc.js
.github
.husky
.gitignore
.editorconfig
.eslintignore
.gitattributes
.prettierignore
.prettierrc
.sentryclirc
patches
webpack.config.js
webpack.node.config.js

*.md
*.ico
*.json
*.sh
*.dmg
*.zip
*.yml
*.yaml
*.node
*.icns
*.png
*.jpg
*.mp4
*.version
*.code-workspace
*.plist

dist/__snap-arm64
dist/bundle-back.js
dist/lib
dist/linux-arm64-unpacked
dist/linux-unpacked
dist/mac
dist/mac-arm64
dist/img
dist/font
dist/win-unpacked
dist/main.js
dist/main.js.map
dist/extension/js/main.js
dist/extension/js/main.js.map
dist/anytypeHelper
dist/anytypeHelper.exe
dist/css/theme/dark/prism.css
dist/workers/lib
dist/workers/pdf.min.js
dist/workers/onboard.js