[Desktop Entry]
Name=Anytype
Comment=Project management and knowledge workspace
Exec=anytype
Terminal=false
Type=Application
Icon=anytype
Categories=Utility;Office;Calendar;ProjectManagement;
StartupWMClass=anytype
Keywords=project management;