[Desktop Entry]
Name=Anytype (XWayland)
Comment=Project management and knowledge workspace (XWayland mode)
Exec=anytype --ozone-platform=x11 %u
Terminal=false
Type=Application
Icon=anytype
Categories=Utility;Office;Calendar;ProjectManagement;
StartupWMClass=anytype
Keywords=project management;
MimeType=x-scheme-handler/anytype;
NoDisplay=true