@import "~scss/_vars";

.popups {
	.popup.popupEditorPage {
		.innerWrap { width: 960px; height: calc(100% - 128px); padding: 0px; }
		
		.header { position: relative; padding: 0px; border-radius: 12px 12px 0px 0px; }
		.header {
			.menu { right: 0px; top: 0px; }
		}
		
		.content { height: 100%; overflow-y: scroll; padding: 0px; }
		.selection { height: 100%; }
		.blocks { margin-left: -48px; }
	}	
}