@import "~scss/_mixins";

.popups {
	.popup.popupAbout {
		.innerWrap { width: 424px; padding: 32px; text-align: center; }

		.title { @include text-header3; margin-bottom: 6px; }
		.label { margin-bottom: 20px; user-select: text !important; word-wrap: break-word; }
		.version { display: flex; align-items: center; justify-content: center; gap: 0px 16px; margin-bottom: 20px; }
		.copyright { color: var(--color-text-secondary); }

		.iconWrapper { display: flex; width: 320px; height: 104px; border-radius: 320px; margin: -16px auto 10px; align-items: center; justify-content: space-around; }
		.icon { width: 72px; height: 72px; background-image: url('~img/logo/symbol.png'); }
	}
}
