@import "~scss/_vars";

.popups {
	.popupArchive {
		.innerWrap { width: 672px; padding: 48px; }

		.head { padding-bottom: 10px; border-bottom: 1px solid #eae9e0; }
		.head {
			.title { font-size: 28px; line-height: 32px; letter-spacing: -0.36px; margin-bottom: 10px; }
			.sides { display: flex; }
			.side { width: 50%; }
			.side.right { text-align: right; transition: $transitionFast; }
		}
		
		.btn { 
			display: inline-block; vertical-align: middle; margin-right: 20px; color: $colorMediumGrey; cursor: pointer;
			transition: $transitionFast; margin: 0px;
		}
		.btn:last-child { margin: 0px; }
		.btn:hover { color: $colorBlack; }
	
		.content { height: 522px; }
		.title { margin-bottom: 12px; }
		.items { overflow: auto; height: 470px; padding: 12px 0px; }
		
		.item { margin-bottom: 2px; padding: 3px 0px; transition: $transitionFast; border-radius: 4px; position: relative; cursor: pointer; }
		.item:last-child  { margin: 0px; }
		.item.active { background: #f7f5f0; }
		
		.item.active {
			.checkbox { background-image: url('~img/icon/checkbox1.svg'); }
		}
		
		.item {
			.checkbox { margin-right: 4px; }
			.iconObject { margin-right: 4px; }
			.name { display: inline-block; vertical-align: middle; width: calc(100% - 56px); @include text-overflow-nw; }
		}
	}
}