@import "~scss/_vars";

.popups {
	.popupArchive { width: 672px; padding: 48px; }
	.popupArchive {
		.title { margin-bottom: 12px; }
		.items { border-top: 1px solid #eae9e0; overflow: auto; height: 470px; padding: 20px 0px; }
		
		.item { margin-bottom: 6px; padding: 4px 0px; transition: $transitionFast; border-radius: 4px; position: relative; }
		.item:last-child  { margin: 0px; }
		.item:hover { background: #f7f5f0; }
		.item:hover {
			.buttons { opacity: 1; }
		}
		
		.item {
			.smile { margin-right: 4px; }
			.name { display: inline-block; vertical-align: middle; width: calc(100% - 28px); }
			.buttons { position: absolute; right: 10px; top: 4px; opacity: 0; transition: $transitionFast; }
			.buttons {
				.btn { display: inline-block; vertical-align: middle; margin-right: 20px; color: $colorDarkGrey; cursor: pointer; }
				.btn:last-child { margin: 0px; }
				.btn:hover { color: $colorBlack; }
			}
		}
	}
}