@import "~scss/_vars";

.popups {
	.popup.popupFeedback {
		.innerWrap { width: 672px; }
		.wrapper { padding: 48px; }

		.tabs { @include text-header3; color: $colorDarkGrey; margin-bottom: 19px; }
		.tabs {
			.tab { display: inline-block; margin-right: 20px; cursor: pointer; }
			.tab:last-child { margin: 0px; }
			.tab:hover, .tab.active { color: $colorBlack; }
		}
	
		.title { font-size: 28px; line-height: 32px; letter-spacing: -0.36px; margin-bottom: 16px; }
		.label { margin-bottom: 5px; }
		.input { height: 40px; border: 1px solid #DFDDD0; padding: 0px 16px; }
		.textarea { height: 160px; padding: 16px; border: 1px solid #DFDDD0; background: none; font-family: 'Inter'; }
		
		.icon.checkbox { margin-right: 4px; }
		.small { @include text-small; line-height: 24px; width: calc(100% - 28px); }
		
		.error { margin: 0px; color: #e89d00; line-height: 40px; width: calc(100% - 100px); }
		.button.submit { margin-right: 16px; width: 84px; }
		
		.row { margin-bottom: 13px; }
		.row.last { margin-bottom: 19px; }
		.row:last-child { margin: 0px; }
		.row {
			.input { margin-right: 16px; }
			.input:last-child { margin: 0px; }
		}
		
		.wrapper.success { padding: 32px 48px 48px 48px; }
		.wrapper.success {
			.smile { margin-bottom: 12px; }
			.label { margin-bottom: 27px; }
		}
	}
}
