@import "~scss/_vars";

.popups {
	.popup.popupFeedback { width: 672px; padding: 46px; }
	.popup.popupFeedback {
		.title { font-size: 28px; line-height: 32px; letter-spacing: -0.36px; margin-bottom: 16px; }
		.label { margin-bottom: 10px; }
		.input { height: 40px; border: 1px solid #DFDDD0; padding: 0px 16px; }
		.textarea { height: 160px; padding: 16px; border: 1px solid #DFDDD0; background: none; font-family: 'Lcg'; }
		
		.icon.checkbox { margin: -2px 8px 0px 0px; }
		
		.row { margin-bottom: 16px; }
		.row:last-child { margin: 0px; }
		.row {
			.input { margin-right: 16px; }
			.input:last-child { margin: 0px; }
		}
		
	}
}
