@import "~scss/_mixins";

.popups {
	.popup.popupHelp * { user-select: text !important; }
	.popup.popupHelp {
		.innerWrap { width: 1096px; height: calc(100% - 164px); }

		@media (max-width: 1128px) {
			.innerWrap { width: calc(100% - 32px); left: 16px; margin-left: 0px !important; }
		}

		.content { padding: 56px 80px 40px 80px; }
		.highlight { color: var(--color-red); background: var(--color-shape-tertiary); white-space: nowrap; }
		.buttons { display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 0px 16px; }
	}
}
