@import "~scss/_vars";

.popups {
	.popup.popupHelp {
		.innerWrap { width: 864px; height: calc(100% - 128px); padding: 40px 0px 0px 0px; }

		.head { display: flex; position: absolute; top: 0px; left: 0px; width: 100%; padding: 10px 20px; color: $colorMediumGrey; line-height: 24px; }
		.head {
			.side { width: 50%; }
			.side.right { text-align: right; }
			.label { display: inline-block; vertical-align: top; }

			.icon { width: 16px; height: 16px; cursor: pointer; margin: 0px 0px 0px 16px; }
			.icon.telegram { background-image: url('~img/icon/telegram0.svg'); }
			.icon.telegram:hover { background-image: url('~img/icon/telegram1.svg'); }

			.icon.twitter { background-image: url('~img/icon/twitter0.svg'); }
			.icon.twitter:hover { background-image: url('~img/icon/twitter1.svg'); }
		}

		.content { padding: 60px 80px 40px 80px; }
	}
}
