@import "~scss/_mixins";

.popups {
	.popup.popupMigration {
		.innerWrap { width: 548px; padding: 32px; }

		.title { @include text-header3; margin-bottom: 16px; }
		
		.label { margin-bottom: 8px; user-select: text !important; word-wrap: break-word; }
		.label:last-child { margin: 0px; }
		.label.bold { font-weight: 700; }

		.qrWrap { 
			margin: 12px 0px; background-color: var(--color-shape-tertiary); padding: 28px; display: flex; align-items: center; justify-content: center; 
			border-radius: 4px;
		}

		.buttons { display: flex; flex-direction: column; gap: 8px 0px; margin: 20px 0px 0px 0px; }
	}	
}