@import "~scss/_mixins";

.popups {
    .popup.popupObjectManager {
        .innerWrap { width: 480px; max-height: calc(100vh - 128px); padding: 32px 32px 24px 32px; }
        .content { height: 100%; display: flex; flex-direction: column; }
		.textWrapper { flex-shrink: 0; padding-bottom: 24px; }
		.textWrapper {
			.iconObject { background-color: transparent; margin-bottom: 12px; }
			.title { @include text-header3; margin: 0px 0px 4px 0px; }
			.label { margin: 0px 0px 4px 0px; }
		}

		.ReactVirtualized__List { padding: 8px 0px; }

		.objectManagerWrapper { flex-grow: 1; }

		.buttons { flex-shrink: 0; display: flex; flex-direction: column; gap: 8px; padding-top: 12px; }
		.button { width: 100%; }
    }
}
