@import "~scss/_mixins";

.popups {
    .popup.popupObjectManager {
        .innerWrap { width: 548px; height: 472px; padding: 32px 32px 40px 32px; }
        .content { height: 100%; display: flex; flex-direction: column; }

        .title { @include text-header3; flex-shrink: 0; margin: 0px 0px 24px 0px; }
		.ReactVirtualized__List { padding: 8px 0px; }

		.objectManagerWrapper { flex-grow: 1; }

		.items {
			.row { grid-template-columns: repeat(2, minmax(0, 1fr)); grid-gap: 32px; }

			.item { gap: 0px 12px; }
			.item {
				.iconObject { flex-shrink: 0; flex-basis: 48px; border-radius: 10px; background-color: var(--color-shape-tertiary); }
				.objectClickArea { width: calc(100% - 30px); }

				.name { @include text-overflow-nw; width: 100%; }
				.descr { @include text-overflow-nw; @include text-small; width: 100%; color: var(--color-text-secondary); }
			}
		}
		.emptySearch { height: 238px; }

		.buttons { display: flex; flex-direction: row-reverse; gap: 0px 8px; justify-content: space-evenly; }
		.button { width: 100%; }
    }
}
