@import "~scss/_vars";

.popups {
	.popup.popupPage {
		.innerWrap { width: 960px; height: calc(100% - 128px); padding: 0px; }

		.footer { display: none; }

		.pageMainEdit {
			.header { position: absolute; padding: 0px; border-radius: 12px 12px 0px 0px; top: 0px !important; }
			.header {
				.menu { right: 0px; top: 0px; }
			}

			#bodyWrapper > .loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; }
			
			.content { height: 100%; padding-top: 38px; }
			.content > .wrap { height: 100%; }

			.selection { height: 100%; overflow-x: hidden; overflow-y: scroll; }
			.editor { margin-top: 38px; }

			.editorWrapper { padding-top: 96px; }

			.editorWrapper.isSet { width: calc(100% - 96px); }
			.editorWrapper.isSet {
				.block.blockCover {
					.elements { width: 100%; left: 0px; }
					.elements {
						.buttons { padding-left: 142px; }
					}
				}
			}

			.editorWrapper.isSet.withIcon {
				.editorControls { height: 188px; }
			}

			.editorWrapper.withIcon { padding-top: 122px; }

			.editorWrapper.withCover { padding-top: 356px; }

			.editorWrapper.withIconAndCover { padding-top: 232px; }
			.editorWrapper.withIconAndCover {
				.block.blockCover .elements .buttons { padding-left: 118px; }
				.block.blockCover.align1 .elements .buttons { padding-left: 68px; }
			}

			.editorWrapper.isHuman.withIcon { 
				.editorControls { height: 274px; }
			}

			.editorWrapper.isHuman.withIconAndCover {
				.block.blockCover .elements .buttons { padding-left: 150px; }
			}
		}

	}	
}