@import "~scss/_mixins";

.popups {
	.popup.popupPage {
		.innerWrap { width: 1096px; height: calc(100% - 164px); padding: 0px; }

		#sidebarRight { position: sticky; }

		@media (max-width: 1128px) {
			.innerWrap { width: calc(100% - 32px); left: 16px; margin-left: 0px !important; }
		}

		.deleteWrapper { position: absolute; }
		.content { min-height: 100%; }
		#wrap { height: 100%; }

		.page { padding: 0px; }
		.header {
			.icon.toggle { display: none; }
		}
		.footer { display: none; }

		#bodyWrapper > #loader { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }

		.pageMainEdit {
			.content { height: 100%; }
			.content > .wrap { height: 100%; }

			.block.blockCover { top: 38px; }
		}

		.pageMainSet {
			.editorWrapper.isSet,
			.editorWrapper.isCollection {
				.block.blockCover {
					.elements { width: 100%; left: 0px; }
				}
			}
		}

		.pageMainRelation, .pageMainBookmark {
			.wrapper { padding-top: 74px; }
		}

		.pageMainGraph {
			.footer { display: block; position: absolute; bottom: 0px; }
			.footer #button-expand { display: none !important; }
		}

		.pageMainHistory { height: 100%; overflow: hidden; }
		.pageMainHistory {
			.header { position: absolute; }
		}

		.pageMainMedia {
			.blocks { padding-top: 16px; }
		}

		.pageMainChat {
			.formWrapper.isFixed { position: sticky; padding-bottom: 16px; margin-left: -352px; left: 50%; }
		}

	}	
}

html.platformMac {
	.popups {
		.popup.popupPage {
			.pageMainEdit {
				.block.blockCover { top: 52px; }
			}	
		}
	}
}