@import "~scss/_mixins";

.popups {
	.popup.popupPin {
		.innerWrap { width: 424px; padding: 32px 32px 48px 32px; text-align: center; }
		.content { position: relative; }
		.title { @include text-header3; margin-bottom: 24px; }
		.error { margin: 0px; position: absolute; width: 100%; text-align: center; left: 0px; bottom: -30px; }
	}
}