@import "~scss/_vars";

.popups {
	.popup.popupPreview { padding: 10px; min-width: 50px; min-height: 50px; margin: -25px 0px 0px -25px; }
	.popup.popupPreview {
		.inner { width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; }
		#content { border-radius: 4px; display: block; }
		
		.loaderWrapper { 
			position: absolute; z-index: 1; left: 0px; top: 0px; width: 100%; height: 100%; background: #fff; border-radius: 8px; 
		}
	}
}