@import "~scss/_vars";

.popups {
	.popup.popupSearch {
		.ReactVirtualized__Grid__innerScrollContainer { margin: 8px 0px; }

		.content { height: 432px; overflow: visible; transition: none; transform: translate3d(0px,0px,0px); }
		.wrap { height: 100%; }
		.innerWrap { top: 52px; width: 40%; margin-left: -20%; transform: scale3d(1,1,1); transition: none; overflow: visible; border-radius: 6px; }
		.dimmer { transition: none; }

		.head { 
			height: 28px; position: fixed; top: -40px; left: 50%; background: $colorWhite; width: 100%; border-radius: 6px;
			transform: translateX(-50%); padding: 4px 8px; -webkit-app-region: no-drag;
		}
		.head {
			.iconObject { margin-right: 6px; }
			
			.icon { width: 18px; height: 18px; vertical-align: top; margin: 2px 6px 0px 0px; }
			.icon.search { background-image: url('~img/icon/popup/search/search.svg'); }
			.icon.home { background-image: url('~img/icon/popup/search/home.svg'); }

			.input { 
				padding: 0px; height: 20px; vertical-align: middle; width: calc(100% - 32px); font-size: 14px; line-height: 20px; 
				vertical-align: top;
			}
		}

		.emptySearch { height: 100%; width: 100%; line-height: 84px; padding: 8px 16px; text-align: center; }
		.emptySearch {
			b { display: block; font-weight: 400; color: $colorBlack; }
			.label { line-height: 24px; color: $colorMediumGrey; display: inline-block; vertical-align: middle; width: 100%; }
			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				display: block;
			}
		}
		
		.items { height: 100%; }
		.items {
			.pad { height: 12px; }

			.section { height: 32px; line-height: 22px; padding: 5px 16px; font-weight: 500; color: $colorMediumGrey; }

			.item { 
				cursor: pointer; transition: $transitionFast; position: relative; height: 32px; line-height: 22px; padding: 7px 16px; white-space: nowrap;
				display: flex;
			}
			.item {
				.iconObject { transition: $transitionFast; vertical-align: top; margin-right: 6px; flex-shrink: 0; }
				.name { @include text-overflow-nw; line-height: 18px; display: inline-block; vertical-align: top; flex-shrink: 0; max-width: 50%; }
				.type { flex-shrink: 0; max-width: 33%; }
				.descr { @include text-small; @include text-overflow-nw; color: $colorDarkGrey; display: inline-block; vertical-align: top; }

				.div { width: 2px; height: 18px; line-height: 18px; margin: 0px 6px; display: inline-block; vertical-align: top; flex-shrink: 0; }
				.div {
					.inner { width: 2px; height: 2px; border-radius: 100%; display: inline-block; vertical-align: middle; background: $colorMediumGrey; }
				}
			}

			.item.active { background-color: rgba(172, 169, 150, 0.1); }
		}
	}
}

html.platformWindows {
	.popups {
		.popup.popupSearch .innerWrap { top: 68px; }
	}
}