@import "~scss/_vars";

.popups {
	.popupSettings {
		.innerWrap { width: 958px; height: 650px; }
		.innerWrap.scroll {
			.sides > .side.left { display: none; } 
			.sides > .side.right { width: 100%; }
		}
		.content { height: 100%; }

		.sides { display: flex; height: 100%; }
		.sides {
			> .side { position: relative; }
			> .side.left { width: 274px; background: $colorVeryLightGrey; padding: 16px 8px; overflow: auto; }
			> .side.left {
				.iconObject.withLetter { background-color: $colorBorderDark; }

				.section { margin: 0px 0px 25px 0px; }
				.section:last-child { margin: 0px; }
				.section {
					> .name { @include text-small; color: $colorDarkGrey; margin: 0px 0px 4px 0px; padding: 0px 8px; }
				}

				.space { 
					display: flex; flex-direction: row; padding: 8px; gap: 0px 12px; align-items: center; margin: 0px 0px 12px 0px; 
					border-radius: 8px; transition: $transitionFast; cursor: pointer;
				}
				.space:hover, .space.active { background: $colorBorderDark; }
				.space {
					.iconObject { flex-shrink: 0; }
					.txt { width: calc(100% - 40px); }
					.name { @include text-common; font-weight: 500; }
					.type { @include text-small; color: $colorDarkGrey; }
				}

				.item { 
					display: flex; flex-direction: row; gap: 0px 10px; margin: 0px 0px 2px 0px; padding: 5px 8px; 
					cursor: pointer; border-radius: 8px; transition: $transitionFast;
				}
				.item:hover, .item.active { background: $colorBorderDark; }
				.item {
					.icon { width: 22px; height: 22px; }
					.icon.personal { background-image: url('~img/icon/popup/settings/personal.svg'); }
					.icon.cloud { background-image: url('~img/icon/popup/settings/cloud.svg'); }
					.icon.appearance { background-image: url('~img/icon/popup/settings/appearance.svg'); }
					.icon.wallpaper { background-image: url('~img/icon/popup/settings/wallpaper.svg'); }
					.icon.phrase { background-image: url('~img/icon/popup/settings/phrase.svg'); }
					.icon.pin { background-image: url('~img/icon/popup/settings/pin.svg'); }
					.icon.import { background-image: url('~img/icon/popup/settings/import.svg'); }
					.icon.export { background-image: url('~img/icon/popup/settings/export.svg'); }
				}

				.select { transition: none; border: 0px; color: $colorMediumGrey; max-width: 100%; }
				.select { 
					.icon.arrow { top: 3px; margin: 0px !important; }
				}
			}

			> .side.right { width: calc(100% - 274px); padding: 44px 54px; }
			> .side.right {
				.head { width: 100%; margin: 0px 0px 36px 0px; }
				.head {
					.icon.back { width: 8px; height: 8px; cursor: pointer; background-image: url('~img/icon/popup/settings/back.svg'); }
					
					.element { 
						color: $colorDarkGrey; cursor: pointer; display: inline-flex; gap: 0px 6px; align-items: center; padding: 2px 4px; 
						border-radius: 6px; margin-left: -5px;
					}
					.element:hover { background: $colorHover; }
				}

				.title { @include text-header1; font-weight: 700; margin: 0px 0px 12px 0px; }
				.description { margin: 0px 0px 24px 0px; }
				b { font-weight: 500; }

				.row { 
					padding: 14px 0px 13px 0px; display: flex; justify-content: space-between; border-bottom: 1px solid $colorBorderLight; 
					align-items: center; @include text-paragraph;
				}
				.row.red { color: $colorRed; }

				.error { margin: 8px 0px 0px 0px; }

				.label.small, .label.section, .label.grey { color: $colorDarkGrey; }
				.label.small, .label.section { @include text-small; }
				.label.section { margin: 30px 0px 4px 0px; }

				.select { border: 0px; color: $colorDarkGrey; }

				.name { width: 100%; }
				.name {
					.label { margin: 0px 0px 6px 0px; }
					.input { @include text-header2; padding: 0px; }
				}

				.iconWrapper { position: relative; margin: 0px 0px 12px 0px; }
				.iconWrapper {
					.loaderWrapper { position: absolute; width: 100%; height: 100%; border-radius: 50%; z-index: 1; background: rgba(255,255,255,0.3); }

					.iconObject { flex-shrink: 0; cursor: pointer; }
					.iconObject:after {
						content: ''; position: absolute; left: 50%; top: 50%; width: 40px; height: 30px; margin: -15px 0px 0px -20px;
						background: url('~img/icon/camera.svg') no-repeat center; background-size: 40px 30px;
						transition: $transitionFast; opacity: 0;
					}
					.iconObject:hover:after { opacity: 1; }
				}
			}
		}

		.tabSpaceIndex {
			> .iconObject { margin: 0px 0px 12px 0px; }
		}

		.side.right.tabPhrase {
			.inputs { margin: 0px 0px 54px 0px; }
			.title.sub { @include text-header3; margin: 0px 0px 4px 0px; font-weight: 700; }

			.qrWrap { padding: 8px; border-radius: 4px; width: 132px; height: 132px; background: $colorVeryLightGrey; overflow: hidden; }
			.qrWrap {
				canvas { width: 100%; height: 100%; }
			}
		}

		.side.right.tabLogout { padding-top: 22px; }
		.side.right.tabLogout {
			.inputs { margin: 0px 0px 24px 0px; }
			.buttons { display: flex; gap: 0px 16px; }
		}

		.side.right.tabDelete { padding-top: 22px; }
		.side.right.tabDelete {
			.text { margin: 0px 0px 32px 0px; }
			.text {
				b { margin: 0px 0px 8px 0px; display: block; }
			}

			.check { border-top: 1px solid $colorBorderLight; padding: 16px 0px 12px 0px; display: flex; align-items: center; gap: 0px 8px; }
		}

		.side.right.tabAppearance {
			.buttons { display: flex; gap: 0px 34px; margin: 0px 0px 32px 0px; }

			.btn { text-align: center; @include text-small; cursor: pointer; }
			.btn {
				.bg { 
					width: 120px; height: 60px; border-radius: 14px; display: flex; align-items: center; justify-content: center; margin-bottom: 8px; 
					position: relative;
				}
				.icon { width: 40px; height: 40px; display: block; z-index: 1; position: relative; }
			}

			.btn.light { 
				.bg { box-shadow: 0px 0px 0px 1px $colorBorderDark; }
				.icon { background-image: url('~img/icon/popup/settings/theme/light.svg'); }
			}

			.btn.dark {
				.bg { background: $colorBlack; }
				.icon { background-image: url('~img/icon/popup/settings/theme/dark.svg'); }
			}
			.btn.system {
				.bg::before, .bg::after {
					content: ''; position: absolute; top: 0px; width: 50%; height: 100%;
				}
				.bg::before { left: 0px; box-shadow: 0px 0px 0px 1px $colorBorderDark; border-radius: 14px 0px 0px 14px; }
				.bg::after { right: 0px; background: $colorBlack; border-radius: 0px 14px 14px 0px; }
				.icon { background-image: url('~img/icon/popup/settings/theme/system.svg'); }
			}

			.btn.active {
				.bg { box-shadow: 0px 0px 0px 2px #ffee94; }
			}
			.btn.system.active {
				.bg::before { box-shadow: 0px 0px; }
			}
		}

		.side.right.tabImportIndex {
			.items { display: flex; gap: 16px; }
			.item { 
				width: 132px; height: 94px; border: 1px solid $colorBorderLight; border-radius: 8px; transition: $transitionFast; cursor: pointer; 
				position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
			}
			.item:hover { border-color: $colorBlack; }

			.item {
				.icon { width: 28px; margin: 0px 0px 8px 0px; height: 28px; background-size: contain; background-position: top center; }
				.name { @include text-small; }
			}

			.item.notion .icon { background-image: url('~img/icon/popup/settings/import/notion.svg'); }
			.item.markdown .icon { background-image: url('~img/icon/popup/settings/import/markdown.svg'); }
			.item.html .icon { background-image: url('~img/icon/popup/settings/import/html.svg'); }
			.item.text .icon { background-image: url('~img/icon/popup/settings/import/text.svg'); }
		}

		.side.right.tabImportNotion { padding-top: 22px; }
		.side.right.tabImportNotion {
			.inputWrapper { flex-direction: row; align-items: flex-start; gap: 0px 8px; margin: 0px 0px 58px 0px; }
			.inputWrapper { 
				.input { height: 36px; border: 1px solid $colorBorderDark; border-radius: 6px; }
				.button { margin: 0px; flex-shrink: 0; }
				.errorWrapper { flex-grow: 1; }
				.error { @include text-small; margin: 2px 0px 0px 0px; }
			}

			.helpWrapper { flex-direction: row; align-items: center; gap: 0px 8px; margin: 0px 0px 16px 0px; justify-content: space-between; }
			.helpWrapper {
				.title { @include text-paragraph; font-weight: 700; padding: 0px; }

				.btn { 
					display: flex; flex-direction: row; align-items: center; gap: 0px 6px; @include text-small; color: $colorDarkGrey; 
					cursor: pointer; transition: $transitionFast;
				}
				.btn {
					.icon.help { width: 14px; height: 14px; background-image: url('~img/icon/popup/settings/help0.svg'); transition: $transitionFast; }
				}
				.btn:hover { color: $colorBlack; }
				.btn:hover {
					.icon.help { background-image: url('~img/icon/popup/settings/help1.svg'); }
				}
			}

			.list { @include text-small; margin-left: 1.35em; }
			.list {
				li { margin: 0px 0px 12px 0px; }
				.label { margin: 0px 0px 4px 0px; }
				.label:last-child { margin: 0px; }
			}
		}

		.side.right.tabImportNotionHelp { padding-top: 22px; }
		.side.right.tabImportNotionHelp {
			.icon.notion { width: 28px; height: 28px; background-image: url('~img/icon/popup/settings/import/notion.svg'); margin: 0px 0px 16px 0px; }
			.title { margin: 0px 0px 44px 0px !important; }
			.label.step { @include text-paragraph; font-weight: 700; margin: 0px 0px 16px 0px; }

			.list { margin: 0px 0px 64px 1em; }
			.list:last-child { margin-bottom: 0px; }
			.list {
				li { margin: 0px 0px 48px 0px; }
				li:last-child { margin: 0px; }
				img { margin: 14px 0px 0px 0px; margin-left: -1em; width: 100%; display: block; border: 1px solid $colorVeryLightGrey; border-radius: 6px; }
			}
		}

		.side.right.tabExportMarkdown {
			.labels {
				.label { margin: 0px 0px 12px 0px; }
				.label:last-child { margin: 0px; }
			}

			.rows { margin: 24px 0px; }
		}
	}
}