@import "~scss/_vars";

.popups {
	.popupSettings {
		.innerWrap { width: 672px; }
		.content { height: 100%; }

		.icon { transition: none; }
		.title { font-size: 28px; line-height: 32px; letter-spacing: -0.36px; font-weight: 600; padding: 20px 0px; text-align: center; }
		.description { margin-bottom: 26px; }
		.inputs { margin-bottom: 32px; }
		
		.head { 
			position: absolute; left: 0px; top: 0px; width: 100%; height: 40px; padding: 11px 12px; background: $colorWhite; z-index: 1;
			border-radius: 12px 12px 0px 0px; 
		}
		.head {
			.icon.back { width: 24px; height: 24px; cursor: pointer; background-image: url('~img/icon/popup/settings/back0.svg'); margin-top: -2px; }
			
			.element { color: $colorVeryDarkGrey; cursor: pointer; }
			.element:hover { color: $colorBlack; }
			.element:hover {
				.icon.back { background-image: url('~img/icon/popup/settings/back1.svg'); } 
			}
		}
		
		.tab { padding: 44px 48px 48px 48px; }

		.sectionName { @include text-small; padding: 30px 0px 4px 0px; color: $colorDarkGrey; }
		.sectionName.center { text-align: center; }

		.tabIndex { padding: 24px 48px 48px 48px; }
		.tabIndex, .tabAccount, .tabAppearance, .tabPersonal, .tabPinIndex {
			.row { 
				padding: 18px 0px 17px 0px; border-bottom: 1px solid $colorLightGrey; cursor: pointer; position: relative; 
				@include text-paragraph; line-height: 28px;
			}
			.row.flex { display: flex; }
			.row.red { color: $colorRed; }

			.row {
				.icon { width: 28px; height: 28px; margin: 0px 12px 0px 0px; vertical-align: top; }
				.icon.account { background-image: url('~img/icon/popup/settings/account.svg'); }
				.icon.personal { background-image: url('~img/icon/popup/settings/personal.svg'); }
				.icon.appearance { background-image: url('~img/icon/popup/settings/appearance.svg'); }
				.icon.wallpaper { background-image: url('~img/icon/popup/settings/wallpaper.svg'); }
				.icon.phrase { background-image: url('~img/icon/popup/settings/phrase.svg'); }
				.icon.pin { background-image: url('~img/icon/popup/settings/pin.svg'); }
				.icon.import { background-image: url('~img/icon/popup/settings/import.svg'); }
				.icon.export { background-image: url('~img/icon/popup/settings/export.svg'); }
				.icon.other { background-image: url('~img/icon/popup/settings/other.svg'); }
				
				.label { display: inline-block; vertical-align: top; }
				.icon.arrow { 
					width: 24px; height: 24px; background-image: url('~img/icon/popup/settings/arrow.svg'); position: absolute; right: 0px;
					top: 50%; margin: -12px 0px 0px 0px; 
				}
				
				.side { width: 50%; line-height: 28px; }
				.side.right { text-align: right; }

				.select { transition: none; border: 0px; }

				.status { position: absolute; text-align: right; right: 24px; top: 50%; margin-top: -14px; height: 28px; color: $colorMediumGrey; }
			}
			
			.logout { color: $colorMediumGrey; cursor: pointer; text-align: center; @include text-paragraph; line-height: 28px; padding: 18px 0px; }
			.logout:hover { color: $colorBlack; }
		}

		.tabAppearance {
			.buttons { display: flex; justify-content: space-evenly; }

			.btn { text-align: center; @include text-small; cursor: pointer; }
			.btn {
				.icon { width: 128px; height: 68px; margin-bottom: 4px; border-radius: 14px; padding: 4px; }
				.icon {
					.inner { width: 120px; height: 60px; border-radius: 12px; background-size: cover; background-position: center; background-repeat: no-repeat; }
				}

				.icon.light .inner { background-image: url('~img/icon/popup/settings/theme/light.svg'); }
				.icon.dark .inner { background-image: url('~img/icon/popup/settings/theme/dark.svg'); }
			}

			.btn.active {
				.icon { box-shadow: 0px 0px 0px 2px #ffee94 inset; }
			}
		}
		
		.tabWallpaper { overflow-y: overlay; height: 520px; }
		.tabWallpaper {
			.title { text-align: left; }
			.covers { margin-left: -2px; width: 596px; display: flex; flex-wrap: wrap; gap: 16px 10px; }
			
			.row { margin-bottom: 24px; }
			.row:last-child { margin: 0px; }
			
			.label { margin-bottom: 8px; } 
			.label.name { margin-bottom: 11px; @include text-very-small; color: $colorMediumGrey; text-transform: uppercase; }
			
			.item { 
				width: 108px; height: 70px; display: inline-block; vertical-align: top; cursor: pointer;
				position: relative; border: 1px solid rgba(0,0,0,0); border-radius: 4px;
			}
			.item:nth-child(5n + 5) { margin-right: 0px; }
			.item:hover, .item.active:hover { border: 2px solid $colorOrange; }
			.item.active { border: 1px solid $colorLightGrey; }
			
			.item.fileWrap { margin: 0px 0px 0px -2px; }
			
			.item {
				.cover.upload { 
					background-image: url('~img/icon/popup/settings/upload0.svg'); background-size: 24px 24px;
					border: 1px solid $colorLightGrey; background-position: center center;
				}
			}
			
			.cover { 
				position: absolute; left: 2px; top: 2px; width: calc(100% - 4px); height: calc(100% - 4px); border-radius: 1px;
			}
		}
		
		.tabPhrase {
			.label { margin-bottom: 25px; }
			.textarea { border-radius: 4px; padding: 20px 24px; color: $colorIce; }

			.path { margin-bottom: 16px; height: 128px; display: flex; }
			.path { 
				b { margin-bottom: 5px; display: block; }
				.label { margin: 0px; }
				.side { width: 100%; }
				.side.right { text-align: right; font-size: 0px; width: 50%; padding: 6px;}
				canvas { display: inline-block; }
			}

			.qrWrap { 
				padding: 16px; border-radius: 12px; display: inline-block; width: 132px; height: 132px; 
				background: $colorVeryLightGrey;
			}
			.qrWrap {
				canvas { width: 100%; height: 100%; }
			}

			.inputs { margin-bottom: 20px; }
			.buttons { margin-top: 32px; }
		}
		
		.tabPinSelect, .tabPinConfirm {
			.label { margin-bottom: 23px; }
			.input { 
				width: 40px; height: 40px; margin-right: 8px; padding: 0px; text-align: center; vertical-align: top; font-size: 18px;
				border: 1px solid #e0ded2; 
			}
			.input.active { box-shadow: 0px 0px 0px 1px $colorOrange inset; border-color: $colorOrange; }
			.input-password { font-size: 14px; line-height: 1; }
			.input:last-child { margin: 0px; }
			
			.button.blank { 
				padding: 20px 0px; width: 100%; display: block; height: auto; line-height: 24px; background: none; color: #e89d00;
				border: 0px; border-radius: 0px; border-bottom: 1px solid $colorLightGrey; @include text-paragraph; font-weight: 400;
			}
			.button.blank:hover { color: $colorBlack; }

			.button.blank {
				.txt { line-height: inherit; }
			}
		}

		.tabImportIndex {
			.label { margin-bottom: 26px; }

			.items { 
				display: grid; grid-template-columns: repeat(4, 132px); grid-column-gap: 16px; grid-row-gap: 16px;
			}
			.item { 
				width: 132px; height: 84px; border: 1px solid $colorLightGrey; border-radius: 8px; 
				text-align: center; transition: $transitionFast; line-height: 82px;	display: inline-block; cursor: pointer;
				vertical-align: top; position: relative;
			}
			.item:nth-child(4n + 4) { margin-right: 0px; }
			.item:hover { border-color: $colorBlack; }

			.item.disabled { cursor: no-drop;  }
			.item.disabled:hover { border-color: $colorLightGrey;  }

			.item {
				.icon { 
					width: 28px; margin-bottom: 6px; height: 32px; background-size: contain; 
					background-position: top center;
				}
				.name { @include text-small; }
				.soon { 
					font-weight: 500; font-size: 9px; line-height: 18px; letter-spacing: 0.4px; text-transform: uppercase; color: $colorMediumGrey; 
					position: absolute; top: 3px; right: 9px;
				}
			}

			.item.notion .icon {  background-image: url('~img/icon/popup/settings/import/notion.svg'); }
			.item.evernote .icon { background-image: url('~img/icon/popup/settings/import/evernote.svg'); }
			.item.roam .icon { background-image: url('~img/icon/popup/settings/import/roam.svg'); }
			.item.word .icon { background-image: url('~img/icon/popup/settings/import/word.svg'); }
			.item.text .icon { background-image: url('~img/icon/popup/settings/import/text.svg'); }
			.item.html .icon { background-image: url('~img/icon/popup/settings/import/html.svg'); }
			.item.csv .icon { background-image: url('~img/icon/popup/settings/import/csv.svg'); }
		}

		.tabImportNotion {
			.label, .path { margin-bottom: 10px; }
			.label.last { margin: 0px; }
			.button { margin: 25px 0px; }
		}

		.tabExportMarkdown {
			.label.last { margin: 0px; }
			.button { margin-top: 25px; }
		}

		.tabOther {
			.row { 
				width: 100%; display: flex; padding: 18px 0px 17px 0px; border-bottom: 1px solid $colorLightGrey; 
				@include text-paragraph; line-height: 28px;
			}

			.side { width: 50%; line-height: 28px; }
			.side.right { text-align: right; }
		}

	}
}