@import "~scss/_mixins";

.popups {
	.popup.popupShortcut * { user-select: text !important; user-select: none; }
	.popup.popupShortcut {
		.innerWrap { 
			width: 336px; height: 100%; overflow: visible; left: auto; top: 0px; right: 0px; border-radius: 0px; 
			opacity: 1; transform: translate3d(100%,0px,0px); transition-duration: 0.2s; transition-timing-function: ease-in;
		}
		.content { display: flex; flex-direction: column; height: 100%; }

		.head { display: flex; flex-direction: column; gap: 8px 0px; flex-shrink: 0; padding: 16px 16px 12px 16px; }
		.head {
			.sides { display: flex; flex-direction: row; align-items: center; gap: 0px 16px; }
			.side.left { flex-grow: 1; }
			.side.right { flex-shrink: 0; display: flex; flex-direction: row; align-items: center; }

			.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); }
			.icon.close { background-image: url('~img/icon/close.svg'); }

			.filter { padding: 0px; }
			.filter {
				.inner { height: 28px; }
			}

			.select { border: 0px; padding-left: 0px; cursor: default; @include text-paragraph; font-weight: 600; }
			.select:hover, .select.hover { background: none; }
		}

		.body { padding: 0px 8px 16px 8px; flex-grow: 1; overflow: auto; }
		.body {
			.section {
				> .name { padding: 9px 8px; @include text-small; color: var(--color-text-secondary); font-weight: 500; }

				.item { padding: 6px 8px; border-radius: 6px; gap: 0px 8px; cursor: default; min-height: 36px; 	}
				.item.canEdit:not(.isEditing) {
					&:hover, &.hover {
						.symbols {
							.label { background-color: var(--color-bg-blue); }
						}

						.label.grey { color: var(--color-blue); }
					}
				}
				.item.hasError { box-shadow: 0px 0px 0px 2px var(--color-red) inset; }

				.item {
					.flex { flex-direction: row; align-items: center; line-height: 24px; }
					.name { flex-grow: 1; }
					.error { margin: 0.5em 0px 0px 0px; @include text-small; }

					.label { @include text-small; }
					.label.text { text-align: right; }
					.label.grey { color: var(--color-text-tertiary); }

					.symbols { flex-shrink: 0; display: flex; flex-direction: row; align-items: center; gap: 0px 4px; }
					.symbols {
						.label { 
							background: var(--color-shape-tertiary); border-radius: 4px; height: 24px; padding: 0px 4px; min-width: 24px;
							display: flex; flex-direction: row; align-items: center; justify-content: center;
						}
					}
				}
			}
		}
	}

	.popup.popupShortcut.show {
		.innerWrap { opacity: 1; transform: translate3d(0px,0px,0px); }
	}
}