@import "~scss/_mixins";

.popups {
	.popup.popupSpaceJoinByLink {
		.innerWrap { width: 480px; padding: 0px 16px 16px 16px; border-radius: 32px; position: relative; }

		.icon.close { position: absolute; right: 14px; top: 14px; z-index: 2; }
		.stepTitle { @include text-paragraph; font-weight: 600; padding: 16px 0px; text-align: center; }
		.input { margin: 0px 0px 16px 0px; }
		.button { width: 100%; }
	}
}
