@import "~scss/_mixins";

.popups {
	.popup.popupSpaceJoinByLink {
		.innerWrap { width: 480px; padding: 0px 16px 16px 16px; border-radius: 32px; position: relative; }

		.icon.close {
			position: absolute; right: 16px; top: 16px; width: 28px; height: 28px; background-size: 20px; border-radius: 6px; z-index: 2;
			background-image: url('~img/icon/close.svg');

			&:hover { background-color: var(--color-shape-highlight-medium); }
		}

		.stepTitle { @include text-paragraph; font-weight: 600; padding: 16px 0px; text-align: center; }

		.input {
			margin: 0px 0px 12px 0px; height: 56px; background: var(--color-shape-highlight-light); border: 0px;
			border-radius: 20px; padding: 0px 16px; outline: none;
		}

		.button { width: 100%; }
	}
}
