@import "~scss/_vars";

.popups {
	.popup.popupStore {
		.content { height: 100%; padding-top: 40px; }
		.wrapper { height: 100%; }

		.head { width: 100%; height: 40px; padding: 8px 0px; text-align: center; position: absolute; top: 0px; left: 0px; }
		.head {
			.tabs { 
				white-space: nowrap; background: #eae9e0; display: inline-block; height: 28px; padding: 2px; border-radius: 6px;
			}
			.tabs {
				.item { 
					display: inline-block; margin-right: 4px; width: 124px; border-radius: 4px; height: 24px; line-height: 24px;
					font-weight: 500; cursor: pointer; transition: $transitionFast;
				}
				.item.active { background: #fff; }
				.item:last-child { margin: 0px; }
			}
		}

		.body { width: 100%; height: 100%; padding: 96px 96px 56px 96px; overflow-y: auto; }
		.body {
			.mid { text-align: center; margin-bottom: 57px; }
			.mid {
				.title { margin-bottom: 8px; }
				.label { @include text-paragraph; margin-bottom: 18px; }
				.button { width: 208px; border-radius: 8px; }
				.button {
					.txt { @include text-paragraph; font-weight: 500; }
				}
			}

			.tabs { white-space: nowrap; margin-bottom: 26px; }
			.tabs {
				.item { 
					display: inline-block; margin-right: 20px; font-weight: 700; cursor: pointer; font-size: 18px; line-height: 26px; letter-spacing: -0.16px;
					color: $colorDarkGrey; transition: $transitionFast;
				}
				.item:hover, .item.active { color: $colorBlack; }
				.item:last-child { margin: 0px; }
			}

			.items {
				.item.isType { 
					display: inline-block; vertical-align: top; width: calc(50% - 16px); position: relative; height: 64px; 
					margin: 0px 32px 32px 0px; cursor: pointer; padding: 0px 0px 0px 80px;
				}
				.item.isType:nth-child(2n + 2) { margin-right: 0px; }

				.item.isType {
					.iconObject { position: absolute; left: 0px; top: 0px; }

					.info { height: 100%; position: relative; }
					.info {
						.name { font-weight: 500; margin-bottom: 2px; @include text-overflow-nw; }
						.descr { @include text-small; color: $colorDarkGrey; @include text-overflow-nw; }
						.line { width: 100%; height: 1px; background: #eae9e0; position: absolute; left: 0px; bottom: -16px; }
					}

					.button { height: 28px; line-height: 24px; position: absolute; right: 0px; top: 50%; margin-top: -14px; display: none; }
				}

				.item.isType.market {
					.info { padding-right: 80px; }
					.button { display: block; }
				}
			}
		}

		.wrapper.relation {
			.mid { margin-bottom: 115px; }
			.mid {
				.label { margin: 0px; }
				.button { display: none; }
			}
		}
	}
}