@import "~scss/_vars";

.popups {
	.popup.popupTemplate {
		.innerWrap { width: 832px; height: 448px; margin: -224px 0px 0px -416px; padding: 43px 0px 56px 0px; }
		.content { position: static; }
		
		.listPreviewObject {
			.wrap { overflow: visible; }
			.scroll { padding: 0px 64px; }
		}

		.head { padding: 0px 64px; text-align: center; margin-bottom: 38px; }
		.head {
			.title { @include text-header2; }
			.label { color: $colorDarkGrey; }
		}
	}
}