@import "~scss/_vars";

.popups {
	.popup.popupTree { width: 368px; margin: 0px 0px 0px -184px; }
	.popup.popupTree.expanded { width: 1136px; margin: 0px 0px 0px -578px; }
	
	.popup.popupTree {
		.head { padding: 16px; border-bottom: 1px solid #ebe9e0; }
		.head {
			.icon.search { margin-right: 8px; vertical-align: top; }
			.input { padding: 0px; height: 24px; vertical-align: top; width: calc(100% - 32px); }
		}

		.path { padding:  8px 12px 0px 12px; white-space: nowrap; }
		.path {
			.item { display: inline-block; vertical-align: top; color: #6c6a5f; margin-right: 4px; cursor: pointer; transition: color 0.2s ease-in-out; }
			.item {
				.icon { margin-right: 4px; }
				.icon.arrow { margin: 0px; width: 6px; height: 10px; background-image: url('~img/arrow/path.svg'); vertical-align: middle; }
				.smile { margin-right: 4px; }
				.name { display: inline-block; vertical-align: top; margin-right: 8px; line-height: 24px; }
			}
			.item:last-child { margin: 0px; }
			.item:last-child {
				.icon.arrow { display: none; }
				.name { margin: 0px; }
			}
			.item:hover { color: $colorBlack; }
			.item:hover {
				.icon.home { background-image: url('~img/icon/home1.svg'); }
			}
		}
		
		.empty { height: 100%; line-height: 360px; padding: 16px; text-align: center; }
		.empty {
			b { display: block; font-weight: 400; color: $colorBlack; }
			.txt { line-height: 24px; color: $colorDarkGrey; }
		}
		
		.items { padding: 16px; overflow-x: hidden; overflow-y: auto; }
		.items {
			.item { 
				border-radius: 8px; box-shadow: 0px 0px 0px 1px $colorLightGrey inset; margin-bottom: 8px; padding: 12px 30px 12px 16px; 
				cursor: pointer; transition: $transitionFast; position: relative; height: 72px; line-height: 48px;
			}
			.item:hover, .item.active { box-shadow: 0px 0px 0px 2px $colorOrange inset; }
			
			.item:hover, .item.active {
				.icon.arrow { opacity: 1; }
				.info { border-color: $colorLightGrey; }
			}
			
			.item:last-child { margin: 0px; }
			
			.item {
				.smile { position: absolute; left: 16px; top: 12px; }
				.info { 
					padding: 0px 8px 0px 56px; display: inline-block; vertical-align: middle; width: 100%; 
					border-right: 1px solid rgba(255,255,255,0); transition: $transitionFast;
				}
				.name { width: 100%; line-height: 24px; height: 24px; @include text-overflow-nw;  }
				.descr { width: 100%; @include text-small; height: 18px; @include text-overflow; color: #6c6a5f; }
				.icon.arrow { 
					width: 6px; height: 10px; position: absolute; right: 12px; top: 50%; margin-top: -5px;
					background-image: url('~img/arrow/tree.svg'); opacity: 0; 
				}
			}
		}
	}
	
	.popup.popupTree.expanded {
		.head { padding: 10px 12px 16px 12px; border: 0px; }
		.sides { display: flex; padding: 16px; }
		
		.items { width: 33.33%; }
		.items {
			.item {
				.info { border: 0px; }
				.icon.arrow { opacity: 1; right: -16px; }
			}
		}
		
		.selected { padding: 16px; border: 2px solid $colorOrange; border-radius: 8px; }
		.selected {
			.smile { margin-bottom: 8px; }
			.descr { @include text-small; height: 18px; color: #6c6a5f; @include text-overflow; }
			.cover { position: static; height: 156px; margin-top: 12px; background-color: #C4C4C4; }
			.buttons { margin-top: 16px; }
			.buttons {
				.button { margin-right: 12px; }
				.button:last-child { margin: 0px; }
			}
		}
		
		.items.right {
			.item {
				.icon.arrow { opacity: 1; right: auto; left: -16px; }
			}
		}
	}
}