@import "~scss/_vars";

.popups {
	.popup.popupTree { width: 368px; margin: 0px 0px 0px -184px; }
	.popup.popupTree.expanded { width: 1136px; margin: 0px 0px 0px -578px; }
	
	.popup.popupTree {
		.head { padding: 12px 16px; border-bottom: 1px solid #ebe9e0; }
		.head {
			.input { padding: 0px; }
		}
		
		.items { padding: 16px; overflow-x: hidden; overflow-y: auto; }
		.items {
			.item { 
				border-radius: 8px; box-shadow: 0px 0px 0px 1px $colorLightGrey inset; margin-bottom: 8px; padding: 12px 16px; 
				cursor: pointer; transition: $transitionFast; position: relative; height: 72px; line-height: 48px;
			}
			.item:hover { box-shadow: 0px 0px 0px 1px $colorDarkGrey inset; }
			.item.active { box-shadow: 0px 0px 0px 2px $colorOrange inset; }
			.item:last-child { margin: 0px; }
			
			.item {
				.smile { position: absolute; left: 16px; top: 12px; }
				.info { padding-left: 56px; display: inline-block; vertical-align: middle; width: 100%; }
				.name { width: 100%; line-height: 24px; height: 24px; overflow: hidden; }
				.descr { width: 100%; font-size: 13px; line-height: 18px; height: 18px; overflow: hidden; color: #6c6a5f; }
			}
		}
	}
}