@import "~scss/_vars";

.popups {
	.popup.popupUsecase {
		.innerWrap { width: 816px; padding: 32px 56px; }

		.titleWrap { 
			margin: 0px 0px 40px 0px; display: flex; flex-direction: row; align-items: center; justify-content: stretch; gap: 0px 16px;
		}
		.titleWrap {
			.side.left { flex-grow: 1; display: flex; flex-direction: column; gap: 8px 0px; }
			.side.right { flex-shrink: 0; }

			.title { @include text-header1; }
			.label { @include text-small; color: var(--color-text-secondary);  }
		}

		.screenWrap { 
			height: 480px; background: var(--color-shape-highlight-light); margin: 0px -56px 20px -56px; padding: 20px 56px; overflow: hidden;
			position: relative;
		}
		.screenWrap {
			.swiper { height: 100%; overflow: visible; }
			.swiper-slide { display: flex; align-items: center; justify-content: center; }

			.screen { 
				width: 100%; box-shadow: 0px 2px 28px 0px rgba(0, 0, 0, 0.20); background-size: contain;
				background-position: center; background-repeat: no-repeat; border-radius: 6px; background-color: $colorBgPrimary;
			}

			.icon.arrow { 
				position: absolute; width: 44px; height: 44px; top: 50%; margin-top: -22px; background-color: $colorBgPrimary; z-index: 1; 
				border-radius: 50%; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); background-image: url('~img/arrow/usecase.svg'); background-size: 20px;
				transition: $transitionAllCommon; border: 1px solid var(--color-shape-primary);
			}
			.icon.arrow.hide { opacity: 0; }
			.icon.arrow.left { left: 24px; transform: rotateZ(180deg); }
			.icon.arrow.right { right: 24px; }
		}

		.footerWrap { display: flex; flex-direction: row; align-items: flex-start; justify-content: stretch; }
		.footerWrap {
			.side { max-height: 240px; overflow: auto; }

			.side.left { flex-grow: 1; padding-right: 16px; }
			.side.right { flex-shrink: 0; width: 220px; padding-left: 16px; }
			.side.right {
				.tags {
					.tagItem { @include text-small; margin: 0px 8px 8px 0px; background: var(--color-shape-highlight-medium); color: var(--color-text-secondary); }
				}
				.label { @include text-small; color: var(--color-text-secondary); margin: 0px 0px 8px 0px; }
				.label:last-child { margin: 0px; }
			}
		}

	}

}