@import "~scss/_vars";

.popups {
	.popup.popupVideo {
		.innerWrap { padding: 16px; }
		iframe { display: block; width: 1024px; height: 576px; border-radius: 4px; position: relative; z-index: 1; }

		.loaderWrapper { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; }
	}
}