.message { @include text-common; position: relative; }
.message {
	.label.small { display: inline-block; @include text-small; color: var(--color-text-secondary); }
	.label.small.withText { margin: 0px 0px 0px 4px; }

	.flex { display: flex; flex-direction: row; gap: 0px 8px; align-items: stretch; }

	> .flex > .side.left { flex-shrink: 0; width: 32px; display: flex; align-items: flex-end; }
	> .flex > .side.left {
		.iconObject { display: none; }
	}

	> .flex > .side.right { display: flex; flex-direction: column; position: relative; align-items: flex-start; }

	.bubbleOuter { display: flex; flex-direction: row; gap: 0px 8px; align-items: center; }
	.bubbleOuter {
		> .controls { flex-shrink: 0; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; gap: 0px 8px; opacity: 0; transition: opacity $transitionCommon; }
		> .controls {
			.icon { width: 20px; height: 20px; }
			.icon.messageReply { background-image: url('~img/icon/chat/buttons/reply0.svg'); }
			.icon.messageReply:hover, .icon.messageReply.hover { background-image: url('~img/icon/chat/buttons/reply1.svg'); }

			.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); }
			.icon.more:hover, .icon.more.hover { background-image: url('~img/icon/menu/action/more1.svg'); }
		}
	}

	.bubble { border-radius: 16px; background-color: var(--color-shape-tertiary); display: flex; flex-direction: column; transition: background-color $easeInQuint 0.2s; }
	.bubble {
		.textWrapper { line-height: 20px; padding: 8px 12px; }
		.text { user-select: text !important; display: inline; }
		.time { @include text-very-small; line-height: 14px; letter-spacing: -0.07px; color: var(--color-text-secondary); float: right; padding-left: 8px; padding-top: 4px; }

		.attachments { padding: 4px; }
	}

	.icon.reactionAdd { width: 28px; height: 28px; background: url('~img/icon/chat/buttons/reaction0.svg') 50% 50% no-repeat; background-size: 20px; border-radius: 50%; }
	.icon.reactionAdd:hover, .icon.reactionAdd.hover { background-image: url('~img/icon/chat/buttons/reaction1.svg'); }

	.reply { margin: 0px 0px 4px 0px; position: relative; overflow: hidden; opacity: 0.5; max-width: 360px; cursor: default; }
	.reply {
		.bubble { display: flex; flex-direction: row; align-items: center; gap: 0px 6px; padding: 8px 12px; border-radius: 16px; }

		> .icon, > .iconObject { flex-shrink: 0; width: 32px; height: 32px; }
		> .iconObject:not(.noBg, .isParticipant) { border-radius: 4px !important; background-color: var(--color-shape-highlight-medium) !important; }

		.icon.isMultiple { background-image: url('~img/icon/chat/attachment/multiple.svg'); }

		.textWrapper { padding: 0px; width: 100%; @include text-small; display: flex; flex-direction: column; overflow: hidden; }
		.name { @include text-small; font-weight: 500; padding-left: 12px; }
		.text { @include clamp3; }
	}
	.reply.withAttachment {
		.text { @include clamp1; }
	}

	.attachments {
		.attachment {
			.icon.remove { display: none; }
		}
	}

	.author { display: none; align-items: center; gap: 0px 8px; margin-bottom: 4px; padding-left: 12px; }
	.author {
		.name { @include text-small; @include text-overflow-nw; font-weight: 500; }
	}
	.author * { user-select: text !important; }

	.expand { display: none; align-items: center; gap: 0px 8px; @include text-small; font-weight: 500; color: var(--color-text-secondary); margin-top: 4px; }
	.expand::after { content: ''; display: block; width: 8px; height: 8px; background: url('~img/arrow/button/grey.svg'); }

	.sub { @include text-small; color: var(--color-text-secondary); display: none; }
	.sub {
		.item:hover { color: var(--color-text-primary); }
	}

	.reactions { padding: 4px 0px 0px 0px; display: flex; flex-wrap: wrap; flex-direction: row; gap: 8px; align-items: center; }
	.reactions {
		.reaction { 
			display: flex; flex-direction: row; border-radius: 14px; gap: 0px 4px; align-items: center; @include text-small; font-weight: 500; 
			background-color: var(--color-shape-highlight-medium); padding: 4px 6px; flex-shrink: 0;
		}
		.reaction:hover { background-color: var(--color-shape-highlight-dark); }
		.reaction {
			.count { min-width: 18px; text-align: center; }
		}

		.reaction.isSelf { background-color: var(--color-bg-tag-lime); }
	}

	.newMessages { display: none; justify-content: center; position: absolute; top: -9px; left: 0px;  width: 100%; }
	.newMessages {
		.label { @include text-small; padding: 0px 12px; font-weight: 500; background: var(--color-bg-primary); color: var(--color-text-secondary); }
	}
}

.message.isSelf {
	> .flex { flex-direction: row-reverse; }

	> .flex > .side.right { align-items: flex-end; }

	.bubbleOuter { flex-direction: row-reverse; }
	.bubbleOuter {
		> .controls { flex-direction: row-reverse; }
		.bubble { background-color: var(--color-bg-tag-lime); }
	}
}

.message.withAttachment {
	.bubble {
		.textWrapper { padding: 8px 12px 0px; }
	}
}
.message.withAttachment:not(.withMedia) {
	.bubbleOuter {
		.bubble { width: 360px; }
	}
}

.message.withAttachment.withMedia {
	.bubble { flex-direction: column-reverse; width: 540px; }
	.bubble {
		.textWrapper { padding: 0px 12px 8px; }
	}

	&.mediaLayout-1 {
		.bubble { width: 360px; }
	}
}

.message.canExpand {
	.expand { display: flex; }
	.text { @include clamp; -webkit-line-clamp: 10; }
}
.message.canExpand.isExpanded {
	.text { -webkit-line-clamp: unset; }
	.reply {
		.text { @include clamp; -webkit-line-clamp: 10; }
	}
	.expand::after { transform: rotateZ(180deg); margin-top: 2px; }
}
.message:hover, .message.hover {
	.controls { opacity: 1; }
}

.message:first-child { margin-top: 0px; }

.message.isFirst { margin: 12px 0px 0px 0px; }
.message.isFirst {
	.author { display: flex; }
	> .flex > .side.right {  min-width: 164px; }
}

.message.isFirst, .message.withText {
	.attachments { padding: 8px 4px 4px 4px;  }
	.attachments.withLayout { padding: 4px 4px 8px 4px;  }
}

.message:not(.withText) {
	.bubble { padding: 4px; }
	.bubble {
		.textWrapper { display: none; }
		.attachments { padding: 0px;}
	}
}

.message.isLast {
	> .flex > .side.left {
		.iconObject { display: block; }
	}
}

.message:not(.isLast) {
	.reactions { padding-bottom: 8px; }
}

.message.isNew:not(:last-child) { position: relative; margin-top: 26px; padding-top: 26px; border-top: 1px solid var(--color-shape-tertiary); }
.message.isNew {
	.newMessages { display: flex; }
}
.message.isNew:last-child {
	.newMessages { display: none; }
}

.message.highlight {
	.bubble { background-color: var(--color-bg-ice) !important;}
}
