@import "~scss/_mixins";

.widget.widgetSpace { background: none; }
.widget.widgetSpace {
	.nameWrap { display: flex; align-items: center; gap: 0px 6px; overflow: hidden; }

	.head { padding: 0px; display: flex; flex-direction: row; align-items: center; gap: 0px 12px; }
	.head {
		.info { display: flex; flex-direction: row; flex-grow: 1; overflow: hidden; gap: 0px 12px; justify-content: space-between; }
		.info {
			.name { @include text-paragraph; font-weight: 600; @include text-overflow-nw; flex-grow: 1; }
			.side.right { flex-shrink: 0; display: flex; align-items: center; }
			.side.right {
				.icon.arrowButton { width: 20px !important; height: 20px !important; }
			}
		}
	}
}
