:root {
	/* Text */

	--color-text-primary: #dcdcdc;
	--color-text-secondary: #8d8d8d;
	--color-text-tertiary: #505050;
	--color-text-inversion: #171717;

	/* Shape */

	--color-shape-primary: #555;
	--color-shape-secondary: #3f3f3f;
	--color-shape-tertiary: #2b2b2b;

	--color-shape-highlight-medium: rgba(238, 238, 238, 0.12);
	--color-shape-highlight-light: rgba(238, 238, 238, 0.06);

	/* Control */

	--color-control-accent: #d4d4d4;
	--color-control-active: #9a9a9a;
	--color-control-inactive: #464646;
	--color-control-bg: #fff;

	/* Background */

	--color-bg-primary: #171717;
	--color-bg-secondary: #252525;
	--color-bg-tertiary: #464646;
	--color-bg-loader: rgba(0,0,0,0.7);

	/* System */

	--color-system-selection: rgba(24, 163, 241, 0.15);
}

$themePath: '~img/theme/dark';