$colorLinePrimary: #525148;
$colorLineSecondary: #42413A;

$colorBlack30: rgb(44, 43, 39, 0.3);

$colorPrimary: #cbc9bd;
$colorSecondary: #929082;
$colorTertiary: #5c5a54;

$colorHover: rgba(223, 221, 208, 0.08);

$colorBgLight: #373632;
$colorBgIcon: #484843;
$colorBgInactive: rgba(172, 169, 150, 0.3);