$themePath: '~img/theme/dark';

$colorBlack: #171717;

$colorLinePrimary: #555;
$colorLineSecondary: #3f3f3f;
$colorLineTertiary: #2b2b2b;

$colorPrimary: #dcdcdc;
$colorSecondary: #8d8d8d;
$colorTertiary: #505050;

$colorHoverMedium: rgba(238, 238, 238, 0.12);

$colorBgLight: #252525;
$colorBgIcon: #464646;