.block.blockCover {
    .coverOver {
       position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.1); z-index: 1;
    }
    .elements {
        .btn.white { background: $colorBgIcon; color: $colorSecondary; }
        .btn.white:hover { background: $colorBlack; color: $colorPrimary; }
    }
}

.blocks {
    .block.blockIconPage {
        .iconObject { box-shadow: 0px 0px 0px 2px $colorBorderDark; }
    }

    .block.blockIconUser {
        .iconObject { box-shadow: 0px 0px 0px 2px $colorBorderDark; }
    }

    .block.blockDataview {
        .dataviewControls {
            .line { background: $colorLineSecondary; }
            .viewItem { color: $colorSecondary; }
            .viewItem:hover, .viewItem.active { color: $colorPrimary; }

            .icon.search { background-image: url('~img/theme/dark/icon/dataview/button/search0.svg'); }
			.icon.manager { background-image: url('~img/theme/dark/icon/dataview/button/manager0.svg'); }
			.icon.plus { background-image: url('~img/theme/dark/icon/dataview/button/plus0.svg'); }

			.icon.search:hover, .icon.search.active { background-image: url('~img/theme/dark/icon/dataview/button/search1.svg'); }
			.icon.manager:hover, .icon.manager.active { background-image: url('~img/theme/dark/icon/dataview/button/manager1.svg'); }
			.icon.plus:hover, .icon.plus.active { background-image: url('~img/theme/dark/icon/dataview/button/plus1.svg'); }
        }

        .cellHead .resize .line { background: $colorLineSecondary; }

        .viewItem.viewGrid { box-shadow: 0px -1px $colorLineSecondary inset; }
        .viewItem.viewGrid {
            .row { box-shadow: 0px 1px $colorLineSecondary inset; }
        }

        .viewItem.viewBoard {
            .cellContent.isName { color: $colorPrimary; }
        }

        .viewItem.viewList {
            .cellContent.isName { color: $colorPrimary; }
        }

        .viewItem.viewGallery {
            .card { background: $colorBlack; border-color: $colorLinePrimary; }
            .card {
                .cover { box-shadow: 0px 0px 0px 1px $colorLinePrimary inset; background-color: $colorBgIcon; }
            }

            .cellContent.isName { color: $colorPrimary; }
        }
    }

    .block.blockType {
        .item {
            .iconObject { background: $colorBgIcon; }
        }
        .item.hover { background: $colorHover; }
    }

    .block.blockText.code > .wrapContent > .selectable > .dropTarget { background: $colorHover; }
}