@import "~scss/_vars";

$colorBorderDark: rgba(172, 169, 150, 0.3);
$colorBorderLight: rgba(223, 221, 208, 0.08);

$colorBlack30: rgb(44, 43, 39, 0.3);

$colorPrimary: #cbc9bd;
$colorSecondary: #929082;

$colorHover: rgba(223, 221, 208, 0.08);

$colorBgLight: #373632;
$colorBgInactive: rgba(172, 169, 150, 0.3);

/*@media (prefers-color-scheme: dark) {*/
html.themeDark {
    body { background: $colorBlack; color: $colorPrimary; }

    #root > .loaderWrapper { background: $colorBlack; }
	
    .cover.main::after {
        content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.3);
    }

    /* Components */

    .button.grey { color: $colorPrimary; box-shadow: 0px 0px 0px 1px $colorBorderLight inset; }
    .button.grey:hover { box-shadow: 0px 0px 0px 1px $colorBorderDark inset; }

    .frame { background: $colorBlack; }

    .textarea { background: $colorHover; }

    .switch { background: $colorBgInactive; }

    /* Popups */

    .popups {
        .popup {
            .innerWrap { background: $colorBlack; }
        }

        /* PopupSearch */

        .popup.popupSearch {
            .head { background: $colorBlack; }
        }

        /* PopupSettings */

        .popup.popupSettings {
            .head { background: $colorBlack; }
            .tabIndex .row, .tabOther .row { border-color: $colorBorderLight; }
            .tabWallpaper .item.active { border-color: $colorBorderDark; }
        }
    }

    /* Menu */

    .menus {
        .menu { background: $colorBgLight; }
        .menu.vertical {
            .tabs { border-color: $colorBorderLight; }
            .line { background: $colorBorderLight; }
            .section::after { background: $colorBorderLight; }
            .item { background: $colorBgLight; }
        }
    }

    /* Header */

    .header.headerMainEdit { background: $colorBlack; }
    .header.headerMainEdit {
        .path { border: 0px; line-height: 28px; }
        .path {
            .item:hover { color: $colorPrimary; }
        }
    }

    .header.headerMainIndex {
        .side.center { border: 0px; color: $colorSecondary; background: $colorBlack30; }
    }

    /* PageAuth */

    .pageAuth .textarea, .pageIndex .textarea, .pageObject .textarea { border: 0px; }

    /* PageMainIndex */

    .pageMainIndex {
        #documents {
            .emptySearch { background: $colorBlack; }

            .item { background: $colorBlack; }
            .item {
                .type { color: $colorSecondary; }
            }
        }
    }

    /* Blocks */

    .blocks {
        .block.blockDataview {
            .dataviewControls {
                .line { background: $colorBorderLight; }
            }

            .cellHead .resize .line { background: $colorBorderLight; }

            .viewItem.viewGrid { box-shadow: 0px -1px $colorBorderLight inset; }
            .viewItem.viewGrid {
                .row { box-shadow: 0px 1px $colorBorderLight inset; }
            }
        }
    }
}