@import "~scss/_mixins";

$themePath: '~img/theme/dark';

html.themeDark {
	/* Text */

	--color-text-primary: #e1e1e1;
	--color-text-secondary: #a3a3a3;
	--color-text-tertiary: #5c5c5c;
	--color-text-inversion: #171717;

	/* Shape */

	--color-shape-primary: #313131;
	--color-shape-secondary: #292929;
	--color-shape-tertiary: #232323;

	--color-shape-highlight-dark: rgba(255, 255, 255, 0.11);
	--color-shape-highlight-medium: rgba(255, 255, 255, 0.05);
	--color-shape-highlight-light: rgba(255, 255, 255, 0.03);
	--color-shape-highlight-light-solid: #1e1e1e;

	/* Control */

	--color-control-accent: #d4d4d4;
	--color-control-active: #737373;
	--color-control-inactive: #414141;
	--color-control-bg: #fff;

	/* Background */

	--color-bg-primary: #171717;
	--color-bg-primary-90: rgba(23, 23, 23, 0.9);
	--color-bg-secondary: #191919;
	--color-bg-loader: rgba(0,0,0,0.7);
	--color-bg-grey: #232323;

	/* Color */

	--color-very-light-yellow: #332f07;
	--color-light-yellow: #6c630f;
	--color-dark-yellow: #fff085;

	--color-very-light-orange: #481e04;
	--color-light-orange: #7b3306;
	--color-dark-orange: #ffb330;

	--color-very-light-red: #ffede9;
	--color-light-red: #82181a;
	--color-dark-red: #82181a;

	--color-very-light-pink: #510427;
	--color-light-pink: #861043;
	--color-dark-pink: #fda5d5;

	--color-very-light-purple: #340557;
	--color-light-purple: #59168b;
	--color-dark-purple: #dab2ff;

	--color-very-light-blue: #15205c;
	--color-light-blue: #22307e;
	--color-dark-blue: #8f9def;

	--color-very-light-ice: #052f4a;
	--color-light-ice: #024a70;
	--color-dark-ice: #74d4ff;

	--color-very-light-teal: #022f2e;
	--color-light-teal: #0b4f4a;
	--color-dark-teal: #96f7e4;

	--color-very-light-lime: #192e03;
	--color-light-lime: #35530e;
	--color-dark-lime: #d8f999;

	--color-very-light-grey: #292929;
	--color-light-grey: #414141;
	--color-dark-grey: #a3a3a3;

	/* Tag */

	--color-tag-grey: var(--color-text-secondary);

	/* System */

	--color-system-accent-125: #105aef;
	--color-system-accent-50: #224c9e;
	--color-system-accent-25: #18346e;
	--color-system-selection: rgba(55, 122, 255, 0.25);

	/* Icon */

	--color-icon: #a09f92;
	--color-icon-hover: #e1e1e1;

	/* Common */

	@mixin shadow { box-shadow: 0px 4px 16px rgb(0 0 0 / 20%), 0px 0px 0px 1px #393933 inset; }

	body { color-scheme: dark; }

	.cover.type2.black { background-color: #000 !important; }

	.brokenMedia {
		img:before { background: var(--color-bg-secondary); }
	}

	.icon.widget-star { background-image: url('#{$themePath}/icon/widget/system/star.svg'); }
	.icon.widget-pin { background-image: url('#{$themePath}/icon/widget/system/pin.svg'); }
	.icon.widget-chat0 { background-image: url('#{$themePath}/icon/widget/system/chat0.svg'); }
	.icon.widget-chat1 { background-image: url('#{$themePath}/icon/widget/system/chat1.svg'); }
	.icon.widget-pencil { background-image: url('#{$themePath}/icon/widget/system/pencil.svg'); }
	.icon.widget-eye { background-image: url('#{$themePath}/icon/widget/system/eye.svg'); }
	.icon.widget-bin { background-image: url('#{$themePath}/icon/widget/system/bin.svg'); }
	.icon.widget-all { background-image: url('#{$themePath}/icon/widget/system/all.svg'); }

	.objectManagerWrapper {
		.icon.checkbox { background-image: url('#{$themePath}/icon/menu/checkbox0.svg') !important; }
		.icon.checkbox.active { background-image: url('#{$themePath}/icon/menu/checkbox1.svg') !important; }
		.icon.remove { background-image: url('#{$themePath}/icon/menu/action/remove0.svg'); }
		.icon.search { background-image: url('#{$themePath}/icon/menu/action/search0.svg'); }
	}

	.utilOptionSelect {
		.icon.checkbox { background-image: url('#{$themePath}/icon/menu/checkbox0.svg'); }
		.icon.checkbox.active { background-image: url('#{$themePath}/icon/menu/checkbox1.svg'); }
	}

	#root-loader {
		.logo { background-image: url('~img/logo/white.svg'); }
	}

	.toast { background: var(--color-shape-tertiary); color: var(--color-text-primary); }
	.toast {
		.inner {
			.buttons {
				.button { color: var(--color-text-primary); }
			}
		}
	}

	markuphighlight { background: #044062 !important; }

	.onboardingDimmer { background-color: rgba(0, 0, 0, 0.30); opacity: 0.6; }

	/* Components */

	.loaderWrapper {
		.dot { animation-name: dots-dark; }
	}



	.switch { background: var(--color-shape-secondary); }
	.switch {
		.inner { background-color: #fff; }
	}

	/* Button */

	.button.black { background: var(--color-control-accent); color: var(--color-text-inversion); }
	.button.black:not(.disabled):hover,
	.button.black:not(.disabled).hover { background: var(--color-control-active); }
	.button.black {
		.arrow { background-image: url('~img/arrow/button/black.svg'); }
	}
	.button.black.disabled { color: var(--color-text-primary); background: var(--color-shape-tertiary); }

	.button.blank { color: var(--color-text-primary); border-color: var(--color-shape-primary); }
	.button.blank:not(.disabled):hover,
	.button.blank:not(.disabled).hover { border-color: var(--color-shape-primary); background: var(--color-shape-highlight-medium); }

	.filter.outlined {
		.icon.clear { background-image: url('#{$themePath}/icon/filter/clear0.svg') !important; }
		.icon.clear:hover { background-image: url('#{$themePath}/icon/filter/clear1.svg') !important; }
	}

	.textarea { background: none; }
	.textareaWrap { background-color: var(--color-bg-secondary); }

	.select:not(.round) {
		.icon.arrow { background-image: url('#{$themePath}/arrow/select/dark.svg') !important; }
	}

	.inputWithFile { border-color: transparent; background-color: var(--color-shape-highlight-medium); }
	.input-drag-vertical { background-color: var(--color-bg-secondary); }

	.input-drag-horizontal {
		.fill { background: var(--color-text-primary); }
		.icon { border-color: var(--color-text-secondary); }
	}

	.dragWrap {
		.number { color: var(--color-text-primary); }
	}

	.listObjectPreview {
		.icon.arrow { background-image: url('#{$themePath}/arrow/template0.svg'); }
		.icon.arrow:hover { background-image: url('#{$themePath}/arrow/template1.svg'); }
		.icon.arrow.disabled:hover { background-image: url('#{$themePath}/arrow/template0.svg'); }
	}

	/* PreviewObject */

	.previewObject {
		.icon.logo { background-image: url('#{$themePath}/icon/type/logo.svg'); }
		.heading {
			.iconObject.isTask, .iconObject.isBookmark { background-color: unset; }
		}

		.blocks {
			.element {
				.inner {
					.icon.hl { background-image: url('#{$themePath}/icon/object/preview/hl.svg'); }
				}
			}
		}
	}

	/* Preview */

	.previewWrapper {
		.content { background: var(--color-bg-secondary); }
	}

	.previewGraph { background: var(--color-bg-secondary); @include shadow; }

	/* Pager */

	.pager {
		.icon.arrow { background-image: url('#{$themePath}/arrow/pager0.svg'); }
		.icon.arrow:hover { background-image: url('#{$themePath}/arrow/pager1.svg'); }
		.icon.arrow.disabled:hover { background-image: url('#{$themePath}/arrow/pager0.svg'); }

		.icon.arrow.end { background-image: url('#{$themePath}/arrow/pagerEnd0.svg'); }
		.icon.arrow.end:hover { background-image: url('#{$themePath}/arrow/pagerEnd1.svg'); }
		.icon.arrow.end.disabled:hover { background-image: url('#{$themePath}/arrow/pagerEnd0.svg'); }
	}

	/* Progress */

	.sidebarProgress {
		background: var(--color-bg-secondary); box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
	}
	.sidebarProgress {
		.head {
			.icon.arrow { background-image: url('#{$themePath}/arrow/sidebarProgress.svg'); }
		}
	}

	.tooltip { color: var(--color-text-primary); }
	.tooltip.big { background: var(--color-bg-secondary); border: 1px solid rgba(229, 229, 229, 0.1); }

	/* Icon */

	.icon.settings-personal { background-image: url('#{$themePath}/icon/settings/personal.svg'); }
	.icon.settings-storage { background-image: url('#{$themePath}/icon/settings/storage.svg'); }
	.icon.settings-phrase { background-image: url('#{$themePath}/icon/settings/phrase.svg'); }
	.icon.settings-pin { background-image: url('#{$themePath}/icon/settings/pin.svg'); }
	.icon.settings-spaces { background-image: url('#{$themePath}/icon/settings/spaces.svg'); }
	.icon.settings-membership { background-image: url('#{$themePath}/icon/settings/membership.svg'); }
	.icon.settings-language { background-image: url('#{$themePath}/icon/settings/language.svg'); }
	.icon.settings-api { background-image: url('#{$themePath}/icon/settings/api.svg'); }
	.icon.settings-sites { background-image: url('#{$themePath}/icon/settings/sites.svg'); }
	.icon.settings-space { background-image: url('#{$themePath}/icon/settings/overview.svg'); }
	.icon.settings-members { background-image: url('#{$themePath}/icon/settings/members.svg'); }
	.icon.settings-import { background-image: url('#{$themePath}/icon/settings/import.svg'); }
	.icon.settings-export { background-image: url('#{$themePath}/icon/settings/export.svg'); }
	.icon.settings-type { background-image: url('#{$themePath}/icon/settings/type.svg'); }
	.icon.settings-relation { background-image: url('#{$themePath}/icon/settings/relation.svg'); }
	.icon.settings-bin { background-image: url('#{$themePath}/icon/settings/bin.svg'); }
	.icon.settings-notifications { background-image: url('#{$themePath}/icon/settings/pushOn.svg'); }

	.icon.settings-ux1 { background-image: url('#{$themePath}/icon/settings/space/space.svg'); }
	.icon.settings-ux3 { background-image: url('#{$themePath}/icon/settings/space/chat.svg'); }

	/* Editor */

	.editorWrapper {
		.editor {
			.icon.buttonAdd { background-image: url('#{$themePath}/icon/block/add0.svg'); }
			.icon.buttonAdd:hover { background-image: url('#{$themePath}/icon/block/add1.svg'); }
		}

		.dragWrap {
			.number { color: var(--color-text-primary); }
			.input-drag-horizontal {
				.back { background: rgba(255,255,255,0.5); }
				.fill { background: var(--color-text-primary); }
				.icon { border-color: var(--color-text-primary); }
			}
		}
	}

	/* Header */

	.header.authIndex {
		.logo { background: url('#{$themePath}/icon/header/logo.svg'); }
	}

	.header.isCommon {
		.path { border: 0px; line-height: 28px; }
		.headerBanner.withMenu:after { background-image: url('~img/arrow/button/white.svg'); }
	}

	/* Sidebar */

	.sidebar {
		.icon.back { background-image: url('#{$themePath}/icon/widget/back0.svg'); }
		.icon.back:hover { background-image: url('#{$themePath}/icon/widget/back1.svg'); }

		.sidebarPage {
			> .subHead {
				.icon.back:hover { background-image: url('#{$themePath}/icon/widget/back1.svg'); }
				.icon.create { background-image: url('#{$themePath}/icon/widget/button/create.svg'); }
				.icon.arrow { background-image: url('#{$themePath}/icon/widget/button/arrow.svg'); }

				.cnt { color: var(--color-text-primary); }
			}

			> .bottom {
				.widgetSettings:not(.isEditing):hover {
					.icon { background-image: url('#{$themePath}/icon/widget/button/widgetSettings1.svg'); }
				}
			}
		}
		
		.containerSettings {
			> .body {
				.list {
					> .head {
						.icon.back { background-image: url('#{$themePath}/icon/widget/back0.svg'); }
						.icon.more { background-image: url('#{$themePath}/icon/menu/action/more0.svg'); }

						.icon.back:hover { background-image: url('#{$themePath}/icon/widget/back1.svg'); }
						.icon.more:hover { background-image: url('#{$themePath}/icon/menu/action/more1.svg'); }
					}
					.toggle {
						.icon.arrow { background-image: url('#{$themePath}/arrow/select/dark.svg'); }
					}
				}

				.logout {
					.icon { background-image: url('#{$themePath}/icon/popup/settings/logout.svg'); }
				}
			}
		}

		.sidebarPage.pageWidget {
			> .bottom {
				.icon.settings:hover { background-image: url('#{$themePath}/icon/widget/button/widgetSettings1.svg'); }
			}

			.widgetSection {
				> .nameWrap {
					.name {
						&:hover {
							.icon.arrow { background-image: url('#{$themePath}/arrow/widgetSection1.svg'); }
						}
					}

					.buttons {
						.button.blank {
							&:hover {
								.icon.plus { background-image: url('#{$themePath}/icon/plus/widgetSection1.svg'); }
							}
						}		
						
						.icon.more {
							&:hover, &.hover { background-image: url('#{$themePath}/icon/widget/sectionMore1.svg'); }
						}
					}
				}
			}
		}

		.sidebarPage.pageVault {
			.item {
				.cnt { color: var(--color-text-primary); }
			}
		}
	}

	/* Notifications */

	.notifications {
		.head {
			.icon { border-color: var(--color-bg-secondary); }
		}

		.notification {	background: var(--color-bg-secondary); @include shadow; border: 0px; }

		.notification {
			.icon.delete { background-color: var(--color-bg-secondary); }
		}
	}

	.banner { border: 1px solid var(--color-shape-highlight-dark); }

	/* Share Tooltip */
	.shareTooltip { background: var(--color-bg-secondary); @include shadow; }
	.shareTooltip {
		.icon.close { background-color: var(--color-bg-secondary); }
	}

	.emptyState {
		.icon { background-image: url('#{$themePath}/icon/chat/emptyState.svg'); }
	}

	/* Key Phrase */

	/* CalendarSelect */
	.calendarSelect {
		.head {
			.side.right {
				.icon.arrow { background-image: url('#{$themePath}/arrow/calendarNav.svg'); }
			}
		}
	}

	/* Comment checkboxes */
	.commentSection {
		.commentEditor-li-unchecked::before { background-image: url('#{$themePath}/icon/marker/checkbox1.svg'); }
		.commentCheckbox .checkboxMark { background-image: url('#{$themePath}/icon/marker/checkbox1.svg'); }
	}

	@import "./menu";
	@import "./popup";
	@import "./page";
	@import "./block";
	@import "./widget";
}
