@import "~scss/_vars";
@import "~scss/theme/dark/_vars";

.menus {

    /* Common */

    .menu { background: $colorBgLight; }

    .menu {
        .icon.text { background-image: url('~img/theme/dark/icon/menu/action/block/text0.svg'); }
		.icon.list { background-image: url('~img/theme/dark/icon/menu/action/block/list0.svg'); }
		
		.icon.header1 { background-image: url('~img/theme/dark/icon/menu/action/block/header10.svg'); }
		.icon.header2 { background-image: url('~img/theme/dark/icon/menu/action/block/header20.svg'); }
		.icon.header3 { background-image: url('~img/theme/dark/icon/menu/action/block/header30.svg'); }
		.icon.quote { background-image: url('~img/theme/dark/icon/menu/action/block/quote0.svg'); }
		
		.icon.numbered { background-image: url('~img/theme/dark/icon/menu/action/block/numbered0.svg'); }
		.icon.toggle { background-image: url('~img/theme/dark/icon/menu/action/block/toggle0.svg'); }
    }

    .menu.vertical {
        .tabs { border-color: $colorLineSecondary; }
        .tabs {
            .tab:hover, .tab.active { color: $colorPrimary; }
        }

        .line { background: $colorLineSecondary; }
        .section::after { background: $colorLineSecondary; }

        .item { background: $colorBgLight; }
        .item.hover::before { background: $colorHover; }
        .item {
            .icon.delete:hover, .icon.more:hover { background-color: $colorHover; }
            .icon.arrow { background-image: url('~img/theme/dark/arrow/menu.svg'); }
			.icon.chk { background-image: url('~img/theme/dark/icon/menu/checkbox.svg'); }
        }

        .loaderWrapper { background: $colorBgLight; }
    }

    .menu.menuBlockAdd {
        .item.isBig {
            .iconObject { background: $colorBgIcon; }

            .icon.text { background-image: url('~img/theme/dark/icon/menu/action/block/text1.svg'); }
            .icon.list { background-image: url('~img/theme/dark/icon/menu/action/block/list1.svg'); }
            
            .icon.header1 { background-image: url('~img/theme/dark/icon/menu/action/block/header11.svg'); }
            .icon.header2 { background-image: url('~img/theme/dark/icon/menu/action/block/header21.svg'); }
            .icon.header3 { background-image: url('~img/theme/dark/icon/menu/action/block/header31.svg'); }
            .icon.quote { background-image: url('~img/theme/dark/icon/menu/action/block/quote1.svg'); }
            
            .icon.numbered { background-image: url('~img/theme/dark/icon/menu/action/block/numbered1.svg'); }
            .icon.toggle { background-image: url('~img/theme/dark/icon/menu/action/block/toggle1.svg'); }
        }

        .sectionName::before { background-color: $colorLineSecondary; }
    }

    .menu.menuSmile {
        .head { border-color: $colorLineSecondary; color: $colorSecondary; }
        .head {
            .btn:hover, .btn.active { color: $colorPrimary; }
        }
    }

    .menu.menuBlockCover {
        .head { border-color: $colorLineSecondary; color: $colorSecondary; }
        .head {
            .btn:hover, .btn.active { color: $colorPrimary; }
        }
    }

    .menu.menuBlockRelationView {
        .section > .name { color: $colorPrimary; }

        .info.canEdit:hover { background: $colorHover; }
        .cell.canEdit:hover { background: $colorHover; }
        .item.add:hover { 
            .info { background: $colorHover; } 
        }
    }

    .menu.menuBlockRelationEdit {
        .input { border-color: $colorLinePrimary; }
    }

    .menu.menuDataviewText {
        #input { background: $colorBlack; }
    }

    .menu.menuDataviewRelationList {
        .item:hover::before { background: $colorHover; }
    }

    .menu.menuDataviewFilterList {
        .item.add:hover::before { background: $colorHover; }
    }

    .menu.menuDataviewSort {
        .item.add:hover::before { background: $colorHover; }
    }

    .menu.menuSearchObject.big {
        .item {
            .iconObject { background: $colorBgIcon; }
        }
    }

    .menu.menuThreadList {
        .item:hover::before { background: $colorHover; }
    }

    .menu.menuBlockMore {
        .item:hover::before { background: $colorHover; }
    }

    .menu.menuHelp {
        .item:hover::before { background: $colorHover; }
    }

	.menu.menuButton {
		.item { color: $colorSecondary; }
		.item:hover { color: $colorPrimary; }
	}

    .menu.menuDataviewCalendar {
        .select {
			.icon.arrow { background-image: url('~img/theme/dark/arrow/select/big.svg'); }
		}
    }
}