@import "~scss/_vars";
@import "~scss/theme/dark/_vars";

.popups {
    /* Common */

    .popup {
        .innerWrap { background: $colorBlack; border: 0.5px solid #4C4B43; }

        #loader { background: $colorBlack; }
    }

    /* PopupSearch */

    .popup.popupSearch {
        .emptySearch {
            .label { color: $colorSecondary; }
            b { color: $colorPrimary; }
        }

        .head { background: $colorBlack; }

        .item {
            .descr { color: $colorSecondary; }
        }
        .item.active { background-color: $colorHover; }
    }

    /* PopupSettings */

    .popup.popupSettings {
        .head { background: $colorBlack; }
        .head {
            .element { color: $colorSecondary; }
            .element {
                .icon.back { background-image: url('#{$themePath}/icon/popup/settings/back0.svg'); } 
            }

            .element:hover { color: $colorPrimary; }
            .element:hover {
				.icon.back { background-image: url('#{$themePath}/icon/popup/settings/back1.svg'); } 
			}
        }

        .tabIndex {
            .logout:hover { color: $colorOrange; }
        }

        .tabIndex .row, 
		.tabOther .row,
		.tabAccount .row,
		.tabAppearance .row { border-color: $colorLineSecondary; }
        
        .tabWallpaper .item.active { border-color: $colorLinePrimary; }
        .tabWallpaper .item .cover.upload { background-color: $colorBlack !important; border-color: $colorLinePrimary; }

        .tabPinIndex, .tabPinSelect, .tabPinConfirm {
            .button.blank { border-color: $colorLineSecondary; }
            .button.blank:hover { color: $colorPrimary; }

            .input { border-color: $colorLinePrimary; }
        }

        .tabPhrase {
            .qrWrap { background: $colorMediumGrey; }
        }

        .tabImportIndex {
            .item { border-color: $colorLineSecondary; }
            .item:hover, .item.active { border-color: $colorLinePrimary; }
            .item.notion .icon { background-image: url('#{$themePath}/icon/popup/settings/import/notion.svg'); }
            .item.roam .icon { background-image: url('#{$themePath}/icon/popup/settings/import/roam.svg'); }
        }
    }
    
    /* PopupShortcuts */

    .popup.popupShortcut {
        .head {
            .tabs { color: $colorSecondary; }
            .tabs {
                .item:hover, .item.active { color: $colorPrimary; }
            }
        }

        .body {
            .section {
                .name { border-color: $colorLineSecondary; }
                .items {
                    .item { border-color: $colorLineSecondary; }
                    .item {
                        .key { color: $colorSecondary; }
                    }
                }
            }
            .section > .descr { border-color: $colorLineSecondary; }
        }
    }

    /* PopupHelp */

    .popup.popupHelp {
		.head { color: $colorSecondary; }
		.head {
			.icon.telegram { background-image: url('#{$themePath}/icon/telegram0.svg'); }
			.icon.telegram:hover { background-image: url('#{$themePath}/icon/telegram1.svg'); }

			.icon.twitter { background-image: url('#{$themePath}/icon/twitter0.svg'); }
			.icon.twitter:hover { background-image: url('#{$themePath}/icon/twitter1.svg'); }
		}

        .highlight { color: $colorOrange; background: $colorHover; }
	}

    /* PopupPrompt */

    .popup.popupPrompt {
        .input { background: $colorBlack; border-color: $colorLinePrimary; }
    }

    /* PopupExport */

    .popup.popupExport {
        .row { border-color: $colorLinePrimary; }
    }
}