.widget {
	.icon.back { background-image: url('#{$themePath}/icon/widget/back.svg'); }
	.icon.collapse { background-image: url('#{$themePath}/icon/widget/collapse.svg'); }
	.icon.options { background-image: url('#{$themePath}/icon/widget/options.svg'); }

	.icon.remove .inner { background-color: var(--color-shape-secondary); }
	.icon.remove:hover .inner { background-color: var(--color-text-tertiary); }
}

.widget.widgetTree {
	.icon.set { background-image: url('#{$themePath}/icon/sidebar/set.svg'); }
	.icon.collection { background-image: url('#{$themePath}/icon/sidebar/collection.svg'); }
	.icon.blank { background-image: url('#{$themePath}/icon/sidebar/blank.svg'); }
	.icon.arrow { background-image: url('~img/arrow/select/light.svg'); }
}

.widget.widgetList, .widget.widgetCompact {
	#viewSelect {
		.select {
			.icon.arrow { background-image: url('#{$themePath}/arrow/widget.svg') !important; }
		}
	}

	.body {
		.item {
			.iconObject.isTask, .iconObject.isBookmark { background: none; }
		}
	}
}

.button.widget {
	.icon.store { background-image: url('#{$themePath}/icon/sidebar/store.svg'); }
	.icon.bin { background-image: url('#{$themePath}/icon/sidebar/bin.svg'); }
}