.widget.widgetObject {
	.item {
		.buttons {
		}
	}

	.empty { color: var(--color-text-secondary); padding: 3px 8px; }
}

.widget.widgetView {
	.viewList, .viewGrid {
		.body {
			.item {
				.iconObject.isTask, .iconObject.isBookmark { background: none; }
			}
		}
	}

	.viewGallery {
		.arrowWrap { background-color: var(--color-control-accent); }
	}
}
