@import "~scss/_mixins";

.menus {
	.menu.menuButton { white-space: nowrap; height: 44px; line-height: 44px; padding: 0px 14px; }
	.menu.menuButton {
		.item { display: inline-block; @include text-common; margin-right: 16px; color: var(--color-control-active); transition: $transitionAllCommon; }
		.item:hover { color: var(--color-text-primary); }
		.item:last-child { margin: 0px; }
	}	
}