@import "~scss/_mixins";

.menus {
	.menu.menuHelp { width: var(--menu-width-icon); position: fixed; }
	.menu.menuHelp {
		.shareTooltip { width: 100%; display: flex; position: absolute; left: auto; right: 0; top: 100%; margin-top: 8px; }
		.shareTooltip {
			.icon.close { display: none; }
		}
	}
}
