@import "~scss/_mixins";

.menus {
	.menu {
		/* ---- Comment slash menu icons ---- */
		.icon.commonSortArrow.c1 { transform: rotate(180deg); }

		.icon.color { z-index: 1; }
		.icon.color {
			.inner { 
				width: 16px; height: 16px; position: absolute; left: 50%; top: 50%; margin: -8px 0px 0px -8px; border-radius: 100%;
				background: var(--color-text-primary); 
			}
			.inner {
				&.bgColor-default { box-shadow: 0px 0px 0px 1px var(--color-shape-secondary) inset; background: var(--color-bg-primary); }
				&.bgColor-default::before {
					content: ''; @include pos-abs-mid; width: 7px; height: 7px; transform: translate3d(-50%, -50%, 0);
				}
				&.textColor { background-color: currentColor; }
			}
		}
	}
}
