@import "~scss/_mixins";

.menus {
	.menu {
		.icon.existingObject { background-image: url('~img/arrow/existing.svg'); }

		.icon.linkStyle0 { background-image: url('~img/icon/menu/linkSettings/style0.svg'); }
		.icon.linkStyle1 { background-image: url('~img/icon/menu/linkSettings/style1.svg'); }
		.icon.linkStyle2 { background-image: url('~img/icon/menu/linkSettings/style2.svg'); }

		.icon.relation-filter { background-image: url('~img/icon/menu/relation/filter.svg'); }
		.icon.relation-sort0 { background-image: url('~img/icon/menu/relation/sort.svg'); }
		.icon.relation-sort1 { background-image: url('~img/icon/menu/relation/sort.svg'); transform: rotateZ(180deg); }
		.icon.relation-hide { background-image: url('~img/icon/menu/relation/hide.svg'); }
		.icon.relation-insert-left { background-image: url('~img/icon/menu/relation/insert.svg'); }
		.icon.relation-insert-right { background-image: url('~img/icon/menu/relation/insert.svg'); transform: rotateZ(180deg); }

		.icon.table-move-left { background-image: url('~img/icon/menu/table/move-h.svg'); }
		.icon.table-move-right { background-image: url('~img/icon/menu/table/move-h.svg'); transform: rotateZ(180deg); }
		.icon.table-move-top { background-image: url('~img/icon/menu/table/move-v.svg'); }
		.icon.table-move-bottom { background-image: url('~img/icon/menu/table/move-v.svg'); transform: rotateZ(180deg); }

		.icon.table-header-row { background-image: url('~img/icon/menu/table/header-row.svg'); }
		.icon.table-insert-left { background-image: url('~img/icon/menu/table/insert-h.svg'); }
		.icon.table-insert-right { background-image: url('~img/icon/menu/table/insert-h.svg'); transform: rotateZ(180deg); }
		.icon.table-insert-top { background-image: url('~img/icon/menu/table/insert-v.svg'); }
		.icon.table-insert-bottom { background-image: url('~img/icon/menu/table/insert-v.svg'); transform: rotateZ(180deg); }

		.icon.checkbox { background-size: 18px; }
		.icon.checkbox.c0 { background-image: url('~img/icon/menu/checkbox0.svg'); }
		.icon.checkbox.c1 { background-image: url('~img/icon/menu/checkbox1.svg'); }

		.icon.help-bell { background-image: url('~img/icon/menu/help/bell.svg'); }
		.icon.help-keyboard { background-image: url('~img/icon/menu/help/keyboard.svg'); }
		.icon.help-share { background-image: url('~img/icon/menu/help/share.svg'); }
		.icon.help-community { background-image: url('~img/icon/menu/help/community.svg'); }
		.icon.help-tutorial { background-image: url('~img/icon/menu/help/tutorial.svg'); }
		.icon.help-contact { background-image: url('~img/icon/menu/help/contact.svg'); }
		.icon.help-developer { background-image: url('~img/icon/menu/help/developer.svg'); }
		.icon.help-more { background-image: url('~img/icon/menu/help/more.svg'); }

		.icon.chat-reaction { background-image: url('~img/icon/chat/buttons/reaction0.svg'); }
		.icon.chat-reply { background-image: url('~img/icon/chat/buttons/reply0.svg'); }
		.icon.chat-copy { background-image: url('~img/icon/chat/buttons/copy0.svg'); }
		.icon.chat-link { background-image: url('~img/icon/chat/buttons/link0.svg'); }
		.icon.chat-pencil { background-image: url('~img/icon/chat/buttons/pencil0.svg'); }

		.icon.widget-0 { background-image: url('~img/icon/menu/widget/link.svg'); }
		.icon.widget-1 { background-image: url('~img/icon/menu/widget/tree.svg'); }
		.icon.widget-2 { background-image: url('~img/icon/menu/widget/list.svg'); }
		.icon.widget-3 { background-image: url('~img/icon/menu/widget/compact.svg'); }
		.icon.widget-4 { background-image: url('~img/icon/menu/widget/view.svg'); }


		/* ---- Comment slash menu icons ---- */
		.icon.comment-header1 { background-image: url('~img/icon/comment/menu/header1.svg'); }
		.icon.comment-header2 { background-image: url('~img/icon/comment/menu/header2.svg'); }
		.icon.comment-header3 { background-image: url('~img/icon/comment/menu/header3.svg'); }
		.icon.comment-numbered { background-image: url('~img/icon/comment/menu/numbered.svg'); }
		.icon.comment-bulleted { background-image: url('~img/icon/comment/menu/bulleted.svg'); }
		.icon.comment-checkbox { background-image: url('~img/icon/comment/menu/checkbox.svg'); }
		.icon.comment-createObject { background-image: url('~img/icon/comment/menu/createObject.svg'); }
		.icon.comment-plus { background-image: url('~img/icon/comment/menu/plus.svg'); }
		.icon.comment-uploadComputer { background-image: url('~img/icon/comment/menu/uploadComputer.svg'); }
		.icon.comment-embed { background-image: url('~img/icon/comment/menu/embed.svg'); }
		.icon.comment-quote { background-image: url('~img/icon/comment/menu/quote.svg'); }
		.icon.comment-divider { background-image: url('~img/icon/comment/menu/divider.svg'); }
		.icon.comment-code { background-image: url('~img/icon/comment/menu/code.svg'); }

		.icon.color { z-index: 1; }
		.icon.color {
			.inner { 
				width: 16px; height: 16px; position: absolute; left: 50%; top: 50%; margin: -8px 0px 0px -8px; border-radius: 100%;
				background: var(--color-text-primary); 
			}
			.inner {
				&.bgColor-default { box-shadow: 0px 0px 0px 1px var(--color-shape-secondary) inset; background: var(--color-bg-primary); }
				&.bgColor-default::before {
					content: ''; @include pos-abs-mid; width: 7px; height: 7px; transform: translate3d(-50%, -50%, 0);
					background: url('~img/icon/menu/colorNone.svg');
				}
				&.textColor { background-color: currentColor; }
			}
		}
	}
}
