@import "~scss/_vars";

.menus {
	.menu.menuOnboarding { width: 288px; }
	.menu.menuOnboarding {
		.content { padding: 12px 16px; }
		.wrap { display: flex; flex-direction: column; }

		.name { @include text-paragraph; font-weight: 600; margin-bottom: 6px; width: calc(100% - 30px); }

		.icon.close { 
			width: 24px; height: 24px; background-size: 10px; position: absolute; right: 10px; top: 12px; background-image: url('~img/icon/menu/onboarding/close0.svg'); 
			cursor: pointer;
		}
		.icon.close:hover { background-image: url('~img/icon/menu/onboarding/close1.svg'); }
		
		.bottom { display: flex; flex-direction: row; align-items: stretch; margin-top: 10px; }
		.bottom {
			.icon.arrow { 
				width: 18px; height: 18px; flex-shrink: 0; background-image: url('~img/arrow/onboarding0.svg'); 
				cursor: pointer; background-size: 6px 12px; background-position: left center;
			}
			.icon.arrow:hover { background-image: url('~img/arrow/onboarding1.svg'); }
			.icon.arrow.disabled { opacity: 0; }
			.icon.arrow.disabled:hover { background-image: url('~img/arrow/onboarding0.svg'); }

			.icon.arrow.right { transform: rotateZ(180deg); }
			
			.number { @include text-small; flex-grow: 1; text-align: center; color: $colorMediumGrey;  }
		}
	}
}