@import "~scss/_mixins";

.menus {
	.menu.menuParticipant { width: 312px; border-radius: 20px; }
	.menu.menuParticipant {
		.content { display: flex; flex-direction: column; align-items: center; padding: 24px; }
		.iconObject { margin: 0px 0px 12px 0px; }
		.name { @include text-header2; }

		.label { color: var(--color-text-secondary); @include text-overflow-nw; @include text-small; max-width: 100%; margin: 4px 0px 0px 0px; }
		.label:empty { display: none; }

		.descr { @include clamp4; margin: 4px 0px 0px 0px; }
		.descr:empty { display: none; }
	}
}