@import "~scss/_mixins";

.menus {
	.menu.menuParticipant { width: 360px; border-radius: 20px; }
	.menu.menuParticipant {
		.content { display: flex; flex-direction: column; align-items: center; padding: 0px 24px 24px 24px; gap: 4px 0px; }

		.head { padding: 16px 0px 12px 0px; }
		.head {
			.label { 
				color: var(--color-text-secondary); @include text-overflow-nw; @include text-small; max-width: 100%; font-weight: 500;
			}
		}

		.nameWrapper { display: flex; justify-content: center; align-items: center; }
		.name { @include text-header2; display: flex; gap: 0px 6px; align-items: center; }

		.descr { @include clamp4; color: var(--color-text-secondary); margin: 0px 0px 4px 0px; text-align: center; }
		.descr:empty { display: none; }

		.buttonsWrapper { margin: 12px 0px 0px 0px; display: flex; flex-direction: column; width: 100%; }
	}
}
