@import "~scss/_mixins";

.menus {
	.menu.menuParticipant { width: 360px; border-radius: 20px; }
	.menu.menuParticipant {
		.content { display: flex; flex-direction: column; align-items: center; padding: 0px 24px 24px 24px; gap: 4px 0px; }

		.iconWrapper { position: relative; width: 128px; height: 128px; }
		.iconWrapper {
			.loaderWrapper {
				position: absolute; left: 0px; top: 0px; width: 128px; height: 128px; border-radius: 100%;
				background: var(--color-shape-tertiary);
			}
			.iconObject { position: relative; z-index: 1; }

			&.isLoaded {
				.loaderWrapper { display: none; }
			}
		}

		.head { padding: 16px 0px 12px 0px; overflow: hidden; width: 100%; }
		.head {
			.label { 
				color: var(--color-text-secondary); @include text-overflow-nw; @include text-small; max-width: 100%; font-weight: 500;
				text-align: center;
			}
		}

		.nameWrapper { display: flex; justify-content: center; align-items: center; width: 100%; }
		.name { @include text-header2; @include text-overflow-nw; }

		.descr { @include clamp4; color: var(--color-text-secondary); margin: 0px 0px 4px 0px; text-align: center; }
		.descr:empty { display: none; }

		.buttonsWrapper { margin: 12px 0px 0px 0px; display: flex; flex-direction: column; width: 100%; }
	}
}
