@import "~scss/_mixins";

.menus {
	.menu.menuRelationSuggest { width: var(--menu-width-icon); }
	.menu.menuRelationSuggest {
		.content { max-height: unset; overflow: hidden; padding: 0px; transition: none; }
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.filter { padding-top: 12px; }
		.items { height: 100%; }

		.item {
			.name { @include text-overflow-nw; width: calc(100% - 26px); }
		}
		.label { color: var(--color-control-active); @include text-common; padding: 0px 16px; }
	}
}
