@import "~scss/_vars";

.menus {
	.menu.menuSelect {
		.content { transition: none; padding: 0px; overflow: hidden; }
		.items { height: 100%; }
		.item.empty { margin-top: 8px; }

		.item { display: flex; align-items: center; }
		.item {
			.icon { flex-shrink: 0; }
			.name { width: 100%; @include text-overflow-nw; }
		}

		.item.isInitial { padding: 2px 16px; line-height: 18px; margin-bottom: 2px; }
		.item.isInitial {
			.name { text-transform: uppercase; @include text-very-small; }
		}
	}

	.menu.menuSelect.withFilter {
		.content { padding: 8px 0px 0px 0px; }
		.items { height: calc(100% - 34px); }
	}
	
	.menu.menuSelect.skip { width: 320px; }
	.menu.menuSelect.skip {
		.name { margin: 0px; width: calc(100% - 24px); @include text-overflow-nw; }
	}

	.menu.menuSelect.button {
		.item { white-space: nowrap; display: inline-block; margin-right: 16px; color: $colorMediumGrey; font-weight: 500; }
		.item:hover { color: $colorBlack; }
		.item:last-child { margin-right: 0px; }
	}

	.menu.menuSelect.center {
		.item { text-align: center; }
	}
}