@import "~scss/_vars";

.menus {
	.menu.menuSmile { width: 384px; user-select: none; }
	.menu.menuSmile {
		.content { overflow: visible; padding-bottom: 0px; }
		.ReactVirtualized__Grid__innerScrollContainer { margin: 0px; }

		.head { color: $colorMediumGrey; font-weight: 500; padding: 3px 16px 10px 16px; border-bottom: 1px solid $colorLightGrey; }
		.head {
			.btn { display: inline-block; vertical-align: top; margin-right: 16px; transition: $transitionFast; cursor: pointer; }
			.btn:last-child { margin-right: 0px; }
			.btn:hover { color: $colorBlack; }
		}
		
		.filter.withHead { padding-top: 8px; }
		.filter {
			.inner { height: 35px; }
		}
	
		.items { overflow: auto; height: 288px; }
		.empty { height: 100%; line-height: 256px; padding: 16px; text-align: center; }
		.empty {
			b { display: block; font-weight: 400; color: $colorBlack; }
			.txt { line-height: 24px; color: $colorMediumGrey; }
		}
		
		.section { padding: 11px 14px !important; border: 0px; }
		.section > .name { padding: 0px; margin: 0px; }
		
		.row { padding: 0px 12px; }
		
		.item { 
			cursor: pointer; width: 40px; height: 40px; position: relative; border-radius: 6px; display: inline-block;
			vertical-align: top; padding: 0px;
		}
		.item:hover, .item.active { background: $colorVeryLightGrey; }
		.item {
			.iconObject { position: absolute; left: 50%; top: 50%; margin: -16px 0px 0px -16px; width: 32px; height: 32px; line-height: 32px; }
			.iconEmoji .emoji-mart-emoji { vertical-align: top; }
			.iconEmoji .emoji-mart-emoji span { margin-top: 2px; }
		}
	}
	
	.menu.menuSmileSkin { padding: 4px 10px; white-space: nowrap; }
	.menu.menuSmileSkin {
		.item { display: inline-block; vertical-align: top; width: 40px; height: 40px; cursor: pointer; position: relative; border-radius: 6px; }
		.item {
			.iconObject { position: absolute; left: 50%; top: 50%; margin: -16px 0px 0px -16px; width: 32px; height: 32px; line-height: 32px; }
			.iconEmoji .emoji-mart-emoji span { margin-top: 2px; }
		}
		.item:hover, .item.active { background: $colorVeryLightGrey; }
		.item:last-child { margin: 0px; }
	}
}

html.platformWindows, html.platformLinux {
	.menus {
		.menu.menuSmile { width: 401px; }
	}
}