@import "~scss/_vars";

.menus {
	.menu.menuSmile { width: 384px; user-select: none; }
	.menu.menuSmile {
		.content { overflow: visible; padding-bottom: 0px; }
		.ReactVirtualized__Grid__innerScrollContainer { margin: 0px; }

		.head { color: $colorMediumGrey; font-weight: 500; padding: 3px 16px 10px 16px; border-bottom: 1px solid $colorLightGrey; }
		.head {
			.btn { display: inline-block; vertical-align: top; margin-right: 16px; transition: $transitionFast; cursor: pointer; }
			.btn:last-child { margin-right: 0px; }
			.btn:hover { color: $colorBlack; }
		}
		
		.filter.withHead { padding-top: 8px; }
		.filter {
			.inner { height: 35px; }
		}
	
		.items { overflow: overlay; height: 288px; }
		
		.section { padding: 11px 14px !important; border: 0px; }
		.section > .name { padding: 0px; margin: 0px; }
		
		.row { padding: 0px 12px; }
		
		.item { 
			cursor: pointer; width: 40px; height: 40px; position: relative; border-radius: 6px; display: inline-block;
			vertical-align: top; padding: 0px;
		}
		.item:hover, .item.active { background: $colorVeryLightGrey; }
		.item {
			.iconObject { position: absolute; left: 50%; top: 50%; margin: -16px 0px 0px -16px; width: 32px; height: 32px; line-height: 32px; }
			.iconEmoji .emoji-mart-emoji { vertical-align: top; }
			.iconEmoji .emoji-mart-emoji span { margin-top: 2px; }
		}

		.foot { padding: 5px 16px 6px 16px; border-top: 1px solid $colorLightGrey; display: flex; justify-content: space-between; }
		.foot {
			.icon { width: 32px; height: 32px; border-radius: 4px; background-size: 20px; flex-shrink: 0; cursor: pointer; transition: $transitionFast; }
			.icon:hover { background-color: $colorVeryLightGrey; }

			.icon.recent { background-image: url('~img/icon/emoji/recent0.svg'); }
			.icon.recent.active { background-image: url('~img/icon/emoji/recent1.svg'); }

			.icon.people { background-image: url('~img/icon/emoji/people0.svg'); }
			.icon.people.active { background-image: url('~img/icon/emoji/people1.svg'); }

			.icon.nature { background-image: url('~img/icon/emoji/nature0.svg'); }
			.icon.nature.active { background-image: url('~img/icon/emoji/nature1.svg'); }

			.icon.foods { background-image: url('~img/icon/emoji/foods0.svg'); }
			.icon.foods.active { background-image: url('~img/icon/emoji/foods1.svg'); }

			.icon.activity { background-image: url('~img/icon/emoji/activity0.svg'); }
			.icon.activity.active { background-image: url('~img/icon/emoji/activity1.svg'); }

			.icon.places { background-image: url('~img/icon/emoji/places0.svg'); }
			.icon.places.active { background-image: url('~img/icon/emoji/places1.svg'); }

			.icon.objects { background-image: url('~img/icon/emoji/objects0.svg'); }
			.icon.objects.active { background-image: url('~img/icon/emoji/objects1.svg'); }

			.icon.symbols { background-image: url('~img/icon/emoji/symbols0.svg'); }
			.icon.symbols.active { background-image: url('~img/icon/emoji/symbols1.svg'); }

			.icon.flags { background-image: url('~img/icon/emoji/flags0.svg'); }
			.icon.flags.active { background-image: url('~img/icon/emoji/flags1.svg'); }
		}
	}
	
	.menu.menuSmileSkin { padding: 4px 10px; white-space: nowrap; }
	.menu.menuSmileSkin {
		.item { display: inline-block; vertical-align: top; width: 40px; height: 40px; cursor: pointer; position: relative; border-radius: 6px; }
		.item {
			.iconObject { position: absolute; left: 50%; top: 50%; margin: -16px 0px 0px -16px; width: 32px; height: 32px; line-height: 32px; }
			.iconEmoji .emoji-mart-emoji span { margin-top: 2px; }
		}
		.item:hover, .item.active { background: $colorVeryLightGrey; }
		.item:last-child { margin: 0px; }
	}
}

html.platformWindows, html.platformLinux {
	.menus {
		.menu.menuSmile { width: 401px; }
	}
}