@import "~scss/_vars";

.menus {
	.menu.menuSpace { 
		border-radius: 16px; background: rgba(37, 37, 37, 0.4) !important; backdrop-filter: blur(12.5px); padding: 20px 16px 16px 16px;
		box-shadow: 0px 0px; min-width: 480px; color: var(--color-text-inversion);
	}

	.menu.menuSpace { 
		.wrap { width: 100%; }

		.head { 
			display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin: 0px 0px 12px 0px; 
			@include text-paragraph; font-weight: 600; gap: 0px 16px; padding: 0px 8px;
		}
		.head {
			.side.left { display: flex; flex-direction: row; align-items: center; gap: 0px 10px; width: calc(100% - 36px); }
			.side.left {
				.iconObject { flex-shrink: 0; }
				.name { @include text-overflow-nw; width: 100%; max-width: 300px; }
			}
			.side.right { width: 20px; flex-shrink: 0; }
			.icon.settings { background-image: url('~img/icon/menu/space/settings.svg'); }
		}

		.items { display: grid; }
		.items {
			.item { 
				width: 112px; border-radius: 8px; padding: 8px; transition: all 0.2s $easeInQuint; 
				display: flex; flex-direction: column; align-items: center; gap: 8px 0px;
			}
			.item {
				.iconWrap { 
					width: 96px; height: 96px; border-radius: 4px; overflow: hidden; background-position: center; background-repeat: no-repeat; 
					position: relative;
				}
				.icon.shared { 
					width: 10px; height: 10px; position: absolute; left: 6px; bottom: 6px; background-image: url('~img/icon/menu/space/shared.svg');
				}

				.name { @include text-overflow-nw; @include text-small; width: 100%; text-align: center; font-weight: 500; }
			}

			.item.add {
				.iconWrap {
					background-image: url('~img/icon/plus/space.svg'); background-size: 20px; box-shadow: 0px 0px 0px 1px var(--color-control-active) inset;
				}
			}

			.item.gallery {
				.iconWrap { background-image: url('~img/icon/menu/space/gallery.svg'); }
			}

			.item.hover { background: rgba(37, 37, 37, 0.15); }
		}
	}
}