@import "~scss/_vars";

.menus {
	.menu.menuSpace { 
		border-radius: 16px; background: rgba(37, 37, 37, 0.15) !important; backdrop-filter: blur(12.5px); padding: 24px 24px 16px 24px;
		box-shadow: 0px 0px; min-width: 368px;
	}

	.menu.menuSpace { 
		.wrap { width: 100%; }

		.head { 
			display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin: 0px 0px 24px 0px; 
			@include text-paragraph; font-weight: 600; gap: 0px 16px;
		}
		.head {
			.side.left { display: flex; flex-direction: row; align-items: center; gap: 0px 10px; width: calc(100% - 36px); }
			.side.left {
				.iconObject { flex-shrink: 0; }
				.name { @include text-overflow-nw; width: 100%; max-width: 300px; }
			}
			.side.right { width: 20px; flex-shrink: 0; }
			.icon.settings { background-image: url('~img/icon/menu/space/settings.svg'); }
		}

		.items { display: flex; flex-direction: row; gap: 16px; flex-wrap: wrap; }
		.items {
			.item { width: 96px; }
			.item.space { display: flex; flex-direction: column; align-items: center; gap: 8px 0px; }
			.item.space {
				.iconWrap { 
					width: 96px; height: 96px; border-radius: 4px; overflow: hidden; transition: all 0.2s $easeInQuint; 
					transform-origin: 50% 100%;
				}
				.iconObject { border-radius: 0px; }
				.name { @include text-overflow-nw; width: 100%; text-align: center; }
			}

			.item.add {
				border-radius: 4px; height: 96px; background-color: rgba(255, 255, 255, 0.3); 
				background-image: url('~img/icon/plus/space.svg'); background-size: 20px; background-position: center;
				background-repeat: no-repeat; margin: 0px 0px 26px 0px; transition: all 0.2s $easeInQuint; transform-origin: 50% 100%;
			}

			.item.space.hover {
				.iconWrap { transform: scale(1.06, 1.06); }
			}
			.item.space.isActive {
				.iconWrap { box-shadow: 0px 0px 0px 4px #fff, 0px 0px 6px rgba(0,0,0,0.1); }
			}
			.item.add.hover { transform: scale(1.06, 1.06); }
		}
	}
}