@import "~scss/_mixins";

.menus {
	.menu.menuSyncStatus { width: var(--menu-width-large); }
	.menu.menuSyncStatus {
		.content { 
			padding: 16px 0px 0px 0px; height: 100%; max-height: unset; display: flex; flex-direction: column; gap: 4px 0px;
		}
		.syncPanel { height: 28px; padding: 0px 16px; display: flex; justify-content: space-between; align-items: center; }

		.title { @include text-paragraph; font-weight: 600; padding: 0; color: var(--color-text-primary); }
		.ReactVirtualized__List { padding: 8px 0px; }

		.icons { display: flex; flex-direction: row; align-items: center; gap: 0px 8px; }
		.icons {
			.iconWrapper { display: flex; position: relative; align-items: center; justify-content: center; min-width: 28px; height: 28px; }

			.iconWrapper {
				.iconBg { width: 100%; min-width: 28px; height: 100%; position: absolute; z-index: 0; border-radius: 18px; background: var(--color-shape-tertiary); }
				.inner { display: flex; gap: 0px 4px; width: 100%; height: 100%; align-items: center; justify-content: center; }
				.inner.withLabel { padding: 0px 6px; }
				.label { @include text-small; color: var(--color-text-secondary); font-weight: 500; padding-right: 2px; z-index: 1; }

				.icon { width: 20px; height: 20px; }
				.icon.network,
				.icon.self { background: url('~img/icon/sync/default.svg'); }
				.icon.p2p,
				.icon.localOnly { background: url('~img/icon/sync/p2p/default.svg'); }
			}
			.iconWrapper.connected {
				.iconBg { background: rgba(55, 122, 255, 0.15); }
				.label { color: var(--color-system-accent-100); }
				.icon.network,
				.icon.self { background: url('~img/icon/sync/synced-accent.svg'); }
				.icon.p2p { background: url('~img/icon/sync/p2p/connected.svg'); }
			}
			.iconWrapper.connectedSlow {
				.iconBg { background: var(--color-bg-orange); }
				.label { color: var(--color-orange); }
				.icon.network,
				.icon.self { background: url('~img/icon/sync/upgrade.svg'); }
			}
			.iconWrapper.error {
				.iconBg { background: var(--color-bg-red); }
				.label { color: var(--color-red); }
				.icon.network,
				.icon.self { background: url('~img/icon/sync/error.svg'); }
				.icon.p2p { background: url('~img/icon/sync/p2p/error.svg'); }
			}
			.iconWrapper.offline {
				.icon.network,
				.icon.self { background: url('~img/icon/sync/offline.svg'); }
			}

			.iconWrapper:hover {
				.iconBg { opacity: 0.7; }
			}
		}

		.upsellBanner { margin: 14px 16px 0px 16px; }

		.items { height: 100%; }
		.items {
			.sides { display: flex; align-items: center; gap: 0px 6px; }
			.sides {
				.side.left { display: flex; align-items: center; gap: 0px 6px; flex-grow: 1; overflow: hidden; }
				.side.right { flex-shrink: 0; display: flex; align-items: center;}
				.side.right {
					.icon { width: 20px; height: 20px; margin: 0px; }
					.icon.queued { background-image: url('~img/icon/menu/syncStatus/queued.svg'); }
					.icon.syncing { background-image: url('~img/icon/menu/syncStatus/loading.svg'); transform: translateZ(0); animation: rotate 0.8s infinite steps(8); }
					.icon.synced { background-image: url('~img/icon/menu/syncStatus/ok.svg'); }
					.icon.error { background-image: url('~img/icon/menu/syncStatus/failed.svg'); display: block; }
					.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); display: none; position: static; width: 20px !important; height: 20px !important; }
					.icon.more:hover { background-color: unset !important; background-image: url('~img/icon/menu/action/more1.svg'); }
				}
			}

			.item {
				.iconObject { margin: 0px; }

				.info { display: flex; align-items: baseline; gap: 0px 6px; flex-grow: 1; overflow: hidden; }
				.info {
					.name { @include text-overflow-nw; flex-grow: 1; }
					.size { color: var(--color-text-secondary); @include text-overflow-nw; flex-shrink: 0; }
				}

				&.hover {
					&::before { background: var(--color-shape-highlight-medium); }

					.side.right {
						.icon:not(.more) { display: none; }
						.icon.more { display: block; }
					}
				}
			}
		}
	}

	.menu.menuSyncStatusInfo {
		.content { padding: 8px 0px; }

		.title,
		.label { padding: 0px 16px; }
		.title { color: var(--color-text-primary); font-weight: 500; }
		.label { @include text-small; color: var(--color-text-secondary); }

		.items {
			.item { padding: 4px 16px; }
		}
		.items:before { content: ''; display: block; height: 1px; margin: 8px 16px 6px; background-color: var(--color-shape-secondary); }
	}

}
