@import "~scss/_mixins";

.menus {
	.menu.menuTableOfContents { width: var(--menu-width-icon); }
	.menu.menuTableOfContents {
		.items { padding: 0px 8px; }

		.separator {
			.inner { margin-left: 8px; margin-right: 8px; }
		}

		.item { padding-right: 8px; border-radius: 6px; }
		.item {
			.name { width: 100%; }
			.label { @include text-overflow-nw; }
		}
	}

}
