@import "~scss/_mixins";

.menus {
	.menu.menuTableOfContents { width: var(--menu-width-icon); transition-duration: 0.2s; }
	.menu.menuTableOfContents {
		.content { overflow: visible !important; padding-top: 0px; max-height: unset; }
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.items { flex-grow: 1; }
		.ReactVirtualized__List { padding: 8px; }

		.item { padding-left: 8px; padding-right: 8px; border-radius: 6px; }
		.item {
			.name { width: 100%; }
			.label { @include text-overflow-nw; }

			&.active::before { background: var(--color-shape-highlight-medium) !important; }
		}

		#item-sidebar { @include text-small; font-weight: 500; color: var(--color-text-secondary); }
		#item-sidebar {
			.icon { margin: 0px; }
			.clickable { flex-direction: row-reverse; }
		}

		.bottom { flex-shrink: 0; padding: 0px 8px; }
		.bottom {
			.line { margin: 0px 8px 8px 8px; }
		}
	}

}
