@import "~scss/_vars";

.menus {
	.menu.menuThreadList,
	.menu.menuThreadStatus { width: 320px; }

	.menu.menuThreadList,
	.menu.menuThreadStatus {
		.description { color: $colorMediumGrey; display: flex; }
		.item { line-height: 22px; }
		.side { width: 50%; }
		.side.right { text-align: right; white-space: nowrap; }

		.icon { margin-right: 9px; }

		.red { color: $colorRed; }
		.orange { color: $colorOrange; }
		.green { color: $colorGreen; }
	}

	.menu.menuThreadStatus {
		.content { max-height: 250px; }
		.item { padding: 5px 16px; }
	}

	.menu.menuThreadList { width: 272px; }
	.menu.menuThreadList {
		.content { padding: 0px; }
		.item { padding: 11px 16px; border-bottom: 1px solid $colorLightGrey;}
		.item:hover::before { background: $colorHover; }
		.item:last-child { border: 0px; }

		.item {
			.icon, .iconObject { position: absolute; left: 16px; top: 12px; }
			.iconObject { top: 13px; }
			.icon.cafe { left: 15px; width: 20px; height: 20px; background-size: 18px 16px; background-image: url('~img/icon/cafe.svg'); }
			.info { padding-left: 28px; }
		}
	}

}
