@import "~scss/_vars";

.menus {
	.menu.menuThreadList { width: 272px; }
	.menu.menuThreadList {
		.content { padding: 0px; }
		.item { padding: 11px 16px; }
		.item:hover::before { opacity: 0.15; }

		.item {
			.icon { position: absolute; left: 16px; top: 11px; width: 20px; height: 20px; }
			.icon.cafe { background-size: 18px 16px; background-image: url('~img/icon/cafe.svg'); }
			.info { padding-left: 28px; }
			.description { color: $colorDarkGrey; display: flex; }
			.side { width: 50%; }
			.side.right { text-align: right; }

			.red { color: $colorRed; }
			.orange { color: $colorOrange; }
			.green { color: $colorGreen; }
		}
	}
}