@import "~scss/_mixins";

.menus {
	.menu.menuTypeSuggest { width: var(--menu-width-icon); }
	.menu.menuTypeSuggest {
		.filter { padding-top: 12px; }
		.content { max-height: unset; overflow: hidden; padding: 0px; transition: none; }
		.wrap { height: 100%; display: flex; flex-direction: column; }

		.items { height: 100%; }
		.item {
			.name { @include text-overflow-nw; width: calc(100% - 26px); }
		}
		.label { color: var(--color-control-active); @include text-common; padding: 0px 16px; }

		.bottom { padding: 8px 0px; position: relative; }
		.bottom::before {
			content: ''; position: absolute; top: 0px; left: 14px; height: 1px; width: calc(100% - 28px); background: var(--color-shape-secondary); 
		}
	}

	.menu.menuTypeLayout {
		.content { height: unset !important; }
		.sectionName { white-space: normal !important; }
	}
}
