@import "~scss/_vars";

.menus {
	.menu.menuView { width: 176px; background: #fff; color: $colorBlack; overflow: hidden; }
	.menu.menuView {
		.item {
			.icon.view.c0 { width: 14px; height: 12px; background-image: url('~img/icon/block/dataview/button/view/grid0.svg'); }
		}
		
		.item:hover, .item.active { background: #f7f5f0; }
	}	
}