@import "~scss/_mixins";

.menus {
	.menu.menuWidget { width: unset; min-width: var(--menu-width-common); }
	.menu.menuWidget {
		.section::after { display: none; }

		.item {
			.name { @include text-overflow-nw; width: calc(100% - 36px); }
		}

		.options { display: flex; gap: 0px 8px; padding: 0px 14px; margin-bottom: 4px; }
		.options {
			.option { display: flex; align-items: center; justify-content: center; width: 48px; height: 32px; border-radius: 8px; border: 1px solid var(--color-shape-tertiary); }
			.option.icon { height: 48px; }
			.option {
				.icon { width: 48px; height: 48px; flex-shrink: 0; }
				.icon.widget-0 { background-image: url('~img/icon/menu/widget/link.svg'); }
				.icon.widget-1 { background-image: url('~img/icon/menu/widget/tree.svg'); }
				.icon.widget-2 { background-image: url('~img/icon/menu/widget/list.svg'); }
				.icon.widget-3 { background-image: url('~img/icon/menu/widget/compact.svg'); }
				.icon.widget-4 { background-image: url('~img/icon/menu/widget/view.svg'); }
			}
			.option:hover { background-color: var(--color-shape-highlight-light); }
			.option.active { background-color: var(--color-shape-highlight-light); border-color: var(--color-shape-primary); }
		}

		.buttons { padding: 8px 16px 0px 16px; }
		.button { width: 100%; }
	}

	.menu.menuWidgetSection { width: var(--menu-width-set); }
	.menu.menuWidgetSection {
		.content { padding: 16px 0px; }
		.menuLabel { margin: 0px 16px 16px; @include text-paragraph; font-weight: 600; padding-left: 8px; color: var(--color-text-primary); }

		.itemsWrapper { margin-bottom: 12px; overflow: auto; }
		.items { display: flex; flex-direction: column; gap: 8px; padding: 0px 8px; }
		.item { 
			display: flex; align-items: center; gap: 0px 6px; height: 44px; @include text-small; color: var(--color-text-secondary);
			font-weight: 500;
		}
		.item {
			.icon.eye { margin: 0px; }

			&.isDragging { z-index: 1; }
			&.isHidden { color: var(--color-text-tertiary); }
			&::before { background: var(--color-shape-highlight-light) !important; }
		}

		.button { margin: 0px 16px; width: calc(100% - 32px); }
	}
}
