@import "~scss/_vars";

.blocks {
	.block.blockDataview {

        .viewItem.viewBoard {
            .columns { white-space: nowrap; }
            .column { width: 240px; margin-right: 24px; display: inline-block; vertical-align: top; overflow-x: visible; overflow-y: overlay; }
            .column {
                .head { padding: 10px 4px; width: 100%; }
            }

            .card { width: 100%; margin-bottom: 8px; background: #fff; }
            
            .card.add { min-height: unset; text-align: center; padding: 10px 0px; margin: 0px; line-height: 1; transition: $transitionFast; cursor: pointer; }
            .card.add {
                .icon { vertical-align: top; }
            }
            .card.add:hover { border-color: $colorBlack; }
            .card.add:hover {
                .icon { background-image: url('~img/icon/plus/menu1.svg'); }
            }

			.cellContent.c-shortText {
				.name { height: 24px; }
			}

			.cellContent {
				.name:empty { display: none; }
			}
        }
    }
}