@import "~scss/_vars";

.blocks {
	.block.blockDataview {

        .viewItem.viewBoard {
            .columns { white-space: nowrap; }
            .column { width: 240px; margin-right: 24px; display: inline-block; vertical-align: top; overflow-x: visible; overflow-y: overlay; }
            .column {
                .head { padding: 10px 4px; width: 100%; }
            }

            .card { width: 240px; display: flex; flex-direction: column; gap: 8px 0px; margin-bottom: 8px; }
			.card {
				.ghost { display: none; border: 1px dotted $colorOrange; border-radius: 12px; }
				.cardContent { border: 1px solid $colorBorderDark; border-radius: 12px; padding: 16px; background: $colorWhite; }
			}

			.card.isDragging { opacity: 0.5; }

			.card.isOver.top {
				.ghost.top { display: block; }
			}
			.card.isOver.bottom {
				.ghost.bottom { display: block; }
			}
            
            .card.add { 
				min-height: unset; text-align: center; padding: 10px 0px; margin: 0px; line-height: 1; transition: $transitionFast; cursor: pointer; 
				border: 1px solid $colorBorderDark; border-radius: 12px; flex-direction: row; justify-content: center;
			}
            .card.add {
                .icon { vertical-align: top; }
            }
            .card.add:hover { border-color: $colorBlack; }
            .card.add:hover {
                .icon { background-image: url('~img/icon/plus/menu1.svg'); }
            }

			.cellContent.c-shortText {
				.name { height: 24px; }
			}

			.cellContent {
				.name:empty { display: none; }
			}

			.card.isTask {
				.cellContent.c-name { display: flex; }
			}
        }
    }
}