@import "~scss/_vars";

.blocks {
	.block.blockDataview {
		.viewContent.viewCalendar { position: relative; height: 100%; }
		.viewContent.viewCalendar {
			.dateSelect { 
				position: absolute; background: rgba(255,255,255,0.9); padding: 2px 8px; @include text-paragraph; display: flex; gap: 0px 4px;
				left: 8px; top: 28px;
			}
			.dateSelect {
				.month { font-weight: 600; }
			}

			.table { 
				border-color: $colorShapeSecondary; border-style: solid; border-width: 1px; border-left-width: 0px; border-right-width: 0px; 
				display: flex; flex-flow: column; height: 100%;
			}

			.table {
				.head, .body { display: grid; grid-template-columns: repeat(7, minmax(0, 1fr)); }
				.head { flex-shrink: 0; }
				.head {
					.item { 
						@include text-small; padding: 2px 10px; border-color: $colorShapeSecondary; border-style: solid;
						border-right-width: 1px; border-bottom-width: 1px; text-align: right;
					}
				}

				.body { overflow: auto; flex-grow: 1; }
			}

			.day { 
				height: 136px; display: table-cell; text-align: left; vertical-align: top; border-color: $colorShapeSecondary; border-style: solid; 
				border-right-width: 1px; border-bottom-width: 1px; padding: 6px 8px;
			}
			.day.active .number { color: $colorSystemAccent100; }
			.day.other .number { color: $colorTextSecondary; }

			.day {
				.number { @include text-paragraph; text-align: right; }
				.item { display: flex; flex-direction: row; gap: 0px 4px; @include text-small; @include text-overflow-nw; margin: 0px 0px 2px 0px; }
				.item {
					.name { @include text-overflow-nw; }
				}

				.item.more { display: block; color: $colorTextSecondary; }
			}
        }
    }
}