@import "~scss/_vars";

.blocks {
	.block.blockDataview {
		.viewItem.viewGallery, 
		.viewItem.viewBoard {
			.card { white-space: normal; }
			.card {
				.cellContent { margin-bottom: 6px; cursor: default !important; }
				.cellContent:last-child { margin-bottom: 0px; }
				
				.cellContent.c-date { color: $colorVeryDarkGrey; }

				.cellContent.c-shortText { @include text-paragraph; margin-bottom: 6px; }
				.cellContent.c-shortText {
					.iconObject { margin-bottom: 10px; }
					.name { height: 24px; width: 100% !important; }
				}

				.cellContent.c-select { margin-bottom: 0px; }

				.cellContent.c-file {
					.inputWithFile { display: none; }
				}

				.cellContent.c-object {
					.element { width: 100%; }
				}
			}
		}
	}
}