@import "~scss/_vars";

.blocks {
	.block.blockDataview {
		.viewItem.viewGallery, 
		.viewItem.viewBoard {
			.card { white-space: normal; }
			.card {
				.cellContent { cursor: pointer; margin-bottom: 6px; }
				.cellContent:empty, .cellContent.isEmpty { display: none; }
				.cellContent:last-child { margin: 0px; }

				.cellContent.c-date { color: $colorVeryDarkGrey; }

				.cellContent.c-shortText { @include text-paragraph; }
				.cellContent.c-shortText {
					.iconObject { margin: 0px 10px 0px 0px; }
					.name { width: 100% !important; }
				}

				.cellContent.c-select { line-height: 18px; }
				.cellContent.c-select {
					.tagItem { max-width: 80px; margin-bottom: 0px; }
				}

				.cellContent.c-object, .cellContent.c-file {
					.element { width: 100%; margin: 0px 0px 6px 0px; }
					.element:last-child { margin-bottom: 0px; }
				}
			}
		}
	}
}