@import "~scss/_vars";

.blocks {
	.block.blockDataview {
		.viewItem.viewGallery { padding: 16px 0px; display: flex; flex-wrap: wrap; column-count: 4; }
		.viewItem.viewGallery {
			.card { 
				width: 260px; border: 1px solid $colorLightGrey; border-radius: 12px; padding: 16px; 
				display: inline-block; vertical-align: top;
			}
		}
	}
}