@import "~scss/_vars";

.blocks {
	.block.blockDataview {
		.cellHead { 
			text-align: left; color: $colorDarkGrey; font-weight: 400; line-height: 20px; position: relative; 
			cursor: grab; display: inline-block; vertical-align: top; transition: background-color 0.2s ease-in-out;
		}
		.cellHead {
			.cellContent { cursor: grab; height: 46px !important; overflow: visible !important; }
			.flex { padding: 14px; }
			.iconObject { width: 20px; height: 20px; margin: 0px 4px 0px 0px; vertical-align: top; flex-shrink: 0; display: none; }
			.name { 
				display: inline-block; line-height: 20px; height: 20px; vertical-align: top; width: 100%; 
				@include text-overflow-nw;
			}
			.resize { width: 20px; height: 20px; position: absolute; right: 0px; top: 14px; cursor: col-resize; z-index: 10; }
			.resize {
				.line { width: 1px; height: 100%; background: #e0ded2; position: absolute; top: 0px; left: 19px; }
			}
		}
		.cellHead.small { text-align: center; }
		.cellHead.small {
			.flex { display: inline-block; }
			.iconObject { display: block; }
			.name { display: none; }
		}
		.cellHead.last { overflow: visible; cursor: pointer; padding: 14px; }
		.cellHead.last {
			.icon.plus { margin: 0px; }
		}

		.cellHead.isDragging { border: 0px; background: rgba(255,255,255,0.75);  }
		.cellHead.isDragging::after {
			content: ""; display: block; width: 100%; height: calc(100% + 2px); position: absolute; left: 0px; top: 0px; z-index: 0; pointer-events: none;
			background-color: rgba(255,255,255,0.75);
		}
		.cellHead.isDragging {
			.resize { display: none; }
		}

		.cellHead:hover::after, .cellHead.active::after { 
			content: ""; display: block; width: 100%; height: calc(100% + 2px); position: absolute; left: 0px; top: 0px; z-index: 0; pointer-events: none;
			background-color: $colorHover; 
		}

		.cellHead.last::after, .cellHead.active::after { background: none; }
		.cellHead.last:hover, .cellHead.last.active {
			.icon.plus { background-image: url('~img/icon/plus/menu1.svg'); }
		}

        .viewItem.viewGrid { display: table; width: 100%; position: relative; box-shadow: 0px -1px #e0ded2 inset; }
		.viewItem.viewGrid {
			.rowHead { display: block; white-space: nowrap; width: calc(100% - 4px); margin-left: 2px; height: 46px; }

			.icon.checkbox { vertical-align: top; }
			.icon.edit { width: 36px; height: 48px; position: absolute; right: 0px; top: 0px; }

			.row { 
				display: table-row; white-space: nowrap; box-shadow: 0px 1px #e0ded2 inset; left: 2px !important; width: calc(100% - 4px) !important; 
				height: 48px;
			}
			.row.add { border: 0px; }
			.row.isArchived *, .row.isDeleted * { text-decoration: line-through; color: $colorMediumGrey; }

			.row:hover {
				.cellContent.isName.canEdit {
					.name { width: calc(100% - 40px) !important; }
					.icon.edit { display: block; }
				}
			}

			.cellContent { width: 100%; overflow: hidden; height: 20px; line-height: 20px; }
			.cellContent {
				.empty { visibility: hidden; display: block; }
				.name, .empty { line-height: 20px; @include text-overflow-nw; width: 100%; }
			}

			.cell.isName, .cellContent.isName { cursor: pointer; }

			.cell.c-object, .cell.c-file { padding-right: 0px; }
			.cellContent.c-object, .cellContent.c-select, .cellContent.c-file {
				.wrap { height: 100%; overflow: hidden; white-space: nowrap; }
			}
				
			.cell { display: inline-block; height: 48px; padding: 14px; vertical-align: top; position: relative; word-break: break-word; }

			.cell.canEdit.c-checkbox,
			.cell.canEdit.c-select { cursor: pointer; }

			.cell.isEditing {
				.cellContent { height: 100% !important; min-width: 300px; padding: 14px; border-radius: 4px; }
				.cellContent.isName { padding: 0px 14px; }
				.cellContent.isName {
					.iconObject { margin: 14px 4px 14px 0px; }
					.input-text { height: 47px; width: calc(100% - 26px) !important; }
					.name { width: 100%; }
				}
			}
			.cell.isEditing.c-select { 
				.cellContent { padding-bottom: 6px; height: auto !important; }
				.wrap { overflow: visible; white-space: normal; }
			}
			.cell.isEditing.c-object { 
				.cellContent { padding-bottom: 12px; height: auto !important; }
				.wrap { overflow: visible; white-space: normal; }
			}

			.cell.isEditing.c-select, .cell.isEditing.c-object {
				.placeholder { padding: 14px; }
			}

			.cell.isEditing.c-longText { 
				.cellContent { display: none; }
			}
			.cell.isEditing.c-checkbox { 
				.cellContent { min-width: unset; }
			}
		}
    }
}