@import "~scss/_mixins";

.blocks {
	.block.blockDataview {
		.viewContent.viewTimeline { display: flex; height: 100%; min-height: 600px; }
		.viewContent.viewTimeline {
			> .side.left { width: 20%; background-color: var(--color-shape-tertiary); }
			> .side.left {
				.item { display: flex; height: 32px; }
			}

			> .side.right { width: 80%; }
        }
    }
}