@import "~scss/_mixins";

.sidebarAnimation { transition: width $transitionSidebarTime linear; }

.sidebarHeadIcon { position: fixed; top: 12px; z-index: 25; -webkit-app-region: no-drag; transition: none; }
.sidebarHeadIcon
.sidebarHeadIcon {
	&.sidebarAnimation { transition-property: left; }
	&:hover, &.hover { background-color: var(--color-shape-highlight-medium) !important; }
}
.sidebarHeadIcon.toggle { background-image: url('~img/icon/widget/toggle0.svg'); }

#sidebarLeftButton { backdrop-filter: blur(20px); left: 74px; display: block; }
#sidebarLeftButton.withSidebarLeft { background-image: url('~img/icon/widget/toggle1.svg'); }
#sidebarLeftButton.withMinimalVault { display: none !important; }
#sidebarUpdateBanner { position: fixed; bottom: 12px; z-index: 25; transition: left $transitionSidebarTime linear; }

.sidebar { 
	position: fixed; z-index: 24; user-select: none; top: 0px; height: 100%; background-color: var(--color-shape-highlight-light-solid); 
	display: flex; flex-direction: column;
}

.sidebar {
	@import "./page/common";

	.pageWrapper, .subPageWrapper { flex-shrink: 0; position: relative; flex-direction: column; }
	.pageWrapper, .subPageWrapper {
		&.isClosed {
			.sidebarPage { border: 0px; }
		}
	}

	.pageWrapper { padding: 4px 0px 0px 0px; z-index: 2; background: var(--color-shape-highlight-light-solid); display: flex;  }
	.pageWrapper {
		&.anim { transition: width $transitionSidebarTime linear; }
	}

	.subPageWrapper { width: 336px; display: flex; padding: 4px 0px; }
	.subPageWrapper {
		.sidebarPage { background: var(--color-bg-primary); border-radius: 12px 0px 0px 12px; border-right: 1px solid var(--color-shape-secondary); }
		
		&.sidebarAnimation { transition-property: transform; }

		&:not(.withSidebarLeft) {
			.sidebarPage { margin-left: 4px; width: calc(100% - 4px); }
		}

		&.isClosing,
		&.isOpening { 
			.sidebarPage {
				> .head {
					.icon { opacity: 0; }
				}
			}
		}
	}

	.resize-h { width: 12px; height: 100%; cursor: col-resize; z-index: 2; flex-shrink: 0; position: absolute; top: 0px; }
	.resize-h {
		.resize-handle {
			position: absolute; left: 0px; top: 50%; margin: -16px 0px 0px 0px; transition: $transitionAllCommon;
			width: 100%; height: 32px;
		}
		.resize-handle::after {
			content: ''; position: absolute; left: 50%; top: 0px; width: 6px; height: 100%; background-color: var(--color-shape-secondary);
			border-radius: 3px; opacity: 0; transition: $transitionAllCommon; margin-left: -3px;
		}

		&:hover, &:active {
			.resize-handle::after { opacity: 1; }
		}

		&:active {
			.resize-handle { height: 64px; margin-top: -32px; }
		}
		.resize-handle:hover::after, .resize-handle:active::after { background-color: var(--color-shape-primary); }
	}

	.loaderWrapper { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
	.banner.update { position: absolute; bottom: 45px; z-index: 10; left: 12px; width: 312px; }

	&.withPreview { z-index: 31; }
	&.left { left: 0px; flex-direction: row; }
	&.left {
		.resize-h { right: -12px; }
	}

	.subPageWrapper.isClosed {
		.resize-h { display: none; }
	}

	&.right { right: 0px; flex-shrink: 0; padding: 4px 0px; }
	&.right {
		.resize-h { left: -12px; }
		&.sidebarAnimation { transition-property: transform; }

		@import "./preview";

		.sidebarPage { 
			background: var(--color-bg-primary); border-left: 1px solid var(--color-shape-secondary); border-radius: 0px 12px 12px 0px; 
			margin-right: 4px;
		}
	}
}

.sidebarBannerUpdate {
	width: 320px; position: absolute; left: 8px; bottom: 8px; z-index: 100;
	background: var(--color-bg-primary); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); padding: 12px; border-radius: 12px;
	display: flex; flex-direction: column; gap: 8px 0px;
}
.sidebarBannerUpdate {
	.infoWrapper { width: 100%; display: flex; flex-direction: row; gap: 0px 10px; flex-grow: 1; align-items: center; }
	.info { width: 100%; }
	.info {
		.name { font-weight: 500; }
		.label { @include text-small; color: var(--color-text-secondary); }
	}

	&:not(.withButtons) {
		.info { display: flex; flex-direction: column; gap: 10px; }
		.nameWrapper { display: flex; justify-content: space-between; align-items: center; }
	}

	.icon { width: 48px; height: 48px; background-image: url('~img/logo/progress.svg'); flex-shrink: 0; }
	.percent { font-weight: 500; color: var(--color-text-secondary); flex-shrink: 0; }
	.buttons { display: flex; flex-direction: row; gap: 0px 8px; justify-content: space-evenly; width: 100%; }
	.button { flex-grow: 1; flex-basis: 50%; border-radius: 14px; border: 0px; background-color: var(--color-shape-highlight-medium); }
	.button:hover { background-color: var(--color-shape-highlight-dark); }

	.progressBar {
		.bar { gap: 0px; height: 8px; border-radius: 6px; }
		.fill.isActive { background-color: var(--color-system-accent-100); }
		.fill.empty { background-color: var(--color-shape-highlight-medium); }
		.labels { display: none; }
	}
}

html.platformWindows {
	.sidebar {
		> .containerWidget > .body { overflow-y: overlay; }
	}
}	

html.platformMac {
	.sidebar {
		.subPageWrapper.sidebarAnimation {
			.sidebarPage {
				> .head {
					.side.left { transition: padding-left $transitionSidebarTime linear; }
				}
			}
		}

		.subPageWrapper:not(.withSidebarLeft) {
			.sidebarPage {
				> .head {
					.side.left { padding-left: 86px; }
				}
			}
		}
	}

	.isFullScreen {
		#sidebarLeftButton { left: 16px; }

		.sidebar {
			.subPageWrapper:not(.withSidebarLeft) {
				.sidebarPage {
					> .head {
						.side.left { padding-left: 36px; }
					}
				}
			}
		}
	}
}

html:not(.platformMac) {
	.sidebarPage.pageVault {
		> .head.isMinimal { display: none; }
	}
}
