> #containerObject { width: 100%; height: 100%; overflow: hidden; background-color: var(--color-shape-tertiary); padding: 52px 12px 12px 12px; }
> #containerObject {
	> .inner { display: flex; flex-direction: column; width: 100%; height: 100%; background: var(--color-bg-primary); border-radius: 12px; }
	> .inner {
		> .head { display: flex; flex-direction: column; gap: 8px 0px; overflow: hidden; padding: 0px 0px 8px 0px; }
		> .head {
			.titleWrap { 
				display: flex; flex-direction: row; align-items: center; gap: 0px 8px; width: 100%; padding: 20px 16px 8px 10px; 
			}
			.titleWrap {
				.title { @include text-paragraph; font-weight: 600; flex-grow: 1; }
				.icon.back { 
					width: 24px; height: 24px; border-radius: 4px; background-size: 20px; flex-shrink: 0; background-image: url('~img/icon/widget/back.svg'); 
				}
			}
			.titleWrap:hover {
				.icon.back { background-color: var(--color-shape-highlight-medium); }
			}

			.sides { display: flex; flex-direction: row; gap: 0px 8px; }
			.sides {
				.side.left { flex-grow: 1; }
				.side.right { flex-shrink: 0; }
				.side.right:empty { display: none; }
			}

			.sides.sidesSort { padding: 0px 10px; }
			.sides.sidesFilter { padding: 0px 16px; }

			.icon.sort { background-image: url('~img/icon/store/sort.svg') }

			.select { border: 0px; padding: 4px 20px 4px 6px; font-weight: 500; }
			.select {
				.clickable {
					.icon { display: none; }
				}
			}

			.filter { padding: 0px 4px; border-radius: 6px; border: 1px solid var(--color-shape-secondary); }
			.filter {
				.inner { height: 26px; }
				.line { display: none; }
			}
		}

		> .body { flex-grow: 1; overflow: hidden; }
		> .body {
			.ReactVirtualized__List { padding: 0px 8px 8px 8px; overscroll-behavior: none; }

			.items { height: 100%; }

			.item { padding: 8px; display: flex; flex-direction: row; align-items: center; gap: 0px 12px; position: relative; }
			.item {
				.iconObject { flex-shrink: 0; border-radius: 6px; }
				.iconObject.c48 { background-color: var(--color-shape-tertiary); }

				.info { width: 100%; display: flex; flex-direction: column; gap: 2px 0px; }
				.name { @include text-overflow-nw; width: 100%; }

				.bottomWrap { 
					display: flex; @include text-overflow-nw; width: 100%; @include text-small; color: var(--color-text-secondary); gap: 0px 6px; 
					align-items: center;
				}
				.bottomWrap {
					.type { max-width: 40%; @include text-overflow-nw; flex-shrink: 0; }
					.descr { position: relative; @include text-overflow-nw; max-width: 100%; }
					.descr:empty { display: none; }
					.bullet { width: 2px; height: 2px; border-radius: 50%; background-color: var(--color-text-secondary); flex-shrink: 0; display: none; }
				}
			}

			.item.withDescr {
				.bullet { display: block; }
			}

			.item.withIcon {
				.info { width: calc(100% - 60px); }
			}

			.item.isType, .item.isRelation { gap: 0px; }
			.item.isType, .item.isRelation {
				.iconObject { background-color: unset; }

				.info { width: calc(100% - 26px); }
				.nameWrap { display: flex; flex-direction: row; align-items: center; gap: 0px 8px; }
				.descrWrap {
					.type, .descr::before { display: none; }
				}
			}

			.item.isType.withIcon {
				.descrWrap { padding-left: 26px; }
			}
			.item.isRelation.withIcon {
				.descrWrap { padding-left: 28px; }
			}

			.item.isFile {
				.iconObject { background-color: unset !important; }
			}

			.item::before {
				content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(79,79,79,0); z-index: 1;
				pointer-events: none; border-radius: 6px;
			}
			.item:hover::before, .item.active::before { background: var(--color-shape-highlight-medium); }
		}
	}
}