@import "~scss/_mixins";

.layoutPreviewWrapper {
    .layoutPreview { width: 704px; margin: 0 auto; padding-top: 128px; text-align: left; color: var(--color-text-tertiary); }
    .layoutPreview {
        .icon { width: 96px; height: 96px; border-radius: 20px; margin-bottom: 20px; background: var(--color-shape-tertiary) url('~img/icon/sidebar/preview/icon.svg') 50% 50% no-repeat; }
        .title { @include text-title; margin-bottom: 8px; }
        .description { @include text-header3; font-weight: 400; margin-bottom: 10px; }

        .featured { display: flex; margin-bottom: 44px; }

        .layout { display: flex; flex-direction: column; justify-content: flex-start; gap: 14px 0px; }
        .layout {
            .line { width: 100%; height: 10px; background: var(--color-shape-secondary); }
            .line:last-child { width: 75%; }
        }
    }
}
