> #containerWidget { height: 100%; width: 100%; display: flex; flex-direction: column; overflow: hidden; position: relative; z-index: 1; flex-shrink: 0; }
> #containerWidget {
	> .head { 
		display: flex; flex-direction: row; align-items: center; justify-content: center; padding: 0px 12px; height: 52px;
		gap: 0px 8px; overflow: hidden; flex-shrink: 0;
	}
	> .head {
		.name { 
			@include text-overflow-nw; opacity: 0; transform: translate3d(0px,30px,0px); transition: all 0.2s $easeInQuint; 
			max-width: calc(100% - 88px); display: none;
		}
	}
	> .head.show {
		.name { opacity: 1; transform: translate3d(0px,0px,0px); }
	}

	> .bottom { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 48px; display: flex; align-items: center; gap: 0px 8px; z-index: 2; }
	> .bottom {
		.grad { 
			position: absolute; left: 0px; bottom: 0px; width: 100%; height: 88px; pointer-events: none;
			background: linear-gradient(180deg, rgba(242, 242, 242, 0) 3.62%, var(--color-shape-tertiary) 51.73%);
		}

		.sides { 
			position: relative; z-index: 1; width: 100%; display: flex; padding: 0px 12px; align-items: center; justify-content: space-between; 
			gap: 0px 6px;
		}
		.side { flex-shrink: 0; width: 28px; }
		.side.center { text-align: center; flex-grow: 1; width: auto; }
		.side.right { text-align: right; }

		$transitionSettings: all 0.25s $easeInQuint;

		.settings { transition: $transitionSettings; position: relative; width: 28px; height: 28px; overflow: hidden; background-color: var(--color-shape-highlight-medium); border-radius: 14px; }
		.settings {
			.icon,
			.label { transition: $transitionSettings; position: absolute; }
			.icon {  left: 4px; top: 4px; width: 20px; height: 20px; background-image: url('~img/icon/widget/button/settings0.svg'); }
			.label { left: 12px; top: 5px; @include text-small; color: var(--color-text-inversion); font-weight: 500; opacity: 0; }
		}
		.settings:not(.isEditing):hover { background-color: var(--color-shape-highlight-dark); }
		.settings:not(.isEditing):hover {
			.icon { background-image: url('~img/icon/widget/button/settings1.svg'); }
		}

		.settings.isEditing { width: 55px; background-color: var(--color-system-accent-100); }
		.settings.isEditing {
			.icon { opacity: 0; }
			.label { opacity: 1; }
		}
		.settings.isEditing:hover { background-color: var(--color-system-accent-125); }

		.button { 
			transition: $transitionSettings; height: 28px; min-width: 28px; border-radius: 14px; padding: 0px 11px; text-align: center; @include text-small; 
			font-weight: 500; background: var(--color-shape-highlight-medium); color: var(--color-text-secondary); overflow: visible;
		}
		.button.help { font-size: 15px; padding: 0px; }

		.button:hover,
		.button.hover { background-color: var(--color-shape-highlight-dark) !important; }
		.button {
			.txt { @include text-overflow-nw; }
		}

		.button.disabled { background: var(--color-shape-tertiary); max-width: 80px; }
	}

	> .body {
		padding: 0px 6px 68px 12px; position: relative; flex-grow: 1; overflow-x: hidden; overflow-y: scroll; overscroll-behavior: none; 
	}
	> .body {
		@keyframes shake1 {
			0% { transform: rotate(-0.5deg); }
			100% { transform: rotate(0.5deg); }
		}

		@keyframes shake2 {
			0% { transform: rotate(0.5deg); }
			100% { transform: rotate(-0.5deg); }
		}

		> .content { display: flex; flex-direction: column; gap: 12px 0px; }
		> .content {
			> .dropTarget.firstTarget { 
				position: sticky; left: 0px; top: 0px; z-index: 1; box-shadow: 0px 1px var(--color-shape-tertiary); background: var(--color-shape-tertiary); 
			}
			> .dropTarget.firstTarget {
				&::after {
					content: ''; position: absolute; left: 0px; bottom: -45px; width: 100%; height: 55px; pointer-events: none; 
					background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--color-shape-tertiary) 68.18%); opacity: 0; transition: opacity 0.2s ease-in-out;
				}
				&.isScrolled::after { opacity: 1; }
			}

			> .dropTarget.lastTarget { position: relative; display: flex; flex-direction: column; gap: 12px 0px; }

			> .dropTarget.firstTarget.isOver, 
			> .dropTarget.lastTarget.isOver 
			{ box-shadow: 0px 0px !important; }

			> .dropTarget.firstTarget.isOver::before, 
			> .dropTarget.lastTarget.isOver::before { 
				content: ""; position: absolute; background: var(--color-control-accent); width: calc(100% - 28px); height: 2px; border-radius: 2px; left: 12px;
			}

			> .dropTarget.firstTarget.isOver::before { bottom: -7px; }
			> .dropTarget.lastTarget.isOver::before { top: -7px; }
		}

		.widget.isEditable.isOver::before { 
			content: ""; position: absolute; background: var(--color-control-accent); height: 2px; width: calc(100% - 24px); border-radius: 2px; 
			left: 12px; 
		} 
		.widget.isEditable.isOver.top::before { top: -7px; }
		.widget.isEditable.isOver.bottom::before { bottom: -7px; }
	}

	> .body.isEditing {
		.widget:not(.isEditable) { opacity: 0.5; }
		.widget:not(.isEditable) {
			.dimmer { cursor: default; }
		}

		.widget {
			.icon.remove { display: block; }
		}
		.widget {
			.dimmer { display: block; }
		}

		.widget.isEditable:nth-child(2n + 1) { animation: shake1 0.2s linear infinite alternate; }
		.widget.isEditable:nth-child(2n + 2) { animation: shake2 0.2s linear infinite alternate; }
		.widget.isEditable:hover {
			.head {
				> .buttons { display: flex; }
				.iconWrap.options { display: none; }
			}
		}

		.widget.button { cursor: default; animation: none; }
	}

	> .body.isListPreview { overflow: hidden; height: 100%; padding-right: 12px; }
	> .body.isOnboardingHidden { visibility: visible; }
	> .body.withShareBanner:not(.isOnboardingHidden) { margin-top: -10px; }
}
