.menus {
	.menu.horizontal.menuCommentToolbar { padding: 0px; transform-origin: 50% 50% !important; }
	.menu.horizontal.menuCommentToolbar {
		.section { padding: 4px 12px; display: flex; align-items: center; gap: 0px 8px; height: auto; }

		.icon { margin: 0px; }

		.icon.blockStyle { width: 40px !important; background-position: 4px center; }
		.icon.blockStyle {
			.icon.arrow { right: 4px; }
		}

	}
}