@import "~scss/_vars";

.previewGraph { 
	background: $colorWhite; height: auto; padding: 12px 16px; border: 1px solid $colorBorderLight; border-radius: 8px; width: 344px;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.previewGraph {
	.previewHeader { display: flex; gap: 0px 2px; }
	.name { @include text-common; text-overflow: unset; @include clamp2; white-space: normal; font-weight: 500; }
	.descr { @include text-small; text-overflow: unset; @include clamp2; white-space: normal; }
	.featured { @include text-very-small; color: $colorMediumGrey; }
}