@import "~scss/_vars";

.previewGraph {
	background: $colorWhite; height: auto; padding: 8px 12px; border: 1px solid $colorBorderLight; border-radius: 8px; width: 320px;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}