@import "~scss/_mixins";

.previewLink {
	.link { @include text-small; height: 18px; margin-bottom: 2px; color: var(--color-text-secondary); @include text-overflow-nw;  }
	.name { @include text-common; font-weight: 500; height: 22px; color: var(--color-text-primary); @include text-overflow-nw; margin-bottom: 2px; }
	.descr { 
		@include text-small; @include clamp2; height: 36px; color: var(--color-text-primary); margin: 2px 0px 0px 0px;
	}
		
	.img {
		width: 100%; height: 112px; background-repeat: no-repeat; background-size: cover; background-position: center center; 
		border-bottom: 1px solid var(--color-shape-secondary);
	}
		
	.icon.fav { width: 16px; height: 16px; margin: -4px 6px 0px 0px; }
	
	.info { padding: 12px 12px 6px 12px; }
}