.sidebarPage { display: flex; flex-direction: column; height: 100%; position: relative; z-index: 1; flex-grow: 1; overflow: hidden; }
.sidebarPage {
	&.anim { transition: opacity 0.1s $easeInQuint; }

	.spaceName {
		position: sticky; top: 0px; z-index: 3; display: flex; align-items: center; background: var(--color-bg-primary); 
		padding: 0px 8px 8px 8px;
	}
	.spaceName {
		.info { display: flex; flex-direction: row; flex-grow: 1; align-items: center; justify-content: space-between; gap: 0px 12px; height: 32px; min-width: 0; overflow: hidden; }
		.nameWrap { display: flex; align-items: center; gap: 0px 6px; overflow: hidden; flex-grow: 1; flex-shrink: 1; min-width: 0; cursor: default; }
		.nameWrap {
			.name { @include text-paragraph; font-weight: 600; @include text-overflow-nw; color: var(--color-text-primary); min-width: 0; flex-shrink: 1; }
			.icon.arrowButton { width: 8px !important; height: 8px !important; flex-shrink: 0; }
		}

		.side.right { flex-shrink: 0; display: flex; align-items: center; height: 32px; gap: 0px 6px; }
		.side.right {
			> .icon.withBackground { width: 32px !important; height: 32px !important; }
		}

		.createGroup { display: flex; flex-direction: row; align-items: center; height: 32px; }
		.createGroup {
			.createButton,
			.createArrow {
				display: flex; align-items: center; justify-content: center; height: 32px;
				background: var(--color-shape-highlight-medium); transition: background $transitionCommon;
			}
			.createButton { width: 28px; padding-left: 4px; border-radius: 16px 0px 0px 16px; }
			.createButton {
				.icon { width: 20px; height: 20px; flex-shrink: 0; }
			}
			.createArrow { width: 20px; padding-right: 4px; border-radius: 0px 16px 16px 0px; }
			.createArrow {
				.icon.arrowButton { width: 8px !important; height: 8px !important; flex-shrink: 0; }
			}
			.createButton:hover,
			.createArrow:hover { background: var(--color-shape-highlight-dark); }
		}
	}

	> .head { 
		display: flex; flex-direction: row; align-items: center; justify-content: space-between;
		@include text-paragraph; font-weight: 600; flex-shrink: 0; padding: 12px 16px; gap: 0px 8px;
	}
	> .head {
		.side { position: relative; z-index: 1; display: flex; align-items: center; flex-shrink: 0; }
		.side.left:empty, .side.right:empty { display: none; }

		.side.left { justify-content: flex-start; }
		.side.left {
			.label { @include text-overflow-nw; }
		}
		.side.center { flex-shrink: 1; flex-grow: 1; display: flex; align-items: center; gap: 0px 6px; overflow: hidden; }
		.side.center {
			.label { width: 100%; @include text-overflow-nw; }
		}
		.side.right { flex-shrink: 0; display: flex; flex-direction: row; gap: 0px 8px; }

		.button, .icon { -webkit-app-region: no-drag; }

		.button.simple { @include text-common; font-weight: 500; color: var(--color-text-secondary); height: 28px; }
		.button.simple:hover { color: var(--color-text-primary); }

		.sync { -webkit-app-region: no-drag; }

		.icon.widgetMember { width: auto !important; border-radius: 14px; display: flex; align-items: center; padding: 0px 4px; }
		.icon.widgetMember {
			svg, .label { flex-shrink: 0; }
			.label { @include text-small; font-weight: 500; color: var(--color-text-secondary); }
		}
	}

	> .subHead { 
		display: flex; flex-direction: row; align-items: center; gap: 0px 12px; justify-content: stretch; padding: 0px 12px; position: relative; 
		margin: 0px 0px 4px 0px; height: 36px; flex-shrink: 0; z-index: 2;
	}
	> .subHead * { -webkit-app-region: no-drag; }
	> .subHead {
		.icon { width: 20px; height: 20px; }
		.icon.back { background-size: 20px; }

		.side { flex-direction: row; display: flex; align-items: center; position: relative; z-index: 1; }
		.side.left { justify-content: center; flex-shrink: 0; }
		.side.left:empty, .side.right:empty { display: none; }

		.side.center { flex-grow: 1; justify-content: flex-start; gap: 0px 6px; overflow: hidden; }
		.side.center {
			.name { @include text-paragraph; @include text-overflow-nw; font-weight: 600; }
		}

		.side.right { flex-shrink: 0; justify-content: flex-end; }
	}

	> .body {
		padding: 0px 12px 52px 12px; display: flex; flex-direction: column; gap: 12px 0px; overflow-x: hidden; overflow-y: scroll; overscroll-behavior: none; 
		flex-grow: 1;
	}
	> .body {
		.emptySearch { justify-content: flex-start; }

		.group { display: flex; flex-direction: column; }
		.group {
			> .titleWrap { padding: 0px 4px 12px 4px; display: flex; flex-direction: row; gap: 0px 8px; align-items: center; justify-content: space-between; }
			> .titleWrap {
				.icon.withBackground { width: 24px !important; height: 24px !important; }
	
				.side.left { display: flex; flex-direction: row; gap: 0px 4px; align-items: center; }
				.side.right { display: flex; flex-direction: row; align-items: center; justify-content: flex-end; }

				.label { @include text-paragraph; font-weight: 600; }

				&.withToggle { padding-bottom: 0px; }
				&.withToggle { 
					.side.right { opacity: 0; transition: opacity 0.2s $easeInQuint; }
					.icon { pointer-events: none; }
					.label { font-weight: 500; @include text-common; color: var(--color-text-secondary); display: flex; flex-direction: row; align-items: center; gap: 0px 4px; }
					
					.label::before {
						content: ''; width: 20px; height: 20px; transform: rotateZ(-90deg);
						transition: $transitionAllCommon;
						background-color: var(--color-text-secondary);
						-webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8L10 13L5 8' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
						-webkit-mask-size: 20px 20px; -webkit-mask-repeat: no-repeat;
					}
					&.isOpen {
						.side.right { opacity: 1; }
						.icon { pointer-events: all; }
						.label::before { transform: rotateZ(0deg); }
					}
				}

				}

			> .list { display: flex; flex-direction: column; gap: 8px 0px; }
			> .list {
				&.anim { transition: height 0.2s $easeInQuint; }
				&.withToggle { overflow: hidden; height: 0px; }

				> .empty { padding: 13px 4px; color: var(--color-text-tertiary); }
			}
		}
	}

	.section { background: var(--color-shape-highlight-light); border-radius: 12px; padding: 8px 0px; }
	.section {
		.titleWrap { display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin: 0px 0px 8px 0px; padding: 0px 8px 0px 16px; }
		.titleWrap {
			.icon.withBackground { width: 24px !important; height: 24px !important; }
			}

		.title { @include text-paragraph; font-weight: 600; }
		.label { padding: 5px 16px; @include text-small; font-weight: 500; color: var(--color-text-secondary); }

		.sectionNameWrap { display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 5px 12px 5px 16px; gap: 0px 8px; }
		.sectionNameWrap {
			.side.left { display: flex; flex-direction: row; align-items: center; gap: 0px 4px; }
			.side.right { display: flex; flex-direction: row; align-items: center; justify-content: flex-end; }

			.label { padding: 0px; flex-grow: 1; }
			.icon { width: 24px !important; height: 24px !important; }
			.icon.more:hover { background-color: unset; }
		}

		.items { padding: 0px 8px; }

		.item { 
			padding: 3px 8px; display: flex; flex-direction: row; align-items: center; justify-content: space-between; position: relative; 
			border-radius: 6px; gap: 0px 4px;
		}
		.item.isDragging { opacity: 0; }

		.item {
			.name { flex-shrink: 0; }
			.tabSwitch { width: 100%; margin-bottom: 11px; }

			.value { overflow: hidden; }
			.value.flex { flex-direction: row; align-items: center; justify-content: space-between; gap: 0px 8px; }

			.select { border: 0px; color: var(--color-text-secondary); display: flex; padding-top: 0px; padding-bottom: 0px; }
			.select {
				.item { @include text-overflow-nw; }
				.item {
					.icon { display: none; }
				}
			}

			.icon.more { display: none; }

			.input-drag-horizontal { width: 96px; height: 16px; box-shadow: 0px 0px 0px 1px var(--color-shape-primary) inset; border-radius: 8px; overflow: hidden; }
			.input-drag-horizontal {
				.back { height: calc(100% - 2px); margin: 0px 0px 0px -1px; top: 1px; background: var(--color-shape-tertiary); border-radius: 0px 8px 8px 0px; }
				.fill { height: calc(100% - 2px); margin: 0px 0px 0px 1px; top: 1px; border-radius: 8px 0px 0px 8px; background: var(--color-bg-primary); }
				.icon { width: 16px; height: 16px; border-radius: 0px; border: 0px; }
				.bullet { width: 100%; height: 100%; border-radius: 50%; background: var(--color-bg-primary); border: 1px solid var(--color-shape-primary); }
			}

			&:hover, &.active {
				.icon.more { display: flex; }
			}
		}

		&.empty { text-align: center; }
	}

}

@import "./type.scss";
@import "./vault.scss";
@import "./widget.scss";
@import "./settings.scss";
@import "./object/relation.scss";
@import "./object/tableOfContents.scss";
@import "./bottom.scss";
