> .sidebarPage.pageType {
	.section.typeTitle { padding: 16px; }
	.section.typeTitle {
		> .wrap { display: flex; flex-direction: row; gap: 0px 8px; align-items: center; @include text-paragraph; font-weight: 600; }
		> .wrap {
			.iconObject { flex-shrink: 0; }
			.editableWrap { flex-grow: 1; @include text-overflow-nw; }
		}
	}

	.section.typeRelation,
	.section.typeConflict {
		.items { margin: 0px 0px 8px 0px; }
		.items:last-child { margin: 0px; }

		.item { padding-left: 4px; }
		.item {
			.icon { width: 20px; height: 20px; flex-shrink: 0; }
			.icon.dnd { background-image: url('~img/icon/sidebar/dnd.svg'); cursor: grab; }
			.icon.eye { background-image: url('~img/icon/sidebar/eye0.svg'); }
			.icon.eye.active { background-image: url('~img/icon/sidebar/eye1.svg'); }

			.iconObject { margin: 0px 6px 0px 0px; flex-shrink: 0; }

			.side { display: flex; flex-direction: row; align-items: center; }
			.side.left { flex-grow: 1; overflow: hidden; }
			.side.right { flex-shrink: 0; }

			.side.left {
				.name { @include text-overflow-nw; }
			}
		}

		.item::before {
			content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(79,79,79,0); z-index: 1;
			pointer-events: none; border-radius: inherit;
		}
		.item:hover::before, .item.hover::before { background: var(--color-shape-highlight-medium); }
	}
}
