> .sidebarPage.pageType {
	.section.typeTitle { padding: 16px; }
	.section.typeTitle {
		> .wrap { display: flex; flex-direction: column; gap: 5px 0px; }
		> .wrap {
			.label { padding: 0px; }
			.flex { display: flex; flex-direction: row; gap: 0px 8px; align-items: center; @include text-paragraph; font-weight: 600; }

			.iconObject { flex-shrink: 0; }
			.editableWrap { flex-grow: 1; @include text-overflow-nw; }
		}
	}

	.section.typeRelation {
		.titleWrap { margin-top: 4px; padding-right: 12px; }

		.items { margin: 0px 0px 8px 0px; }
		.items:last-child { margin: 0px; }

		.item { padding-left: 4px; }
		.item {
			.icon { width: 20px; height: 20px; flex-shrink: 0; }
			.icon.dnd { background-image: url('~img/icon/sidebar/dnd.svg'); cursor: grab; }
			.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); }
			.icon.more:hover, .icon.more.hover { background-image: url('~img/icon/menu/action/more1.svg'); }

			.iconObject { margin: 0px 6px 0px 0px; flex-shrink: 0; }

			.name { @include text-overflow-nw; flex-grow: 1; }

			&::before {
				content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(79,79,79,0); z-index: 1;
				pointer-events: none; border-radius: inherit;
			}

			&:not(.empty) {
				&:hover, &.hover {
					&::before { background: var(--color-shape-highlight-medium); }
				}
			}
		}

		.item.empty { padding-top: 5px; padding-bottom: 5px; padding-left: 8px; color: var(--color-text-tertiary); @include text-small; }
	}
}
