.sidebarPage.pageVault {
	> .head { 
		display: flex; flex-direction: row; align-items: center; justify-content: center; padding: 0px 12px; height: 52px;
		gap: 0px 8px; overflow: hidden; flex-shrink: 0;
	}
	> .head {
		.name { @include text-overflow-nw; }
	}

	> .body { padding-left: 0px; padding-right: 0px; overflow: visible; }

	.ReactVirtualized__List { padding-left: 8px; padding-right: 8px; }

	.filterWrapper { padding: 0px 12px; margin: 0px 0px 8px 0px; }
	.filter { padding: 0px; }
	.filter { 
		.inner { background-color: var(--color-shape-highlight-medium); }
	}

	.item { display: flex; align-items: center; gap: 0px 12px; padding: 8px 4px; }
	.item {
		.iconWrap { flex-shrink: 0; position: relative; border-radius: 6px; }
		.info { flex-grow: 1; display: flex; flex-direction: column; overflow: hidden; }

		.nameWrapper { display: flex; flex-direction: row; align-items: center; justify-content: space-between; overflow: hidden; gap: 0px 6px; }
		.name { @include text-overflow-nw; font-weight: 500; flex-grow: 1; }

		.label { @include text-overflow-nw; @include text-small; color: var(--color-text-secondary); }

		&::before {
			content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(79,79,79,0); z-index: 1;
			pointer-events: none; border-radius: 6px;
		}
		&.active::before, &.hover::before { background: var(--color-shape-highlight-medium); }
		&.selected::before { background: var(--color-system-selection); }

		.cnt { 
			min-width: 18px; height: 20px; border-radius: 10px; background: var(--color-system-accent-125); @include text-very-small; 
			color: var(--color-text-inversion); text-align: center; display: flex; align-items: center; justify-content: center;
			padding: 0px 4px; cursor: default; flex-shrink: 0;
		}
		.cnt {
			.icon.mention { width: 12px; height: 12px; background-image: url('~img/icon/vault/mention.svg'); }
		}

		&.isLastPinned::after {
			content: ""; position: absolute; left: 8px; bottom: 0px; width: calc(100% - 16px); height: 1px; background: var(--color-shape-primary); 
		}

		&.isMuted {
			.cnt { background-color: var(--color-text-secondary); }
		}

		&.isLoading {
			.iconWrap { background-color: var(--color-shape-highlight-medium); width: 48px; height: 48px; }
			.iconWrap {
				.iconObject { display: none; }
				&:before {
					content: ''; position: absolute; z-index: 2; left: 50%; top: 50%; margin: -10px 0px 0px -10px; border-radius: inherit;
					width: 20px; height: 20px; background: url('~img/icon/vault/spinner.svg'); animation: rotate 0.8s infinite linear;
				}
			}
			.cnt { display: none; }
		}
	}

	$transitionSettings: background-color 0.25s $easeInQuint;
	> .bottom {
		.sides { display: flex; align-items: center; justify-content: space-between; padding: 0px 12px 12px; gap: 0px 12px; }

		.side.left { width: 100%; overflow: hidden; }
		.side.left {
			.settings { display: flex; gap: 0px 8px; align-items: center; justify-content: flex-start; }
			.settings:hover {
				.iconObject { background-color: var(--color-shape-highlight-dark); }
			}

			.iconObject { flex-shrink: 0; transition: $transitionSettings; background-color: var(--color-shape-highlight-medium); }
			.name { font-weight: 500; white-space: nowrap; @include text-overflow-nw; }
		}

		.side.right { display: flex; gap: 0px 8px; flex-shrink: 0; }
		.side.right {
			.button,
			.icon { transition: $transitionSettings; height: 32px; width: 32px; border-radius: 16px; background-color: var(--color-shape-highlight-medium);  }

			.button { padding: 0px; text-align: center; @include text-small; font-size: 15px; font-weight: 500; color: var(--color-text-secondary); overflow: visible;}

			.icon { background-size: 20px; }
			.icon.gallery { background-image: url('~img/icon/vault/gallery.svg'); }

			.icon:hover,
			.icon.hover,
			.button:hover,
			.button.hover { background-color: var(--color-shape-highlight-dark) !important; }
			.button {
				.txt { @include text-overflow-nw; }
			}
		}
	}
}
