.sidebarPage.pageWidget { height: 100%; width: 100%; display: flex; flex-direction: column; overflow: hidden; position: relative; z-index: 1; flex-shrink: 0; }
.sidebarPage.pageWidget {
	> .head { 
		display: flex; flex-direction: row; align-items: center; justify-content: center; padding: 0px 12px; height: 52px;
		gap: 0px 8px; flex-shrink: 0; position: relative; z-index: 2;
	}
	> .head {
		.name { 
			@include text-overflow-nw; opacity: 0; transform: translate3d(0px,30px,0px); transition: all 0.2s $easeInQuint; 
			max-width: calc(100% - 88px); display: none;
		}
	}
	> .head.show {
		.name { opacity: 1; transform: translate3d(0px,0px,0px); }
	}

	> .subHead {
		.icon.more { background-image: url('~img/icon/widget/button/more.svg'); }
		.icon.expand { background-image: url('~img/icon/widget/button/expand.svg'); }
	}

	.widgetSection { display: flex; flex-direction: column; }
	.widgetSection {
		> .nameWrap { display: flex; @include text-small; font-weight: 500; color: var(--color-text-secondary); justify-content: space-between; padding: 0px 16px; }
		> .nameWrap {
			.icon.arrow { width: 12px; height: 12px; background-image: url('~img/arrow/widgetSection0.svg'); transform: rotateZ(-90deg); display: none; }
			.icon.plus { width: 12px; height: 12px; background-image: url('~img/icon/plus/widgetSection0.svg'); }

			.name { display: flex; flex-direction: row; align-items: center; gap: 0px 6px; padding: 5px 0px; transition: color $transitionCommon; }
			.name {
				&:hover { color: var(--color-text-primary); }
				&:hover {
					.icon.arrow { background-image: url('~img/arrow/widgetSection1.svg'); }
				}
			}

			.buttons { 
				display: flex; flex-direction: row; gap: 0px 4px; align-items: center; justify-content: flex-end; opacity: 0; 
				transition: opacity $transitionCommon;
			}
			.buttons {
				.button.blank { border: 0px; padding: 5px 0px; @include text-small; color: var(--color-text-secondary); font-weight: 500; }
				.button.blank {
					&:hover { background: none; color: var(--color-text-primary); }
					&:hover {
						.icon.plus { background-image: url('~img/icon/plus/widgetSection1.svg'); }
					}
				}						
			}

			&:hover {
				.icon.arrow { display: block; }
				.buttons { opacity: 1; }
			}
		}

		> .items { display: flex; flex-direction: column; overflow: hidden; height: 0px; }
		> .items {
			&.anim { transition: height 0.2s $easeInQuint; }
		}

		&.isOpen {
			> .nameWrap .icon.arrow { transform: rotateZ(0deg); }
		}
	}

	> .body { padding: 0px; position: relative; flex-grow: 1; overflow-x: hidden; overflow-y: scroll; overscroll-behavior: none; }
	> .body.isPreview { overflow: hidden; }
	> .body {
		@keyframes shake1 {
			0% { transform: rotate(-0.5deg); }
			100% { transform: rotate(0.5deg); }
		}

		@keyframes shake2 {
			0% { transform: rotate(0.5deg); }
			100% { transform: rotate(-0.5deg); }
		}

		> .content { display: flex; flex-direction: column; }

		#widget-chat { margin: 0px 0px 8px 0px; }

		.widget.isEditable.isOver::before { 
			content: ""; position: absolute; background: var(--color-control-accent); height: 2px; width: calc(100% - 24px); border-radius: 2px; 
			left: 12px; 
		} 
		.widget.isEditable.isOver.top::before { top: 0px; }
		.widget.isEditable.isOver.bottom::before { bottom: 0px; }
	}

	> .body.isOnboardingHidden { visibility: visible; }
}