@import "~scss/_vars";

.button { 
	display: inline-flex; border: 0px; font-weight: 500; text-decoration: none;
	height: 40px; padding: 0px 16px; border-radius: 8px; transition: $transitionAllCommon;
	vertical-align: middle; position: relative; overflow: hidden; align-items: center; justify-content: center; 
	@include text-paragraph;
}

.button > .loaderWrapper { position: absolute; z-index: 1; width: 100%; height: 100%; }
.button.isLoading {
	.txt, .icon { display: none; }
}

.button.orange { background: $colorOrange; color: $colorWhite; }
.button.orange:not(.disabled):hover { background: #f09c0e; }

.button.black { background: $colorBlack; color: $colorWhite; }
.button.black:not(.disabled):hover { background: #41403d; }
.button.black {
	.arrow { background-image: url('~img/arrow/button/white.svg'); }
}

.button.red { color: $colorRed; border: solid 1px $colorBorderDark; }
.button.red:not(.disabled):hover { background: #fee7e0; border-color: #fcd1c3; }

.button.dark { background: rgba(0,0,0,0.3); color: $colorWhite; }
.button.dark:not(.disabled):hover { background: rgba(0,0,0,0.4); }

.button.blank { background: none; border: solid 1px $colorBorderDark; font-weight: 400; }
.button.blank:not(.disabled):hover { background: $colorHoverMedium; }

.button.c36 { @include text-common; height: 36px; border-radius: 6px; padding: 0px 12px; }
.button.c28 { @include text-common; height: 28px; border-radius: 6px; padding: 0px 10px; }
.button.c16 { @include text-9; height: 16px; border-radius: 4px; padding: 0px 4px; }

input.button { line-height: 1; }

.button {
	.icon { margin-right: 10px; }
	.arrow { display: inline-block; width: 8px; height: 8px; margin: 0px 0px 0px 4px; }
}

.button.simple { 
	height: auto; padding: 0px; color: $colorMediumGrey; font-weight: bold; line-height: 1.43; 
	letter-spacing: 0.1px; 
}
.button.simple:hover { color: $colorBlack; }