@import "~scss/_vars";

.input {
	background: none; height: 30px; border-radius: 0px; color: inherit; padding: 0px 12px; width: 100%;
	@include text-common;
}
.input.isReadonly { background: #f7f5f0; cursor: default; }
.input::placeholder { color: var(--color-shape-primary); }

.input.withError { border-color: var(--color-red) !important; }