@import "~scss/_mixins";

.input-vertical-drag { padding: 8px; width: 20px; height: 88px; border-radius: 8px; background-color: white; box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); visibility: visible; }
.input-vertical-drag.hidden { visibility: hidden; }
.input-vertical-drag {
    input[type='range'] { position: absolute; width: 4px; height: 72px; cursor: pointer;  writing-mode: vertical-lr; }

    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb { -webkit-appearance: none; }

    input[type='range']::-webkit-slider-runnable-track { height: 4px; background: linear-gradient(to left, #293043, #293043), #D7D7D7;
        transform: scaleY(-1); /* Flips the background horizontally */ background-size: 100% var(--background-size, 0%); background-repeat: no-repeat;
        border-radius: 2px; }

    input[type='range']::-webkit-slider-thumb { width: 4px; height: 4px; cursor: pointer; background: transparent; border: none; border-radius: 50%; margin-top: -2px; }
}