@import "~scss/_vars";

.pageAuth, .pageIndex, .pageObject {
	.frame { width: 672px; padding: 60px 48px 48px 48px; text-align: center; }
	.title { margin-bottom: 22px; }
	.label { margin-bottom: 26px; }
	.input { height: 40px; border: solid 1px $colorBorderDark; }

	.header { width: 100% !important; }
	.footer { width: 100% !important; }

	.authBackWrap { position: absolute; top: 8px; left: 8px; display: flex; align-items: center; flex-wrap: nowrap; cursor: pointer; color: $colorDarkGrey; }
	.authBackWrap {
		.icon.back { width: 24px; height: 24px; background-image: url('~img/icon/popup/settings/back0.svg'); transition: none; }
	}

	.authBackWrap:hover { color: $colorBlack; }
	.authBackWrap:hover {
		.icon.back { background-image: url('~img/icon/popup/settings/back1.svg'); }
	}

	.textareaWrap { margin: 0px 0px 32px 0px; }
	.iconObject { margin-bottom: 12px; }
	
	.button { margin-right: 16px; width: 176px; }
	.button:last-child { margin: 0px; }
}

.pageIndex.pageIndexIndex,
.pageAuth.pageAuthSelect,
.pageAuthLogin,
.pageAuthInvite
.pageAuthRegister {
	.button { font-size: 16px; letter-spacing: -0.2px; }
}

.pageIndex.pageIndexIndex,
.pageAuth.pageAuthSelect {
	.frame { padding: 59px 112px 48px 112px; }
	.title { font-size: 44px; line-height: 40px; letter-spacing: -1px; font-weight: 700; }
	.label { font-size: 18px; line-height: 26px; letter-spacing: -0.28px; }
}

.pageAuthLogin,
.pageAuthInvite {
	.input { text-align: center; border: solid 0px; border-bottom: solid 1px $colorBorderDark; font-family: 'Plex'; margin-bottom: 32px; }
}

.pageAuthPinSelect, .pageAuthPinConfirm, .pageAuthPinCheck {
	.input { width: 40px; margin-right: 8px; padding: 0px; text-align: center; vertical-align: top; font-size: 18px; }
	.input:last-child { margin: 0px; }
}

.pageAuthSetup {
	.title { margin: 0px; }
	.label { margin: 15px 0px 0px 0px; display: none; }
}

.pageAuthAccountSelect {
	.frame { padding-bottom: 48px; }
	.title { margin-bottom: 21px; }
	.list { border-radius: 8px; border: 1px solid #e0ded2; }
	
	.list {
		.item { border-bottom: 1px solid #e0ded2; padding: 12px; cursor: pointer; }
		.item:last-child { border: 0px; }
		
		.item {
			.icon.user { width: 48px; height: 48px; line-height: 50px; font-size: 21px; letter-spacing: -0.16px; margin-right: 12px; }
			.name { 
				font-size: 18px; line-height: 26px; display: inline-block; vertical-align: middle; width: calc(100% - 60px); height: 26px; 
				font-weight: 600; margin-top: 2px; @include text-overflow-nw;   
			}
		}
		
		.item.add {
			.icon.plus { width: 48px; height: 48px; margin-right: 12px; background-size: 16px 16px; background-image: url('~img/icon/plus/account0.svg'); }
		}
		.item.add:hover {
			.icon.plus { background-image: url('~img/icon/plus/account1.svg'); }
		}
	}
}

.pageAuthSuccess {
	.label { margin-bottom: 10px; }
	.textareaWrap { color: $colorIce; }
}

.pageAuthRegister {
	.advanced { line-height: 24px; cursor: pointer; position: absolute; top: 8px; right: 16px; color: $colorDarkGrey; transition: $transitionFast; }
	.advanced:hover { color: $colorBlack; }

	.frame { padding-bottom: 36px; }
	.fileWrap { background-color: $colorBorderDark; display: block; margin: 0 auto 24px; }

	.label { margin-bottom: 0; }
	.input-text { display: block; text-align: center; padding-bottom: 9px; width: 360px; margin: 0 auto 32px; font-size: 28px; line-height: 32px; font-weight: 700; border: solid 0px; border-bottom: solid 1px $colorBorderDark; }
	.button { vertical-align: middle; width: 134px; padding: 0px; }
	.iconObject { background-image: url('~img/icon/camera.svg'); background-size: 40px 30px; background-repeat: no-repeat; background-position: center; }
	.iconObject.active {
		.image { background-size: cover; }
	}

	.row.flex { flex-direction: row; align-items: center; gap: 0px 16px; margin-bottom: 16px; }

	.row.location { @include text-small; @include text-overflow-nw; }
}

.pageAuthDeleted {
	.frame { width: 672px; }
	.title { text-align: center; @include text-header1; margin-bottom: 20px; }
	.label { margin-bottom: 10px; }

	.pie { text-align: center; margin-bottom: 20px; }
	.pie {
		.inner { display: inline-block; padding: 8px; border: 1.5px solid $colorBorderDark; border-radius: 100%; width: 64px; height: 64px; }
	}

	.row { 
		padding: 18px 0px 17px 0px; border-bottom: 1px solid $colorLightGrey; cursor: pointer; position: relative; 
		@include text-paragraph; line-height: 28px;
	}
	.row.red { color: $colorRed; }
}