@import "~scss/_mixins";

.pageAuthMigrate {
    .frame { width: 640px; background: #191919 !important; border: 1px solid #313131; border-radius: 20px; padding: 32px 44px; }

    .icon { width: 72px; height: 72px; margin-bottom: 24px; background: url('~img/icon/migration/progress.svg'); }
    .icon.error { display: inline-block; background: url('~img/icon/migration/error.svg'); }
    .title { color: #f8f8f8; @include text-header3; margin-bottom: 4px; }
    .label { margin-bottom: 20px; }

    .progressBar { padding: 4px 0px 12px; }
    .progressBar {
        .bar { height: 8px; }
        .bar {
            .fill:not(.empty) { background: linear-gradient(90deg, #ffee94 0%, #ffd15b 50%, #ffee94 100%); }
        }
    }

    .button { background: #d4d4d4 !important; color: #171717 !important; width: unset; }
}
