@import "~scss/_vars";

$colorPrimary: #d4d4d4;
$colorSecondary: #8d8d8d;
$colorTertiary: #505050;
$colorError: #8a351a;

$colorDark: #060606;
$colorButtonStroke: #252525;
$colorButtonBlackHover: rgba(37, 37, 37, 0.8);
$colorButtonBlankHover: rgba(23, 23, 23, 0.8);
$colorInputOpaque: #17171799;
$colorPopUp: #141414;
$colorErrorBackground: #240e07;

$shadow: 0px 0px 0px 1px #252525 inset;

html.bodyIndex, html.bodyAuth {
	body { background: $colorDark !important; color: $colorSecondary; overflow: hidden; }
	.navigationPanel { display: none !important; }
}

html.bodyAuthOnboard, html.bodyAuthLogin, html.bodyAuthDeleted {
	#popupConfirm-innerWrap { background: $colorPopUp; width: 542px; box-shadow: $shadow; }
	#popupConfirm-innerWrap h1 { color: $colorPrimary; }
	#popupConfirm-innerWrap {
		.content { text-align: left; }

		.button.disabled { color: $colorTertiary }

		.button.black { color: $colorPrimary; background: $colorButtonStroke; }
		.button.black:not(.disabled):hover { background: $colorButtonBlackHover; }
		
		.button.blank { border-color: $colorButtonStroke; color: $colorPrimary; background: none; }
		.button.blank:hover { background: $colorButtonBlankHover; }

		h1 { font-size: 18px; margin-bottom: 16px; }
		b { display: block; font-weight: 700; color: $colorPrimary; margin-bottom: 8px; }
		p { margin-bottom: 8px; }
		ul { list-style-position: inside; padding-left: 0.75em; margin-bottom: 8px; }
		ul.last { margin: 0px; }
	}

	.menus {
		.menu.menuAccountPath { background: $colorPopUp; box-shadow: $shadow; width: 460px; } 
		.menu.menuAccountPath {
			.label { color: $colorSecondary; }
			.label.path { color: $colorPrimary; }
		}
	}

	.tooltip { 
		width: 410px; padding: 12px 16px; background: $colorPopUp !important; color: $colorSecondary; box-shadow: $shadow !important; @include text-common; 
		white-space: normal;
	}
	.tooltip {
		.txt { line-height: 22px; }
		b { display: block; font-weight: 500; color: $colorPrimary; }
		ul { list-style-position: inside; padding-left: 0.75em; }
	}
}

html.bodyAuthDeleted {
	#popupConfirm-innerWrap {
		.buttons { flex-direction: row-reverse; justify-content: space-between; width: 100%; }
	}
}

.pageAuth, .pageIndex {
	.frame { text-align: center; background: none !important; }
	.input { height: 40px; border: solid 1px $colorBorderDark; }

	.header { width: 100% !important; }
	.footer { width: 100% !important; }

	.icon.arrow.back {
		position: fixed; top: 50%; left: 10px; width: 32px; height: 56px; margin-top: -28px; background-image: url('~img/arrow/auth0.svg');
		z-index: 2;
	}
	.icon.arrow.back:hover { background-image: url('~img/arrow/auth1.svg'); }
	
	.textareaWrap { margin: 0px 0px 32px 0px; }
	.iconObject { margin-bottom: 12px; }

	.buttons { display: flex; flex-direction: column; align-items: center; gap: 12px 0px; }
	.button { width: 192px; }
	.button.disabled { color: $colorTertiary }
	
	.button.black { color: $colorPrimary !important; background: $colorButtonStroke !important; }
	.button.black:not(.disabled):hover { background: $colorButtonBlackHover !important; }

	.button.blank { border-color: $colorButtonStroke !important; color: $colorPrimary !important; background: none; }
	.button:not(.disabled):hover{ background: $colorButtonBlankHover !important; }

	.small { color: $colorSecondary; }
	.small:hover { color: $colorPrimary; }

	.error { color: $colorError; margin: 0.3em 0px; }
	.withError { background: $colorErrorBackground; }

	@keyframes dots {
		0% { background-color: $colorWhite; }
		32% { background-color: $colorWhite; }
		100% { background-color: rgba(0,0,0,0); }
	}

	.loaderWrapper {
		.dot { animation-name: dots !important; }
    }
}

.pageIndexIndex, .pageAuthSelect {
	.frame { width: 830px; }
	.title { font-family: 'Riccione'; font-size: 102px; line-height: 90px; letter-spacing: -3px; font-weight: 500; margin-bottom: 24px; color: $colorPrimary; }
	.label { font-size: 16px; line-height: 26px; letter-spacing: -0.28px; width: 448px; margin: 0px auto 22px auto; color: $colorSecondary; }

	@media (max-width: 862px) {
		.frame { width: calc(100% - 32px); }
	}
}

.pageAuthLogin {
	.form { width: 100%; }
	.icon { height: 20px; width: 20px; }
	.error { position: absolute; z-index: 1; width: 100%; left: 0px; top: -32px; }

	.title { margin: 0px 0px 20px 0px; }
	.phraseWrapper { margin: 0px 0px 20px 0px; }
}

.pageAuthInvite {
	.frame { padding: 64px; }
	.label { width: 500px; }
	.input { text-align: center; border: solid 0px; border-bottom: solid 1px $colorBorderDark; font-family: 'Plex'; margin-bottom: 32px; }
}

.pageAuthPinCheck {
	.title { font-size: 22px; margin-bottom: 20px; }
	.pin { display: flex; gap: 0px 8px; flex-direction: row; }
	.pin {
		.input { 
			width: 86px; height: 86px; border-radius: 24px; background: $colorInputOpaque; padding: 0px; text-align: center; 
			vertical-align: top; font-size: 18px; border-width: 2px; border-color: rgba(0,0,0,0);
		}
		.input.active { box-shadow: 0px 0px; border-color: $colorOrange; }
	}
}

.pageAuthSetup {
	.wrapper { transition: opacity 0.5s ease-in-out; }
	.frame { width: 480px; }

	.importBackupWrap {
		.title { margin: 0px 0px 12px 0px; }
		.label { margin: 0px 0px 32px 0px; }
	}
}

.pageAuthAccountSelect {
	.frame { padding-bottom: 48px; }
}

.pageAuthOnboard, .pageAuthInvite, .pageAuthLogin, .pageAuthDeleted, .pageAuthSetup {
	.frame { display: flex; flex-direction: column; align-items: center; }
	.title { @include text-description; color: $colorPrimary; }
	.label { color: $colorSecondary; }
	.bottom { position: fixed; bottom: 24px; left: 0; right: 0; display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 0px 6px; opacity: 0.6; }
	.bottom {
		.icon { background-image: url('~img/icon/footer/gear0.svg'); }
	}
	.bottom:hover {
		.icon { background-image: url('~img/icon/footer/gear1.svg'); }
	}
}

.pageAuthOnboard, .pageAuthLogin {
	.frame { width: 1064px; top: 40%; margin-top: 0px !important; }

	@media (max-width: 1160px) {
		.frame { width: calc(100% - 96px); }
	}
}

.pageAuthOnboard {
	.title { margin: 0px 0px 10px 0px; }
	.label { margin: 0px 0px 20px 0px; }
	.dotIndicator { margin: 0px 0px 12px 0px; }

	canvas { height: 100vh; width: 100vw; }

	.label { width: 415px; }
	.button { min-width: 192px; width: auto; }

	.icon.gear { background-image: url('~img/icon/footer/gear0.svg'); height: 20px; width: 20px; }

	#accountPath { display: flex; align-items: center; flex-direction: row; gap: 0px 6px; }
	#accountPath:hover {
		.icon.gear { background-image: url('~img/icon/footer/gear1.svg'); }
	}

	.questionMark { border-radius: 100%; width: 16px; height: 16px; font-size: 13px; line-height: 16px; display: inline-block; background-color: $colorSecondary; color: black; }
	.questionMark:hover { background-color: $colorPrimary; }

	.phraseWrapper, .inputWrapper { margin: 0px 0px 20px 0px; }
	.phraseWrapper {
		.icon { display: none; }
	}

	.inputWrapper {
		.input { border-radius: 26px; border: none; background: $colorInputOpaque; color: $colorPrimary; font-size: 18px; padding: 36px 26px; width: 392px; height: auto; }
		.input:hover { filter: brightness(1.2) }
		.input::placeholder { color: $colorTertiary !important; }
	}

	.soulContent { position: relative; width: 100px; margin-top: 28px; }
	.soulContent {
		.account, .space, .line { transition: all 600ms ease-in; position: absolute; display: flex; flex-direction: column; }
		.account, .space { align-items: center; gap: 12px; width: 100px; top: 0; left: 0; }
		.account { z-index: 2; }
		.space { transition: all 600ms ease-in, opacity 300ms ease-in; z-index: 1; opacity: 0; }
		.iconObject.withOption.isSpace { background: $colorLineTertiary !important; border-radius: 8px; }
		
		.line { z-index: 0; height: 1px; top: 32px; width: 0; background: $colorWhite; }
		.line.left { right: 50%; }
		.line.right { left: 50%; }
		.iconObject { margin: 0; }
		.accountName, .spaceName { text-overflow: ellipsis; overflow: hidden; width: 120px; color: $colorPrimary; }
	}

	.soulContent.soulCreating {
		.iconObject { background: $colorWhite; box-shadow: 0px 0px 0px 0px $colorWhite; animation: pulse 1.5s infinite; }

		@keyframes pulse {
			0% { transform: scale(1); }
			70% { transform: scale(1.1); }
			100% { transform: scale(1); }
		}
	}

	.soulContent.spaceCreating {
		.account { transform: translateX(-70px); }
		.space { transform: translateX(70px); opacity: 1; }
		.line { width: 70px; }
	}
}

.pageAuthDeleted {
	canvas { height: 100vh; width: 100vw; }

	.title { color: $colorPrimary; margin: 0px 0px 10px 0px; }
	.frame { width: 500px; }
	.label { @include text-paragraph; margin: 0px 0px 20px 0px; }

	.pie { margin: 0px 0px 10px 0px; }
	.pie {
		.inner { display: inline-block; padding: 8px; border: 1px solid $colorSecondary; border-radius: 100%; width: 64px; height: 64px; }
	}

	.button { width: 320px; }
	.remove { color: $colorRed; }
}