@import "~scss/_vars";

.pageHelp {
	.wrapper { width: 704px; margin: 0px auto; padding: 100px 0px; }
	.note { text-align: right; color: #aca996; display: block; }

	.wrapContent { width: 100% !important; }
	.wrapContent {
		.icon.help { width: 20px; height: 20px; margin-top: -4px; }
		.link { white-space: nowrap; cursor: pointer; }
	}
}