$colorWhite: #fff;
$colorBlack: #333;
$colorDarkGrey: $colorWhite;

@media (prefers-color-scheme: dark) {
	body { background: $colorBlack; color: white; }

	.frame { background: $colorBlack; }

	.header.headerMainEdit { background: $colorBlack; }
	
	.popups {
		.popup {
			.innerWrap { background: $colorBlack; }
			.loaderWrapper { background: rgba(0,0,0,0); }
		}

		.popup.popupSettings .head { background: $colorBlack; }
		.popup.popupSearch .head { background: $colorBlack; }
	}

	.menus {
		.menu { background: #444; }
		.menu.vertical .item { background: #444; }
	}

	.pageMainIndex {
		#documents {
			.item { background: $colorBlack; }
		}
	}

	.cell.isEditing .cellContent { background: $colorBlack; }

	.blocks {
		.block.blockDataview {
			.views { 
				.item:hover, .item.active { color: $colorWhite; }
			}

			.viewItem.viewGrid .cellContent.isName .icon.expand { background-color: unset; }
			.buttons { color: $colorWhite; }
			.buttons {
				.item:hover { color: $colorWhite; }
			}
		}

		.block.blockIconUser .iconObject { box-shadow: 0px 0px 0px 2px $colorBlack; }
	}

}