@media print {
	@page {
		size: A4;
		margin: 0px 0px 2cm 0px;
	}

	body { -webkit-print-color-adjust: exact; }

	.header { display: none; }
	.footer { display: none; }
	
	.block.blockCover { left: 0px; width: 100%; }
	
	.pageMainEdit .blocks { padding: 0px 1.5cm 2cm 1.5cm }

	.editorControls { display: none; }

	.blocks {
		#button-add { display: none; }
	
		.block {
			.icon.dnd { display: none; }
		}
		
		.block.blockMedia {
			.icon.play { display: none; }
		}
		
		.block.blockText {
			.placeholder { display: none !important; }
		}
		
		.block.blockBookmark {
			.side.left { width: 100% !important; }
			.side.right { display: none; }
			
			.inner.vertical { padding: 0px; }
		}
	}
}