html.printMedia {
	@page { size: A4; margin: 0px 1.5cm; }
	@page:first { margin-top: 0px; }

	body { margin: 0px; -webkit-print-color-adjust: exact; }

	#navigationPanel { display: none !important; }
	#selection * { user-select: text; }
	#sidebar { display: none; }
	.sidebarDummy { display: none; }
	.progress { display: none; }
	.toast { display: none !important; }
	.overPopup { overflow: visible !important; }

	#drag, #previewLink, .menu, 
	.controlButtons, 
	.header, .footer 
	{ display: none !important; }

	#page.isFull { width: 100% !important; }

	.focusable.isFocused { background: none !important; }
	.focusable.isFocused::before { display: none; }

	.popups {
		.popup { position: relative; }
		.dimmer { display: none !important; }
	}
	
	#editorWrapper.withIcon .blocks { margin-top: 2cm; }
	#editorWrapper {
		#editorSize { display: none !important; }
	}

	.pageMainEdit #bodyWrapper { padding: 0px !important; }
	.pageMainType, .pageMainRelation {
		.wrapper { padding: 2cm 0px; }
		.wrapper {
			.head {
				.side.center { margin: 0px; }
				.side.right { display: none; }
			}	
		}
	}

	.popupPage {
		.innerWrap { 
			width: 100% !important; height: auto !important; margin: 0px !important; left: 0px; top: 0px; 
			border-radius: 0px; box-shadow: 0px 0px; overflow: visible; position: static;
		}
	}

	.block.blockCover { left: 0px !important; top: 0px !important; width: 100%; border-radius: 0px; }

	.blocks { width: 100%; margin: 0px; }
	.blocks {
		.wrapMenu { display: none; }
		#button-block-add { display: none; }

		.block.blockMedia, .block.blockBookmark { break-inside: avoid-page; }

		.block.blockMedia {
			.icon.play { display: none; }
		}
		.block.blockText {
			.placeholder { display: none !important; }
		}

		.block.blockText.textCode > .wrapContent > .selectable > .dropTarget #value { white-space: normal; overflow-x: visible; }
	}
}

html.printMedia.print {
	#editorWrapper { width: 100% !important; }

	.blocks { padding: 0px 0.5cm; }
	.blocks {
		.block.blockBookmark {
			.side.left { width: 100% !important; }
			.side.right { display: none; }
		}
	}
}

html.printMedia.withPopup .page.isFull { display: none !important; }

@media (max-width: 500px) {
	html.printMedia.save {
		#editorWrapper { width: 100% !important; margin: 0px 16px; }
		#editorWrapper {
			.blocks { margin: 0px; }
			.blocks {
				.wrapMenu { display: none; }
			}
		}
	}
}