.editorWrapper.isBookmark {
	.editorControls { display: none; }

	.bookmarkOgImage {
		width: 100%; aspect-ratio: 1.91; background-size: cover; background-position: center; background-repeat: no-repeat;
		border-radius: 6px; margin-left: 48px; position: relative; display: flex; align-items: center; justify-content: center;
		background-color: var(--color-shape-tertiary);

		&.isLoaded { background-color: transparent; }

		.loaderWrapper { position: absolute; }
	}

	.bookmarkLink { 
		display: flex; flex-direction: row; gap: 0px 6px; align-items: center; margin: 16px 0px 0px 0px; padding-left: 48px; 
	}
	.bookmarkLink {
		.fav { width: 14px; height: 14px; flex-shrink: 0; border-radius: 2px; }
		.url { color: var(--color-text-secondary); }
	}

	.block.blockFeatured { padding-bottom: 0px; }

	.bookmarkButtons { margin: 12px 0px 32px 0px; display: flex; flex-direction: row; gap: 0px 16px; padding-left: 48px; }

	.bookmarkSection { padding-top: 28px; border-top: 1px solid var(--color-shape-highlight-medium); padding-left: 48px; }
	.bookmarkSection {
		.title { @include text-paragraph; font-weight: 600; margin-bottom: 4px; position: relative; }

		.block { display: block; margin: 0px; }
		.block {
			.wrapMenu { display: none; }
			.wrapContent { width: 100%; }
		}

		.block.blockRelation {
			.icon.relation { display: none; }
			.info { width: 50%; padding-left: 0px; }
			.info {
				.name { color: var(--color-text-secondary); }
			}
		}
	}

	&.align1 {
		.bookmarkLink { justify-content: center; padding-left: 0px; }
		.bookmarkButtons { justify-content: center; padding-left: 0px; }
	}

	&.align2 {
		.bookmarkLink { justify-content: flex-end; padding-left: 0px; margin-right: 48px; }
		.bookmarkButtons { justify-content: flex-end; padding-left: 0px; margin-right: 48px; }
	}
}
