@import "~scss/_vars";

.mediaAudio {
    .audioControls { width: 100%; min-width: 160px; position: relative; text-align: left; color: $colorBlack; }
    .audioControls {
        .name {
            @include text-common; display: inline-block; vertical-align: top;
            line-height: 20px; width: calc(100% - 26px);
        }
        .name span { display: inline-block; min-width: 100%; height: 100%; }
        .icon { vertical-align: top; transition: none; }
        .icon.play {
            width: 20px; height: 20px; margin-right: 6px; background-image: url('~img/icon/audio/play.svg');
            cursor: pointer; margin-left: -4px;
        }
        .icon.play.active { background-image: url('~img/icon/audio/pause.svg'); }

        .icon.volume {
            width: 20px; height: 20px; margin-right: 6px; background-image: url('~img/icon/audio/volume.svg');
            cursor: pointer; margin-left: -2px;
        }
        .icon.volume.active { background-image: url('~img/icon/audio/mute.svg'); }

        .time { @include text-small; text-align: right; line-height: 20px; position: absolute; right: 0px; bottom: 0px; }

        .input-drag { display: inline-block; vertical-align: top; height: 20px; }
        .input-drag {
            .icon { width: 6px; height: 6px; border: 0px; background: none;  }
            .bullet { width: 6px; height: 6px; border-radius: 100%; background: #f09c0e; }
            .fill { background: #f09c0e; }
            .back { background: $colorHover; }
        }

        #time { margin: 6px 0px; width: 100%; display: block; }
        #volume { width: 40px; opacity: 0; transition: opacity 0.2s ease-in-out; }
    }
    .audioControls:hover {
        #volume { opacity: 1; }
    }
}