@import "~scss/_mixins";

.mediaAudio { width: 100%; border: 1px solid var(--color-shape-secondary); container-type: inline-size; container-name: media-audio;}
.mediaAudio {
    .controls { width: 100%; position: relative; text-align: left; color: var(--color-text-primary); }
    .controls {
        .name {
            @include text-common; display: inline-block; vertical-align: top;
            line-height: 20px; padding-bottom: 3px;
        }
        .name span { display: inline-block; min-width: 100%; height: 100%; @include clamp1; }

        .controlsWrapper { display: flex; align-items: center; column-gap: 10px; }
        @container media-audio (max-width: 500px) { .controlsWrapper { column-gap: 5px; }; }

        .controlsWrapper {
            div { flex: 0 1 auto;}

            .timeDragWrapper { flex: 1 0 auto; }

            --icon-size: 20px;

            .icon { vertical-align: top; transition: none; }
            .icon.play {
                width: var(--icon-size); height: var(--icon-size); min-width: var(--icon-size); min-height: var(--icon-size); background-image: url('~img/icon/audio/play.svg');
            }
            .icon.play.active { background-image: url('~img/icon/audio/pause.svg'); }
            
            .input-drag { 
                .icon { cursor: default; }
            }
            
            .icon.volume { width: var(--icon-size); height: var(--icon-size);  min-width: var(--icon-size); min-height: var(--icon-size); background-image: url('~img/icon/audio/volume.svg'); }
            .icon.volume.active { background-image: url('~img/icon/audio/mute.svg'); }

            .icon.volume::before { position: absolute; content: ''; top: -10px; right: 0px; left: 0px; bottom: 0px; z-index: 100; }
    
            .time { @include text-small; text-align: right; line-height: 20px; text-wrap: nowrap; width: 86px; text-align: center; }

            @container media-audio (max-width: 500px) {
                .time { display: none; }
            }
    
            .input-drag { display: inline-block; vertical-align: top; height: 20px;}
            .input-drag {
                .icon { width: 6px; height: 6px; border: 0px; background: none; }
                .bullet { width: 12px; height: 12px; border-radius: 6px; background: var(--color-control-accent); }
                .fill { height: 4px; background: var(--color-control-accent); transform: translateY(-50%); margin-top: 0px; }
                .back { width: 100%; height: 4px; background: var(--color-shape-secondary); transform: translateY(-50%); margin-top: 0px; }
            }

        }
        
        #time { margin: 6px 0px; width: 100%; display: block; }
        
    }
}

.volume.input-vertical-drag { opacity: 0; transition: opacity $transitionSmoothCommon; pointer-events: none; z-index: 0; }
.volume.input-vertical-drag.visible { opacity: 1; pointer-events: auto; z-index: 4; }