@import "~scss/_vars";

.menus {
	.menu.menuBlockAction { padding: 7px 0px; }
	.menu.menuBlockAction {
		.section { padding: 7px 0px; }
		.section:first-child { padding-top: 0px; }
		.section:last-child { padding-bottom: 0px; }
	}
}