@import "~scss/_vars";

.menus {
	.menu.menuBlockAction { width: 192px; }
	.menu.menuBlockAction {
		.section { padding: 4px 0px; }
		.input { font-weight: 500; font-size: 15px; padding: 0px 15px; }
	}
}