@import "~scss/_vars";

.menus {
	.menu.menuBlockAdd, .menu.menuBlockAddSub, .menuBlockStyle, .menuBlockAction { width: 192px !important; }
	.menu.menuBlockAdd, .menu.menuBlockAddSub, .menuBlockStyle, .menuBlockAction {
		.empty { font-size: 13px; line-height: 18px; padding: 4px 12px; }
	
		.item { font-size: 15px !important; font-weight: 500; padding: 4px 12px !important; }
		.item {
			.name { line-height: 1; }
		}
		
		.item.yellow:hover, .item.yellow.active { background: $colorOrange !important; }
		.item.green:hover, .item.green.active { background: #0cbbae !important; }
		.item.blue:hover, .item.blue.active { background: #1ba0eb !important; }
		.item.red:hover, .item.red.active { background: #ee420b !important; }
		.item.purple:hover, .item.purple.active { background: #a646c9 !important; }
	
		.icon { width: 24px; height: 24px; background-size: 100% 100%; }
		.icon.arrow { position: absolute; right: 8px; top: 4px; margin: 0px; background-image: url('~img/icon/menu/add/arrow0.svg'); }
	}
	
	.menu.menuBlockAdd.withFilter, .menu.menuBlockAddSub.withFilter { width: 288px !important; }
	
	.menu.menuBlockAdd, .menu.menuBlockAddSub {
		.item.withColor:hover, .item.withColor.active { color: #fff; }
		.item.withColor:hover, .item.withColor.active {
			.icon.arrow { background-image: url('~img/icon/menu/add/arrow1.svg'); }
			.icon.text { background-image: url('~img/icon/menu/action/block/text1.svg'); }
			.icon.list { background-image: url('~img/icon/menu/action/block/list1.svg'); }
			.icon.tool { background-image: url('~img/icon/menu/action/block/tool1.svg'); }
			.icon.media { background-image: url('~img/icon/menu/action/block/media1.svg'); }
			.icon.other { background-image: url('~img/icon/menu/action/block/other1.svg'); }
			
			.icon.header1 { background-image: url('~img/icon/menu/action/block/header11.svg'); }
			.icon.header2 { background-image: url('~img/icon/menu/action/block/header21.svg'); }
			.icon.header3 { background-image: url('~img/icon/menu/action/block/header31.svg'); }
			.icon.quote { background-image: url('~img/icon/menu/action/block/quote1.svg'); }
			
			.icon.task { background-image: url('~img/icon/menu/action/block/task1.svg'); }
			.icon.set { background-image: url('~img/icon/menu/action/block/set1.svg'); }
			.icon.contact { background-image: url('~img/icon/menu/action/block/contact1.svg'); }
			.icon.existing { background-image: url('~img/icon/menu/action/block/existing1.svg'); }
			
			.icon.checkbox { background-image: url('~img/icon/menu/action/block/checkbox1.svg'); }
			.icon.numbered { background-image: url('~img/icon/menu/action/block/numbered1.svg'); }
			.icon.toggle { background-image: url('~img/icon/menu/action/block/toggle1.svg'); }
			
			.icon.picture { background-image: url('~img/icon/menu/action/block/picture1.svg'); }
			.icon.video { background-image: url('~img/icon/menu/action/block/video1.svg'); }
			.icon.bookmark { background-image: url('~img/icon/menu/action/block/bookmark1.svg'); }
			.icon.code { background-image: url('~img/icon/menu/action/block/code1.svg'); }
		}
	}
}