@import "~scss/_vars";

.menus {
	.menu.menuBlockAdd, .menu.menuBlockAddSub, .menuBlockSwitch { width: 192px !important; }
	.menu.menuBlockAdd, .menu.menuBlockAddSub, .menuBlockSwitch {
		.item { font-size: 15px !important; font-weight: 500; padding: 4px 12px; }
		.item {
			.name { line-height: 1; }
		}
		
		.item:hover, .item.active { color: #fff; }
		.item.yellow:hover, .item.yellow.active { background: $colorOrange !important; }
		.item.green:hover, .item.green.active { background: #0cbbae !important; }
		.item.blue:hover, .item.blue.active { background: #1ba0eb !important; }
		.item.red:hover, .item.red.active { background: #ee420b !important; }
		.item.purple:hover, .item.purple.active { background: #a646c9 !important; }
	
		.icon { width: 24px; height: 24px; background-size: 100% 100%; }
		.icon.arrow { position: absolute; right: 8px; top: 4px; margin: 0px; background-image: url('~img/icon/menu/add/arrow0.svg'); }
		
		.item:hover, .item.active {
			.icon.arrow { background-image: url('~img/icon/menu/add/arrow1.svg'); }
		}
	}
}