@import "~scss/_vars";

.menus {
	.menu.menuBlockColor { padding: 12px 0px; }
	.menu.menuBlockColor {
		.content { max-height: 450px; }
	
		.section { padding: 12px 0px; }
		.section:first-child { padding-top: 0px; }
		.section:last-child { padding-bottom: 0px; }
		.section > .name { padding: 0px 16px; margin-bottom: 10px; }
		
		.item { padding: 2px 16px; }
		.item {
			.icon { width: 24px; height: 24px; line-height: 24px; text-align: center; vertical-align: top; }
			.icon {
				.inner { width: 22px; height: 22px; line-height: 22px; display: inline-block; vertical-align: middle; border-radius: 2px; }
				.inner.textColor { border: 1px solid #dfddd0; }
				.inner.bgColor { border: 1px solid rgba(0,0,0,0); }
			}
		}
	}
}