@import "~scss/_mixins";

.menus {
	.menu.menuBlockStyle, .menu.menuBlockAction, .menu.menuObject {
		.item.empty { @include text-small; padding-top: 8px; }
	}

	.menu.menuBlockStyle {
		.content { max-height: unset; }
	}

	.menu.menuBlockAction { width: var(--menu-width-icon); }
	.menu.menuBlockAction {
		.content { padding-top: 12px; max-height: 527px; }

		.colorMark { width: 16px; height: 16px; border-radius: 100%; flex-shrink: 0; }
		.colorMark.textColor { background: currentColor; }
		.colorMark.bgColor-default { box-shadow: 0px 0px 0px 1px var(--color-light-grey) inset; background: var(--color-bg-primary); position: relative; }
		.colorMark.bgColor-default::before {
			content: ''; @include pos-abs-mid; width: 7px; height: 7px; transform: translate3d(-50%, -50%, 0);
			background: url('~img/icon/menu/colorNone.svg');
		}
	}

	.menu.menuObject { width: var(--menu-width-icon); }
	.menu.menuObject {
		.content { overflow: visible !important; max-height: unset; }
		.item { display: flex; }
		.item {
			.name { @include text-overflow-nw; }
		}
		.item:hover::before { background: var(--color-shape-highlight-medium); }

		.item.isReadonly::before { opacity: 0 !important; }
	}
}
