@import "~scss/_mixins";

.menus {
	.menu.menuBlockContext { padding: 0px; height: 40px; border-radius: 18px; transform-origin: 50% 50% !important; }
	.menu.menuBlockContext {
		.content { height: 100%; padding: 0px 4px; }
		.section { display: flex; align-items: center; gap: 0px 4px; padding: 0px; height: unset; border-right: 0px; }
		.section::after { content: ""; width: 1px; height: 20px; background: var(--color-shape-primary); margin: 0px 8px 0px 4px; }
		.section:last-child::after { display: none; }
		.icon { width: 32px; height: 32px; background-size: 20px 20px; vertical-align: top; margin: 0px; border-radius: 16px; }
		.icon.hasSvg { width: 32px; height: 32px; }
		.icon:hover, .icon.hover, .icon.active { background-color: var(--color-shape-highlight-medium); }
		.icon.blockStyle { width: 44px; justify-content: flex-start; padding-left: 6px; }
		.icon.blockStyle {
			.icon.arrow { right: 6px; }
		}
		
	}
}
