@import "~scss/_vars";

.menus {
	.menu.menuBlockCover { width: 410px; }
	.menu.menuBlockCover {
		.content { padding: 0px; overflow: visible; max-height: 366px; }
		.sections { overflow: auto; height: 325px; }

		.head { border-bottom: 1px solid $colorLightGrey; padding: 11px 16px; font-weight: 500; color: $colorMediumGrey; }
		.head {
			.btn { display: inline-block; margin-right: 16px; transition: $transitionFast; cursor: pointer; }
			.btn:hover { color: $colorBlack }
			.btn:last-child { margin: 0px; }
		}
		
		.section > .name { margin-bottom: 8px; }
		.section:first-child { padding-top: 8px; }
		.section:last-child { padding-bottom: 8px; }
		
		.items { padding: 0px 16px; }
	
		.cover { 
			width: 88px; height: 48px; border-radius: 2px; margin: 0px 8px 8px 0px; display: inline-block; 
			vertical-align: top; position: relative; cursor: pointer;
		}
		.cover:nth-child(4n+4) { margin-right: 0px; }
	}
}

html.platformWindows, html.platformLinux {
	.menus {
		.menu.menuBlockCover { width: 425px; }
	}
}