@import "~scss/_vars";

.menus {
	.menu.menuBlockCover { width: 408px; padding: 0px; }
	.menu.menuBlockCover {
		.head { border-bottom: 1px solid #eae9e0; padding: 11px 16px; font-weight: 500; color: $colorDarkGrey; }
		.head {
			.btn { display: inline-block; margin-right: 16px; transition: $transitionFast; cursor: pointer; }
			.btn:hover { color: $colorBlack }
			.btn:last-child { margin: 0px; }
		}
		
		.section:first-child { padding-top: 8px; }
		.section:last-child { padding-bottom: 8px; }
		
		.items { padding: 0px 16px; }
	
		.cover { 
			width: 88px; height: 48px; border-radius: 2px; margin: 0px 8px 8px 0px; display: inline-block; 
			vertical-align: top; position: static;
		}
		.cover:nth-child(4n+4) { margin-right: 0px; }
	}
}