@import "~scss/_vars";

.menus {
	.menu {
		.icon.paragraph { background-image: url('~img/icon/menu/action/block/paragraph0.svg'); }
		.icon.page { background-image: url('~img/icon/menu/action/block/page0.svg'); }
		
		.icon.header1 { background-image: url('~img/icon/menu/action/block/header10.svg'); }
		.icon.header2 { background-image: url('~img/icon/menu/action/block/header20.svg'); }
		.icon.header3 { background-image: url('~img/icon/menu/action/block/header30.svg'); }
		.icon.quote { background-image: url('~img/icon/menu/action/block/quote0.svg'); }
		.icon.callout { background-image: url('~img/icon/menu/action/block/callout0.svg'); }
		
		.icon.bulleted { background-image: url('~img/icon/menu/action/block/bulleted0.svg'); }
		.icon.checkbox { background-image: url('~img/icon/menu/action/block/checkbox0.svg'); }
		.icon.numbered { background-image: url('~img/icon/menu/action/block/numbered0.svg'); }
		.icon.toggle { background-image: url('~img/icon/menu/action/block/toggle0.svg'); }
		
		.icon.task { background-image: url('~img/icon/menu/action/block/task0.svg'); }
		.icon.set { background-image: url('~img/icon/menu/action/block/set0.svg'); }
		.icon.human { background-image: url('~img/icon/menu/action/block/human0.svg'); }
		.icon.existing { background-image: url('~img/icon/menu/action/block/existing0.svg'); }
		
		.icon.file { background-image: url('~img/icon/menu/action/block/file0.svg'); }
		.icon.image { background-image: url('~img/icon/menu/action/block/image0.svg'); }
		.icon.video { background-image: url('~img/icon/menu/action/block/video0.svg'); }
		.icon.bookmark { background-image: url('~img/icon/menu/action/block/bookmark0.svg'); }
		.icon.code { background-image: url('~img/icon/menu/action/block/code0.svg'); }
		
		.icon.div-line { background-image: url('~img/icon/menu/action/block/line0.svg'); }
		.icon.dot { background-image: url('~img/icon/menu/action/block/dot0.svg'); }

		.icon.bold { background-image: url('~img/icon/menu/action/mark/bold0.svg'); }
		.icon.italic { background-image: url('~img/icon/menu/action/mark/italic0.svg'); }
		.icon.strike { background-image: url('~img/icon/menu/action/mark/strike0.svg'); }
		.icon.link { background-image: url('~img/icon/menu/action/mark/link0.svg'); }
		.icon.kbd { background-image: url('~img/icon/menu/action/mark/code0.svg'); }
		.icon.under { background-image: url('~img/icon/menu/action/mark/under0.svg'); }
		
		.icon.turn { background-image: url('~img/icon/menu/action/turn0.svg'); }
		.icon.move { background-image: url('~img/icon/menu/action/move0.svg'); }
		.icon.comment { background-image: url('~img/icon/menu/action/comment0.svg'); }
		.icon.copy { background-image: url('~img/icon/menu/action/copy0.svg'); }
		.icon.remove { background-image: url('~img/icon/menu/action/remove0.svg'); }
		.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); }
		.icon.download { background-image: url('~img/icon/menu/action/download0.svg'); }
		.icon.upload { background-image: url('~img/icon/menu/action/upload0.svg'); }
		.icon.rename { background-image: url('~img/icon/menu/action/rename0.svg'); }
		.icon.replace { background-image: url('~img/icon/menu/action/replace0.svg'); }
		.icon.add { background-image: url('~img/icon/menu/action/add0.svg'); }
		.icon.object { background-image: url('~img/icon/menu/action/object0.svg'); }
		
		.icon.undo { background-image: url('~img/icon/menu/action/undo0.svg'); }
		.icon.redo { background-image: url('~img/icon/menu/action/redo0.svg'); }
		.icon.print { background-image: url('~img/icon/menu/action/print0.svg'); }
		.icon.history { background-image: url('~img/icon/menu/action/history0.svg'); }
		.icon.search { background-image: url('~img/icon/menu/action/search0.svg'); }
		.icon.set { background-image: url('~img/icon/menu/action/set0.svg'); }
		.icon.restore { background-image: url('~img/icon/menu/action/restore0.svg'); }
		.icon.customize { background-image: url('~img/icon/menu/action/customize0.svg'); }
		.icon.clear { background-image: url('~img/icon/menu/action/clear0.svg'); }

		.icon.clock { background-image: url('~img/icon/menu/action/clock0.svg'); }
		.icon.settings { background-image: url('~img/icon/menu/action/settings0.svg'); }
		.icon.expand { background-image: url('~img/icon/menu/action/expand0.svg'); }
		.icon.resize { background-image: url('~img/icon/menu/action/resize0.svg'); }
		.icon.template { background-image: url('~img/icon/menu/action/template0.svg'); }
		.icon.fav { background-image: url('~img/icon/menu/action/fav0.svg'); }
		.icon.unfav { background-image: url('~img/icon/menu/action/unfav0.svg'); }
		.icon.highlight { background-image: url('~img/icon/menu/action/highlight0.svg'); }
		.icon.share { background-image: url('~img/icon/menu/action/share0.svg'); }
		.icon.export { background-image: url('~img/icon/menu/action/export0.svg'); }
		.icon.pageLock { background-image: url('~img/icon/menu/action/pageLock0.svg'); }
		.icon.pageUnlock { background-image: url('~img/icon/menu/action/pageUnlock0.svg'); }
		.icon.sort { background-image: url('~img/icon/menu/action/sort0.svg'); }
		.icon.reload { background-image: url('~img/icon/menu/action/reload0.svg'); }
		.icon.hide { background-image: url('~img/icon/menu/relation/hide.svg'); }
		.icon.browse { background-image: url('~img/icon/menu/action/browse0.svg'); }

		.icon.coverChange { background-image: url('~img/icon/cover/change.svg'); }
		.icon.coverPosition { background-image: url('~img/icon/cover/position.svg'); }

		.icon.align.left { background-image: url('~img/icon/menu/align/left.svg'); }
		.icon.align.center { background-image: url('~img/icon/menu/align/center.svg'); }
		.icon.align.right { background-image: url('~img/icon/menu/align/right.svg'); }

		.icon.valign.top { background-image: url('~img/icon/menu/valign/top.svg'); }
		.icon.valign.middle { background-image: url('~img/icon/menu/valign/middle.svg'); }
		.icon.valign.bottom { background-image: url('~img/icon/menu/valign/bottom.svg'); }

		.icon.linkStyle0 { background-image: url('~img/icon/menu/linkSettings/style0.svg'); }
		.icon.linkStyle1 { background-image: url('~img/icon/menu/linkSettings/style1.svg'); }
		.icon.linkStyle2 { background-image: url('~img/icon/menu/linkSettings/style2.svg'); }

		.icon.relation-filter { background-image: url('~img/icon/menu/relation/filter.svg'); }
		.icon.relation-sort0 { background-image: url('~img/icon/menu/relation/sort.svg'); }
		.icon.relation-sort1 { background-image: url('~img/icon/menu/relation/sort.svg'); transform: rotateZ(180deg); }
		.icon.relation-hide { background-image: url('~img/icon/menu/relation/hide.svg'); }
		.icon.relation-insert-left { background-image: url('~img/icon/menu/relation/insert.svg'); }
		.icon.relation-insert-right { background-image: url('~img/icon/menu/relation/insert.svg'); transform: rotateZ(180deg); }

		.icon.table-move-left { background-image: url('~img/icon/menu/table/move-h.svg'); }
		.icon.table-move-right { background-image: url('~img/icon/menu/table/move-h.svg'); transform: rotateZ(180deg); }
		.icon.table-move-top { background-image: url('~img/icon/menu/table/move-v.svg'); }
		.icon.table-move-bottom { background-image: url('~img/icon/menu/table/move-v.svg'); transform: rotateZ(180deg); }

		.icon.table-header-row { background-image: url('~img/icon/menu/table/header-row.svg'); }
		.icon.table-insert-left { background-image: url('~img/icon/menu/table/insert-h.svg'); }
		.icon.table-insert-right { background-image: url('~img/icon/menu/table/insert-h.svg'); transform: rotateZ(180deg); }
		.icon.table-insert-top { background-image: url('~img/icon/menu/table/insert-v.svg'); }
		.icon.table-insert-bottom { background-image: url('~img/icon/menu/table/insert-v.svg'); transform: rotateZ(180deg); }

		.icon.lock { width: 8px !important; height: 20px !important; background-image: url('~img/icon/lock.svg'); }

		.icon.color { z-index: 1; }
		.icon.color {
			.inner { 
				width: 16px; height: 16px; position: absolute; left: 50%; top: 50%; margin: -8px 0px 0px -8px; border-radius: 100%;
				background: $colorBlack; 
			}
			.inner.bgColor-default { box-shadow: 0px 0px 0px 1px $colorLightGrey inset; background: $colorWhite; }
			
			.inner.textColor-black { background: $colorBlack; }
			.inner.textColor-grey { background: $colorMediumGrey; }
			.inner.textColor-yellow { background: $colorYellow; }
			.inner.textColor-orange { background: $colorOrange; }
			.inner.textColor-red { background: $colorRed; }
			.inner.textColor-pink { background: $colorPink; }
			.inner.textColor-purple { background: $colorPurple; }
			.inner.textColor-blue { background: $colorBlue; }
			.inner.textColor-ice { background: $colorIce; }
			.inner.textColor-teal { background: $colorTeal; }
			.inner.textColor-lime { background: $colorLime; }
		}
	}
}