/* Common */

.icon.text { background-image: url('~img/icon/menu/action/block/text0.svg'); }
.icon.list { background-image: url('~img/icon/menu/action/block/list0.svg'); }
.icon.tool { background-image: url('~img/icon/menu/action/block/tool0.svg'); }
.icon.media { background-image: url('~img/icon/menu/action/block/media0.svg'); }
.icon.other { background-image: url('~img/icon/menu/action/block/other0.svg'); }

.icon.header1 { background-image: url('~img/icon/menu/action/block/header10.svg'); }
.icon.header2 { background-image: url('~img/icon/menu/action/block/header20.svg'); }
.icon.header3 { background-image: url('~img/icon/menu/action/block/header30.svg'); }
.icon.header4 { background-image: url('~img/icon/menu/action/block/header30.svg'); }
.icon.quote { background-image: url('~img/icon/menu/action/block/quote0.svg'); }

.icon.checkbox { background-image: url('~img/icon/menu/action/block/checkbox0.svg'); }
.icon.numbered { background-image: url('~img/icon/menu/action/block/numbered0.svg'); }
.icon.toggle { background-image: url('~img/icon/menu/action/block/toggle0.svg'); }

.icon.task { background-image: url('~img/icon/menu/action/block/task0.svg'); }
.icon.set { background-image: url('~img/icon/menu/action/block/set0.svg'); }
.icon.contact { background-image: url('~img/icon/menu/action/block/contact0.svg'); }
.icon.existing { background-image: url('~img/icon/menu/action/block/existing0.svg'); }

.icon.picture { background-image: url('~img/icon/menu/action/block/picture0.svg'); }
.icon.video { background-image: url('~img/icon/menu/action/block/video0.svg'); }
.icon.bookmark { background-image: url('~img/icon/menu/action/block/bookmark0.svg'); }
.icon.code { background-image: url('~img/icon/menu/action/block/code0.svg'); }

/* Hover */

.icon.text:hover, .icon.text.active { background-image: url('~img/icon/menu/action/block/text1.svg'); }
.icon.list:hover, .icon.list.active { background-image: url('~img/icon/menu/action/block/list1.svg'); }
.icon.tool:hover, .icon.tool.active { background-image: url('~img/icon/menu/action/block/tool1.svg'); }
.icon.media:hover, .icon.media.active { background-image: url('~img/icon/menu/action/block/media1.svg'); }
.icon.other:hover, .icon.other.active { background-image: url('~img/icon/menu/action/block/other1.svg'); }
	
.icon.header1:hover, .icon.header1.active { background-image: url('~img/icon/menu/action/block/header11.svg'); }
.icon.header2:hover, .icon.header2.active { background-image: url('~img/icon/menu/action/block/header21.svg'); }
.icon.header3:hover, .icon.header3.active { background-image: url('~img/icon/menu/action/block/header31.svg'); }
.icon.header4:hover, .icon.header4.active { background-image: url('~img/icon/menu/action/block/header31.svg'); }
.icon.quote:hover, .icon.quote.active { background-image: url('~img/icon/menu/action/block/quote1.svg'); }
	
.icon.task:hover, .icon.task.active { background-image: url('~img/icon/menu/action/block/task1.svg'); }
.icon.set:hover, .icon.set.active { background-image: url('~img/icon/menu/action/block/set1.svg'); }
.icon.contact:hover, .icon.contact.active { background-image: url('~img/icon/menu/action/block/contact1.svg'); }
.icon.existing:hover, .icon.existing.active { background-image: url('~img/icon/menu/action/block/existing1.svg'); }
	
.icon.checkbox:hover, .icon.checkbox.active { background-image: url('~img/icon/menu/action/block/checkbox1.svg'); }
.icon.numbered:hover, .icon.numbered.active { background-image: url('~img/icon/menu/action/block/numbered1.svg'); }
.icon.toggle:hover, .icon.toggle.active { background-image: url('~img/icon/menu/action/block/toggle1.svg'); }
	
.icon.picture:hover, .icon.picture.active { background-image: url('~img/icon/menu/action/block/picture1.svg'); }
.icon.video:hover, .icon.video.active { background-image: url('~img/icon/menu/action/block/video1.svg'); }
.icon.bookmark:hover, .icon.bookmark.active { background-image: url('~img/icon/menu/action/block/bookmark1.svg'); }
.icon.code:hover, .icon.code.active { background-image: url('~img/icon/menu/action/block/code1.svg'); }

/* Item:Hover */

.item:hover, .item.active {
	.icon.arrow { background-image: url('~img/icon/menu/add/arrow1.svg'); }
	.icon.text { background-image: url('~img/icon/menu/action/block/text1.svg'); }
	.icon.list { background-image: url('~img/icon/menu/action/block/list1.svg'); }
	.icon.tool { background-image: url('~img/icon/menu/action/block/tool1.svg'); }
	.icon.media { background-image: url('~img/icon/menu/action/block/media1.svg'); }
	.icon.other { background-image: url('~img/icon/menu/action/block/other1.svg'); }
	
	.icon.header1 { background-image: url('~img/icon/menu/action/block/header11.svg'); }
	.icon.header2 { background-image: url('~img/icon/menu/action/block/header21.svg'); }
	.icon.header3 { background-image: url('~img/icon/menu/action/block/header31.svg'); }
	.icon.header4 { background-image: url('~img/icon/menu/action/block/header31.svg'); }
	.icon.quote { background-image: url('~img/icon/menu/action/block/quote1.svg'); }
	
	.icon.task { background-image: url('~img/icon/menu/action/block/task1.svg'); }
	.icon.set { background-image: url('~img/icon/menu/action/block/set1.svg'); }
	.icon.contact { background-image: url('~img/icon/menu/action/block/contact1.svg'); }
	.icon.existing { background-image: url('~img/icon/menu/action/block/existing1.svg'); }
	
	.icon.checkbox { background-image: url('~img/icon/menu/action/block/checkbox1.svg'); }
	.icon.numbered { background-image: url('~img/icon/menu/action/block/numbered1.svg'); }
	.icon.toggle { background-image: url('~img/icon/menu/action/block/toggle1.svg'); }
	
	.icon.picture { background-image: url('~img/icon/menu/action/block/picture1.svg'); }
	.icon.video { background-image: url('~img/icon/menu/action/block/video1.svg'); }
	.icon.bookmark { background-image: url('~img/icon/menu/action/block/bookmark1.svg'); }
	.icon.code { background-image: url('~img/icon/menu/action/block/code1.svg'); }
}