@import "~scss/_vars";

.menus {
	.menu.menuBlockLink { width: 400px; height: 44px; padding: 11px 16px; transform-origin: 50% 50% !important; }
	.menu.menuBlockLink {
		.flex { width: 100%; }
		.input { width: 100%; height: 22px; padding: 0px; flex: auto; width: calc(100% - 100px); }
		.buttons { flex: auto; white-space: nowrap; width: 100px; text-align: right; color: $colorMediumGrey; font-weight: 500; }
		.buttons {
			.btn { display: inline-block; vertical-align: top; margin-right: 16px; cursor: pointer; transition: $transitionFast; }
			.btn:last-child { margin: 0px; }
			.btn:hover { color: $colorBlack; }
		}
	}
}