@import "~scss/_vars";

.menus {
	.menu.menuBlockLink { width: 419px; }
	.menu.menuBlockLink {
		.content { transition: none; padding: 0px; max-height: 420px; padding: 8px 0px 0px 0px;
			&.initial { height: unset !important;
				.filter .line { display: none; }
			}
		}
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.wrap.withLabel {
			.ReactVirtualized__Grid__innerScrollContainer { margin-top: 0px; }
		}

		.items { height: 100%;
			.sectionName.isDivider {
				color: transparent;
				padding: 0;

				&:after {
					content: '';
					display: block;
					width: calc(100% - 28px);
					height: 1px;
					background-color: #EAE9E0;
					margin-left: 14px;
				}
			}

			.sectionName.isDivider.first:after {display: none;
			}
		}

		.filter { flex-shrink: 0; }

		.item {
			.name { @include text-overflow-nw; width: 100%; }

			.icon.plus { background-image: url('~img/icon/menu/link/object.svg'); }
			.icon.link { background-image: url('~img/icon/menu/link/url.svg'); }
		}

		.item.withDescription {
			.info { padding: 0px; }
		}
		.item.withDescription.isButton {
			padding-top: 0;
			padding-bottom: 0;
			color: $colorBlack !important;

			.icon {
				top: 3px;
				width: 27px;
				height: 27px;
				left: 8px;
			}

			.info {
				padding-left: 25px !important;
				line-height: 31px;
			}
		}
		.item.withDescription.withIcon, .item.add, .item.link {
			.info { padding-left: 52px; }
		}

		.item.add, .item.link { color: $colorDarkGrey; }
	}
}