@import "~scss/_mixins";

.menus {
	.menu.menuBlockMention { width: var(--menu-width-set); }
	.menu.menuBlockMention {
		.content { transition: none; padding: 0px; }
		.items { height: 100%; }
		.item {
			.name { @include text-overflow-nw; width: 100%; }
			.name {
				.you { @include text-small; color: var(--color-text-secondary); }
			}
		}

		.item.add {
			.name { margin: 0px; }
			.caption { display: none; }
		}

		.emptySearch { text-align: left; }
	}
}
