@import "~scss/_vars";

.menus {
	.menu.menuBlockRelationList, 
	.menu.menuBlockRelationEdit {
		.item:hover::before { background: rgba(172, 169, 150, 0.15); }
	}

	.menu.menuBlockRelationList,
	.menu.menuBlockRelationView {
		.icon.relation { width: 20px; height: 20px; margin: 0px 4px 0px 0px; vertical-align: top; }
		.icon.expand { display: none; }
		.icon.checkbox { width: 20px; height: 20px; vertical-align: top; background-image: url('~img/icon/dataview/checkbox0.svg'); }
		.icon.checkbox.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }

		.sides { display: flex; }

		.info { 
			width: 192px; @include text-overflow-nw; line-height: 20px; border-radius: 4px; transition: background 0.2s ease-in-out; 
			flex-shrink: 0; 
		}
		.info {
			.name { 
				display: inline-block; vertical-align: top; @include text-common; line-height: 20px; @include text-overflow-nw; 
				width: calc(100% - 24px); color: #6c6a5f;
			}
		}

	}

	.menu.menuBlockRelationList { width: 640px; }
	.menu.menuBlockRelationList {
		.content { transition: none ;padding: 0px; }
		.items { height: 100%; }
		.input { border: 0px; padding: 0px; }

		.item {
			.icon.plus { margin-right: 4px; background-image: url('~img/icon/plus/menu0.svg'); }
		}
		.item * { cursor: pointer; }

		.cellContent { overflow: hidden; height: 20px; line-height: 20px; }
		.cellContent.c-longText {
			.name { -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-box; }
		}
	}
	
	.menu.menuBlockRelationEdit {
		.wrap { padding: 0px 16px 8px 16px; }
		.line { height: 1px; margin: 8px 0px; background: $colorLightGrey; }
		.input { border: 1px solid $colorLightGrey; padding: 0px 8px; }
		.switch { position: absolute; right: 16px; top: 50%; margin-top: -8px; }

		.button { width: 100%; margin-top: 8px; }
		.button.grey { cursor: default; }

		.item.disabled { cursor: default; opacity: 1 !important; }
		.item.disabled:hover::before { opacity: 0; }
		
		.icon.arrow { 
			width: 20px; height: 20px; position: absolute; right: 14px; top: 50%; margin: -10px 0px 0px 0px; 
			background-image: url('~img/arrow/menu.svg'); 
		}
	}

	.menu.menuBlockRelationView { width: 640px; }
	.menu.menuBlockRelationView {
		.content { padding: 24px 0px; max-height: unset; }
		.input { @include text-common; line-height: 22px; vertical-align: top; display: inline-block; height: 22px; padding: 0px; border: 0px; padding: 0px; }

		.icon.plus { width: 20px; height: 20px; background-image: url('~img/icon/plus/menu0.svg'); }

		.section > .name { @include text-common; padding: 5px 28px; position: relative; }
		.section > .name {
			.icon.plus { position: absolute; right: 28px; top: 50%; margin-top: -10px; cursor: pointer; }
			.icon.plus:hover { background-image: url('~img/icon/plus/menu1.svg'); }
		}
		.section:last-child::after { display: none; }
		.section::after { margin: 12px 32px 3px 32px; display: none; }

		#section-featured::after { display: block; }

		.item { padding: 0px 28px; margin-bottom: 1px; }
		.item {
			.icon.plus { margin-right: 4px; }

			.info { padding: 6px 2px; }
			.info:hover { background: rgba(172,169,150,0.15); }

			.cell { padding: 5px 8px; margin-right: 6px; border-radius: 4px; width: calc(100% - 218px); line-height: 22px; transition: background 0.2s ease-in-out; }
			.cell:hover { background: rgba(172,169,150,0.15); }

			.cell.c-select { padding: 4px 8px; }
			.cell.c-select {
				.empty { vertical-align: middle; }
				.tagItem { margin: 3px 6px 3px 0px; } 
			}

			.cell.isEditing { padding: 0px; }
			.cell.isEditing {
				.cellContent { position: relative; height: auto !important; min-height: 30px; }
				.cellContent.isName .input { height: 20px; line-height: 20px; }
				.icon.clear { right: 8px; }
			}

			.cell.isEditing.c-select {
				.empty { display: inline-block; }
				.cellContent { padding: 4px 8px; }
			}
			.cell.isEditing.c-select.isStatus {
				.over { width: calc(100% - 26px); }
			}

			.cell.isEditing.c-shortText, 
			.cell.isEditing.c-number, 
			.cell.isEditing.c-url, 
			.cell.isEditing.c-phone, 
			.cell.isEditing.c-email,
			.cell.isEditing.c-date
			{
				.cellContent { padding: 5px 8px !important; }
			}

			.cell.c-object {
				.element { margin-top: 1px; margin-bottom: 1px; }
			}
			.cell.isEditing.c-object {
				.cellContent { padding: 5px 8px 3px 8px !important; }
			}

			.cell.c-shortText {
				.name { width: 100%: }
			}

			.cell.c-longText {
				.name, span { -webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }
			}
			.cell.isEditing.c-longText {
				.cellContent span:empty { height: 22px; }
			}

			.cell.isEditing.c-longText, .cell.isEditing.c-file { 
				.cellContent { box-shadow: 0px 0px; border: 0px; padding: 5px 8px; }
			}

			.icon.fav { margin: 5px 0px 0px 0px; background-image: url('~img/icon/fav0.svg'); cursor: pointer; flex-shrink: 0; }
			.icon.fav:hover, .icon.fav.active { background-image: url('~img/icon/fav1.svg'); }
		}
		.item * { cursor: pointer; }
	}

}