@import "~scss/_vars";

.menus {

	.menu.menuBlockRelationView {
		.icon.edit { display: none; }
		.icon.checkbox { width: 20px; height: 20px; vertical-align: top; background-image: url('~img/icon/dataview/checkbox0.svg'); }
		.icon.checkbox.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }

		.sides { display: flex; }

		.info { 
			width: 192px; @include text-overflow-nw; line-height: 20px; border-radius: 4px; transition: background 0.2s ease-in-out; 
			flex-shrink: 0; margin-right: 6px;
		}
	}

	.menu.menuBlockRelationEdit {
		.wrap { padding: 0px 16px 8px 16px; }
		.line { height: 1px; margin: 8px 0px; background: $colorLightGrey; }
		.input { border: 1px solid $colorLightGrey; padding: 0px 8px; }
		.switch { position: absolute; right: 16px; top: 50%; margin-top: -8px; }

		.button { width: 100%; }
		.button.grey { cursor: default; }

		.item:hover::before { background: rgba(172, 169, 150, 0.1); }
		.item.disabled:hover::before { opacity: 0; }

		.icon.arrow { 
			width: 20px; height: 20px; position: absolute; right: 14px; top: 50%; margin: -10px 0px 0px 0px; 
			background-image: url('~img/arrow/menu.svg'); 
		}
	}

	.menu.menuBlockRelationView { width: auto; }
	.menu.menuBlockRelationView {
		.content { overflow: hidden; max-height: unset; padding: 0px; }
		.input { @include text-common; line-height: 22px; vertical-align: top; display: inline-block; height: 22px; padding: 0px; border: 0px; padding: 0px; }

		.icon.plus { width: 20px; height: 20px; background-image: url('~img/icon/plus/menu0.svg'); }

		.sections { display: flex; flex-direction: column; height: 100%; }

		.section { padding: 0px; }
		.section > .name { @include text-common; padding: 7px 32px; position: relative; color: $colorBlack; margin: 0px; }
		.section:last-child::after { display: none; }
		.section::after { margin: 16px 32px; }

		#section-featured::after { display: block; }

		.scrollWrap { padding: 22px 0px 16px 0px; height: calc(100% - 45px); overflow-x: hidden; overflow-y: overlay; }
		.item { padding: 0px 32px; cursor: default; }
		.item {
			.icon.plus { margin-right: 4px; }
			.icon.lock { margin-right: 6px; }

			.icon.fav {
				width: 32px; height: 32px; background-size: 20px; background-image: url('~img/icon/fav0.svg'); cursor: pointer; flex-shrink: 0; border-radius: 4px; 
				margin: 0px; opacity: 0; position: absolute; right: -38px; top: 0px;
			}
			.icon.fav.active { background-image: url('~img/icon/fav1.svg'); }
			.icon.fav:hover { background-color: rgba(172,169,150,0.1); }

			.info { padding: 5px 0px; color: $colorDarkGrey; }
			.info.canEdit { cursor: pointer; }
			.info.canEdit:hover { background: rgba(172,169,150,0.1); }

			.cellContent { min-height: 22px; }

			.cell { 
				padding: 5px 8px; border-radius: 4px; width: calc(100% - 236px); line-height: 22px; transition: background 0.2s ease-in-out; 
				position: relative; margin-right: 6px;
			}
			.cell.canEdit:hover { background: rgba(172,169,150,0.1); }
			.cell.canEdit {
				.cellContent {
					.empty { display: block; }
				}
			}

			.cell.c-select { padding: 5px 8px; }
			.cell.c-select {
				.tagItem { margin: 2px 6px 3px 0px; } 
				.over { overflow: visible !important; width: 100%; }
			}

			.cell.isEditing { padding: 0px; }
			.cell.isEditing {
				.cellContent { position: relative; height: auto !important; min-height: 32px; }
				.cellContent.isName .input { height: 20px; line-height: 20px; }
				.icon.clear { right: 8px; }
				.icon.fav { display: none !important; }
			}

			.cell.isEditing.c-select {
				.empty { display: inline-block; }
				.cellContent { padding: 5px 8px; }
			}
			.cell.isEditing.c-select.isStatus {
				.over { width: calc(100% - 26px); }
			}

			.cell.isEditing.c-shortText, 
			.cell.isEditing.c-number, 
			.cell.isEditing.c-url, 
			.cell.isEditing.c-phone, 
			.cell.isEditing.c-email,
			.cell.isEditing.c-date,
			.cell.isEditing.c-object
			{
				.cellContent { padding: 5px 8px !important; }
			}

			.cell.c-object {
				.element { margin-top: 1px; margin-bottom: 1px; }
			}

			.cell.c-shortText {
				.name { width: 100%; }
			}

			.cell.c-object, .cell.c-file {
				.columns { column-count: 2; }
			}

			.cell.c-longText {
				.name, span { 
					-webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; word-wrap: break-word; 
					line-height: 22px;
				}
			}
			.cell.isEditing.c-longText {
				.cellContent { box-shadow: 0px 0px; visibility: hidden; }
				.cellContent span:empty { height: 22px; }
			}

			.cell.isEditing.c-longText, .cell.isEditing.c-file { 
				.cellContent { padding: 5px 8px; }
			}
		}

		.item.canFav:hover {
			.icon.fav { opacity: 1; }
		}

		.item.add { padding: 7px 32px 8px 32px; cursor: pointer; background: none; }
		.item.add {
			.line { margin: 0px; position: absolute; top: 0px; left: 32px; width: calc(100% - 64px); }
			.info { width: 100%; }
		}
		.item.add:hover { 
			.info { background: rgba(172,169,150,0.1); } 
		}
	}

}