@import "~scss/_vars";

@mixin shadow { box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.07); }
@mixin border { border: 1px solid $colorShapeSecondary; }

.notifications { position: fixed; right: 0px; bottom: 54px; z-index: 200; width: 384px; }
.notifications {

	.notification {
		width: 100%; min-height: 110px; background: $colorBgPrimary; border-radius: 12px; @include border; position: absolute; bottom: 0px; padding: 16px;
    	transform-origin: 50% 0%; transition-timing-function: ease-in-out; transition-duration: 0.2s;
		transition-property: transform, opacity, bottom; opacity: 1;
	}

	.notification.from, .notification.to { opacity: 0; transform-origin: 50% 50%; transform: scale3d(0.75, 0.75, 1); }

	.notification {
		.icon.delete { 
			width: 24px; height: 24px; border-radius: 50%; position: absolute; background-color: $colorBgPrimary; 
			@include border; top: -8px; left: -8px; background-image: url('~img/icon/notification/delete.svg');
			background-size: 10px; transition: $transitionAllCommon; opacity: 0;
		}

		.content { display: none; }
		.content {
			.title { @include text-small; font-weight: 600; margin: 0px 0px 2px 0px; }
			.label { @include text-small; margin: 0px 0px 12px 0px; }
			.buttons { display: flex; flex-direction: row; gap: 0px 8px; }

			.element { display: inline; }
			.element {
				.iconObject { display: inline; margin-right: 4px; }
				.iconObject:empty { display: none; }
				.name { display: inline; font-weight: 500; }
			}
		}
	}
	.notification:first-child { @include shadow; }
	.notification:first-child {
		.content { display: block; }
	}
	.notification:hover {
		.icon.delete { opacity: 1; }
	}

}

.notifications.isExpanded {
	.notification { @include shadow; }
	.notification {
		.content { display: block; }
	}
}