@import "~scss/_vars";

.widget { background: $colorWhite; border-radius: 12px; transform: translate(0px, 0px); position: relative; }
.widget:last-child { margin: 0px; }
.widget {
	.head { 
		width: 100%; position: relative; display: flex; flex-direction: row; align-items: center; gap: 0px 6px; justify-content: space-between; 
		cursor: pointer; padding: 12px 8px 10px 16px;
	}
	.head {
		.clickable { display: flex; flex-direction: row; align-items: center; gap: 0px 12px; flex-grow: 1; width: 100%; }
		.clickable {
			.iconObject { flex-shrink: 0; }
			.name { @include text-paragraph; @include text-overflow-nw; line-height: 24px; font-weight: 700; flex-grow: 1; }
		}

		.iconWrap { width: 24px; height: 24px; border-radius: 4px; cursor: pointer; flex-shrink: 0; display: flex; align-items: center; justify-content: center; }
		.iconWrap:hover { background-color: $colorHover; }
		.iconWrap.active { opacity: 1; background-color: $colorHover; }

		.icon { width: 20px; height: 20px; }
		.icon.back { background-image: url('~img/icon/widget/back.svg'); }
		.icon.options { background-image: url('~img/icon/widget/options.svg'); }
		.icon.collapse { background-image: url('~img/icon/widget/collapse.svg'); }
		.icon.collapse.isClosed { transform: rotateZ(-90deg); }

		.buttons { flex-shrink: 0; flex-direction: row; align-items: center; gap: 0px 6px; display: none; }
		.buttons.active { display: flex; } 
	}
	.head:hover {
		.clickable { width: calc(100% - 60px); }
		.buttons { display: flex; }
	}

	.dimmer { position: absolute; height: 100%; width: 100%; border-radius: 2px; left: 0px; top: 0px; z-index: 1; cursor: grab; display: none; }
	.label.empty { text-align: center; @include text-small; }

	.contentWrapper { transition: height 0.3s ease-out; }

	.icon.remove {
		position: absolute; top: -5px; right: -5px; height: 20px; width: 20px; border-radius: 50%; background-color: $colorWhite; cursor: pointer !important;
		background-image: url('~img/icon/sidebar/remove.svg'); background-size: 12px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); display: none; z-index: 1;
	}
	.icon.remove:hover { background-color: $colorVeryLightGrey; }
}

.widget.isPreview {
	.head { border-bottom: 1px solid $colorBorderLight; margin: 0px 0px 16px 0px; padding: 20px 16px 16px 10px; }
	.head::before { top: 18px; }
	.head > .flex > .clickable { width: calc(100% - 30px); }
}
.widget.isPreview:hover {
	.head > .flex > .clickable { width: calc(100% - 90px); }
}

.widget.isClosed {
	.contentWrapper { height: 0px; overflow: hidden; }
}

.widget.widgetLink {
	.head { padding-bottom: 12px; }
	.iconWrap.collapse { display: none; }
}
.widget.widgetLink:hover {
	.head > .flex > .clickable { width: calc(100% - 36px); }
}

.button.widget { 
	height: unset; text-align: left; @include text-paragraph; @include text-overflow-nw; font-weight: 700; padding: 14px 16px;
	display: flex; position: relative; gap: 0px 12px; justify-content: flex-start;
}
.button.widget {
	.icon { height: 20px; width: 20px; margin: 0px; }
	.icon.library { background-image: url('~img/icon/sidebar/library.svg'); }
	.icon.bin { background-image: url('~img/icon/sidebar/bin.svg'); }
}