@import "~scss/_vars";

.widget.widgetList { display: flex; flex-direction: column; };
.widget.widgetList {
	.loaderWrapper { position: relative; }
	.innerWrap { height: 100%; }
	.contentWrapper { flex-grow: 1; }

	#viewSelect { padding: 0px 16px 6px 16px; }
	#viewSelect:empty { display: none; }
	#viewSelect {
		.viewList { width: 100%; overflow-x: auto; overflow-y: hidden; }
		.viewList {
			.inner { padding: 0px 16px; white-space: nowrap; }

			.viewItem { 
				@include text-common; font-weight: 500; color: $colorMediumGrey; transition: $transitionFast; 	margin-right: 16px; display: inline-block; 
				vertical-align: top; cursor: pointer;
			}
			.viewItem:last-child { margin: 0px; }
			.viewItem:hover, .viewItem.active { color: $colorBlack; }
		}

		.select { border: none; margin-left: -6px; padding-right: 16px; }
		.select {
			.item { @include text-small; line-height: 18px !important; font-weight: 500; }
			.icon.arrow { 
				width: 8px !important; height: 5px !important; margin-top: -2.5px !important; background-image: url('~img/arrow/widget.svg') !important; 
				background-size: contain; right: 4px !important;
			}
		}
	}

	.body { display: flex; flex-direction: column; padding: 0px 8px 8px 8px; }
	.body {
		.item { cursor: pointer; height: 64px; border-radius: 8px; position: relative; }
		.item:hover, .item.active {
			.info { width: calc(100% - 96px); }
			.buttons { display: flex; }
			.icon.more { opacity: 1; }
		}

		.item.active { 
			.icon.more { background-color: $colorHover; }
		}

		.item::before {
			content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: $colorHover; z-index: 1; pointer-events: none;
			border-radius: 8px; opacity: 0;
		}
		.item:hover::before { opacity: 1; }

		.item { 
			.inner { display: flex; flex-direction: row; gap: 0px 12px; align-items: center; padding: 8px 8px; height: 100%; justify-content: space-between; }
			.dropTarget { border-radius: 6px; height: 100%; }
			.iconObject { flex-shrink: 0; background: $colorVeryLightGrey; border-radius: 10px; }
			.iconObject.isTask, .iconObject.isBookmark { background: none; }

			.info { width: calc(100% - 60px); }
			.name { @include text-overflow-nw; }
			.descr { @include text-small; color: $colorDarkGrey; @include text-overflow-nw; }

			.buttons { flex-shrink: 0; display: flex; flex-direction: row; align-items: center; gap: 0px 6px; display: none; }
			.buttons {
				.icon { width: 24px; height: 24px; border-radius: 4px; cursor: pointer; flex-shrink: 0; background-size: 20px; z-index: 2; }
				.icon:hover { background-color: $colorHover; }
				.icon.active { opacity: 1; background-color: $colorHover; }
				.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); }
			}
		}
	}
};

.widget.widgetList.isPreview { padding: 0px; }
.widget.widgetList.isPreview {
	.head { margin: 0px; }
	.body { height: 100%; padding-bottom: 0px; }
	.ReactVirtualized__List { padding: 12px 0px; }
	.contentWrapper { height: calc(100% - 77px); }
}