@import "~scss/_vars";

.widget.widgetSpace { padding: 16px; cursor: pointer; }
.widget.widgetSpace {
	.icon.remove { display: none !important; }
	.icon.options { right: 44px; display: none !important; /* remove once Space is actually useful */  }

	.body { display: flex; flex-direction: row; align-items: center; justify-content: space-between; gap: 0px 12px; }

	.side.left { display: flex; flex-direction: row; align-items: center; gap: 0px 16px; flex-grow: 1; }
	.side.left {
		.iconObject { flex-shrink: 0; }
		.txt { width: calc(100% - 64px); }
		.name { @include text-paragraph; @include text-overflow-nw; font-weight: 700; }
		.type { @include text-small; color: $colorDarkGrey; @include text-overflow-nw; }
	}

	.side.right { flex-shrink: 0; opacity: 0; transition: $transitionFast; }

	.icon { width: 28px; height: 28px; border-radius: 4px; background-size: 20px; }
	.icon:hover { background-color: $colorHover; }
	.icon.settings { background-image: url('~img/icon/widget/settings.svg'); }
}

.widget.widgetSpace:hover {
	.side.left { width: calc(100% - 40px); }
	.side.right { opacity: 1; }
}