@import "~scss/_vars";

.widget.widgetTree {
	.ReactVirtualized__List { padding: 0px 12px 12px 12px; }

	.item { position: relative; }
	.item {
		.inner {
			display: flex; flex-direction: row; gap: 0px 2px; align-items: center; justify-content: space-between; cursor: pointer; position: relative;
			height: 28px; padding: 0px 2px;
		}
		.inner::before {
			content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: $colorHover; z-index: 1; pointer-events: none;
			border-radius: 4px; opacity: 0;
		}
		.inner:hover::before, .inner.hover::before { opacity: 1; }

		.dropTarget { border-radius: 4px; }

		.iconObject { flex-shrink: 0; flex-basis: 20px; }
		.icon { width: 20px; height: 20px; flex-shrink: 0; transition: none; }
		.icon.set { background-image: url('~img/icon/sidebar/set.svg'); }
		.icon.blank { background-image: url('~img/icon/sidebar/blank.svg'); }
		.icon.arrow { background-image: url('~img/arrow/select/dark.svg'); transform: rotate(-90deg); cursor: pointer; }

		.clickable {
			flex-grow: 1; display: flex; flex-direction: row; gap: 0px 6px; width: calc(100% - 24px); align-items: center; justify-content: space-between;
			cursor: pointer;
		}
		.name { flex-grow: 1; @include text-overflow-nw; }
		.icon.preview { width: 20px; height: 20px; background-image: url('~img/icon/sidebar/preview.svg'); }

		.buttons { flex-shrink: 0; flex-direction: row; align-items: center; gap: 0px 6px; display: none; }
		.buttons.active { display: flex; }
		.buttons {
			.icon { width: 24px; height: 24px; border-radius: 4px; cursor: pointer; flex-shrink: 0; background-size: 20px; }
			.icon:hover { background-color: $colorHover; }
			.icon.active { opacity: 1; background-color: $colorHover; }
			.icon.more { background-image: url('~img/icon/menu/action/more0.svg'); }
		}
	}

	.item:hover {
		.clickable { width: calc(100% - 60px); }
		.buttons { display: flex; }
	}

	.item.hover {
		.inner::before { background: $colorHover; }
		.icon.preview { display: block; }
	}
	.item.active {
		.icon.arrow { transform: rotate(0deg); }
	}
}