@import "~scss/_mixins";

.menus {
	.menu.menuDataviewCreateBookmark { width: var(--menu-width-large); height: 44px; padding: 0px; position: fixed; top: 42px; }
	.menu.menuDataviewCreateBookmark {
		.loaderWrapper { position: absolute; background: var(--color-bg-loader); width: 100%; height: 100%; border-radius: 8px; z-index: 10; }
		.loaderWrapper { 
			.loader { left: 16px; margin-left: 0px; }
		}

		.flex { width: 100%; flex-direction: row; align-items: center; }
		.input { height: 100%; padding: 13.5px 16px; flex-grow: 1; width: 100%; }
		.buttons { flex-shrink: 0; color: var(--color-control-active); font-weight: 500; user-select: none; display: flex; gap: 0px 16px; height: 100%; }
		.buttons {
			.button { 
				display: inline-block; vertical-align: top; transition: $transitionAllCommon; color: var(--color-control-active);
				background: none; border: 0px; padding: 0px; height: 100%; padding: 0px 16px; line-height: 44px;
			}
			.button:hover { color: var(--color-text-primary); }
		}
	}
}