@import "~scss/_mixins";

.banner {
    border-radius: 8px; padding: 12px 16px; box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.20); background-color: var(--color-bg-primary);
}
.banner {
    .label { @include text-common; line-height: 20px; }
	.inner { display: flex; flex-direction: column; gap: 2px 0; align-items: flex-start; }
	.hl { display: inline-block; padding: 0px 4px; background-color: var(--color-shape-highlight-medium); border-radius: 6px; }

	.button.simple { color: var(--color-text-primary); font-weight: 600; }
	.button.simple {
		.txt { line-height: var(--line-height-common); }
	}

    .icon.close { 
		background-image: url('~img/icon/banner/close.svg'); background-size: 8px !important; position: absolute; right: 8px; top: 8px;
		width: 16px !important; height: 16px !important;
	}
}
.banner.green { background-image: linear-gradient(90deg, #c5f3e5 0%, #f1ffc9 27.23%, #fff 54%); }