.cover { 
	background-repeat: no-repeat; background-size: cover; background-position: top center; color: #fff; position: fixed; left: 0px; 
	top: 0px; width: 100%; height: 100%;
}

.cover.c1 { background-image: url('~img/cover/1.jpg'); }
.cover.c2 { background-image: url('~img/cover/2.jpg'); }
.cover.c3 { background-image: url('~img/cover/3.jpg'); }
.cover.c4 { background-image: url('~img/cover/4.jpg'); }
.cover.c5 { background-image: url('~img/cover/5.jpg'); }
.cover.c6 { background-image: url('~img/cover/6.jpg'); }
.cover.c7 { background-image: url('~img/cover/7.jpg'); }