@import "~scss/_mixins";

.cover { 
	background-repeat: no-repeat; background-size: cover; background-position: top center; color: var(--color-bg-primary); position: fixed; left: 0px; 
	top: 0px; width: 100%; height: 100%; background-color: var(--color-text-primary);
}

.cover.type2.white { background-color: var(--color-bg-primary) !important; }
.cover.type2.yellow { background-color: #fee874 !important; }
.cover.type2.orange { background-color: #ffb522 !important; }
.cover.type2.red { background-color: #f55522 !important; }
.cover.type2.pink { background-color: #efaea1 !important; }
.cover.type2.purple { background-color: #6a1036 !important; }
.cover.type2.navy { background-color: #132877 !important; }
.cover.type2.blue { background-color: #2869e9 !important; }
.cover.type2.ice { background-color: #88cdf3 !important; }
.cover.type2.teal { background-color: #9bb0b7 !important; }
.cover.type2.green { background-color: #136E41 !important; }
.cover.type2.lightgrey { background-color: var(--color-shape-secondary) !important; }
.cover.type2.darkgrey { background: var(--color-control-active) !important; }
.cover.type2.black { background-color: var(--color-text-primary) !important; }
		
.cover.type3.yellow { background-image: linear-gradient(180deg, var(--color-system-accent-100) 0%, var(--color-yellow) 105.47%); }
.cover.type3.red { background-image: linear-gradient(180deg, var(--color-red) 0%, var(--color-pink) 105.47%); }
.cover.type3.blue { background-image: linear-gradient(180deg, var(--color-purple) 0%, var(--color-blue) 105.47%); }
.cover.type3.teal { background-image: linear-gradient(180deg, var(--color-ice) 0%, var(--color-teal) 105.47%); }

.cover.type3.pinkOrange { background-image: linear-gradient(180deg, #d8a4e1 0%, #ffcc81 100%); }
.cover.type3.bluePink { background-image: linear-gradient(180deg, #73b7f0 0%, #f3bfac 100%); }
.cover.type3.greenOrange { background-image: linear-gradient(180deg, #63b3cb 0%, #f7c47a 100%); }
.cover.type3.sky { background-image: linear-gradient(180deg, #6eb6e4 0%, #daeaf3 100%); }