@import "~scss/_mixins";

.dotIndicator { display: flex; justify-content: center; align-items: center; gap: 0px 6px; }
.dotIndicator {
    .dot { display: inline-block; width: 6px; height: 6px; border-radius: 50%; background-color: var(--color-text-primary); }
    .dot.active { background-color: var(--color-shape-primary); opacity: 0.9; }
}