@import "~scss/_mixins";

.dragbox { display: inline; position: relative; }
.dragbox {
    .isDraggable { position: relative; }
    .isDraggable.isClone { opacity: 0.75; position: absolute !important; left: 0px; top: 0px; }
    .isDraggable.isDragging { opacity: 0.5; }
    .isDraggable.isOver::after {
        content: ""; position: absolute; top: 0px; width: 2px; height: 100%; display: block; background: var(--color-system-accent-100);
    }
    .isDraggable.isOver.left::after { left: -4px; }
    .isDraggable.isOver.right::after { right: -4px; }
}