@import "~scss/_mixins";

.dragLayer { position: fixed; z-index: 1000; left: -100000px; top: -100000px; }
.dragLayer {
	.blocks { margin: 0px !important; }
	.blocks {
		.block { border: 0px; width: 100% !important; padding: 0px !important; }
		.block {
			.wrapMenu { display: none; }
			.wrapContent { width: 100%; padding: 0px; }
			
			.dropTarget { padding-left: 4px !important; opacity: 0.35; }
			
			.children {
				.block { padding: 0px; }
				.wrapMenu { display: block; opacity: 0; }
				.wrapContent { width: calc(100% - 48px); padding: 0px; }
			}
		}
		.block:last-child { margin: 0px; }

		.block.blockDataview {
			.dropTarget { padding: 0px !important; }

			.viewContent {
				.record { position: relative !important; left: 0px !important; top: 0px !important; overflow: hidden; background-color: var(--color-bg-primary); }
				.record {
					.selectionTarget.isSelectionSelected::after { display: none; }
				}
			}
			.viewContent.viewGallery {
				.record { margin: 0px 10px 10px 0px; }
			}
		}
	}

	.menus {
		.menu { position: relative; opacity: 1; transform: none; width: 100%; }
	}
}