@import "~scss/_vars";

.editorWrapper { width: 704px; margin: 0px auto; }
.editorWrapper {
	.blocks { margin-left: -48px; }

	.focusable.isFocused { background: $colorHover; }

	.note { 
		background: linear-gradient(270deg, #262cd2 0%, #0c82ef 100%); border-radius: 4px; height: 80px; color: $colorWhite; position: absolute; 
		left: 16px; top: 38px; width: calc(100% - 32px); line-height: 80px; text-align: center; z-index: 2;
	}
	.note {
		.inner { display: inline-block; width: 704px; margin: 0px auto; vertical-align: middle; line-height: 1; }
		.sides { display: flex; }
		.side.left { width: 576px; margin-right: 34px; text-align: left; @include text-common; line-height: 20px; }
		.side.right { text-align: right; }
	}

	.editor {
		.icon.buttonAdd { 
			width: 20px; height: 20px; position: absolute; z-index: 5; cursor: pointer; user-select: none; 
			background-image: url('~img/icon/block/add.svg'); transition: none; display: none;
		}
		.icon.buttonAdd.show { display: block; }
		
		.blockLast { margin-left: -50px; }
	}

	#editorSize { position: absolute; width: 400px; top: 48px; left: 50%; margin-left: -200px; z-index: 10; visibility: hidden; }

	.dragEmpty { height: 40px; transition: $transitionFast; }
}

.editorControls { width: 100%; height: 72px; margin: 0px auto 16px auto; z-index: 1; position: relative; line-height: 16px; opacity: 0; }
.editorControls {
	.controlButtons { position: absolute; bottom: 0px; width: 100%; }
	
	.btn { 
		background: $colorWhite; font-weight: 500; font-size: 14px; color: $colorMediumGrey; cursor: pointer; display: inline-block; transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
		height: 28px; margin-right: 8px; line-height: 26px; padding: 0px 8px 0px 6px; border-radius: 6px;
	}
	.btn:last-child { margin: 0px; }
	.btn:hover, .btn.hover { background: $colorHover; color: $colorBlack; }

	.btn {
		.icon { width: 20px; height: 20px; margin-right: 4px; }
		.icon.icon { background-image: url('~img/icon/add/icon0.svg'); }
		.icon.addCover { background-image: url('~img/icon/add/cover0.svg'); }
		.icon.layout { background-image: url('~img/icon/add/layout0.svg'); }
		.icon.relation { background-image: url('~img/icon/add/relation0.svg');  }
	}
	.btn:hover, .btn.hover {
		.icon.icon { background-image: url('~img/icon/add/icon1.svg'); }
		.icon.addCover { background-image: url('~img/icon/add/cover1.svg'); }
		.icon.layout { background-image: url('~img/icon/add/layout1.svg'); }
		.icon.relation { background-image: url('~img/icon/add/relation1.svg');  }
	}
}
.editorControls:hover, .editorControls.hover, .editorControls.active { opacity: 1; }

.editorControls.isDraggingOver { background: rgba(255,187,44,0.3); }

.editorWrapper.isResizing #editorSize { visibility: visible; }

.editorWrapper.withDescription {
	.blocks .block.blockText.description { display: flex; }
}

.editor.help {
	.cover { position: absolute; left: 16px; top: 44px; height: 256px; width: calc(100% - 32px); border-radius: 4px; }

	.blocks {
		.block {
			.wrapContent { width: 100% !important; }
			.wrapContent {
				.link { white-space: nowrap; cursor: pointer; }
				.note { text-align: right; color: #aca996; display: block; }
		
				.icon { width: 20px; height: 20px; margin-top: -4px; }
				.icon.help { background-image: url('~img/icon/help.svg'); }
				.icon.nav { background-image: url('~img/icon/header/nav.svg'); }

				.full { width: 100%; margin: 16px 0px; border-radius: 8px; }
				.half { width: 50%; margin: 16px 0px; border-radius: 8px; }

				img.mention { margin-left: -18px; }
			}
		}

		.block.blockDiv { margin: 30px 0px; }
	}
}
.editor.help.withCover {
	.blocks { padding-top: 150px; }
}

/* Page */

.editorWrapper.withIcon {
	.editorControls { height: 120px; }
	.blocks { margin-top: -78px; }
	#button-icon { display: none; }
	.controlButtons { left: 114px; text-align: left !important; } 
}

.editorWrapper.withCover { padding-top: 328px; }
.editorWrapper.withCover {
	.editorControls { display: none; }
}

.editorWrapper.withIconAndCover { padding-top: 238px; }
.editorWrapper.withIconAndCover {
	.editorControls { display: none; }
	#button-icon { display: none; }
	.controlButtons { left: 114px !important; text-align: left !important; } 
}

/* Human */ 

.editorWrapper.isHuman.withIcon {
	.blocks { margin-top: -94px; }
	.editorControls { height: 164px; }
}

.editorWrapper.isHuman.withIcon,
.editorWrapper.isHuman.withIconAndCover
{
	.controlButtons { left: 144px !important; }
}

.editorWrapper.isHuman.withIconAndCover { padding-top: 214px; }
.editorWrapper.isHuman.withIconAndCover {
	.controlButtons { bottom: 26px; }
}

.editorWrapper.align1, .editorWrapper.isHuman.align1 { 
	.controlButtons { left: 0px !important; text-align: center; }
}
.editorWrapper.align2, .editorWrapper.isHuman.align2 { 
	.controlButtons { left: 0px !important; }
}

/* Note */ 
.editorWrapper.isNote {
	.editorControls { height: 70px; }
}