@import "~scss/_vars";

.editorWrapper { padding-top: 106px; width: 704px; margin: 0px auto; }
.editorWrapper {
	.blocks { margin-left: -48px; }

	.editor { position: relative; }
	.editor {
		.icon.buttonAdd { 
			width: 20px; height: 20px; position: absolute; z-index: 5; cursor: pointer; user-select: none;
			background-image: url('~img/icon/block/add.svg'); opacity: 0;
			transition: opacity 0.05s ease-in-out;
		}
		
		.blockLast { margin-left: -50px; }
	}

	.dragEmpty { height: 40px; transition: $transitionFast; }
	
	.editorControls { position: absolute; width: inherit; height: 162px; left: 50%; top: 0px; z-index: 1; line-height: 16px; transform: translateX(-50%); }
	.editorControls {
		.sides { display: flex; width: 100%; position: absolute; bottom: 16px; }
		.side { width: 50%; }
		.side.right { text-align: right; }
		
		.btn { 
			font-weight: 500; font-size: 14px; color: $colorDarkGrey; cursor: pointer; display: inline-block; transition: $transitionFast; opacity: 0;
		}
		.btn:hover { color: $colorBlack; }
		.btn {
			.icon { width: 16px; height: 16px; margin-right: 6px; }
		}
		
		.btn.addIcon {
			.icon { background-image: url('~img/icon/add/icon0.svg'); }
		}
		.btn.addIcon:hover {
			.icon { background-image: url('~img/icon/add/icon1.svg'); }
		}
		
		.btn.addCover {
			.icon { background-image: url('~img/icon/add/cover0.svg'); }
		}
		.btn.addCover:hover {
			.icon { background-image: url('~img/icon/add/cover1.svg'); }
		}
	}
	.editorControls:hover {
		.btn { opacity: 1; }
	}
	.editorControls.isDraggingOver { background: rgba(255,187,44,0.3); }
}

.editorWrapper.withIcon { padding-top: 90px; }
.editorWrapper.withIcon {
	.editorControls {
		.btn.addIcon { display: none; }
	}
}

.editorWrapper.withCover { padding-top: 288px; }
.editorWrapper.withCover {
	.editorControls { height: 346px; }
	.editorControls {
		.btn.addCover { display: none; }
	}
}

.editorWrapper.withIconAndCover { padding-top: 224px; }
.editorWrapper.withIconAndCover {
	.editorControls { display: none; }
}

.editorWrapper.isProfile.withIcon { padding-top: 56px; }
.editorWrapper.isProfile.withIconAndCover { padding-top: 190px; }

.editorWrapper.isDataview { width: calc(100% - 192px); }
.editorWrapper.isDataview {
	.blocks { margin-left: 0px; }
	.blocks {
		.block {
			.wrapMenu { display: none; }
			.wrapContent { width: 100%; }
		}
	}
}

.editor.help {
	.blocks {
		.block {
			.wrapContent { width: 100% !important; }
			.wrapContent {
				.link { white-space: nowrap; cursor: pointer; }
				.note { text-align: right; color: #aca996; display: block; }
		
				.icon { width: 20px; height: 20px; margin-top: -4px; }
				.icon.help { background-image: url('~img/icon/help/dark0.svg'); }
				.icon.help:hover { background-image: url('~img/icon/help/dark0.svg'); }

				.icon.nav { background-image: url('~img/icon/header/nav1.svg'); }
		
				img.full { width: 100%; }
				img.mention { margin-left: -18px; }
			}
		}

		.block.blockDiv { margin: 30px 0px; }
	}
}