@import "~scss/_mixins";

.emptySearch { 
	height: 100%; padding: 0px 16px; display: flex; flex-direction: column; align-items: center; justify-content: center; 
	text-align: center;
}
.emptySearch {
	b { display: block; font-weight: 400; color: var(--color-text-primary); }
	span { @include text-overflow-nw; max-width: 100%; display: block; }
	.txt { line-height: 24px; color: var(--color-control-active); width: 100%; }
}