@import "~scss/_vars";

.filter { padding: 3px 14px 0px 14px; }
.filter {
	.inner { position: relative; width: 100%; height: 28px; }
	.input { padding: 0px !important; height: 22px; line-height: 22px; vertical-align: top; border: 0px !important; width: calc(100% - 24px); }
	.icon.clear { 
		width: 20px; height: 20px; background-image: url('~img/icon/clear0.svg'); position: absolute; right: 0px; top: 0px;
		cursor: pointer; opacity: 0;
	}
	.icon.clear:hover { background-image: url('~img/icon/clear1.svg'); }

	.line { height: 1px; margin: 0px !important; background: $colorLightGrey; display: block; }
}
.filter.isName .input { font-weight: 600; }
.filter.active { 
	.icon.clear { opacity: 1; } 
}