@import "~scss/_vars";

.footer { transition: $transitionFast; }
.footer {
	.copy { width: 120px; position: fixed; left: 50%; bottom: 12px; z-index: 10; text-align: center; margin-left: -60px; color: #fff; }
	
	#button-help { position: fixed; right: 14px; bottom: 14px; cursor: pointer; z-index: 10; }
}