@import "~scss/_vars";

.footer { position: fixed; right: 0px; bottom: 0px; width: 100%; z-index: 20; }
.footer {
	.copy { width: 120px; position: absolute; left: 50%; bottom: 12px; z-index: 10; text-align: center; margin-left: -60px; color: $colorWhite; }

	.icon { cursor: pointer; z-index: 10; }
	.icon.big { 
		width: 44px; height: 44px; background-color: $colorWhite; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2); border-radius: 100%; 
		background-size: 20px 20px;
	}
	
	#button-expand { position: absolute; left: 14px; bottom: 14px; }
	#button-help { position: absolute; right: 14px; bottom: 14px; }
}

.footer.footerMainEdit {
	#button-expand { background-image: url('~img/icon/footer/expand.svg'); }
	#button-help { background-image: url('~img/icon/footer/help.svg'); }
}