@import "~scss/_vars";

.header { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 10; transition: $transitionFast; }
.header {
	.logo {
		width: 60px; height: 13px; position: absolute; left: 50%; margin-left: -30px; top: 14px; background: url('~img/logo.svg') no-repeat;
		background-position: center center;
	}

	.menu { position: absolute; top: 8px; right: 16px; z-index: 1; color: #fff; }
	.menu {
		.item {
			display: inline-block; vertical-align: middle; margin-right: 16px; cursor: pointer; transition: $transitionFast;
			font-weight: bold;
		}
		.item:hover { color: $colorBlack; }
		.item:last-child { margin-right: 0px; }

		.item {
			.icon.plus-new { margin: -4px 7px 0px 0px; width: 16px; height: 16px; background-image: url('~img/icon/plus/new0.svg'); }
		}
		.item:hover {
			.icon.plus-new { background-image: url('~img/icon/plus/new1.svg'); }
		}
	}

	.path { white-space: nowrap; }
	.path {
		.item { display: inline-block; vertical-align: middle; color: #6c6a5f; margin-right: 2px; cursor: pointer; }
		.item {
			.icon.home { margin-right: 4px; }
			.icon.arrow { width: 6px; height: 10px; padding-top: 2px; background-image: url('~img/arrow/path.svg'); }
			.smile { margin-right: 0px; padding-top: 2px;}
			.name { display: inline-block; vertical-align: middle; margin-right: 8px; padding-top: 2px; line-height: 22px; }
		}
		.item:last-child {
			.icon.arrow { display: none; }
		}
	}

	.icon.plus-edit { cursor: pointer; width: 24px; height: 24px; margin-right: 4px; background-image: url('~img/icon/plus/edit0.svg'); }
	.icon.plus-edit:hover { background-image: url('~img/icon/plus/edit1.svg'); }

	.icon.back, .icon.forward {
		width: 24px; height: 24px; margin-right: 4px; background-image: url('~img/icon/back0.svg'); cursor: pointer;
	}
	.icon.forward { transform: rotateZ(180deg); }
	.icon.back:hover, .icon.forward:hover { background-image: url('~img/icon/back1.svg'); }
}

.headerMainEdit { background: #fff; padding: 9px 0px 9px 80px; }
.headerMainEdit {
	.menu { top: 8px; right: 12px; }
	.menu {
		.icon.more { width: 24px; height: 24px; background-image: url('~img/icon/menu/action/more0.svg'); cursor: pointer; }
	}
}
