@import "~scss/_vars";

.header { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 20; transition: $transitionFast; }
.header {
	.icon { width: 20px; height: 20px; cursor: pointer; vertical-align: top; margin-right: 12px; -webkit-app-region: no-drag; }
	.icon.back { margin-right: 8px; }
	
	.icon.logo {
		width: 60px; height: 13px; position: absolute; left: 50%; margin-left: -30px; top: 14px; background: url('~img/logo.svg') no-repeat;
		background-position: center center;
	}

	.path { white-space: nowrap; }
	.path {
		.item { 
			display: inline-block; vertical-align: top; color: #6c6a5f; margin-right: 6px; cursor: pointer; 
			transition: color 0.2s ease-in-out; 
		}
		.item {
			.icon { margin-right: 4px; }
			.icon.arrow { margin: -2px 0px 0px 0px; width: 6px; height: 10px; background-image: url('~img/arrow/path.svg'); vertical-align: middle; }
			.smile { margin-right: 4px; }
			.name { display: inline-block; vertical-align: top; margin-right: 6px; line-height: 20px; }
		}
		.item:last-child { margin: 0px; }
		.item:last-child {
			.icon.arrow { display: none; }
			.name { margin: 0px; }
		}
		.item:hover { color: $colorBlack; }
	}

	.menu { position: absolute; top: 9px; right: 10px; }
	.menu {
		.icon:last-child { margin: 0px; }
	}
	
	.icon.home { background-image: url('~img/icon/header/home.svg'); }
	.icon.back { background-image: url('~img/icon/header/back.svg'); }
	.icon.forward { background-image: url('~img/icon/header/back.svg'); }
	.icon.nav { background-image: url('~img/icon/header/nav.svg'); }
	.icon.plus { background-image: url('~img/icon/header/plus.svg'); }
	.icon.more { background-image: url('~img/icon/header/more.svg'); }
}

.headerMainEdit { background: #fff; padding: 9px 10px 9px 82px; line-height: 20px; }

.headerMainEditSearch { background: #fff; padding: 5px 10px; height: 38px; }
.headerMainEditSearch {
	.icon { width: 40px; height: 28px; background-size: 20px 20px; border-radius: 6px; }
	.icon:hover { background-color: #f3f2ec; }

	.mid { width: 492px; height: 28px; position: absolute; left: 50%; margin-left: -246px; top: 5px; white-space: nowrap; }
	.mid {
		.icon { margin: 0px; opacity: 0; }
		.icon.plus {
			.arrow { 
				width: 8px; height: 8px; background-image: url('~img/icon/header/arrow.svg'); position: absolute; right: -12px;
				top: 10px; margin: 0px; background-color: none !important; background-size: 100% 100%;
			}
		}
	}

	.path { 
		border: 1px solid #fff; border-radius: 6px; display: inline-block; vertical-align: top; height: 28px; margin: 0px 6px;
		line-height: 24px; width: 400px; text-align: center; transition: $transitionFast; -webkit-app-region: no-drag;
	}
	.path {
		.item { line-height: 20px; vertical-align: middle; }
	}
	.path * { pointer-events: all; }

	.side { position: absolute; top: 5px; }
	.side.left { left: 6px; opacity: 0; transition: $transitionFast; }
	.side.left {
		.icon { margin: 0px; }
		.icon.back, .icon.forward { width: 32px; }
	}

	.side.right { position: absolute; top: 5px; right: 6px; }
	.side.right {
		.icon { margin: 0px; }
	}
}

body.platformMac {
	.headerMainEditSearch {
		.side.left { left: 90px; }
	}
}

.headerMainEditSearch:hover, .headerMainEditSearch.active {
	.side.left { opacity: 1; }
	.mid {
		.icon { opacity: 1; }
		.icon.dis { opacity: 0.5; }
	}
	.path { border-color: $colorLightGrey; }
}