.headerBanner {
	position: relative; display: flex; align-items: center; padding: 6px 10px; @include text-small; border-radius: 6px; background: var(--color-shape-tertiary);
	-webkit-app-region: no-drag; 
}
.headerBanner {
	.flex { display: flex; align-items: center; gap: 0px 16px; }
	.label { @include text-overflow-nw; }

	.content { display: flex; gap: 0px 4px; align-items: center; }
	.content {
		.typeName { display: flex; gap: 0px 4px; flex-wrap: nowrap; }
		.typeName {
			.name { font-weight: 600; }
		}
	}
	.action { font-weight: 500; }
}
.headerBanner.withMenu.active { 
	.icon.arrowSelect { transform: rotateZ(180deg); }
}