@import "~scss/_mixins";

.headSimple { width: 100%; margin: 0px auto 24px auto; display: flex; align-items: flex-start; gap: 0px 32px; }
.headSimple {
	.side.left { width: 100%; flex-grow: 1; display: flex; flex-direction: column; gap: 6px 0px; }
	.side.left {
		.titleWrap { display: flex; flex-direction: row; gap: 0px 8px; align-items: flex-start; justify-content: stretch; }
		.titleWrap {
			> .iconObject { flex-shrink: 0; }
			> .title { @include text-header1; }
		}

		.editableWrap { flex-grow: 1; }
		.editableWrap {
			.editable { z-index: 1; position: relative;  word-break: break-word; cursor: text; min-height: 32px; }
		}
		
		> .descr { @include text-paragraph; }
	}

	.side.right { text-align: right; display: flex; flex-direction: row; gap: 0px 16px; align-items: center; justify-content: flex-end; }
	.side.right {
		.button { white-space: nowrap; }
	}
}

.headSimple.isSet { padding: 0px 14px; }
.headSimple.isCollection { padding: 0px 20px; }
.headSimple.isSet, .headSimple.isCollection {
	.side.left {
		.titleWrap { align-items: start; }
	}
}

.headSimple.isType, .headSimple.isRelation { gap: 0px 10px; }