@import "~scss/_mixins";

.icon {
	display: inline-block; vertical-align: middle; background-size: 100% 100%; background-repeat: no-repeat;
	background-position: center center; transition: $transitionAllCommon; position: relative; flex-shrink: 0;
}
.icon.withBackground { width: 28px !important; height: 28px !important; background-size: 20px !important; border-radius: 6px; }
.icon.withBackground {
	&:hover, &.hover, &.active { background-color: var(--color-shape-highlight-medium) !important; }
};

.icon.hasSvg {
	display: inline-flex; align-items: center; justify-content: center; color: var(--color-icon); width: 20px; height: 20px;

	> svg { flex-shrink: 0; pointer-events: none; }
};

.icon.iconColor-default { color: var(--color-text-primary); }
.icon.iconColor-grey { color: var(--color-grey); }
.icon.iconColor-yellow { color: var(--color-yellow); }
.icon.iconColor-orange { color: var(--color-orange); }
.icon.iconColor-red { color: var(--color-red); }
.icon.iconColor-pink { color: var(--color-pink); }
.icon.iconColor-purple { color: var(--color-purple); }
.icon.iconColor-blue { color: var(--color-blue); }
.icon.iconColor-ice { color: var(--color-ice); }
.icon.iconColor-teal { color: var(--color-teal); }
.icon.iconColor-lime { color: var(--color-lime); }
.icon.iconColor-darkGrey { color: var(--color-dark-grey); }
.icon.iconColor-darkOrange { color: var(--color-dark-orange); }
.icon.iconColor-darkRed { color: var(--color-dark-red); }
.icon.iconColor-accent125 { color: var(--color-system-accent-125); }
.icon.iconColor-accent100 { color: var(--color-system-accent-100); }
.icon.iconColor-accent50 { color: var(--color-system-accent-50); }
.icon.iconColor-accent25 { color: var(--color-system-accent-25); }

.arrow { background-position: center center; transition: $transitionAllCommon; background-repeat: no-repeat; background-size: 100% 100%; }

.icon.forward { transform: rotateZ(180deg); }

.icon.lock { width: 8px !important; height: 20px !important; background-image: url('~img/icon/lock.svg'); }

.icon.checkbox { width: 24px; height: 24px; background-image: url('~img/icon/checkbox0.svg'); }
.icon.checkbox.active { background-image: url('~img/icon/checkbox1.svg'); }

.icon.tex { width: 32px; height: 16px; background-image: url('~img/icon/tex.svg'); }

.icon.widget-star { background-image: url('~img/icon/widget/system/star.svg'); }
.icon.widget-pin { background-image: url('~img/icon/widget/system/pin.svg'); }
.icon.widget-chat0 { background-image: url('~img/icon/widget/system/chat0.svg'); }
.icon.widget-chat1 { background-image: url('~img/icon/widget/system/chat1.svg'); }
.icon.widget-pencil { background-image: url('~img/icon/widget/system/pencil.svg'); }
.icon.widget-eye { background-image: url('~img/icon/widget/system/eye.svg'); }
.icon.widget-bin { background-image: url('~img/icon/widget/system/bin.svg'); }
.icon.widget-all { background-image: url('~img/icon/widget/system/all.svg'); }

.icon.settings-personal { background-image: url('~img/icon/settings/personal.svg'); }
.icon.settings-storage { background-image: url('~img/icon/settings/storage.svg'); }
.icon.settings-phrase { background-image: url('~img/icon/settings/phrase.svg'); }
.icon.settings-pin { background-image: url('~img/icon/settings/pin.svg'); }
.icon.settings-spaces { background-image: url('~img/icon/settings/spaces.svg'); }
.icon.settings-membership { background-image: url('~img/icon/settings/membership.svg'); }
.icon.settings-language { background-image: url('~img/icon/settings/language.svg'); }
.icon.settings-api { background-image: url('~img/icon/settings/api.svg'); }
.icon.settings-sites { background-image: url('~img/icon/settings/sites.svg'); }
.icon.settings-space { background-image: url('~img/icon/settings/overview.svg'); }
.icon.settings-members { background-image: url('~img/icon/settings/members.svg'); }
.icon.settings-notifications { background-image: url('~img/icon/settings/pushOn.svg'); }
.icon.settings-import { background-image: url('~img/icon/settings/import.svg'); }
.icon.settings-export { background-image: url('~img/icon/settings/export.svg'); }
.icon.settings-type { background-image: url('~img/icon/settings/type.svg'); }
.icon.settings-relation { background-image: url('~img/icon/settings/relation.svg'); }
.icon.settings-bin { background-image: url('~img/icon/settings/bin.svg'); }
.icon.settings-leave { background-image: url('~img/icon/settings/leave.svg'); }
.icon.settings-remove { background-image: url('~img/icon/settings/remove.svg'); }
.icon.settings-logout { background-image: url('~img/icon/popup/settings/logout.svg'); }

.icon.settings-ux1 { background-image: url('~img/icon/settings/space/space.svg'); }
.icon.settings-ux3 { background-image: url('~img/icon/settings/space/chat.svg'); }


