@import "~scss/_vars";

.iconObject { display: inline-block; vertical-align: top; position: relative; width: 20px; height: 20px; border-radius: 3px; }
.iconObject {
	img { pointer-events: none; }

	.iconEmoji, .iconImage, .iconFile, .iconCheckbox { width: inherit; height: inherit; transition: none; vertical-align: top; }
	.iconImage, .iconCheckbox { background-size: cover; object-fit: cover; }
	.iconImage { border-radius: inherit; }

	.iconCommon.c16, .smileImage.c16, .iconImage.c16, .iconFile.c16, .iconCheckbox.c16 { @include pos-abs-mid; width: 16px; height: 16px; margin: -8px 0px 0px -8px; }
	.iconCommon.c18, .smileImage.c18, .iconImage.c18, .iconFile.c18, .iconCheckbox.c18 { @include pos-abs-mid; width: 18px; height: 18px; margin: -9px 0px 0px -9px; }
	.iconCommon.c20, .smileImage.c20, .iconImage.c20, .iconFile.c20, .iconCheckbox.c20 { @include pos-abs-mid; width: 20px; height: 20px; margin: -10px 0px 0px -10px; }
	.iconCommon.c22, .smileImage.c22, .iconImage.c22, .iconFile.c22, .iconCheckbox.c22 { @include pos-abs-mid; width: 22px; height: 22px; margin: -11px 0px 0px -11px; }
	.iconCommon.c24, .smileImage.c24, .iconImage.c24, .iconFile.c24, .iconCheckbox.c24 { @include pos-abs-mid; width: 24px; height: 24px; margin: -12px 0px 0px -12px; }
	.iconCommon.c26, .smileImage.c26, .iconImage.c26, .iconFile.c26, .iconCheckbox.c26 { @include pos-abs-mid; width: 26px; height: 26px; margin: -13px 0px 0px -13px; }
	.iconCommon.c28, .smileImage.c28, .iconImage.c28, .iconFile.c28, .iconCheckbox.c28 { @include pos-abs-mid; width: 28px; height: 28px; margin: -14px 0px 0px -14px; }
	.iconCommon.c30, .smileImage.c30, .iconImage.c30, .iconFile.c30, .iconCheckbox.c30 { @include pos-abs-mid; width: 30px; height: 30px; margin: -15px 0px 0px -15px; }
	.iconCommon.c32, .smileImage.c32, .iconImage.c32, .iconFile.c32, .iconCheckbox.c32 { @include pos-abs-mid; width: 32px; height: 32px; margin: -16px 0px 0px -16px; }
	.iconCommon.c40, .smileImage.c40, .iconImage.c40, .iconFile.c40, .iconCheckbox.c40 { @include pos-abs-mid; width: 40px; height: 40px; margin: -20px 0px 0px -20px; }
	.iconCommon.c48, .smileImage.c48, .iconImage.c48, .iconFile.c48, .iconCheckbox.c48 { @include pos-abs-mid; width: 48px; height: 48px; margin: -24px 0px 0px -24px; }
	.iconCommon.c64, .smileImage.c64, .iconImage.c64, .iconFile.c64, .iconCheckbox.c64 { @include pos-abs-mid; width: 64px; height: 64px; margin: -32px 0px 0px -32px; }

	.iconEmoji { display: inline-block; vertical-align: top; text-align: center; position: relative; overflow: hidden; border-radius: inherit; }

	.iconEmoji {
		.emoji-mart-emoji { height: 100%; display: inline-block; vertical-align: middle; }
		.emoji-mart-emoji {
			span { height: 100%; display: inline-block; vertical-align: middle; }
		}
		
		.icon.home-big { @include pos-abs-mid; width: 24px; height: 24px; margin: -12px 0px 0px -12px; }
	}

	.iconEmoji.c18 { width: 18px; height: 18px; line-height: 18px; }

	.iconEmoji.c20 { width: 20px; height: 20px; line-height: 20px; }
	.iconEmoji.c20 {
		.emoji-mart-emoji { margin: -3px 0px 0px 2px; }
	}

	.iconEmoji.c24 { width: 24px; height: 24px; line-height: 24px; }
	.iconEmoji.c24 {
		.emoji-mart-emoji { margin: -2px 0px 0px 2px; }
	}

	.iconEmoji.c26 { width: 26px; height: 26px; line-height: 26px; }
	.iconEmoji.c26 {
		.emoji-mart-emoji { margin: -2px 0px 0px 2px; }
	}

	.iconEmoji.c28 { width: 28px; height: 28px; line-height: 28px; }
	.iconEmoji.c28 {
		.emoji-mart-emoji { margin: -2px 0px 0px 2px; }
	}

	.iconEmoji.c32 { width: 32px; height: 32px; line-height: 32px; }
	.iconEmoji.c32 {
		.emoji-mart-emoji { margin: -2px 0px 0px 2px; }
	}

	.iconEmoji.c48 { display: block; width: 48px; height: 48px; line-height: 48px; }
	.iconEmoji.c48 {
		.emoji-mart-emoji { margin: -3px 0px 0px 1px; font-size: 24px; height: 28px; line-height: 1em; }
		.emoji-mart-emoji { span { height: 28px; line-height: 32px; } }
	}

	.iconEmoji.c64 { display: block; width: 64px; height: 64px; line-height: 64px; }
	.iconEmoji.c64 {
		.emoji-mart-emoji { margin: -1px 0px 0px 0px; font-size: 36px; height: 1em; line-height: 1em; }
		.emoji-mart-emoji { span { height: 36px; line-height: 36px; } }
	}

	.iconEmoji.canEdit { cursor: pointer; transition: background-color 0.05s ease-in-out; }
	.iconEmoji.canEdit.c48:hover, .iconEmoji.canEdit.c64:hover { background-color: #ebe9e0; }
	.iconEmoji.canEdit.c48.active, .iconEmoji.canEdit.c64.active { background-color: #ebe9e0; }
}
.iconObject.c16 { width: 16px; height: 16px; }
.iconObject.c18 { width: 18px; height: 18px; }
.iconObject.c24 { width: 24px; height: 24px; }
.iconObject.c26 { width: 26px; height: 26px; }
.iconObject.c28 { width: 28px; height: 28px; }
.iconObject.c32 { width: 32px; height: 32px; }
.iconObject.c40 { width: 40px; height: 40px; }
.iconObject.c48 { display: block; width: 48px; height: 48px; border-radius: 0px; overflow: hidden; }
.iconObject.c56 { display: block; width: 56px; height: 56px; border-radius: 14px; overflow: hidden; background-color: #f3f2ec; }
.iconObject.c64 { display: block; width: 64px; height: 64px; border-radius: 14px; overflow: hidden; background-color: #f3f2ec; }
.iconObject.c96 { display: block; width: 96px; height: 96px; border-radius: 20px; overflow: hidden; background-color: #f3f2ec; }
.iconObject.c128 { display: block; width: 128px; height: 128px; border-radius: 20px; overflow: hidden; background-color: #f3f2ec; }

.iconObject.c56, .iconObject.c96, .iconObject.c128 {
	.iconImage { width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px; }
} 

.iconObject.c40, .iconObject.c48, .iconObject.c64 {
	.iconImage { width: 100%; height: 100%; margin: 0px; left: 0px; top: 0px; }
}

.iconObject.c48.isRelation, 
.iconObject.c40.isRelation
{ border-radius: 8px; background-color: #f3f2ec; }

.iconObject.withLetter { border-radius: 8px; background-color: #f3f2ec; }

.iconObject.isHuman { border-radius: 100% !important; }
.iconObject.withImage { border-radius: 2px !important; }

.iconObject.canEdit { cursor: pointer; }