@import "~scss/_mixins";

.icon {
	display: inline-block; vertical-align: middle; background-size: 100% 100%; background-repeat: no-repeat;
	background-position: center center; transition: $transitionAllCommon; position: relative;
}
.icon.withSvg {
	display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; line-height: 0;
	color: var(--color-icon); background-image: none !important;
}
.icon.withSvg:not(.withBackground):not(.disabled):hover,
.icon.withSvg:not(.withBackground):not(.disabled).hover,
.icon.withSvg:not(.withBackground):not(.disabled).active { color: var(--color-icon-hover); }

.icon.withBackground { width: 28px !important; height: 28px !important; background-size: 20px !important; border-radius: 6px; }
.icon.withBackground {
	&:hover, &.hover, &.active { background-color: var(--color-shape-highlight-medium) !important; }
};

.arrow { background-position: center center; transition: $transitionAllCommon; background-repeat: no-repeat; background-size: 100% 100%; }

.icon.back, .icon.forward { background-image: url('~img/icon/back.svg'); }
.icon.forward { transform: rotateZ(180deg); }
.icon.expand { background-image: url('~img/icon/menu/action/expand0.svg'); }


.icon.checkbox { width: 24px; height: 24px; background-image: url('~img/icon/checkbox0.svg'); }
.icon.checkbox.active { background-image: url('~img/icon/checkbox1.svg'); }


