@import "~scss/_vars";

.inputWithFile {
	line-height: 20px; padding: 11px 13px; border-radius: 6px; border: solid 1px $colorLightGrey; color: $colorDarkGrey;
	transition: background 0.05s ease-in-out; white-space: nowrap; overflow: hidden; @include text-common;
}
.inputWithFile {
	.txt { line-height: 20px; height: 20px; overflow: hidden; width: calc(100% - 26px); vertical-align: top; }
	.fileWrap { display: inline-block; vertical-align: top; }
	.fileWrap .border { border-bottom: 1px solid $colorDarkGrey; display: inline-block; line-height: 1; transition: $transitionFast; }
	.fileWrap:hover .border { cursor: pointer; color: $colorBlack; }

	.input::placeholder { color: $colorDarkGrey; }
	.urlToggle { cursor: text; display: inline-block; }

	#form { display: inline-block; vertical-align: top; }
	#form > span { display: inline-block; width: 100%; }
	#url { height: 20px; line-height: 20px; vertical-align: top; padding: 0px; }

	.icon { width: 20px; height: 20px; margin: 0px 6px 0px 0px; transition: none; vertical-align: top; }
	.icon.image { background-image: url('~img/icon/menu/action/block/picture0.svg'); }
	.icon.video { background-image: url('~img/icon/menu/action/block/video0.svg'); }
	.icon.file { background-image: url('~img/icon/menu/action/block/file0.svg'); }
	.icon.bookmark { background-image: url('~img/icon/menu/action/block/bookmark0.svg'); }
}

.inputWithFile.isSmall {
	.fileWrap { display: block; }
	.txt { height: 38px; }
}

.inputWithFile.noFile {
	.urlToggle { width: 100%; }
	#form { width: 100%; }
}
.inputWithFile.noFile.isSmall .txt { height: 20px; }

.inputWithFile.isFocused {
	.fileWrap { display: none; }
	#form { width: 100%; }
}

.inputWithFile.isSmall.isFocused {
	.txt { display: inline-block; }
	.fileWrap { display: block; }
}

.inputWithFile.isIcon { cursor: pointer; }
.inputWithFile.isIcon {
	#text { display: none; }
}