.keyPhrase {
    border-radius: 24px; background: rgba(44, 43, 39, 0.3); font-size: 18px; line-height: 18px; display: flex; width: 100%;
    flex-direction: row; align-items: center; justify-content: center; padding: 36px 48px;
}

.keyPhrase {
    .textColor { padding: 0px 10px; font-size: 18px; min-height: 18px; user-select: text !important; }
}

.keyPhrase:hover { cursor: text; background: rgba(44, 43, 39, 0.5); }
.keyPhrase.isBlurred { filter: none } // to overwrite the commmon.scss .isBlurred class
.keyPhrase.isBlurred span { filter: blur(7px); }
.keyPhrase.isInvalid { background: #240E07; }