@import "~scss/_vars";

.linkPreview {
	position: absolute; left: 0px; top: 0px; width: 320px; z-index: 1000; display: none; opacity: 0; 
	transition: opacity 0.2s ease-in-out;
}
.linkPreview.withImage { height: 268px; }

.linkPreview {
	.content { background: #fff; box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); border-radius: 8px; position: relative; height: 100%; }
	.loaderWrapper { margin: 0px; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
	.name { @include text-common; height: 22px; color: $colorBlack; @include text-overflow-nw; margin-bottom: 3px; }
	.descr { @include text-small; height: 36px; color: $colorVeryDarkGrey; margin: 2px 0px 7px 0px; @include text-overflow; }
	.link { @include text-small; height: 18px; color: $colorBlack; @include text-overflow-nw;  }
	.polygon { position: absolute; left: 0px; width: 100%; cursor: pointer; }
		
	.img {
		width: 100%; height: 112px; background-repeat: no-repeat; background-size: cover; background-position: center center; 
		border-bottom: 1px solid $colorLightGrey;
	}
		
	.icon.fav { width: 16px; height: 16px; margin: -4px 6px 0px 0px; }
	
	.head { 
		padding: 10px 16px 10px 16px; letter-spacing: -0.08px; color: $colorMediumGrey; font-weight: 500; position: absolute; left: 0px; width: 100%;
	}
	.head {
		.item { display: inline-block; vertical-align: top; margin-right: 16px; cursor: pointer; transition: $transitionFast; }
		.item:hover { color: $colorBlack; }
		.item:last-child { margin: 0px; }
	}
	
	.info { padding: 15px 15px 12px 15px; }
}

.linkPreview.top {
	.head { border-top: 1px solid $colorLightGrey; bottom: 0px; padding-bottom: 11px; }
	.content { padding-bottom: 44px; }
	.img { border-radius: 8px 8px 0px 0px; border-top: 0px; }
}

.linkPreview.bottom {
	.head { border-bottom: 1px solid $colorLightGrey; top: 0px; padding-top: 11px; }
	.content { padding-top: 44px; }
}