@import "~scss/_vars";

.navigationPanel {
	background: rgba(44, 43, 39, 0.4); backdrop-filter: blur(16px); border-radius: 16px; position: absolute; left: 50%; padding: 8px 16px;
	bottom: 24px;
	transform: translateX(-50%);
}
.navigationPanel {
	.inner { display: flex; flex-direction: row; gap: 0px 8px; align-items: center; justify-content: center; position: relative; z-index: 1; }
	.bg { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; }

	.icon { width: 32px; height: 32px; background-size: 20px; border-radius: 4px; }
	.icon:hover { background-color: $colorHoverMedium; }

	.icon.back, .icon.forward { background-image: url('~img/icon/navigation/back.svg'); }
	.icon.forward { transform: rotateZ('180deg'); }
	.icon.plus { background-image: url('~img/icon/navigation/plus.svg'); }
	.icon.graph { background-image: url('~img/icon/navigation/graph.svg'); }
	.icon.search { background-image: url('~img/icon/navigation/search.svg'); }

	.line { opacity: 0.2; width: 1px; height: 28px; background: #000; margin: 0px 5px; }
}