@import "~scss/_mixins";

.navigationPanel {
	background: rgba(134, 134, 134, 0.7); backdrop-filter: blur(32px); border-radius: 16px; position: fixed; left: 0px; padding: 12px 16px; bottom: 24px;
	z-index: 105; transition-property: opacity, visibility; transition-duration: 0.16s; transition-timing-function: $easeInQuint;
}
.navigationPanel.hide { visibility: hidden; z-index: 0; opacity: 0; }
.navigationPanel.hide * { pointer-events: none; }

.navigationPanel.sidebarAnimation { transition-property: left; }

.navigationPanel {
	.inner { display: flex; flex-direction: row; gap: 0px 20px; align-items: center; justify-content: center; position: relative; z-index: 1; }

	.iconWrap { 
		width: 28px; height: 28px; border-radius: 6px; display: flex; align-items: center; justify-content: center; 
		position: relative; transition: $transitionAllCommon;
	}
	.iconWrap:not(.disabled):hover, .iconWrap.active { background-color: rgba(37, 37, 37, 0.15); }
	
	.icon { width: 20px; height: 20px; z-index: 1;  }
	.icon.back, .icon.forward { background-image: url('~img/icon/navigation/back.svg'); }
	.icon.forward { transform: rotateZ('180deg'); }
	.icon.plus { background-image: url('~img/icon/navigation/plus.svg'); }
	.icon.graph { background-image: url('~img/icon/navigation/graph.svg'); }
	.icon.search { background-image: url('~img/icon/navigation/search.svg'); }
}
