@import "~scss/_vars";

.navigationPanel {
	background: rgba(37, 37, 37, 0.4); backdrop-filter: blur(16px); border-radius: 16px; position: fixed; left: 0px; padding: 8px 16px; top: 0px;
	height: 48px; z-index: 21; transition-property: left, top; transition-duration: 0.3s; transition-timing-function: $easeInQuint;
}
.navigationPanel {
	.inner { display: flex; flex-direction: row; gap: 0px 8px; align-items: center; justify-content: center; position: relative; z-index: 1; }

	.iconWrap { 
		width: 32px; height: 32px; border-radius: 4px; display: flex; align-items: center; justify-content: center; 
		transition: $transitionAllCommon;
	}
	.iconWrap:not(.disabled):hover { background-color: $colorHoverMedium; }

	.icon { width: 20px; height: 20px;  }
	.icon.back, .icon.forward { background-image: url('~img/icon/navigation/back.svg'); }
	.icon.forward { transform: rotateZ('180deg'); }
	.icon.plus { background-image: url('~img/icon/navigation/plus.svg'); }
	.icon.graph { background-image: url('~img/icon/navigation/graph.svg'); }
	.icon.search { background-image: url('~img/icon/navigation/search.svg'); }

	.line { opacity: 0.2; width: 1px; height: 28px; background: #000; margin: 0px 5px; }
}