@import "~scss/_vars";

.objectPreviewBlock { width: 344px; height: 216px; border-radius: 8px; overflow: hidden; position: relative; }
.objectPreviewBlock {
	.loaderWrapper { width: 100%; height: 100%; border: 1px solid $colorLightGrey; border-radius: 8px; }
	.icon.logo { position: absolute; right: 6px; top: 6px; width: 28px; height: 28px; background-image: url('~img/icon/type/logo.svg'); z-index: 1; }

	.scroller { padding: 32px 40px 16px 40px; position: relative; z-index: 1; overflow: hidden; height: calc(100% - 1px); }
	.border { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; border: 1px solid $colorLightGrey; border-radius: 8px; }
	.cover { position: absolute; height: 86px; border-radius: 8px 8px 0px 0px; }

	.heading { display: block; margin-bottom: 14px; position: relative; z-index: 1; }
	.heading {
		.iconObject { display: inline-block; background-color: #f3f2ec; border-radius: 8px; margin-bottom: 10px; box-shadow: 0px 0px 0px 1px #fff inset; }
		.name { display: block; @include text-paragraph; @include text-overflow-nw; font-weight: bold; position: relative; }
		.icon.checkbox { 
			position: absolute; top: 5px; left: -20px; width: 14px; height: 14px; background-image: url('~img/icon/object/checkbox0.svg') !important; 
		}
		.icon.checkbox.active { background-image: url('~img/icon/object/checkbox1.svg') !important; }

		.description { @include text-small; @include text-overflow-nw; }
		.author { @include text-very-small; color: $colorMediumGrey; }
	}

	.blocks { z-index: 1; }
	.blocks {
		.element { display: block; }
		.element {
			.inner { width: 100%; display: flex; }
			.inner {
				.icon { width: 16px; height: 16px; margin-right: 4px; flex-shrink: 0; vertical-align: top; }
				.icon.check { background-image: url('~img/icon/object/preview/check0.svg'); }
				.icon.check.active { background-image: url('~img/icon/object/preview/check1.svg'); }
				.icon.hl { background-image: url('~img/icon/object/preview/hl.svg'); }
				.icon.bullet { background-image: url('~img/icon/object/preview/bullet.svg'); }
				.icon.toggle { background-image: url('~img/icon/object/preview/toggle.svg'); }

				.number { 
					min-width: 16px; @include text-very-small; line-height: 16px; text-align: center; color: $colorDarkGrey; margin-right: 4px; flex-shrink: 0; 
					vertical-align: top; 
				}

				.icon.color {
					.bullet { 
						width: 10px; height: 10px; position: absolute; left: 50%; top: 50%; margin: -5px 0px 0px -5px; border-radius: 3px;
					}
				}

				.media { width: 100%; margin: 5px 0px; }
				.bookmark { margin: 5px 0px; display: flex; height: 70px; width: 100%; }
				.bookmark {
					.line { height: 4px; }

					.side.left { width: 66.66%; border: 1px solid $colorLightGrey; border-right: 0px; border-radius: 8px 0px 0px 8px; padding: 15px 16px 12px 16px; }
					.side.left {
						.name { margin-bottom: 10px; }
						.name {
							.line { display: block; margin: 0px; }
						}

						.descr { margin-bottom: 8px; }
						.descr {
							.line { display: block; }
							.line:first-child { margin: 0px 0px 6px 0px; }
							.line:last-child { margin: 0px; }
						}
						.url { line-height: 8px; }
						.url {
							.icon.color { width: 8px; height: 8px; }
							.bullet {  width: 8px; height: 8px; margin: 0px; left: 0px; top: 0px; }
							.line { width: calc(100% - 20px); margin: 2px 0px 0px 0px; }
						}
					}
					.side.right { 
						width: 33.33%; background-repeat: no-repeat; background-size: cover; background-position: center center; border-radius: 0px 8px 8px 0px;
					}
				}

				.line { margin: 5px 0px; height: 6px; background: $colorLightGrey; display: inline-block; vertical-align: top; width: 100%; }
				.line.odd { width: 50%; }
			}
			.children { width: 100%; }
		}

		.element.blockText.header1, 
		.element.blockText.header2, 
		.element.blockText.header3 
		{ @include text-small; font-weight: bold; }

		.element.blockText.toggle > .children,
		.element.blockText.numbered > .children,
		.element.blockText.bulleted > .children,
		.element.blockText.checkbox > .children,
		.element.blockText.paragraph > .children
		{ padding-left: 8px; }


		.element.blockRelation > .inner > .line:first-child { width: 32%; margin-right: 16px; }

		.element.blockLayout.c0 > .children { display: flex; padding: 0px; }
		.element.blockLayout.c0 > .children > .element { margin-right: 8px; }
		.element.blockLayout.c0 > .children > .element:last-child { margin: 0px; }

		.element.odd > .inner > .line { width: 50%; }

		.element.odd.blockRelation > .inner > .line:first-child { width: 22%; margin-right: 36px; }
		.element.odd.blockRelation > .inner > .line:last-child { width: 48%; }

		.element.withBullet > .inner > .line { width: calc(100% - 20px); }
		.element.withBullet.odd > .inner > .line { width: calc(50% - 10px); }
	}
}

.objectPreviewBlock.withCover .scroller { padding-top: 104px; }
.objectPreviewBlock.withIconAndCover .scroller { padding-top: 46px; }

.objectPreviewBlock.align1 {
	.heading { text-align: center; }
}
.objectPreviewBlock.align2 {
	.heading { text-align: right; }
}