@import "~scss/_vars";

.objectPreviewBlock { width: 344px; height: 216px; border-radius: 8px; overflow: hidden; position: relative; }
.objectPreviewBlock {
	.scroller { padding: 32px 40px 16px 30px; position: relative; z-index: 1; overflow-x: hidden; overflow-y: auto; height: 100%; }
	.border { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; border: 1px solid #dfddd0; border-radius: 8px; }
	.cover { position: absolute; height: 86px; border-radius: 8px 8px 0px 0px; }

	.heading { display: block; margin-bottom: 14px; position: relative; z-index: 1; }
	.heading {
		.iconObject { display: inline-block; background-color: #f3f2ec; border-radius: 8px; margin-bottom: 10px; }
		.name { display: block; @include text-paragraph; font-weight: bold; }
		.description { @include text-small; }
		.author { @include text-very-small; color: $colorDarkGrey; }
	}

	.blocks { z-index: 1; }
	.blocks {
		.element { border: 1px solid red; display: block; }
		.element {
			.inner { width: 100%; display: flex; }
			.inner {
				.icon { width: 16px; height: 16px; margin-right: 4px; flex-shrink: 0; vertical-align: top; }
				.icon.check { background-image: url('~img/icon/object/preview/check0.svg'); }
				.icon.check.active { background-image: url('~img/icon/object/preview/check1.svg'); }
				.icon.hl { background-image: url('~img/icon/object/preview/hl.svg'); }
				.icon.bullet { background-image: url('~img/icon/object/preview/bullet.svg'); }

				.number { 
					min-width: 16px; @include text-very-small; line-height: 16px; text-align: center; color: #929082; margin-right: 4px; flex-shrink: 0; 
					vertical-align: top; 
				}

				.icon.color {
					.bullet { width: 10px; height: 10px; position: absolute; left: 50%; top: 50%; margin: -5px 0px 0px -5px; background: #FFE9BD; }
				}

				.line { margin: 5px 0px; height: 6px; background: #eae9e0; display: inline-block; vertical-align: top; width: 100%; }
			}
			.children { width: 100%; }
		}

		.element.blockText.header1, 
		.element.blockText.header2, 
		.element.blockText.header3 
		{ @include text-small; font-weight: bold; }

		.element.blockRelation > .inner > .line:first-child { width: 32%; margin-right: 16px; }

		.element.blockLayout.c0 > .children { display: flex; padding: 0px; }
		.element.blockLayout.c0 > .children > .element { margin-right: 16px; }
		.element.blockLayout.c0 > .children > .element:last-child { margin: 0px; }

		.element.odd > .inner > .line { width: 50%; }

		.element.odd.blockRelation > .inner > .line:first-child { width: 22%; margin-right: 36px; }
		.element.odd.blockRelation > .inner > .line:last-child { width: 48%; }

		.element.withBullet > .inner > .line { width: calc(100% - 20px); }
		.element.withBullet.odd > .inner > .line { width: calc(50% - 10px); }
	}
}

.objectPreviewBlock.withCover .scroller { padding-top: 104px; }
.objectPreviewBlock.withIconAndCover .scroller { padding-top: 46px; }

.objectPreviewBlock.align1 {
	.heading { text-align: center; }
}
.objectPreviewBlock.align2 {
	.heading { text-align: right; }
}