@import "~scss/_vars";

.objectPreviewBlock { 
	padding: 32px 40px; width: 344px; height: 216px; overflow-x: hidden; overflow-y: auto; border: 1px solid $colorLightGrey; border-radius: 8px; 
	position: relative;
}
.objectPreviewBlock {
	.cover { position: absolute; left: -1px; top: -1px; width: calc(100% + 2px); height: 86px; }

	.heading { display: block; margin-bottom: 14px; }
	.heading {
		.iconObject { display: inline-block; background-color: #f3f2ec; border-radius: 8px; margin-bottom: 10px; }
		.name { display: block; @include text-paragraph; font-weight: bold; }
		.description { @include text-small; }
		.author { @include text-very-small; color: $colorDarkGrey; }
	}

	.blocks {
		.element { border: 1px solid red; display: block; }
		.element {
			.inner { width: 100%; display: flex; }
			.inner {
				.icon { width: 16px; height: 16px; margin-right: 4px; flex-shrink: 0; vertical-align: top; }
				.icon.check { background-image: url('~img/icon/object/preview/check0.svg'); }

				.icon.color {
					.bullet { width: 10px; height: 10px; position: absolute; left: 50%; top: 50%; margin: -5px 0px 0px -5px; background: #FFE9BD; }
				}

				.line { margin: 5px 0px; height: 6px; background: #eae9e0; display: inline-block; vertical-align: top; width: 100%; }
			}
			.children { width: 100%; }
		}

		.element.blockText.header1 { @include text-small; font-weight: bold; }
		.element.blockText.header2 { @include text-small; font-weight: bold; }
		.element.blockText.header3 { @include text-small; font-weight: bold; }

		.element.blockLayout.c0 > .children { display: flex; padding: 0px; }
		.element.blockLayout.c0 > .children > .element { margin-right: 16px; }
		.element.blockLayout.c0 > .children > .element:last-child { margin: 0px; }

		.element.even > .inner > .line { width: 50%; }

		.element.withBullet > .inner > .line { width: calc(100% - 20px); }
		.element.withBullet.even > .inner > .line { width: calc(50% - 20px); }
	}
}

.objectPreviewBlock.withCover { padding-top: 46px; }

.objectPreviewBlock.align1 {
	.heading { text-align: center; }
}
.objectPreviewBlock.align2 {
	.heading { text-align: right; }
}