@import "~scss/_vars";

.pager { text-align: center; color: $colorMediumGrey; white-space: nowrap; @include text-common; user-select: none; }
.pager {
    .pageItem { 
        min-width: 24px; display: inline-block; padding: 0px 2px; transition: $transitionFast; text-align: center; margin-right: 8px; 
        vertical-align: top; line-height: 24px; cursor: pointer;
    }
    .pageItem:last-child { margin: 0px; }
    .pageItem:hover, .pageItem.active { color: $colorBlack; }
	
	.dots { min-width: 24px; display: inline-block; padding: 0px 2px; text-align: center; margin-right: 8px; vertical-align: top; line-height: 24px; }

    .icon.arrow { width: 24px; height: 24px; vertical-align: top; background-image: url('~img/arrow/pager0.svg'); cursor: pointer; }
    .icon.arrow:hover { background-image: url('~img/arrow/pager1.svg'); }

    .icon.arrow.disabled:hover { background-image: url('~img/arrow/pager0.svg'); }

    .icon.arrow.right { transform: rotateZ(180deg); }
}