@import "~scss/_vars";

.progressBar {
    .bar { position: relative; overflow: hidden; height: 12px; border-radius: 4px; display: flex; flex-direction: row; gap: 0px 2px; }
    .bar {
		.fill { height: 100%; background-color: $colorSystemAccent25; }
		.fill.isActive { background-color: $colorSystemAccent100; }
		.fill.empty { background-color: $colorShapeTertiary; }
	}
    .labels { display: flex; justify-content: space-between; }
    .labels {
		.label { @include text-small; padding-top: 8px; color: $colorTextSecondary; }
	}
}