.progress { position: fixed; left: 0px; top: 0px; z-index: 100; width: 100%; height: 100%; background: rgba(0,0,0,0.1); }
.progress {
	.inner { 
		position: absolute; left: 50%; top: 50%; box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3); height: 40px; line-height: 40px;
		border-radius: 4px; width: 224px; text-align: center; background: #393834; overflow: hidden; margin: -20px 0px 0px -112px;
	}
	.inner {
		.label { position: absolute; left: 0px; top: 0px; width: 100%; z-index: 1; color: #fff; }
		.bar { background: #6a6962; height: 100%; position: absolute; left: 0px; top: 0px; }
	}
}