@import "~scss/_vars";

.progressBar { position: relative; overflow: hidden; height: 6px; border-radius: 8px;  margin-bottom: 54px; background-color: $colorVeryLightGrey;}
.progressBar {
    .progressBarFill { height: 6px; background-color: $colorBlack; }
}