@import "~scss/_mixins";

#selection { position: relative; user-select: none; }
#selection * { user-select: none; }
#selection-rect { 
	position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; display: none; z-index: 20; background: var(--color-system-selection); 
	border: 0.05em solid #2aa7ee; pointer-events: none; border-radius: 2px;
}
#selection-rect.fromPopup { z-index: 102; }