@import "~scss/_vars";

.select { 
	border-radius: 4px; border: solid 1px $colorBorderDark; display: inline-block; vertical-align: middle;
	letter-spacing: 0.08px; transition: $transitionFast; position: relative; cursor: pointer; font-family: 'Inter';
	white-space: nowrap; padding: 3px 26px 3px 6px; line-height: 20px !important;
}
.select:hover, .select.active { background: #f3f2ef; }

.select {
	.icon { transition: none; }
	.icon.arrow {
		margin: -10px 0px 0px 0px !important; right: 0px !important; width: 20px !important; height: 20px !important; position: absolute; top: 50%;
		background-image: url('~img/arrow/select/dark.svg') !important; 
	}
	.icon.arrow.light { background-image: url('~img/arrow/select/light.svg') !important; }

	.item { display: flex; background: none !important; padding: 0px !important; }
	.item {
		.icon, .iconObject { transition: none; margin-right: 6px; flex-shrink: 0; }
		.name { width: 100%; @include text-overflow-nw; }
	}
}