@import "~scss/_mixins";

.stickyScrollbar {
	position: sticky; bottom: 0px; left: 0px; overflow-x: auto; overflow-y: hidden; z-index: 2; height: 10px; 
	box-sizing: border-box;
}
.stickyScrollbar::-webkit-scrollbar { height: 10px; }
.stickyScrollbar::-webkit-scrollbar-track { background: var(--color-shape-secondary); border-radius: 5px; }
.stickyScrollbar::-webkit-scrollbar-thumb { background: var(--color-control-active); border-radius: 5px; }
.stickyScrollbar::-webkit-scrollbar-thumb:hover { background: var(--color-text-secondary); }

.stickyScrollbarTrack { height: 1px; pointer-events: none; }