@import "~scss/_mixins";

.stickyScrollbar {
	position: sticky; bottom: 8px; left: 0px; overflow-x: auto; overflow-y: hidden; z-index: 2; height: 6px; 
	box-sizing: border-box;
}
.stickyScrollbar::-webkit-scrollbar { height: 6px; }
.stickyScrollbar::-webkit-scrollbar-track { background: var(--color-shape-secondary); border-radius: 3px; }
.stickyScrollbar::-webkit-scrollbar-thumb { background: var(--color-control-active); border-radius: 3px; }
.stickyScrollbar::-webkit-scrollbar-thumb:hover { background: var(--color-text-secondary); }

.stickyScrollbarTrack { height: 1px; pointer-events: none; }