@import "~scss/_vars";

.switch { 
	width: 26px; height: 16px; background: #e0ded2; border-radius: 16px; position: relative; cursor: pointer; 
	display: inline-block; vertical-align: middle;
}
.switch {
	.inner { 
		width: 12px; height: 12px; border-radius: 100%; background: #fff; position: absolute; left: 2px; top: 2px;
		transition: $transitionFast; box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.1);
	}	
}
.switch.big { width: 40px; height: 24px; border-radius: 24px; }
.switch.big {
	.inner { width: 20px; height: 20px; }
}

.switch.active { background: $colorVeryDarkGrey; }
.switch.green.active { background: $colorLime; }
.switch.orange.active { background: #ffd15b; }
.switch.isReadonly { cursor: default; }

.switch.active {
	.inner { left: auto; right: 2px; }
}