@import "~scss/_mixins";

@keyframes syncing {
	0%, 100% { opacity: 0.2; }
	40%, 60% { opacity: 1; }
};

.sync { 
	height: 28px; width: 28px; display: flex; flex-direction: row; align-items: center; @include text-small; color: var(--color-text-secondary);
	border-radius: 4px; gap: 0px 8px; justify-content: center;
}
.sync {
	.icon { width: 20px; height: 20px; background-image: url('~img/icon/sync/default.svg'); pointer-events: none; }
	.icon.synced,
	.icon.syncing { background-image: url('~img/icon/sync/synced.svg'); }
	.icon.error { background-image: url('~img/icon/sync/error.svg'); }
	.icon.offline { background-image: url('~img/icon/sync/offline.svg'); }
	.icon.upgrade { background-image: url('~img/icon/sync/upgrade.svg'); }

	.icon.syncing { animation: syncing 2s ease-out infinite; }

	.name { @include text-overflow-nw; margin-right: 10px; display: none; }
	.badge { padding-right: 10px; }

	&.hover, &:hover { background: var(--color-shape-highlight-medium);  }
	&.hover, &:hover {
		.name { display: block; }
	}

	&.errorIncompatibleVersion { width: auto; }
	&.errorIncompatibleVersion {
		.name { display: block; }
	}
}
