@import "~scss/_vars";

.textarea {
	width: 100%; height: 100px; resize: none; font-size: 15px; border: 0px; background: #f7f5f0; padding: 20px;
	line-height: 24px; letter-spacing: -0.12px; color: $colorBlack; display: block; font-family: 'Mono'; 
}
.textarea::placeholder { color: #d2d0c2; }

.textarea.withError { border-color: #f6a085 !important; border-width: 2px !important; border-radius: 1px; }