@import "~scss/_vars";

.toast {
    position: fixed; left: 0px; top: 0px; border-radius: 8px; background: $colorBlack; padding: 15px 18px; text-transform: none;
    @include text-common; color: $colorWhite; display: none; z-index: 1000; white-space: nowrap; transition: opacity 0.2s ease-in-out;
}

.toast {
	.inner { display: flex; justify-content: space-between; }
}
.toast {
	.inner {
		.message,
		.buttons { display: flex; gap: 6px; }

		.message {
			.chunk { @include text-overflow-nw; display: flex; align-items: center; gap: 0px 6px; }
			.chunk {
				.name { max-width: 140px; @include text-overflow-nw; }
			}
		}

		.buttons { margin-left: 28px; }
		.buttons {
			.button.toastButton { @include text-common; line-height: 20px; border: 0 solid; height: auto; padding: 0; background: none; }
			.button.toastButton:hover { background-color: transparent; }
			.button.toastButton:hover {
				.txt { text-decoration: underline; }
			}
		}
	}
}