@import "~scss/_vars";

.tooltip { 
	position: fixed; left: 0px; top: 0px; border-radius: 4px; background: $colorVeryDarkGrey; padding: 3px 7px; text-transform: none;
	@include text-small; color: $colorWhite; display: none; z-index: 1000; white-space: nowrap; transition: opacity 0.05s ease-in-out;
	pointer-events: none; 
}
.tooltip .txt { line-height: 1; margin-top: -1px; }