@import "~scss/_mixins";

#vaultContentContainer { transition: transform 0.3s $easeInQuint; }
#vaultContentContainer.isExpanded { transform: translate3d(calc($vaultWidthExpanded + $vaultWidthCollapsed), 0px, 0px); overflow: hidden; }
#vaultContentContainer.isExpanded {
	#sidebar { left: 0px; }
}

.vault { 
	position: fixed; background-color: #000; z-index: 30; left: 0px; top: 0px; width: $vaultWidthCollapsed; height: 100%;
	display: flex; flex-direction: column; transition: width 0.3s $easeInQuint; padding-top: 42px;
}
.vault {
	.head { height: 42px; display: flex; flex-direction: row; align-items: center; justify-content: flex-end; gap: 0px 8px; padding: 0px 14px; flex-shrink: 0; }
	.head {
		.icon { width: 24px; height: 24px; background-size: 20px; border-radius: 4px; -webkit-app-region: no-drag; opacity: 0; }
		.icon.settings { background-image: url('~img/icon/vault/settings.svg'); }
		.icon.close { background-image: url('~img/icon/vault/close.svg'); }
		.icon:hover { background-color: var(--color-shape-highlight-medium); }
	}
	.body { display: flex; flex-direction: column; justify-content: space-between; padding: 0px 0px 12px 0px; flex-grow: 1; height: calc(100% - 42px); gap: 16px 0px; }
	.body {
		.side { padding: 0px 14px; }
		.side.top { display: flex; flex-direction: column; gap: 16px 0px; overflow: auto; height: calc(100% - 64px); flex-grow: 1; overscroll-behavior: none; }
		.side.top::-webkit-scrollbar { display: none; }
		.side.bottom { flex-shrink: 0; align-items: flex-end; }
	}

	.item { position: relative; border-radius: 2px; transition: background $transitionCommon; }
	.item {
		.iconWrap, .infoWrap { position: relative; z-index: 1;  }

		.iconWrap { width: 48px; height: 48px; overflow: hidden; border-radius: 2px; background-position: center; background-repeat: no-repeat; }
		.iconWrap {
			.icon.shared { width: 10px; height: 10px; position: absolute; left: 6px; bottom: 6px; background-image: url('~img/icon/vault/shared.svg'); }
		}

		.coverWrap { width: 100%; height: 100%; overflow: hidden; border-radius: inherit; position: absolute; z-index: 0; left: 0px; top: 0px; display: none; }
		.coverWrap {
			.iconObject { width: $vaultWidthExpanded; height: $vaultWidthExpanded; margin-top: -140px; opacity: 0.6; filter: blur(50px); }
		}

		.infoWrap { display: none; }
		.infoWrap {
			.name { width: 100%; color: #fff; @include text-common; font-weight: 600; @include text-overflow-nw; }
			.descr { color: rgba(255,255,255,0.6); }
		}
	}

	.item.void {
		.iconWrap { background-image: url('~img/icon/vault/void.svg'); background-size: 24px; border: 1px solid rgba(255,255,255,0.3); }
	}

	.item.gallery { background: #3f3f3f; }
	.item.gallery {
		.iconWrap { background-image: url('~img/icon/vault/gallery.svg'); }
	}

	.item.add { background: #2b2b2b; justify-content: center; }
	.item.add {
		.iconWrap { background-image: url('~img/icon/vault/plus.svg'); background-size: 20px; }
	}

	.item.settings {
		.iconWrap { background-size: 20px; background-image: url('~img/icon/vault/settings.svg'); }
	}
	.item.settings:hover { background: #2b2b2b; }

	.item::after { 
		content: ''; position: absolute; left: -14px; top: 20%; width: 4px; height: 60%; background: #fff; border-radius: 0px 2px 2px 0px;
		opacity: 0; 
	}

	.item.isActive::after { opacity: 1; }

}

.vault.isExpanded { width: calc($vaultWidthExpanded + $vaultWidthCollapsed); }
.vault.isExpanded {
	.head {
		.icon { opacity: 1; }
	}

	.item { padding: 16px; display: flex; flex-direction: row; align-items: center; border-radius: 12px; gap: 0px 16px; }
	.item {
		.coverWrap, .infoWrap { display: block; }
	}

	#item-void { display: none; }
}