@import "~scss/_vars";
@import "~scss/_mixins";

.onboardingGraphWorkerContainer {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: auto;
	opacity: 1.0;
	z-index: 0;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		cursor: default; // Always use normal pointer
	}
}