@import "~scss/_mixins";

.menus {
	.menu.menuPreviewObject { width: 344px; height: 228px; }
	.menu.menuPreviewObject {
		.content { padding: 0px; height: 100%; }

		.previewObject { width: 100%; height: 100%; }
		.previewObject {
			.border { display: none; }
			.loaderWrapper { border: 0px; }
		}
	}	
}