@import "~scss/font.scss";
@import "~scss/_vars";

html.anytypeWebclipper-iframe, 
html.anytypeWebclipper-popup { 
	* { box-sizing: border-box; border: 0px; margin: 0px; padding: 0px; }
	body { font-family: 'Inter'; @include text-common; }
}