html.anytypeWebclipper-iframe, 
html.anytypeWebclipper-popup { 
	@import "~scss/font.scss";
	@import "~scss/_vars";

	@import "~scss/common.scss";
	@import "~scss/component/loader.scss";
	@import "~scss/component/tag.scss";

	@import "~scss/form/button.scss";
	@import "~scss/form/select.scss";
	@import "~scss/form/filter.scss";

	@import "~scss/component/error.scss";
	@import "~scss/component/icon.scss";
	@import "~scss/component/iconObject.scss";

	@import "~scss/menu/common.scss";
	@import "~scss/menu/select.scss";
	@import "~scss/menu/type.scss";
	@import "~scss/menu/search/object.scss";
	@import "~scss/menu/dataview/option.scss";

	@import "~scss/block/common";

	* { box-sizing: border-box; border: 0px; margin: 0px; padding: 0px; }
	body { font-family: 'Inter'; @include text-common; }

	.loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: $colorBgLoader; z-index: 10; }

	.menus {
		.menu.vertical { width: calc(100% - 32px); left: 16px; }
		.menu.vertical {
			.wrap, .items, .scrollArea { border-radius: inherit; }
		}
	}
}