html.anytypeWebclipper-iframe, 
html.anytypeWebclipper-popup { 
	@import "~scss/font.scss";
	@import "~scss/_vars";

	@import "~scss/common.scss";
	@import "~scss/form/button.scss";
	@import "~scss/component/loader.scss";

	* { box-sizing: border-box; border: 0px; margin: 0px; padding: 0px; }
	body { font-family: 'Inter'; @include text-common; }

	.loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: $colorBgLoader; z-index: 10; }
}