#anytypeWebclipper-iframe {
	@import "~scss/_vars";

	.head { 
		display: flex; flex-direction: row; align-items: center; height: 43px; border-bottom: 1px solid $colorShapeSecondary; 
		padding: 0px 16px; position: fixed; left: 0px; top: 0px; width: 100%; background: #fff; z-index: 9;
	}
	.head {
		.side { display: flex; flex-direction: row; align-items: center; width: 50%; }
		.side.right { justify-content: flex-end; gap: 0px 14px; }

		.button.simple { @include text-common; font-weight: 500; }
	}

	.blocks { padding: 96px 48px 48px 0px; }
}