.menus {
    .menu.menuChatText { width: unset; padding: 0px; height: 44px; transform-origin: 50% 50% !important; }
    .menu.menuChatText {
        .content { height: 100%; padding: 0px 8px; }
        .buttons { display: flex; align-items: center; height: 100%; justify-content: center; }

        .icon { width: 32px; height: 32px; background-size: 20px 20px; vertical-align: top; margin: 0px; border-radius: 4px; }
        .icon.hasSvg { width: 32px; height: 32px; }
        .icon:hover, .icon.hover { background-color: var(--color-shape-highlight-medium); }

    }
}
