@import "~scss/_vars";

.cell.c-shortText { cursor: text; }
.cell.c-shortText {
	.name { @include text-overflow-nw; display: inline-block; vertical-align: top; }
}

.cell.c-select {
	.tagItem { margin: 0px 6px 6px 0px; vertical-align: top; }
}

.cell.isEditing { border-radius: 2px; }
.cell.isEditing {
	.input-text { padding: 0px; height: 20px; }
	.icon.expand { display: none !important; }
	.cellContent { 
		position: absolute; left: -1px; top: -1px; overflow: visible !important; height: auto !important; white-space: normal !important; 
		box-shadow: 0px 0px 0px 1px $colorOrange inset; background: #fff; z-index: 10; min-height: 100%; border: 1px solid $colorOrange;
	}
	.cellContent {
		.name { display: inline-block; }
	}
	.empty { display: block; }
}

.cell.isEditing.c-object, .cell.isEditing.c-select {
	.cellContent { height: 20px !important; padding-right: 1px !important; }
}

.cell.isEditing.c-file {
	.inputWithFile { display: block; }
}

.cellContent { cursor: default; border-radius: 4px; }
.cellContent {
	.iconObject { margin-right: 4px; vertical-align: top; }
	.name { display: inline-block; vertical-align: top; }
	div.name:empty { display: none; }
	span:empty { display: none; }
	.empty { color: $colorDarkGrey; display: none; }
}

.cellContent.c-file {
	.inputWithFile { border: 0px; padding: 0px; display: none; }
	.element { display: inline-block; vertical-align: top; white-space: nowrap; max-width: 100%; margin-right: 8px; cursor: pointer; }
	.element {
		.iconObject { flex-shrink: 0; }
		.name { line-height: 20px; width: 100%; @include text-overflow-nw; }
	}
	.element.image {
		.iconObject { margin: 0px; }
	}
	.cellContent { white-space: normal; }
}

.cellContent.c-select {
	.tagItem { margin: 0px 6px 6px 0px; vertical-align: top; }
}

.cellContent.c-object {
	.element { display: inline-block; margin: 0px 8px 2px 0px; vertical-align: top; max-width: 100%; line-height: 20px; white-space: nowrap; }
	.element {
		.iconObject { flex-shrink: 0; }
		.name { line-height: 20px; width: 100%; @include text-overflow-nw; }
	}
}

.cellContent.isName {
	.name { line-height: 20px; @include text-overflow-nw; width: calc(100% - 24px); }
}

.cellContent.c-link {
	.icon.user { margin-right: 5px; }
}

.cellContent.canEdit.c-shortText, 
.cellContent.canEdit.c-longText, 
.cellContent.canEdit.c-date, 
.cellContent.canEdit.c-object, 
.cellContent.canEdit.c-select { cursor: text; }
.cellContent.canEdit.c-checkbox { cursor: pointer; }

.cellContent.c-url, .cellContent.c-email, .cellContent.c-phone {
	a { text-decoration: none; border-bottom: 1px solid #d2d0c2; transition: $transitionFast; cursor: pointer; }
	a:hover { border-color: $colorBlack; }
}