@import "~scss/_vars";

.cell.c-shortText, .cell.c-url, .cell.c-email, .cell.c-phone {
	.name { @include text-overflow-nw; display: inline-block; vertical-align: top; width: 100%; }
}

.cell.isEditing { border-radius: 2px; }
.cell.isEditing {
	.input-text { padding: 0px; height: 20px; }
	.icon.edit { display: none !important; }
	.cellContent { 
		position: absolute; left: 0px; top: 0px; overflow: visible !important; height: auto !important; white-space: normal !important; 
		background: $colorWhite; z-index: 10; min-height: 100%; box-shadow: 0px 0px 0px 2px #ffcf6f;
	}
	.cellContent {
		.name { display: inline-block; }
	}
	.empty { display: inline-block !important; visibility: visible !important; white-space: nowrap; }

	.icon.clear { 
		width: 20px; height: 20px; background-image: url('~img/icon/clear0.svg'); position: absolute; right: 14px; top: 50%;
		cursor: pointer; transition: background-image 0.2s ease-in-out; margin: -10px 0px 0px 0px !important;
	}
	.icon.clear:hover { background-image: url('~img/icon/clear1.svg'); }
}

.cell.isEditing.c-select.isStatus {
	.icon.clear { display: block; }
	.over { display: inline-block; vertical-align: top; font-size: 0px; width: calc(100% - 30px); }
}

.cell.isEditing.c-object, .cell.isEditing.c-select {
	.cellContent { height: 20px !important; }
}

.cell.isEditing.c-file {
	.inputWithFile { display: block; }
}

.cellContent { cursor: default; }
.cellContent {
	.iconObject { margin-right: 4px; vertical-align: top; flex-shrink: 0; }
	.icon.clear { display: none; }

	.name { display: inline-block; vertical-align: top; }
	.empty { vertical-align: top; display: none; }

	.more { 
		background: $colorVeryLightGrey; border-radius: 3px; display: inline-block; vertical-align: middle; padding: 0px 4px; 
		@include text-small; color: $colorDarkGrey; margin-left: 6px;
	}
}

.cellContent.c-file {
	.inputWithFile { border: 0px; padding: 0px; display: none; }
	.element { display: inline-block; vertical-align: top; white-space: nowrap; max-width: 100%; margin-right: 8px; cursor: pointer; }
	.element {
		.iconObject { flex-shrink: 0; }
		.name { line-height: 20px; width: 100%; @include text-overflow-nw; }
	}
	.cellContent { white-space: normal; }
}

.cellContent.c-select {
	.over { display: inline-block; vertical-align: top; }
	.tagItem { margin: 0px 6px 6px 0px; vertical-align: top; }
	.tagItem:last-child { margin-right: 0px; }
}

.cellContent.c-object {
	.element { display: inline-block; margin: 0px 8px 2px 0px; vertical-align: top; max-width: 100%; line-height: 20px; white-space: nowrap; cursor: pointer; }
	.element:last-child { margin-right: 0px; }
	.element {
		.name { line-height: 20px; width: 100%; @include text-overflow-nw; }
	}
}

.cellContent.isName {
	.iconObject { z-index: 1; cursor: pointer; }
	.name { line-height: 20px; @include text-overflow-nw; width: 100%; }
}
.cellContent.isName.withIcon {
	.name { width: calc(100% - 24px); }
}

.cellContent.c-link {
	.icon.user { margin-right: 5px; }
}

.cell.isEditing.c-shortText, 
.cell.isEditing.c-longText, 
.cell.isEditing.c-number, 
.cell.isEditing.c-url, 
.cell.isEditing.c-phone, 
.cell.isEditing.c-email, 
.cell.isEditing.c-date {
	.cellContent { cursor: text !important; }
}

.cellContent.canEdit.c-shortText, 
.cellContent.canEdit.c-longText, 
.cellContent.canEdit.c-number, 
.cellContent.canEdit.c-url, 
.cellContent.canEdit.c-phone, 
.cellContent.canEdit.c-email, 
.cellContent.canEdit.c-date { cursor: text; }

.cellContent.canEdit.c-checkbox,
.cellContent.canEdit.c-select { cursor: pointer; }

.cellContent.c-url, .cellContent.c-email, .cellContent.c-phone {
	a { text-decoration: none; border-bottom: 1px solid $colorBorderDark; transition: $transitionFast; cursor: pointer; }
	a:hover { border-color: $colorBlack; }
}