@import "~scss/_mixins";

.widget.widgetView { display: flex; flex-direction: column; };
.widget.widgetView {
	.loaderWrapper { position: relative; }
	.innerWrap { height: 100%; padding-bottom: 8px; }
	.contentWrapper { flex-grow: 1; min-height: 8px; }
	.head { padding-bottom: 2px; }

	#viewSelect { padding: 0px 16px; }
	#viewSelect:empty { display: none; }
	#viewSelect {
		.select { border: none; margin-left: -6px; padding-right: 16px; max-width: calc(100% + 6px); }
		.select {
			.item { @include text-small; line-height: 18px !important; font-weight: 500; }
			.icon.arrow { 
				width: 8px !important; height: 5px !important; margin-top: -2.5px !important; background-image: url('~img/arrow/widget.svg') !important; 
				background-size: contain; right: 4px !important;
			}
		}
	}
}

.widget.widgetView.isPreview { padding: 0px; height: 100%; }
.widget.widgetView.isPreview {
	.head { margin: 0px; padding-bottom: 16px; }
	.innerWrap { padding: 0px; }

	.body { height: 100%; padding: 0px !important; }
	.body {
		.item.canDrag {
			.inner { padding-left: 0px !important; padding-right: 8px !important; width: calc(100% - 20px); }
		}
	}
}

.widget.widgetView.isClosed {
	.contentWrapper { height: 8px; }
	.innerWrap { opacity: 0; }
}

.widget.widgetView {
	@import "./board";
	@import "./calendar";
	@import "./gallery";
	@import "./list";
	@import "./graph";
}