@import "~scss/_mixins";

.pageMainArchive,
.pageSettingsArchive {
	.wrapper {
		width: calc(100% - 96px); margin: 0px auto; padding: 52px 0px 40px 0px; user-select: none;
		height: 100%; display: flex; flex-direction: column; gap: 16px 0px;
	}
	.wrapper {
		.titleWrapper {
			display: flex; flex-direction: row; align-items: center; flex-shrink: 0;
		}
		.titleWrapper {
			.side.left { display: flex; flex-direction: row; align-items: center; gap: 0px 10px; flex-grow: 1; }
			.side.left {
				.title { @include text-header1; font-weight: 700; }
			}

			.side.right { display: flex; flex-direction: row; align-items: center; gap: 0px 8px; flex-shrink: 0; }

			.icon.withBackground.archiveAction {
				width: 32px !important; height: 32px !important; border-radius: 50%;
				background-color: var(--color-shape-highlight-light);
			}
			.icon.withBackground.archiveAction:hover { background-color: var(--color-shape-highlight-medium); }
			.icon.withBackground.archiveAction.isDisabled { opacity: 0.4; pointer-events: none; }

			.icon { width: 20px; height: 20px; margin: 0px; }

			.filterWrapper { overflow: hidden; width: 0px; transition: $transitionAllCommon; display: none; }
			.filterWrapper.active { width: 200px; display: block; }
		}

		.listObject { flex-grow: 1; margin-left: -36px; }
		.listObject {
			.table {
				padding-left: 36px;

				.row { position: relative; gap: 0px 6px; border: 0px; }
				.row {
					&.isHead { border-bottom: 1px solid var(--color-shape-secondary); overflow: visible; }
					&.isHead {
						.cell { overflow: visible; }
						.cell {
							.name {
								display: inline-flex; width: auto; padding: 1px 6px; margin-left: -6px;
								border-radius: 9px; transition: $transitionAllCommon;
							}
							.name:hover { background-color: var(--color-shape-highlight-medium); }

							&.isSorted {
								.name { padding-right: 2px; }
							}
						}
						&:hover::before { display: none; }
						&:hover {
							.cell.cellCheck { opacity: 1; }
						}
					}

					&:hover::before {
						content: ''; position: absolute; top: 0px; bottom: -1px; left: -8px; right: -8px;
						background-color: var(--color-shape-highlight-medium); border-radius: 8px; pointer-events: none;
					}

					.cell { padding: 11px 14px; }
					.cell.cellCheck { padding: 0px 12px 0px 0px; }
					.cell:nth-child(2) { padding-left: 0px; }
					.cell:last-child { padding-right: 0px; }

					.cell.isName {
						.cellContent.isName { height: auto; }
						.cellContent.isName {
							.flex { align-items: center; gap: 0px 12px; }

							.info { display: flex; flex-direction: column; overflow: hidden; }
							.info {
								.name { @include text-overflow-nw; }
								.descr { @include text-overflow-nw; @include text-small; color: var(--color-text-secondary); }
							}

							.iconObject { flex-shrink: 0; }
						}
					}

					.cell.isChecked {
						.icon.checkbox { color: var(--color-control-accent); }
					}

					.icon.objectCheckbox2 { color: var(--color-control-accent); }
				}
			}
		}
	}

	.wrapper.hasSelection {
		.listObject .table {
			.row .cell.cellCheck { opacity: 1; }
			.row.isHead .cell.cellCheck { opacity: 1; }
		}
	}

}

.pageMainSet > #loader { position: fixed; top: 0px; width: 100%; height: 100%; }
