@import "~scss/_mixins";

.pageMainArchive,
.pageSettingsArchive {
	.wrapper {
		width: calc(100% - 96px); margin: 0px auto; padding: 52px 0px 40px 0px; user-select: none;
		height: 100%; display: flex; flex-direction: column; gap: 16px 0px;
	}
	.wrapper {
		.titleWrapper {
			display: flex; flex-direction: row; align-items: center; flex-shrink: 0;
		}
		.titleWrapper {
			.side.left { display: flex; flex-direction: row; align-items: center; gap: 0px 10px; flex-grow: 1; }
			.side.left {
				.title { @include text-header1; font-weight: 700; }
			}

			.side.right { display: flex; flex-direction: row; align-items: center; gap: 0px 8px; flex-shrink: 0; }

			.iconWrap {
				width: 32px; height: 32px; display: flex; align-items: center; justify-content: center;
				border-radius: 50%; transition: $transitionAllCommon; background-color: var(--color-shape-highlight-light);
			}
			.iconWrap:hover { background-color: var(--color-shape-highlight-medium); }

			.icon { width: 20px; height: 20px; margin: 0px; }

			.filterWrapper { overflow: hidden; width: 0px; transition: $transitionAllCommon; display: none; }
			.filterWrapper.active { width: 200px; display: block; }
		}

		.listObject { flex-grow: 1; }
		.listObject {
			.table {
				padding-left: 36px;

				.row { position: relative; }

				.row:hover::before {
					content: ''; position: absolute; top: 0px; bottom: 0px; left: -36px; right: 0px;
					background-color: var(--color-shape-highlight-medium); border-radius: 8px; pointer-events: none;
				}
				.row.isHead:hover::before { display: none; }

				.row.isHead .cell.cellCheck { visibility: hidden; }

				.row .cell.cellCheck { opacity: 0; transition: opacity 0.15s ease; z-index: 1; }
				.row:hover .cell.cellCheck { opacity: 1; }
				.row .cell.cellCheck.isChecked { opacity: 1; }

				.row .cell { padding: 12px 14px; }
				.row .cell:first-child { padding-left: 0px; }
				.row .cell:last-child { padding-right: 0px; }
				.row .cell.cellCheck { padding: 0px; }

				.row.isHead { border-bottom: 0px; }

				.row.isHead .cell.isHead {
					.name {
						display: inline-flex; padding: 4px 8px; margin: -4px -8px; border-radius: 6px;
						transition: $transitionAllCommon;
					}
					.name:hover { background-color: var(--color-shape-highlight-medium); }
				}
			}

			.cell.isName {
				.cellContent.isName { height: auto; }
				.cellContent.isName {
					.flex { align-items: center; gap: 0px 12px; }

					.info { display: flex; flex-direction: column; overflow: hidden; }
					.info {
						.name { @include text-overflow-nw; }
						.descr { @include text-overflow-nw; @include text-small; color: var(--color-text-secondary); }
					}

					.iconObject { flex-shrink: 0; }
				}
			}

			.cell.isChecked {
				.icon.checkbox { color: var(--color-control-accent); }
			}
		}
	}

	.wrapper.hasSelection {
		.listObject .table {
			.row .cell.cellCheck { opacity: 1; }
		}
	}

}

.pageMainSet > #loader { position: fixed; top: 0px; width: 100%; height: 100%; }
