@import "~scss/_vars";

.pageMainEdit {
	.wrapper { width: 800px; margin: 100px auto; }
	.title { line-height: 48px; margin-bottom: 18px; }
	.smile { margin-right: 8px; }
	
	.blocks { margin-left: -50px; }
}