@import "~scss/_mixins";

.pageMainEmpty {
	.wrapper { width: 704px; margin: 0px auto; padding: 48px 0px; }
	.wrapper {

		.iconObject { margin: 0px 0px 24px 0px; }
		.title { line-height: 40px; margin: 0px 0px 8px 0px; }
		> .label { @include text-paragraph; margin: 0px 0px 44px 0px; }

		.row { 
			display: flex; flex-direction: row; align-items: center; padding: 14px 0px 13px 0px; border-bottom: 1px solid var(--color-shape-secondary); justify-content: space-between;
			@include text-paragraph; 
		}

		.select { transition: none; border: 0px; color: var(--color-control-active); max-width: 100%; max-height: 164px; overflow: auto; }
		.select { 
			.icon.arrow { top: 3px; margin: 0px !important; }
		}
	}

	@media (max-width: 1128px) {
		.wrapper { width: calc(100% - 32px); }
	}
}