@import "~scss/_vars";

.pageMainGraph {

	#loader { 
		position: fixed; top: 0px; width: 100%; height: 100%; background: $colorWhite !important; z-index: 11; 
		transition: opacity 0.5s ease-in-out;
	}

    .wrapper { display: flex; height: 100%; overflow: hidden; }

    #graphWrapper { width: 100%; height: 100%; }
    #graph { width: 100%; height: 100%; }
    canvas { width: 100%; height: 100%; background: $colorWhite; display: block; cursor: move; }

    .tabs { 
        padding: 0px 16px; border-bottom: 1px solid $colorBorderLight; white-space: nowrap; font-weight: 600; color: $colorMediumGrey; 
        position: relative; cursor: pointer;
    }
    .tabs {
        .tab { display: inline-block; vertical-align: middle; transition: $transitionFast; cursor: pointer; margin-right: 16px; position: relative; }
        .tab:hover, .tab.active { color: $colorBlack; }
        .tab:last-child { margin: 0px; }

        .icon.close { 
            width: 28px; height: 28px; position: absolute; right: 10px; top: 50%; margin-top: -14px; 
            background-image: url('~img/icon/graph/close.svg'); background-size: 20px 20px; border-radius: 6px;
        }
        .icon.close:hover { background-color: $colorVeryLightGrey; }
    }

    .sections { overflow: overlay; padding: 14px 0px; }
    .section { padding: 11px 0px 0px 0px; }
    .section::after { content: ""; height: 1px; margin: 8px 16px 0px 16px; background: $colorBorderLight; display: block; }
    .section:first-child { padding: 0px; }
    .section:last-child { border: 0px; }
    .section:last-child::after { display: none; }
    .section > .name { padding: 3px 16px; margin-bottom: 2px; @include text-small; color: $colorDarkGrey; display: block; font-weight: 500; }
    .section {
        .item { padding: 4px 16px; @include text-common; line-height: 20px; position: relative; cursor: pointer; width: 100%; background: $colorWhite; }
        .item::before {
			content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(172, 169, 150, 0); z-index: 1;
			transition: background 0.2s ease-in-out; pointer-events: none;
		}
        .item:hover::before { background: $colorHover; }

        .item {
			.name { display: inline-block; vertical-align: top; position: relative; line-height: 20px; }
			.icon { width: 20px; height: 20px; margin-right: 6px; vertical-align: top; transition: none; flex-shrink: 0; }
			.switch { position: absolute; right: 16px; top: 50%; margin-top: -8px; }
		}

        .icon.label { background-image: url('~img/icon/graph/label.svg'); }
        .icon.link { background-image: url('~img/icon/graph/link.svg'); }
        .icon.relation { background-image: url('~img/icon/graph/relation.svg'); }
        .icon.orphan { background-image: url('~img/icon/graph/orphan.svg'); }
    }
}

.pageMainGraph > .body { overflow: hidden; }

html.platformWindows {
    .pageMainGraph {
        #panel { padding-top: 30px; }
    }
}