@import "~scss/_mixins";

.pageMainGraph {
	> .body { overflow: hidden; height: 100%; }

	#loader { 
		position: fixed; top: 0px; width: 100%; height: 100%; background: var(--color-bg-primary) !important; z-index: 11; 
		transition: opacity $transitionCommon;
	}

    .wrapper { display: flex; height: 100%; overflow: hidden; }

    .graphWrapper { width: 100%; height: 100%; }
    #graph { width: 100%; height: 100%; }

    canvas { width: 100%; height: 100%; background: var(--color-bg-primary); display: block; }
	canvas.move { cursor: move; }
}