@import "~scss/_vars";

.pageMainHistory * { user-select: none; }
.pageMainHistory {
	#body { overflow: hidden; }
	.wrapper { padding: 52px 0px 80px 0px; width: calc(100% - 254px); overflow: overlay; position: relative; }
	.loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; }

	.list { width: 254px; border-left: 1px solid $colorLightGrey; z-index: 10; position: relative; background: $colorWhite; overflow: overlay; }
	.list {
		.section { padding: 11px 16px; }
		.section {
			.date { text-transform: uppercase; @include text-very-small; }
		}
		.section.fix { position: fixed; right: 0px; top: 0px; background: $colorWhite; width: 253px; }

		.wrap { position: relative; }

		.item { padding: 5px 16px 5px 30px; cursor: pointer; transition: $transitionFast; position: relative; }
		.item {
			.name { @include text-small; color: $colorVeryDarkGrey; @include text-overflow-nw; }
			.date { @include text-overflow-nw; }
			.icon.arrow { 
				width: 20px; height: 20px; background-image: url('~img/arrow/historyList.svg'); position: absolute; left: 9px; top: 6px;
				transition: none;
			}
		}
		.item.expanded {
			.icon.arrow { transform: rotateZ(90deg); }
		}

		.children { display: none; transition: $transitionFast; }
		.children {
			.item { padding-left: 48px; }
		}

		.item:hover, .item.active { background: $colorVeryLightGrey; }
	}

	.blockLast { height: 100px; }
}