@import "~scss/_vars";

.pageMainIndex {
	.wrapper { position: relative; z-index: 1; padding: 90px 0px 0px 0px; margin: 0px auto; }
	
	.title { color: #fff; position: relative; height: 40px; }
	.title {
		.rightMenu { position: absolute; right: 0px; top: 0px; }
		.icon { width: 40px; height: 40px; vertical-align: top; margin-right: 8px; border-radius: 100%; cursor: pointer; }
		.icon:hover, .icon.active { background-color: rgba(0, 0, 0, 0.2); }
		.icon:last-child { margin-right: 0px; }
		.icon.user { line-height: 40px; user-select: none; }
		.icon.profile { background-size: 18px 18px; background-image: url('~img/icon/profile.svg'); display: none; }
	}

	#hello { transition: opacity 0.5s ease-in-out; }
	#hello.hide { opacity: 0; }
	
	#documents { display: flex; flex-wrap: wrap; overflow: auto; }
	#documents {
		.item { 
			width: 208px; height: 112px; background: #fff; border-radius: 12px; display: inline-block; vertical-align: top;
			margin: 0px 16px 16px 0px; padding: 16px; position: relative; cursor: pointer; user-select: none;
		}
		
		.item {
			.name { 
				@include text-paragraph; height: 22px; width: 100%; word-break: break-word; position: absolute; left: 0px; bottom: 16px; 
				padding: 0px 16px; @include text-overflow-nw;  
			}
			.icon.more { 
				background-image: url('~img/icon/index/more0.svg'); width: 20px; height: 20px; cursor: pointer; position: absolute;
				right: 16px; top: 16px; opacity: 0;
			}
			.icon.more:hover { background-image: url('~img/icon/index/more1.svg'); }
		}
		.item.dragging { transition: none; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); }
		.item.last { margin-right: 0px; }
		
		.item:hover {
			.icon.more { opacity: 1; }
		}
		.item.active {
			.icon.more { opacity: 1; transition: none; background-image: url('~img/icon/index/more1.svg'); }
		}
		
		.item.add { background: rgba(255,255,255,0.65); transition: background 0.2s ease-in-out; margin-right: 0px; }
		.item.add {
			.icon { 
				width: 16px; height: 16px; background-image: url('~img/icon/plus/document.svg');
				position: absolute; left: 50%; top: 50%; margin: -8px 0px 0px -8px; 
			}
		}
		.item.add:hover { background-color: rgba(255,255,255,0.8); }
	}
	
}