@import "~scss/_vars";

.pageMainIndex {
	.wrapper { position: relative; z-index: 1; padding: 90px 0px 0px 0px; margin: 0px auto; }
	
	.title { 
		color: #fff; position: relative; height: 64px; line-height: 64px; margin: 0px auto; position: fixed; top: 142px; 
		white-space: nowrap; user-select: none;
	}
	.title {
		.rightMenu { position: absolute; right: 0px; top: 0px; }
		.icon { 
			width: 44px; height: 44px; vertical-align: middle; margin-right: 16px; border-radius: 100%; cursor: pointer; 
			background-color: rgba(0,0,0,0.3); background-size: 20px 20px;
		}
		.icon:hover, .icon.active { background-color: rgba(0, 0, 0, 0.5); }
		.icon:last-child { margin-right: 0px; }

		.iconObject { cursor: pointer; user-select: none; display: inline-block; vertical-align: middle; }

		.icon.account { background-image: url('~img/icon/account.svg'); display: none; }
		.icon.add { background-image: url('~img/icon/plus/object.svg'); }
		.icon.store { background-image: url('~img/icon/store.svg'); }
	}

	@keyframes shimmer {
		0% { background-position: -400px 0px; }
		100% { background-position: 400px 0px; }
	}

	.animatedBackground {
		animation-duration: 1.25s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: shimmer;
		animation-timing-function: linear;
		background-image: linear-gradient(to right, rgba(0,0,0,0) 8%, #f0f0f0 18%, rgba(0,0,0,0) 33%);
		background-size: 800px 100%;
	}

	#documents { display: flex; flex-wrap: wrap; overflow: auto; }
	#documents {
		.tabWrap { width: 100%; height: 44px; margin-bottom: 24px; position: relative; }
		.tabWrap {
			.tabs { 
				line-height: 44px; height: 100%; background: rgba(0,0,0,0.3); border-radius: 12px; display: inline-block; @include text-paragraph; 
				color: rgba(255,255,255,0.6); font-weight: 700; user-select: none; white-space: nowrap;
			}
			.tabs {
				.tab { 
					line-height: 44px; display: inline-block; vertical-align: middle; padding: 0px 16px; border-radius: 12px; transition: $transitionFast; 
					cursor: pointer; 
				}
				.tab.active { background: rgba(0,0,0,0.3); color: #fff; }
			}

			.btns { position: absolute; right: 0px; top: 0px; z-index: 1; }
			.btns {
				.btn {
					height: 44px; line-height: 44px; color: #fff; background: rgba(0,0,0,0.3); border-radius: 12px; cursor: pointer; 
					display: inline-block; vertical-align: top; transition: width 0.2s ease-in-out, background 0.2s ease-in-out; padding: 0px 20px;
					margin-right: 16px; font-weight: 500;
				}
				.btn:last-child { margin-right: 0px; }
				.btn:hover { background: rgba(0,0,0,0.5); }

				.searchWrap { width: 44px; padding: 0px; }
				.searchWrap {
					.icon.search { width: 20px; height: 20px; background-image: url('~img/icon/index/search.svg'); position: absolute; top: 12px; left: 12px; }
					.filter { height: 20px; padding: 0px; display: none; vertical-align: top; width: 100%; }
					.filter {
						.inner { height: 20px; }
						.input { height: 20px; color: #fff; }
						.line { display: none; }
						.icon.clear { top: 0px; background-image: url('~img/icon/index/clear.svg'); }
						.icon.clear:hover { background-image: url('~img/icon/index/clear.svg'); }
					}
				}

				.searchWrap.active { width: 320px; background: rgba(0,0,0,0.5); padding: 12px 12px 12px 36px; }
				.searchWrap.active {
					.filter { display: inline-block; }
				}
			}
		}

		.item { 
			width: 208px; height: 124px; background: #fff; border-radius: 12px; display: inline-block; vertical-align: top;
			margin: 0px 16px 16px 0px; padding: 16px; position: relative; cursor: pointer; user-select: none;
		}
		
		.item {
			.click { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 1; }

			.iconObject { margin-bottom: 10px; }
			.name { 
				@include text-common; width: 100%; word-break: break-word; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; 
				display: -webkit-box;
			}
			.type { @include text-small; color: $colorMediumGrey; position: absolute; bottom: 0px; left: 0px; padding: 0px 16px 11px 16px; }
			
			.icon.more { 
				background-image: url('~img/icon/index/more0.svg'); width: 20px; height: 20px; cursor: pointer; position: absolute;
				right: 14px; bottom: 10px; opacity: 0; z-index: 2; transition: none;
			}
			.icon.more:hover { background-image: url('~img/icon/index/more1.svg'); }
			.icon.more.hover { background-image: url('~img/icon/index/more1.svg'); opacity: 1; }
		}
		.item.withIcon {
			.name { -webkit-line-clamp: 1; }
		}
		.item.isDragging { transition: none; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); }
		.item.last { margin-right: 0px; }

		.item.isLoading {
			.iconObject { background: #f3f2ec; border-radius: 10px; margin-bottom: 15px; }
			.line { border-radius: 2px; }
			.line.lineName { width: 88px; height: 10px; background-color: $colorLightGrey; margin-bottom: 10px; }
			.line.lineType { width: 56px; height: 8px; background-color: #eae9e0; }
		}

		.item.isTask { padding-left: 40px; }
		.item.isTask {
			.iconObject { position: absolute; left: 16px; top: 18px; z-index: 1; margin: 0px; }
			.name { -webkit-line-clamp: 3; }
		}
		
		.item.active, .item.hover {
			.icon.more { opacity: 1; }
		}
		.item.active {
			.icon.more { background-image: url('~img/icon/index/more1.svg'); }
		}
	}

	#documents.tabArchive {
		.item { cursor: default; }
	}
	
}

html.platformMac.version11 {
	.pageMainIndex .blocks { padding-top: 104px; }
}