@import "~scss/_mixins";

.pageMainInvite,
.pageMainOneToOne { user-select: none; }

.pageMainInvite,
.pageMainOneToOne {
	.wrapper { width: var(--editor-width); margin: 0px auto; }
	.wrapper {
		.frame { position: absolute; text-align: center; }
		.title { @include text-header3; }
	}
}