@import "~scss/_vars";

.pageMainMedia {

	.blocks { margin: 0px auto; padding: 60px 0px; display: flex; }
	.blocks {
		.side.right { padding-top: 25px; }
	}

	.blocks > .empty { width: 100%; text-align: center; color: $colorDarkGrey; @include text-header3; }

	.blocks.horizontal { width: 704px; flex-direction: column; }
	.blocks.horizontal {
		.block.blockMedia { max-height: 396px; }
	}

	.blocks.isVideo {
		.block.blockMedia { max-height: unset; }
	}

	.blocks.vertical { width: calc(100% - 56px); flex-direction: row; }
	.blocks.vertical {
		.side { width: 50%; }
		.side.left { margin-right: 32px; overflow: overlay; }

		.block.blockMedia { max-height: 100%; }
		.block.blockMedia * { width: 100%; height: 100%; }
		.block.blockMedia {
			img.media { width: auto; height: auto; max-width: 100%; }
		}
		.iconObject { width: 100%; height: 100%; border-radius: 6px; background: rgba(172,169,150,0.1); }

		.react-pdf__Page__svg { width: 100% !important; height: auto !important; }
		.react-pdf__Page__svg svg { width: 100%; height: auto; }
	}

	.blocks {
		.block { display: block; margin: 0px; }
		.block {
			.wrapMenu { display: none; }
			.wrapContent { width: 100%; }
		}

		.title { @include text-header1; word-wrap: break-word; margin-bottom: 10px; }
		.descr { @include text-paragraph; word-wrap: break-word; margin-bottom: 10px; }
		.descr:empty { display: none; }

		.block.blockMedia { padding: 0px; overflow: hidden; border-radius: 6px; background: rgba(172,169,150,0.1); }
		.block.blockMedia {
			.wrapContent { height: 100%; }
			.wrap { position: static; overflow: visible; }
		}

		.block.blockFeatured { padding: 0px; margin: 0px; line-height: 28px; }

		.block.blockRelation {
			.icon.relation { display: none; }
			.info .name { color: $colorDarkGrey; }
		}

		.buttons { margin: 16px 0px 40px 0px; }
		.buttons {
			.button { @include text-paragraph; height: 36px; line-height: 30px;  margin-right: 16px; }
			.button:last-child { margin: 0px; }
		}
	}
}

.pageMainMedia > .loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; }

html.platformMac.version11 {
	.pageMainMedia .blocks { padding-top: 74px; }
}