@import "~scss/_mixins";

.pageMainMembership { user-select: none; }
.pageMainMembership {
	.wrapper { width: 704px; margin: 0px auto; }
	.wrapper {
		.frame { position: absolute; text-align: center; }
		.title { @include text-header3; }
	}
}
