@import "~scss/_vars";

.pageMainObjectType {
	.wrapper { width: 704px; margin: 0px auto; padding: 128px 0px 80px 0px; }
	.wrapper {
		.head { display: flex; }
		.head {
			.side.left { width: 96px; flex-shrink: 0; margin-right: 32px; }
			.side.right { width: calc(100% - 128px); }
		}
	}
}