@import "~scss/_mixins";

.bodyMain.bodyMainOnboarding {
    #vault,
    #sidebar,
    #sidebarToggle,
    #navigationPanel,
    #sidebarDummy { display: none; }

    body { background: #000000; }
}

.pageMainOnboarding { width: 100% !important; }
.pageMainOnboarding {
    .wrapper { color: var(--color-bg-primary); overflow: hidden; width: 100%; padding-top: 22px; }
    .wrapper.stageUsecase {
        .itemsWrapper { align-items: unset; }
    }
    .wrapper {
        .icon.arrow.back { position: fixed; top: 50%; left: 10px; width: 32px; height: 56px; margin-top: -28px; background-image: url('~img/arrow/auth0.svg'); z-index: 2; }

        > .title { @include text-paragraph; font-weight: 400; color: #505050; text-transform: uppercase; text-align: center; margin-bottom: 18px; }

        .steps { width: 100%; display: flex; justify-content: center; gap: 0px 6px; margin-bottom: 120px; }
        .steps {
            .step { width: 4px; height: 4px; border-radius: 50%; background: #464646; }
            .step.active { background: #9b9b9b; }
        }

        .itemsWrapper { display: flex; flex-direction: column; align-items: center; gap: 48px 0px; }
        .itemsWrapper {
            > .title {
                font-family: 'RiccioneExtraLight'; letter-spacing: -1.2px; font-size: 66px; line-height: 66px; font-weight: 400; opacity: 0.65; text-align: center;
                background: linear-gradient(180deg, #FFF 0%, #C8C8C8 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
            }
        }
        .items { display: flex; gap: 0px 32px; flex-wrap: nowrap; justify-content: center; width: calc(100% - 132px); }
        .items {
            .item { aspect-ratio: auto 320/504; max-width: 320px; max-height: 504px; border-radius: 16px; overflow: hidden; background-color: var(--color-text-primary); text-align: center; }
            .item {
                .icon { width: 100%; aspect-ratio: 1/1; background-size: 100% !important; margin-bottom: 22px; }
                .icon.private { background: url('~img/icon/onboarding/private.svg'); }
                .icon.shared { background: url('~img/icon/onboarding/shared.svg'); }
                .icon.personal { background: url('~img/icon/onboarding/personal.svg'); }
                .icon.education { background: url('~img/icon/onboarding/education.svg'); }
                .icon.work { background: url('~img/icon/onboarding/work.svg'); }
                .icon.community { background: url('~img/icon/onboarding/community.svg'); }

                .title { margin-bottom: 8px; }
                .label { @include text-paragraph; font-weight: 400; margin: 0px 38px; color: #d4d4d4; }
            }
        }

        .usecases { position: relative; }
        .usecases {
            .item {
                position: relative; flex-direction: column; justify-content: flex-end; gap: 4px 0px; flex-shrink: 0;
                width: 100%; aspect-ratio: 840/544; border-radius: 4px; overflow: hidden; opacity: 0; transform: scale3d(0,0,0); transition: 0.5s $easeInQuint;
            }
            .item {
                .picture { width: 100%; height: 100%; background-size: 100% !important; position: absolute; z-index: 0; left: 0px; top: 0px; }

                /* REMOVE NEXT LINE WHEN USECASES ARE READY */
                .picture { background-image: url('~img/icon/onboarding/screen-select-usecase.png') !important; }

                .text {
                    position: relative; z-index: 1; text-align: center; display: flex; align-items: center; flex-direction: column; gap: 10px 0px; padding-top: 120px;
                    opacity: 0; transition: opacity 0.4s $easeInQuint; background: linear-gradient(0deg, #040404 35.5%, rgba(4, 4, 4, 0.00) 100%);
                }
                .title { @include text-header3; }
                .label { @include text-common; width: 424px; display: inline-block; }
            }
            .item.item-empty {
                .picture { background-image: url('~img/icon/onboarding/screen-select-empty.png') !important; }
            }

            .swiper-wrapper { align-items: center; }
            .swiper-wrapper {
                .swiper-slide-visible {
                    .item { display: flex; opacity: 1; transform: scale3d(1,1,1); }
                }
                .swiper-slide-prev,
                .swiper-slide-next {
                    .item:hover,
                    .item.hover { transform: scale3d(1.1,1.1,1.1); }
                }
                .swiper-slide-fully-visible {
                    .item {
                        .text { opacity: 1; }
                    }
                }
            }

            .icon.arrow {
                position: absolute; top: 50%; width: 48px; height: 48px; background-color: var(--color-bg-primary); border-radius: 50%;
                z-index: 2; margin-top: -16px; background-image: url('~img/arrow/onboardingUsecase.svg'); opacity: 0.9; transition: $transitionAllCommon;
            }
            .icon.arrow.hide { opacity: 0.1 !important; }
            .icon.arrow:hover { opacity: 1; }
            .icon.arrow.left { left: 11%; }
            .icon.arrow.right { right: 11%; transform: rotateZ(180deg); }
        }
        .buttonWrapper { text-align: center; }
        .buttonWrapper {
            .button { background: #d4d4d4; color: var(--color-text-primary); }
            .button:hover { background: #9a9a9a; }
        }
    }
}
