@import "~scss/_vars";

.pageMainSet {
	.wrapper { width: calc(100% - 96px); margin: 0px auto; padding: 0px 0px 80px 0px; user-select: none; }
	.wrapper {

		.block {
			.wrapMenu { display: none; }	
			.wrapContent { width: 100%; }
		}
		
		.editorControls { width: 704px; }

		.head { width: 704px; margin: 0px auto 40px auto; display: flex; }
		.head {
			.side.left { flex-shrink: 0; margin-right: 32px; }
			.side.right { width: 100%; line-height: 96px; }
			.side.right.big { line-height: 112px; }

			.side.right {
				.txt { width: 100%; }
				.editor { -webkit-user-modify: read-write-plaintext-only; z-index: 1; position: relative;  word-break: break-word; }
				.wrap { position: relative; }

				.title { @include text-header1; }
				.descr { @include text-paragraph; margin: 7px 0px; }
			}
		}

		.head.withIcon {
			.side.left { width: 96px; }
			.side.right { width: calc(100% - 128px); }
		}
	}

	.setWrapper.withIcon, .setWrapper.withIconAndCover {
		.head {
			.side.left { width: 96px; }
			.side.right { width: calc(100% - 128px); }
		}
	}

	.setWrapper.withCover, .setWrapper.withIconAndCover {
		.wrapper { padding-top: 328px; }
		.editorControls { display: none; }
	}
}

.pageMainSet > .loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; }