@import "~scss/_vars";

.pageMainSet {
	.wrapper { width: 704px; margin: 0px auto; padding: 96px 0px 0px 0px; }
	.icon.new { width: 54px; height: 64px; background-image: url('~img/icon/set/new.svg'); }
}