@import "~scss/_vars";

.pageMainSet {
	.wrapper { width: calc(100% - 64px); margin: 0px auto; padding: 128px 0px 80px 0px; user-select: none; }
	.wrapper {

		.block {
			.wrapMenu { display: none; }	
			.wrapContent { width: 100%; }
		}
		.block.blockFeatured { @include text-common; padding: 0px; margin: 0px; line-height: 22px; }
		.block.blockFeatured {
			.cellContent { padding: 2.5px 6px; }
		}

		.head { width: 696px; margin: 0px auto 40px auto; display: flex; }
		.head {
			.side.left { width: 96px; flex-shrink: 0; margin-right: 32px; }
			.side.right { width: calc(100% - 128px); line-height: 96px; }
			.side.right.big { line-height: 112px; }

			.side.right {
				.txt { width: 100%; }
				.editor { -webkit-user-modify: read-write-plaintext-only; z-index: 1; position: relative;  word-break: break-word; }
				.wrap { position: relative; }

				.title { @include text-header1; }
				.descr { @include text-paragraph; margin: 7px 0px; }
			}
		}
	}
}

.pageMainSet > .loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; }