@import "~scss/_vars";

.pageMainStore {
	.wrapper { height: 100%; width: 100%; margin: 0px 0px 0px -50%; position: absolute; left: 50%; top: 0px; }

	.content { height: 100%; padding-top: 40px; }

	.head { width: 100%; height: 40px; padding: 8px 0px; text-align: center; position: absolute; top: 0px; left: 0px; z-index: 1; background: #fff; }
	.head {
		.tabs { 
			white-space: nowrap; background: $colorLightGrey; display: inline-block; height: 28px; padding: 2px; border-radius: 6px;
		}
		.tabs {
			.item { 
				display: inline-block; margin-right: 4px; width: 124px; border-radius: 4px; height: 24px; line-height: 24px;
				font-weight: 500; cursor: pointer;
			}
			.item.active { background: #fff; }
			.item:last-child { margin: 0px; }
		}
	}

	.body { width: 100%; height: 100%; overflow-y: scroll; display: flex; flex-direction: column; }
	.body {
		.mid { text-align: center; padding: 44px 0px 56px 0px; margin: 0px auto; }
		.mid {
			.title { margin-bottom: 8px; }
			.label { @include text-paragraph; margin-bottom: 18px; }
			.button { width: 208px; border-radius: 8px; }
			.button {
				.txt { @include text-paragraph; font-weight: 500; }
			}
		}

		.tabs { white-space: nowrap; margin-bottom: 26px; margin: 0px auto; display: none; }
		.tabs {
			.item { 
				display: inline-block; margin-right: 20px; font-weight: 700; cursor: pointer; font-size: 18px; line-height: 26px; letter-spacing: -0.16px;
				color: $colorMediumGrey; transition: $transitionFast;
			}
			.item:hover, .item.active { color: $colorBlack; }
			.item:last-child { margin: 0px; }
		}

		.loaderWrapper { position: relative !important; }

		.ReactVirtualized__List { padding: 48px 104px; }

		.items { height: 100%; }
		.items {
			.row { white-space: nowrap; }

			.item { display: inline-block; vertical-align: top; position: relative; cursor: pointer; }
			.item {
				.iconObject.isObjectType, .iconObject.isRelation { position: absolute; left: 0px; top: 0px; }
				.iconObject.isHuman { vertical-align: middle; margin: -1px 4px 0px 0px; }

				.info { height: 100%; position: relative; }
				.info {
					.txt { width: 100%; vertical-align: middle; }
					.name { @include text-overflow-nw; line-height: 22px; }
					.descr { width: 100%; @include text-small; color: $colorDarkGrey; @include text-overflow-nw; margin: 2px 0px; }
					.author { @include text-small; color: $colorDarkGrey; line-height: 18px; margin-bottom: 2px; }
					.line { width: 100%; height: 1px; background: $colorLightGrey; position: absolute; left: 0px; }
				}

				.button { height: 28px; line-height: 24px; position: absolute; right: 0px; top: 50%; margin-top: -14px; display: none; }
			}

			.item.marketplace {
				.info { padding-right: 80px; }
				.button { display: block; }
			}

			.item.type { margin: 0px 32px 32px 0px; width: calc(50% - 16px); height: 64px; padding-left: 80px; line-height: 64px; }
			.item.type:nth-child(2n + 2) { margin-right: 0px; }
			.item.type {
				.line { bottom: -16px; }
			}

			.item.template { margin: 0px 24px 28px 0px; width: 304px; height: 252px; }
			.item.template:nth-child(3n + 3) { margin-right: 0px; }
			.item.template {
				.img { width: 100%; height: 180px; border-radius: 8px; margin-bottom: 12px; background-color: $colorBlack; }
				.cover { width: 100%; height: 100%; position: relative; border-radius: inherit; }
			}

			.item.relation { width: calc(33% - 15px); padding-left: 60px; height: 48px; margin: 0px 30px 16px 0px; line-height: 46px; }
			.item.relation:nth-child(3n + 3) { margin-right: 0px; }
			.item.relation {
				.line { bottom: -8px; }
				.item:nth-child(2n + 2) { margin-right: 0px; }
			}

		}
	}

	.wrapper.relation {
		.mid {
			.label { margin: 0px; }
			.button { display: none; }
		}
		.item {
			.descr { display: none; }
		}
	}
}