@import "~scss/_vars";

.pageMainType {
	.wrapper { width: 704px; margin: 0px auto; padding: 144px 0px 80px 0px; user-select: none; }
	.wrapper {

		.block {
			.wrapMenu { display: none; }
			.wrapContent { width: 100%; }
		}
		.block.blockFeatured { padding: 0px; margin: 0px; line-height: 28px; }

		.head { display: flex; margin-bottom: 35px; position: relative; }
		.head {
			.side.left { flex-shrink: 0; margin-right: 32px; }
			.side.center { width: calc(100% - 100px); margin-right: 32px; }
			.side.right { flex-shrink: 0; text-align: right; }
			.side.right {
				.button { height: 36px; line-height: 34px; white-space: nowrap; margin-right: 10px; }
				.button:last-child { margin: 0px; }
			}

			.title { @include text-header1; }
			.descr { @include text-paragraph; margin: 7px 0px; }

			.editor { -webkit-user-modify: read-write-plaintext-only; z-index: 1; position: relative; word-break: break-word; }

			.wrap { position: relative; }
		}

		.section { margin-bottom: 32px; }
		.section:last-child { margin: 0px; }

		.section {
			.title { @include text-header3; margin-bottom: 14px; position: relative; }
		}

		.section.template {
			.btn { 
				position: absolute; right: 0px; top: 50%; margin-top: -10px; @include text-common; line-height: 20px; font-weight: normal; color: $colorDarkGrey; 
				cursor: pointer; transition: $transitionFast;
			}
			.btn {
				.icon.plus { vertical-align: top; width: 20px; height: 20px; background-image: url('~img/icon/plus/template0.svg'); }
			}
			.btn:hover { color: $colorBlack; }
			.btn:hover {
				.icon.plus { background-image: url('~img/icon/plus/template1.svg'); }
			}

			.listTemplate {
				.icon.arrow.left { left: -32px; }
				.icon.arrow.right { right: -32px; }
			}
		}

		.section.relation {
			.item { display: flex; }
			.item {
				.icon.plus { background-image: url('~img/icon/plus/menu0.svg'); }

				.clickable { width: 228px; padding: 4px; display: flex; transition: $transitionFast; border-radius: 4px; }

				.icon { flex-shrink: 0; width: 20px; height: 20px; margin-right: 8px; }
				.name { width: 200px; @include text-overflow-nw; line-height: 20px; color: $colorVeryDarkGrey; }
			}
			.item.canEdit, .item.add {
				.clickable { cursor: pointer; }
				.clickable:hover { background: rgba(172,169,150,0.1); }
			}

			.item.add { line-height: 20px; }
			.item.add {
				.name { color: $colorDarkGrey; }
			}
		}

		.section.layout {
			.title { margin-bottom: 10px; }
			.content { line-height: 20px; color: $colorDarkGrey; }
			.select { border: 0px; padding: 3px 20px 3px 0px; }
			.select:hover, .select.active { background: none; }

			.icon { width: 20px; height: 20px; margin-right: 6px; }
			.name { display: inline-block; vertical-align: middle; }
		}

		table { width: 100%; border-collapse: collapse; border-bottom: 1px solid $colorLightGrey; table-layout: fixed; border-top: 1px solid $colorLightGrey; }
		table {
			.row.isArchived *, .row.isDeleted * { text-decoration: line-through; color: $colorMediumGrey; }

			.cellHead { 
				text-align: left; color: $colorVeryDarkGrey; padding: 14px 0px 14px 14px; white-space: nowrap; font-weight: 400; line-height: 20px; position: relative; 
				@include text-overflow-nw;
			}
			.cellHead {
				.name { 
					display: inline-block; line-height: 20px; height: 20px; vertical-align: top; width: 100%; 
					@include text-overflow-nw; border-right: 1px solid $colorLightGrey;
				}
			}
			.cellHead:last-child {
				.name { border: 0px; }
			}

			tbody { border-top: 1px solid $colorLightGrey; }

			.cellContent { width: 100%; overflow: hidden; height: 20px; line-height: 20px; }

			.cellContent.c-object {
				.wrap { white-space: nowrap; }
			}

			.cell { padding: 14px; border-bottom: 1px solid $colorLightGrey; vertical-align: top; position: relative; word-break: break-word; }
			.cell.c-select { padding-bottom: 8px; }
		}

		.pager { margin-top: 10px; }
	}
}

.pageMainType > .loaderWrapper { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; }