@import "~scss/_vars";

.pageMainUsecase {
	.usecaseWrapper { transition: opacity 0.6s $easeInQuint; }
	.frame { width: 836px; box-shadow: 0px 6px 24px rgba(0,0,0,0.2); border-radius: 12px; padding: 44px 48px 36px; text-align: left; }

	.frame {
		.frameTitle { @include text-header1; margin-bottom: 8px; }
		.frameLabel { color: $colorDarkGrey; margin-bottom: 18px; }

		.usecaseList { display: flex; justify-content: space-between; align-items: stretch; gap: 0px 16px; }
		.usecaseList {
			.case {
				position: relative; overflow: hidden; width: 236px; min-height: 236px; padding: 16px 16px 124px 16px; margin-bottom: 18px;
				cursor: pointer; transition: $transitionAllCommon; border: 1px solid $colorBorderDark; border-radius: 8px;
			}
			.case:hover { border-color: $colorBlack; }
			.case {
				.caseTitle { @include text-header3; margin-bottom: 8px; }
				.caseLabel { color: $colorDarkGrey; }

				img { position: absolute; width: 100%; left: 0; bottom: 0; }
			}
		}

		.button { width: auto; }
		.loaderWrapper { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: $colorBgLoader; z-index: 1; }
	}
}

html.bodyMainUsecase {
	.navigationPanel { display: none; }
}