@import "~scss/_mixins";

.bodyMain.bodyMainVoid {
	#sidebarToggle,
	.sidebar,
    .sidebarDummy { display: none; }
}

.pageMainVoid {
	.wrapper { width: 704px; height: 100vh; margin: 0px auto; padding: 48px 0px; display: flex; flex-direction: row; align-items: center; justify-content: center; }
	.wrapper {
		.container { text-align: center; }
		.iconWrapper { display: flex; width: 72px; height: 72px; margin: 0px auto 10px; align-items: center; justify-content: space-around; }
		.iconWrapper {
			.icon { width: 72px; height: 72px; background-image: url('~img/icon/popup/confirm/error.svg'); }
		}

		.title { @include text-header3; margin-bottom: 4px; }
		.label { margin-bottom: 24px; }
		.button { width: 176px; }
	}

	@media (max-width: 1128px) {
		.wrapper { width: calc(100% - 32px); }
	}
}
