@import "~scss/_mixins";

.input-drag-vertical { padding: 8px 2px; width: 20px; height: 88px; border-radius: 8px; background-color: var(--color-control-bg); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); }
.input-drag-vertical {
	.vertical-range,
	.vertical-range::-webkit-slider-runnable-track,
	.vertical-range::-webkit-slider-thumb { -webkit-appearance: none; }
	
	.vertical-range { position: absolute; width: 14px; height: 72px; cursor: pointer;  writing-mode: vertical-lr; padding: unset; }
	.vertical-range::-webkit-slider-runnable-track { height: 100%; width: 10px;
		background: linear-gradient(180deg, var(--color-control-accent) 0%, var(--color-control-accent) var(--background-size, 0%),
		var(--color-control-inactive) var(--background-size, 0%), var(--color-control-inactive) 100%);;
		transform: scaleY(-1);  /* Flips the background vertically */
		background-size: 4px 100%; background-repeat: no-repeat; border-radius: 2px; background-position: 4px 0px; }
	.vertical-range::-webkit-slider-thumb { width: 0px; height: 0px; background: transparent; border: none; }
}
