@import "~scss/_vars";

$colorLineDark: rgba(172, 169, 150, 0.3);
$colorLineLight: rgba(223, 221, 208, 0.08);

$colorBlack30: rgb(44, 43, 39, 0.3);

$colorPrimary: #cbc9bd;
$colorSecondary: #929082;
$colorTertiary: rgba(203, 201, 189, 0.3);

$colorHover: rgba(223, 221, 208, 0.08);

$colorBgLight: #373632;
$colorBgInactive: rgba(172, 169, 150, 0.3);

/*@media (prefers-color-scheme: dark) {*/
html.themeDark {

    /* Common */
    /* ---------------------------------------------------------------- */

    body { background: $colorBlack; color: $colorPrimary; }

    #root > .loaderWrapper { background: $colorBlack; }
	
    .cover.main::after {
        content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.3);
    }

    /* Components */
    /* ---------------------------------------------------------------- */

    .loaderWrapper {
        .loader { border-color: $colorLineDark; border-left-color: $colorOrange; }
    }

    /* Button */

    .button.grey { color: $colorPrimary; box-shadow: 0px 0px 0px 1px $colorLineLight inset; }
    .button.grey:hover { box-shadow: 0px 0px 0px 1px $colorLineDark inset; }

    .button.blank { border-color: $colorLineLight; }
    .button.blank:hover { border-color: $colorLineDark; }

    .frame { background: $colorBlack; }

    .textarea { background: $colorHover; }

    .switch { background: $colorBgInactive; }

    .sync { background: $colorHover; }

    /* IconObject */

    .iconObject.c56 { background-color: $colorHover; }
    .iconObject.c64 { background-color: $colorHover; }
    .iconObject.c96 { background-color: $colorHover; }
    .iconObject.c112 { background-color: $colorHover; }
    .iconObject.c128 { background-color: $colorHover; }
    .iconObject.c40.isRelation, .iconObject.c48.isRelation { background-color: $colorHover; }
    .iconObject.withLetter { background-color: $colorHover; }

    /* Popups */
    /* ---------------------------------------------------------------- */

    .popups {
        /* Common */

        .popup {
            .innerWrap { background: $colorBlack; }

            #loader { background: $colorBlack; }
        }

        /* PopupSearch */

        .popup.popupSearch {
            .head { background: $colorBlack; }
        }

        /* PopupSettings */

        .popup.popupSettings {
            .head { background: $colorBlack; }
            .head {
                .element:hover { color: $colorPrimary; }
            }

            .tabIndex .row, .tabOther .row { border-color: $colorLineLight; }
            
            .tabWallpaper .item.active { border-color: $colorLineDark; }
            .tabWallpaper .item .cover.upload { background-color: $colorBlack !important; border-color: $colorLineDark; }

            .tabPinIndex .button.blank, .tabPinSelect .button.blank, .tabPinConfirm .button.blank { border-color: $colorLineLight; }

            .tabPinIndex .input, .tabPinSelect .input, .tabPinConfirm .input { border-color: $colorLineDark; }

            .tabImportIndex {
                .item { border-color: $colorLineLight; }
                .item:hover, .item.active { border-color: $colorLineDark; }
                .item.notion .icon { background-image: url('~img/theme/dark/icon/popup/settings/import/notion.svg'); }
                .item.roam .icon { background-image: url('~img/theme/dark/icon/popup/settings/import/roam.svg'); }
            }
        }
    }

    /* Menu */
    /* ---------------------------------------------------------------- */

    .menus {

        /* Common */

        .menu { background: $colorBgLight; }
        .menu.vertical {
            .tabs { border-color: $colorLineLight; }
            .tabs {
                .tab:hover, .tab.active { color: $colorPrimary; }
            }

            .line { background: $colorLineLight; }
            .section::after { background: $colorLineLight; }
            .item { background: $colorBgLight; }

            .loaderWrapper { background: $colorBgLight; }
        }

        /* MenuBlockAdd */

        .menu.menuBlockAdd {
            .item.isBig {
                .iconObject { background: $colorHover; }
            }
        }

        /* MenuSmile */

        .menu.menuSmile {
            .head { border-color: $colorLineLight; }
        }
    }

    /* Header */
    /* ---------------------------------------------------------------- */

    .header.headerMainEdit { background: $colorBlack; }
    .header.headerMainEdit {
        .path { border: 0px; line-height: 28px; }
        .path {
            .item:hover { color: $colorPrimary; }
        }

        .icon.big:hover, .icon.big.hover { background-color: $colorHover; }
    }

    .header.headerMainIndex {
        .side.center { border: 0px; color: $colorSecondary; background: $colorBlack30; }
    }

    /* Pages */
    /* ---------------------------------------------------------------- */

    /* PageAuth */

    .pageAuth .textarea, .pageIndex .textarea, .pageObject .textarea { border: 0px; }

    /* PageMainIndex */

    .pageMainIndex {
        #documents {
            .emptySearch { background: $colorBlack; }

            .item { background: $colorBlack; }
            .item {
                .type { color: $colorSecondary; }
            }
        }
    }

    /* PageMainGraph */

    .pageMainGraph {
        canvas { background: $colorBlack; }

        .tabs { border-color: $colorLineLight; }
        .tabs {
            .tab:hover, .tab.active { color: $colorPrimary; }
        }

        .wrapper {
            .side.right { background: $colorBlack; border-color: $colorLineLight; }
            .side.right {
                .bottom { border-color: $colorLineLight; }
                .filter { background: none; }
            }

            .section {
                .item { background: $colorBlack; }
            }
        }

        .footer {
            .icon { background-color: $colorHover; }
        }
    }

    /* PageMainStore */

    .pageMainStore {
        .head { background: $colorBlack; }
        .body {
            .items {
                .item {
                    .info {
                        .line { background: $colorLineLight; }
                    }
                }
            }
        }
    }

    /* PageMainType */

    .pageMainType {
        .wrapper {
            table { border-color: $colorLineLight; }
            table {
                .cellHead .name { border-color: $colorLineLight; }
                .cell { border-color: $colorLineLight; }
                tbody { border-color: $colorLineLight; }
            }
        }
    }

    /* Blocks */
    /* ---------------------------------------------------------------- */

    .blocks {
        .block.blockIconPage {
            .iconObject { box-shadow: 0px 0px 0px 2px $colorBorderDark; }
        }

        .block.blockIconUser {
            .iconObject { box-shadow: 0px 0px 0px 2px $colorBorderDark; }
        }

        .block.blockDataview {
            .dataviewControls {
                .line { background: $colorLineLight; }
                .viewItem { color: $colorSecondary; }
                .viewItem:hover, .viewItem.active { color: $colorPrimary; }
            }

            .cellHead .resize .line { background: $colorLineLight; }

            .viewItem.viewGrid { box-shadow: 0px -1px $colorLineLight inset; }
            .viewItem.viewGrid {
                .row { box-shadow: 0px 1px $colorLineLight inset; }
            }

            .viewItem.viewBoard {
                .cellContent.isName { color: $colorPrimary; }
            }

            .viewItem.viewList {
                .cellContent.isName { color: $colorPrimary; }
            }

            .viewItem.viewGallery {
                .card { background: $colorBlack; border-color: $colorLineDark; }
                .card {
                    .cover { box-shadow: 0px 0px 0px 1px $colorLineDark inset; }
                }

                .cellContent.isName { color: $colorPrimary; }
            }
        }

        .block.blockType {
            .item {
                .iconObject { background: $colorHover; }
            }
        }
    }
}