@import "~scss/_mixins";

.menus {
	.menu.menuSearchObject { width: var(--menu-width-set); }
	.menu.menuSearchObject {
		.content { transition: none; padding: 0px; max-height: unset; }
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.wrap.withLabel {
			.ReactVirtualized__List { padding-top: 0px; }
		}
		.wrap.withFilter { padding-top: 8px; }
		.wrap.withFilter {
			.emptySearch { height: calc(100% - 42px); }
			.loaderWrapper { top: 42px; height: calc(100% - 42px); }
		}

		.items { height: 100%; }
		.item {
			.name { @include text-overflow-nw; width: 100%; }
		}

		.filter { flex-shrink: 0; }
	}

	.menu.menuSearchObject.single { width: var(--menu-width-icon); }
	.menu.menuSearchObject.single {
		.item {
			.name { margin: 0px; }
			.caption { display: none; }
		}
	}

	.menu.menuSearchObject.big { width: var(--menu-width-set); }
	.menu.menuSearchObject.big {
		.content { height: 360px; }
		.item {
			.iconObject { background: var(--color-shape-tertiary); }
		}
	}
}
