@import "~scss/_vars";

.menus {
	.menu.menuSearchObject { width: 360px; }
	.menu.menuSearchObject {
		.content { transition: none; padding: 8px 0px 0px 0px; }
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.wrap.withLabel {
			.ReactVirtualized__Grid__innerScrollContainer { margin-top: 0px; }
		}
		.wrap.withFilter {
			.emptySearch { height: calc(100% - 44px); }
			.loaderWrapper { top: 44px; height: calc(100% - 44px); }
		}

		.items { height: 100%; }
		.item {
			.name { @include text-overflow-nw; width: 100%; }
		}

		.filter { flex-shrink: 0; }
	}

	.menu.menuSearchObject.single { width: 256px; }
	.menu.menuSearchObject.single {
		.item {
			.name { margin: 0px; }
			.caption { display: none; }
		}
	}

	.menu.menuSearchObject.big { width: 360px; }
	.menu.menuSearchObject.big {
		.content { height: 360px !important; }
		.item {
			.iconObject { background: $colorVeryLightGrey; }
		}
	}
}