@import "~scss/_mixins";

.menus {
	.menu.menuSearchText { 
		width: var(--menu-width-large); padding: 0px; position: fixed; top: 42px; box-shadow: 0px 0px !important; 
		border-radius: 0px; background: unset; transition-property: opacity; transform: none !important;
	}
	.menu.menuSearchText * { -webkit-app-region: no-drag; }
	.menu.menuSearchText {
		.content { padding: 0px; overflow: visible; }
		.wrap { height: 100%; width: 100%; display: flex; flex-direction: column; }

		.searchReplaceLayout {
			padding: 10px 0px 4px 0px; display: flex; flex-direction: row; gap: 0px 8px; align-items: center;
		}

		.filterContainer {
			display: flex; flex-direction: row; align-items: center; flex-grow: 1;
			background-color: var(--color-shape-highlight-medium); border-radius: 16px; padding: 0px 12px; height: 32px;
			border: 1px solid var(--color-shape-secondary); gap: 0px 6px;
		}
		.filterContainer {
			.icon.search { margin: 0px; }
			.input { flex-grow: 1; height: 100%; padding: 0px; border: 0px; background: none; border-radius: 0px; }

			.cnt {
				@include text-small; color: var(--color-control-active); white-space: nowrap; flex-shrink: 0;
				padding: 0px 8px;
			}

			.icon.commonClear {
				width: 20px; height: 20px; flex-shrink: 0; margin: 0px;
			}
		}

		.arrowWrapper {
			display: flex; flex-direction: row; padding: 6px 12px; flex-shrink: 0; gap: 0px 8px;
			background-color: var(--color-shape-highlight-medium); border-radius: 16px; align-items: center;
			border: 1px solid var(--color-shape-secondary);
		}
		.arrowWrapper {
			.icon { width: 20px !important; height: 20px !important; }
			.icon.arrow {
				color: var(--color-icon);
				&.up { transform: rotate(180deg); }
				&.disabled { color: var(--color-control-inactive) !important; opacity: 1; pointer-events: none; }
			}
			.icon.replaceAction {
				cursor: pointer;
				color: var(--color-icon);
				&:hover { color: var(--color-text-primary); }
				&.active {
					color: var(--color-control-accent);
					&:hover { color: var(--color-control-accent); }
				}
			}
		}

		.replaceWrapper {
			padding: 12px; display: flex; flex-direction: column; gap: 8px;
			background-color: var(--color-bg-primary); border-radius: 12px;
			border: 1px solid var(--color-shape-secondary); margin-top: 6px;
			
			.input { width: 100%; height: 24px; padding: 0px; border: 0px; background: none; border-radius: 0px; }
		}

		.replaceButtons {
			display: flex; flex-direction: row; gap: 0px 16px; align-items: center; justify-content: flex-end;

			.button.replaceAllBtn.simple {
				@include text-small;
				height: auto;
				padding: 0px;
				color: var(--color-text-secondary) !important;
				font-weight: 400;
				background: none !important;
				border: none !important;
				cursor: pointer;
				&:hover {
					color: var(--color-text-primary) !important;
				}
				&.disabled {
					opacity: 0.3;
					pointer-events: none;
				}
			}

			.button.c28.accent {
				@include text-small;
				height: 28px;
				padding: 0px 16px;
				border-radius: 14px;
				font-weight: 500;
				white-space: nowrap;
				&.disabled {
					background-color: var(--color-shape-secondary) !important;
					color: var(--color-text-tertiary) !important;
					opacity: 0.5;
					pointer-events: none;
				}
			}
		}
	}
}
