@import "~scss/_vars";

.menus {
	.menu.menuSearchText { width: 400px; height: 44px; padding: 0px; position: fixed; top: 42px; }
	.menu.menuSearchText {
		.flex { width: 100%; }
		.input { height: 100%; padding: 13.5px 16px; flex: auto; width: calc(100% - 100px); }
		.buttons { 
			flex: auto; white-space: nowrap; width: 100px; text-align: right; color: $colorMediumGrey; font-weight: 500; 
			user-select: none; padding: 11px 16px;
		}
		.buttons {
			.btn { display: inline-block; vertical-align: top; margin-right: 16px; cursor: pointer; transition: $transitionFast; }
			.btn:last-child { margin: 0px; }
			.btn:hover { color: $colorBlack; }
		}
	}
}

html.platformWindows {
	.menus {
		.menuSearchText { top: 72px; }
	}
}