$easeInQuint: cubic-bezier(0.22, 1, 0.36, 1);
$transitionCommon: 0.1s $easeInQuint;
$transitionAllCommon: all $transitionCommon;
$transitionSidebarTime: 0.18s;
$sidebarRightWidth: 348px;
$vaultWidthCollapsed: 72px;

@mixin text-overflow { overflow: hidden; text-overflow: ellipsis; }
@mixin text-overflow-nw { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@mixin text-9 { 
	font-size: var(--font-size-9); line-height: var(--line-height-9); letter-spacing: var(--letter-spacing-9); 
}
@mixin text-very-small { 
	font-size: var(--font-size-very-small); line-height: var(--line-height-very-small); letter-spacing: var(--letter-spacing-very-small); 
	color: var(--color-control-active); 
}
@mixin text-small { 
	font-size: var(--font-size-small); line-height: var(--line-height-small); letter-spacing: var(--letter-spacing-small); 
}
@mixin text-common { 
	font-size: var(--font-size-common); line-height: var(--line-height-common); letter-spacing: var(--letter-spacing-common); 
}
@mixin text-paragraph { 
	font-size: var(--font-size-paragraph); line-height: var(--line-height-paragraph); letter-spacing: var(--letter-spacing-paragraph); 
}
@mixin text-title { 
	font-size: var(--font-size-title); line-height: var(--line-height-title); letter-spacing: var(--letter-spacing-title); font-weight: var(--font-weight-title); 
}
@mixin text-header1 { 
	font-size: var(--font-size-header1); line-height: var(--line-height-header1); letter-spacing: var(--letter-spacing-header1); font-weight: var(--font-weight-header1); 
}
@mixin text-header2 { 
	font-size: var(--font-size-header2); line-height: var(--line-height-header2); letter-spacing: var(--letter-spacing-header2); font-weight: var(--font-weight-header2); 
}
@mixin text-header3 { 
	font-size: var(--font-size-header3); line-height: var(--line-height-header3); letter-spacing: var(--letter-spacing-header3); font-weight: var(--font-weight-header3); 
}
@mixin text-description { 
	font-size: var(--font-size-description); line-height: var(--line-height-description); letter-spacing: var(--letter-spacing-description); 
}

@mixin pos-abs-mid { position: absolute; left: 50%; top: 50%; }

@mixin clamp { -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }
@mixin clamp1 { @include clamp; -webkit-line-clamp: 1; }
@mixin clamp2 { @include clamp; -webkit-line-clamp: 2; }
@mixin clamp3 { @include clamp; -webkit-line-clamp: 3; }
@mixin clamp4 { @include clamp; -webkit-line-clamp: 4; }
@mixin clamp5 { @include clamp; -webkit-line-clamp: 5; }