/* Text */

$colorTextPrimary: #252525;
$colorTextSecondary: #949494;
$colorTextTertiary: #bfbfbf;
$colorTextInversion: #fff;

/* Shape */

$colorShapePrimary: #e3e3e3;
$colorShapeSecondary: #ebebeb;
$colorShapeTertiary: #f2f2f2;

$colorShapeHighlightMedium: rgba(79,79,79,0.08);
$colorShapeHighlightLight: rgba(79,79,79,0.04);

/* Control */

$colorControlAccent: #252525;
$colorControlActive: #b6b6b6;
$colorControlInactive: #dcdcdc;
$colorControlOnBg: #fff;

/* Background */

$colorVeryLightGrey: #f2f2f2;
$colorMediumGrey: #b6b6b6;
$colorDarkGrey: #949494;

/* Accent */

$colorAccent125: #f09c0e;
$colorAccent100: #ffb522;
$colorAccent80: #ffc532;
$colorAccent50: #ffd15b;
$colorAccent25: #ffee94;

/* Color */

$colorWhite: #fff;
$colorBlack: #252525;
$colorYellow: #ecd91b;
$colorOrange: #ffb522;
$colorRed: #f55522;
$colorPink: #e51ca0;
$colorPurple: #ab50cc;
$colorBlue: #3e58eb;
$colorIce: #2aa7ee;
$colorTeal: #0fc8ba;
$colorLime: #5dd400;
$colorGreen: #57c600;

$colorBgLoader: rgba(255,255,255,0.7);

$easeInQuint: cubic-bezier(0.22, 1, 0.36, 1);
$transitionCommon: 0.1s $easeInQuint;
$transitionAllCommon: all $transitionCommon;

@mixin text-overflow { overflow: hidden; text-overflow: ellipsis; }
@mixin text-overflow-nw { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@mixin text-9 { font-size: 9px; line-height: 12px; letter-spacing: 0.14px; }
@mixin text-very-small { font-size: 11px; line-height: 18px; letter-spacing: 0.2px; color: $colorMediumGrey; }
@mixin text-small { font-size: 12px; line-height: 18px; letter-spacing: 0px; }
@mixin text-common { font-size: 14px; line-height: 22px; letter-spacing: -0.12px; }
@mixin text-paragraph { font-size: 16px; line-height: 24px; letter-spacing: -0.2px; }
@mixin text-title { font-size: 36px; line-height: 40px; letter-spacing: -0.64px; font-weight: 700; }
@mixin text-header1 { font-size: 28px; line-height: 32px; letter-spacing: -0.56px; font-weight: 700; }
@mixin text-header2 { font-size: 22px; line-height: 28px; letter-spacing: -0.48px; font-weight: 700; }
@mixin text-header3 { font-size: 18px; line-height: 26px; letter-spacing: -0.28px; font-weight: 700; }
@mixin text-description { font-size: 18px; line-height: 26px; letter-spacing: -0.28px; }

@mixin pos-abs-mid { position: absolute; left: 50%; top: 50%; }

@mixin clamp { -webkit-box-orient: vertical; display: -webkit-box; overflow: hidden; }
@mixin clamp1 { @include clamp; -webkit-line-clamp: 1;  } 
@mixin clamp2 { @include clamp; -webkit-line-clamp: 2; } 
@mixin clamp3 { @include clamp; -webkit-line-clamp: 3; } 
@mixin clamp4 { @include clamp; -webkit-line-clamp: 4; } 