$colorLightGrey: #dfddd0;
$colorDarkGrey: #aca996;
$colorBlack: #2c2b27;
$colorYellow: #ecd91b;
$colorOrange: #ffb522;
$colorRed: #f55522;
$colorPink: #e51ca0;
$colorPurple: #ab50cc;
$colorBlue: #3e58eb;
$colorIce: #2aa7ee;
$colorTeal: #0fc8ba;
$colorLime: #5dd400;

$transitionFast: all 0.2s ease-in-out;

@mixin text-overflow { overflow: hidden; text-overflow: ellipsis; }
@mixin text-overflow-nw { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }