:root {
	/* Text */

	--color-text-primary: #252525;
	--color-text-secondary: #828282;
	--color-text-tertiary: #bfbfbf;
	--color-text-inversion: #fff;
	--color-text-white60: rgba(255,255,255,0.6);
	--color-text-primary-inversion: #ebebeb;
	--color-text-secondary-inversion: #9a9a9a;
	--color-text-tertiary-inversion: #656565;

	/* Shape */

	--color-shape-primary: var(--color-light-grey);
	--color-shape-secondary: #ebebeb;
	--color-shape-secondary-inversion: #292929;
	--color-shape-tertiary: var(--color-very-light-grey);

	--color-shape-highlight-dark: rgba(0, 0, 0, 0.11);
	--color-shape-highlight-medium: rgba(0, 0, 0, 0.05);
	--color-shape-highlight-light: rgba(0, 0, 0, 0.03);
	--color-shape-highlight-light-solid: #f7f7f7;

	--color-shape-highlight-add: rgba(93,212,0,0.2);
	--color-shape-highlight-change: rgba(42,167,238,0.2);
	--color-shape-highlight-remove: rgba(245,85,34,0.2);

	/* Control */

	--color-control-accent: #252525;
	--color-control-active: #b6b6b6;
	--color-control-active-inversion: #737373;
	--color-control-inactive: #dcdcdc;
	--color-control-bg: #fff;

	/* Background */

	--color-bg-primary: #fff;
	--color-bg-primary-90: rgba(255,255,255,0.9);
	--color-bg-primary-inversion: #171717;
	--color-bg-loader: rgba(255,255,255,0.7);
	/* System */

	--color-system-accent-125: #105aef;
	--color-system-accent-100: #377aff;
	--color-system-accent-50: #699bff;
	--color-system-accent-25: #9bbcff;
	--color-system-selection: rgba(55, 122, 255, 0.1);
	--color-system-drop-zone: rgba(55, 122, 255, 0.25);

	/* Color */

	--color-very-light-yellow: #fcf8d6;
	--color-light-yellow: #f4eb91;
	--color-yellow: #ecd91b;
	--color-dark-yellow: #afa100;

	--color-very-light-orange: #fff2d7;
	--color-light-orange: #fcdc9c;
	--color-orange: #ffb522;
	--color-dark-orange: #c38400;

	--color-very-light-red: #fee7e0;
	--color-light-red: #fcd1c3;
	--color-red: #f55522;
	--color-dark-red: #e9410b;

	--color-very-light-pink: #fbdff2;
	--color-light-pink: #f8c2e5;
	--color-pink: #e51ca0;
	--color-dark-pink: #d20d8f;

	--color-very-light-purple: #f3e7f8;
	--color-light-purple: #e8d0f1;
	--color-purple: #ab50cc;
	--color-dark-purple: #9f43c1;

	--color-very-light-blue: #e4e8fc;
	--color-light-blue: #cbd2fa;
	--color-blue: #3e58eb;
	--color-dark-blue: #3e58eb;

	--color-very-light-ice: #ddf1fc;
	--color-light-ice: #b2dff9;
	--color-ice: #2aa7ee;
	--color-dark-ice: #188dcf;

	--color-very-light-teal: #d9f6f4;
	--color-light-teal: #a9ebe6;
	--color-teal: #0fc8ba;
	--color-dark-teal: #0ba599;

	--color-very-light-lime: #e5f8d6;
	--color-light-lime: #c5efa3;
	--color-lime: #5dd400;
	--color-dark-lime: #4dae00;

	--color-very-light-grey: #f2f2f2;
	--color-light-grey: #e3e3e3;
	--color-grey: #949494;
	--color-dark-grey: #949494;

	/* Tag */

	--color-tag-grey: #8c9ea5;
	--color-tag-yellow: #b2a616;
	--color-tag-orange: #d3720d;
	--color-tag-red: #e2400c;
	--color-tag-pink: #ca1b8e;
	--color-tag-purple: #9e30c4;
	--color-tag-blue: var(--color-blue);
	--color-tag-ice: #1c8bca;
	--color-tag-teal: #0caaa3;
	--color-tag-lime: #64b90f;

	/* Font */

	--font-size-9: 9px;
	--line-height-9: 12px;
	--letter-spacing-9: 0.14px;

	--font-size-very-small: 11px; 
	--line-height-very-small: 18px; 
	--letter-spacing-very-small: 0.2px;

	--font-size-small: 12px; 
	--line-height-small: 18px; 
	--letter-spacing-small: 0px;

	--font-size-common: 14px; 
	--line-height-common: 22px; 
	--letter-spacing-common: -0.12px;

	--font-size-paragraph: 16px; 
	--line-height-paragraph: 24px; 
	--letter-spacing-paragraph: -0.2px;

	--font-size-title: 36px; 
	--line-height-title: 40px; 
	--letter-spacing-title: -0.64px; 
	--font-weight-title: 700;

	--font-size-header1: 28px; 
	--line-height-header1: 32px; 
	--letter-spacing-header1: -0.56px; 
	--font-weight-header1: 700;

	--font-size-header2: 22px; 
	--line-height-header2: 28px; 
	--letter-spacing-header2: -0.48px; 
	--font-weight-header2: 700;

	--font-size-header3: 18px; 
	--line-height-header3: 26px; 
	--letter-spacing-header3: -0.28px; 
	--font-weight-header3: 700;

	--font-size-description: 18px; 
	--line-height-description: 26px; 
	--letter-spacing-description: -0.28px;

	/* Menu */
	--menu-width-common: 224px;
	--menu-width-icon: 256px;
	--menu-width-value: 288px;
	--menu-width-set: 360px;
	--menu-width-large: 408px;
	--menu-width-add: 480px;

	--editor-width: 704px;
}
