@import "~scss/_vars";

* { padding: 0px; margin: 0px; border: 0px; box-sizing: border-box; }
html, body { height: 100%; }

body {
	font-family: 'Lcg'; font-size: 15px; line-height: 24px; letter-spacing: -0.08px; color: $colorBlack;
	overflow-x: hidden; overflow-y: scroll; background: #fff;
	-webkit-font-smoothing: antialiased;
	backface-visibility: hidden;
	transform-style: flat;
	overscroll-behavior: none;
}
body.over { overflow-y: hidden; }

:focus { outline: 0px; }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus { transition: background-color 5000s ease-in-out 0s; }
input, textarea, select { font-family: 'Lcg'; }

#drag { -webkit-app-region: drag; position: fixed; top: 0px; left: 0px; width: 100%; height: 36px; z-index: -1; user-select: none; }
#root > .loaderWrapper { position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; }

.dn { display: none !important; }
.txt { vertical-align: middle; display: inline-block; line-height: 1; }
.flex { display: flex; }

.fileWrap { position: relative; overflow: hidden; cursor: pointer; }
.fileWrap { 
	.input-file { position: absolute; left: 0px; top: 0px; opacity: 0; width: 100%; height: 100%; cursor: pointer; z-index: 100; padding: 0px; } 
}

a { color: $colorBlack; }

.dropTarget { position: relative; }
.dropTarget {
	.line { position: absolute; display: none; background: $colorOrange; z-index: 10; }
}
.dropTarget {
	.line { display: block; }
}

.dropTarget.isOver.middle { background: rgba(255,187,44,0.3) !important; }
.dropTarget.isOver.top { 
	.line { width: 100%; height: 2px; left: 0px; top: 0px; }
}
.dropTarget.isOver.bottom {
	.line { width: 100%; height: 2px; left: 0px; bottom: 0px; }
}

/* DropTarget for Layout.Row */
.dropTarget.targetTop.isOver.top { 
	.line { width: 100%; height: 2px; left: 0px; top: auto; bottom: 0px; }
}
.dropTarget.targetBot.isOver.bottom {
	.line { width: 100%; height: 2px; left: 0px; bottom: auto; top: 0px; }
}

.dropTarget.isOver.left { 
	.line { width: 2px; height: 100%; left: 0px; top: 0px; }	
}
.dropTarget.isOver.right {
	.line { width: 2px; height: 100%; right: 0px; top: 0px; }
}

.textColor-grey { color: #aca996 !important; }
.textColor-yellow { color: #ecd91b !important; }
.textColor-orange { color: #ffb522 !important; }
.textColor-red { color: #f55522 !important; }
.textColor-pink { color: #e51ca0 !important; }
.textColor-purple { color: #ab50cc !important; }
.textColor-blue { color: #3e58eb !important; }
.textColor-ice { color: #2aa7ee !important; }
.textColor-teal { color: #0fc8ba !important; }
.textColor-lime { color: #5dd400 !important; }

.bgColor-grey { background: #f3f2ec !important; }
.bgColor-yellow { background: #fef9cc !important; }
.bgColor-orange { background: #fef3c5 !important; }
.bgColor-red { background: #ffebe5 !important; }
.bgColor-pink { background: #fee3f5 !important; }
.bgColor-purple { background: #f4e3fa !important; }
.bgColor-blue { background: #f4e3fa !important; }
.bgColor-ice { background: #d6effd !important; }
.bgColor-teal { background: #d6f5f3 !important; }
.bgColor-lime { background: #e3f7d0 !important; }