$bgColor: rgba(79,177,239,0.1);

html.debug {
	#selection-rect { opacity: 1; }
	#menu-polygon { background: pink; opacity: 0.3; }
	.polygon { opacity: 0.7; background: pink; }
	
	.blocks {
		.block { border: 1px solid rgba(255,0,0,0.3); }
		.block.blockLayout.c0 { border-color: rgba(0,255,0,0.3); }
		.block.blockLayout.c0  > .wrapContent > .dropTarget { background: rgba(0,0,255,0.1); }
		.block.blockLayout.c1 { border-color: rgba(0,0,255,0.3); }
		
		.block.blockLayout.c2 { border-width: 2px; border-color: rgba(0,255,0,0.3); }
		
		.blockLink {
			.smile { background-color: rgba(0,0,255,0.1); }
			.name { background-color: rgba(0,0,255,0.1); }
		}
	}
	
	.blockLast { background: rgba(0,0,255,0.1); }
	
	.focusable.isFocused { border: 1px solid rgba(255,127,127,0.3); }
	
	.header {
		.icon { background-color: rgba(0,0,255,0.1); }
		.smile { background-color: rgba(0,0,255,0.1); }
		.path {
			.item {
				.name { background-color: rgba(0,0,255,0.1); }
			}
		}
	}
	
	.menus {
		.menu.vertical {
			.item { background-color: rgba(0,0,255,0.1); }
			.item {
				.icon { background-color: rgba(0,0,255,0.1); }
				.name { background-color: rgba(0,0,255,0.1); }
			}
			
			.section > .name { background-color: rgba(0,0,255,0.1); }
		}
	}
	
	.inputWithFile {
		.icon { background-color: rgba(0,0,255,0.1); }
		.txt { background-color: rgba(0,0,255,0.1); }
	}
} 