$bgColor: rgba(79,177,239,0.1);

html.debug {
	#selection-rect { opacity: 1; }
	#menu-polygon { background: rgba(255,192,203,0.3); }
	.polygon { opacity: 0.7; background: pink; }
	
	.blocks {
		.block { border: 1px solid rgba(255,0,0,0.3); }
		.block {
			.wrapMenu { background-color: rgba(0,255,0,0.1); }
			.icon.dnd { background-color: rgba(0,255,0,0.1); }
		}

		.block.blockLayout.c0 { border-color: rgba(0,255,0,0.3); }
		.block.blockLayout.c0  > .wrapContent > .dropTarget { background: rgba(0,0,255,0.1); }
		.block.blockLayout.c1 { border-color: rgba(0,0,255,0.3); }
		
		.block.blockLayout.c2 { border-width: 2px; border-color: rgba(0,255,0,0.3); }
	}

	.blocks .block.blockRelation {
		.info { background: rgba(172,169,150,0.1); }
		.cell { background: rgba(172,169,150,0.1); }
	}
	
	.blockLast { background: rgba(0,0,255,0.1); }
	
	.focusable.isFocused { border: 1px dotted green; }

} 