@import "~scss/_vars";

.menus {
	.menu.menuDataviewAccount { width: 228px; }
	.menu.menuDataviewAccount {
		.form { padding: 0px 10px; }
		.line { height: 1px; margin: 8px 0px; background: $colorLightGrey; }
		.input { padding: 0px; font-size: 12px; height: 18px; }
		.item { padding: 5px 10px; }
	}	
}