@import "~scss/_vars";

.menus {
	.menu.menuDataviewCalendar { width: 276px; }
	.menu.menuDataviewCalendar {
		.inner { user-select: none; }

		.day { display: inline-block; vertical-align: top; width: 28px; height: 28px; line-height: 28px; text-align: center; cursor: pointer; margin-right: 8px; }
		.day:nth-child(7n + 7) { margin: 0px; }
		.day:hover { background: rgba(172,169,150,0.15); }

		.head { padding: 8px 16px 0px 16px; border-bottom: 1px solid #eae9e0; }
		.body { padding: 8px 16px; }
		.foot { padding: 8px 16px; border-top: 1px solid #eae9e0; }
		
		.day.th { color: $colorDarkGrey; cursor: default; }
		.day.th:hover { background: none; font-weight: 400; }
		
		.day.active { color: $colorRed; font-weight: 500; }
		
		.day.dis { color: $colorDarkGrey; }
		
		.month { height: 28px; line-height: 28px; font-size: 12px; letter-spacing: 0.1px; position: relative; margin-bottom: 4px; }
		.month { 
			.name { margin: 0px; }
			.icons { position: absolute; right: 0px; top: 0px; }
			.icon.arrow { 
				cursor: pointer; width: 28px; height: 28px; background-image: url('~img/arrow/calendar.svg');
				background-size: 8px 12px; border-radius: 4px; margin: 0px;
			}
			.icon.arrow:hover { background-color: #ebe9e0; }
			.icon.arrow.right { transform: rotateZ(180deg); }
		}
		
		.input { 
			height: 28px; border-radius: 4px; border: solid 1px #d2d0c2; margin-bottom: 10px; padding: 0px 10px;
			background: none; width: 100px; vertical-align: top;
		}
		.select { border: 0px; padding: 0px; height: 28px; margin-right: 8px; vertical-align: top; }
		.select {
			.current { padding: 4px 26px 4px 6px; }
		}
	}
}