@import "~scss/_vars";

.menus {
	.menu.menuDataviewCalendar { width: 276px; }
	.menu.menuDataviewCalendar {
		.content { padding: 16px 0px; }
		.inner { user-select: none; }

		.head { padding: 0px 16px; }
		.head {
			.date { color: $colorMediumGrey; margin-bottom: 6px; }
			.sides { display: flex; margin-bottom: 10px; }
			.side { width: 50%; }
			.side.right { text-align: right; }
			.side.right {
				.select { margin-right: -4px; }
			}
		}

		.body { padding: 0px 16px; }
		.foot { padding: 0px 16px; }
		.foot {
			.btn { display: inline-block; vertical-align: top; margin-right: 16px; cursor: pointer; transition: $transitionFast; }
			.btn:last-child { margin: 0px; }
			.btn:hover { color: #e89d00; }
		}

		.day { 
			display: inline-block; vertical-align: top; width: 28px; height: 28px; line-height: 28px; text-align: center; cursor: pointer; margin-right: 8px; 
			border-radius: 4px;
		}
		.day:nth-child(7n + 7) { margin: 0px; }
		.day:hover { background: #fef3c5; color: #e89d00 !important; }

		.day.th { color: $colorMediumGrey; cursor: default; }
		.day.th:hover { background: none; font-weight: 400; color: $colorMediumGrey !important; }
		
		.day.active { color: #e89d00; }
		.day.other { color: $colorMediumGrey; }
		
		.month { height: 28px; line-height: 28px; font-size: 12px; letter-spacing: 0.1px; position: relative; margin-bottom: 4px; }
		.month { 
			.name { margin: 0px; }
			.icons { position: absolute; right: 0px; top: 0px; }
			.icon.arrow { 
				cursor: pointer; width: 28px; height: 28px; background-image: url('~img/arrow/calendar.svg');
				background-size: 8px 12px; border-radius: 4px; margin: 0px;
			}
			.icon.arrow:hover { background-color: #ebe9e0; }
			.icon.arrow.right { transform: rotateZ(180deg); }
		}

		.line { margin: 8px 16px 11px 16px; }
		
		.input { 
			height: 28px; border-radius: 4px; border: solid 1px #d2d0c2; margin-bottom: 10px; padding: 0px 10px;
			background: none; width: 100px; vertical-align: top;
		}

		.select { border: 0px; padding: 0px; height: 24px; vertical-align: top; @include text-paragraph; font-weight: 500; padding: 2px 20px 2px 4px; }
		.select {
			.icon.arrow { background-image: url('~img/arrow/select/big.svg'); }
		}
	}
}