@import "~scss/_mixins";

.menus {
    .menu.menuDataviewRelationList, 
    .menu.menuDataviewRelationEdit, 
	.menu.menuRelationSuggest, 
	.menu.menuDataviewObjectType,
	.menu.menuDataviewObjectValues,
	.menu.menuDataviewOptionList,
	.menu.menuDataviewFilterList,
	.menu.menuDataviewFilterValues,
	.menu.menuDataviewSort
	{
		.item {
			.icon.plus { margin-right: 4px; }
		}

		.item.empty { padding: 11px 16px; height: auto; line-height: 22px; border-radius: 8px; @include text-overflow-nw; display: block; }
		.item.empty:hover::before { opacity: 0; }

		.filter { padding-top: 12px; }
		.label { color: var(--color-control-active); @include text-small; padding: 0px 16px; font-weight: 500; margin-bottom: 8px; }
    }

    .menu.menuDataviewFilterList,
    .menu.menuDataviewSort {
		.item {
            .icon.dnd { vertical-align: top; height: 40px; background-size: 20px; margin: 0px; }
            .icon.relation { margin-right: 4px; }

			.select {
				.item { @include text-common; line-height: 20px; }
				.name { line-height: inherit; }
			}
		}
    }

	.menu.menuDataviewNew { width: var(--menu-width-value); }
}
