@import "~scss/_vars";

.menus {
    .menu.menuDataviewRelationType, 
    .menu.menuDataviewRelationList, 
    .menu.menuDataviewRelationEdit, 
    .menu.menuDataviewViewList,
	.menu.menuDataviewObjectType,
	.menu.menuDataviewObjectValues,
	.menu.menuDataviewOptionList,
	.menu.menuDataviewFilter,
	.menu.menuDataviewSort,
	{
        .item:hover::before { opacity: 0.15; }
		.item {
			.icon.plus { margin-right: 4px; background-image: url('~img/icon/dataview/button/plus0.svg'); }
			.icon.dnd { margin-right: 2px; }
		}

		.item.empty { color: #6c6a5f; padding: 8px 16px 12px 16px; line-height: 22px; cursor: default; }

		.item.empty { color: #6c6a5f; padding: 8px 16px 12px 16px; line-height: 22px; cursor: default; }

		.item.add { color: $colorDarkGrey; line-height: 20px; }
		.item.add:hover { color: $colorBlack; }
		.item.add:hover {
			.icon.plus { background-image: url('~img/icon/dataview/button/plus1.svg'); }
		}

		.label { color: $colorDarkGrey; @include text-small; padding: 0px 16px; font-weight: 500; margin-bottom: 8px; }
    }

    .menu.menuDataviewRelationList, 
    .menu.menuDataviewFilter,
    .menu.menuDataviewSort {
		.select > .current > .name { max-width: 102px; }
    }

    .menu.menuDataviewFilter,
    .menu.menuDataviewSort {
		.item {
            .icon.dnd { vertical-align: middle; }
            .icon.relation { margin-right: 4px; }

			.select { @include text-common; margin-right: 8px; line-height: 20px; }
			.select:last-child { margin: 0px; }
			.select {
				.name { line-height: inherit; }
			}
		}
    }
}