@import "~scss/_vars";

.menus {
	.menu.menuDataviewFileValues {
		.content { padding-bottom: 0px; }

		.item { display: flex; color: $colorDarkGrey; }
		.item {
			img { display: block; max-width: 100%; max-height: 208px; object-fit: contain; }
			.name { line-height: 20px; width: calc(100% - 26px); @include text-overflow-nw; }
			.clickable { width: calc(100% - 20px); display: inline-block; vertical-align: top; }
			.icon.more { background-color: #fff; }
		}
		.item.isImage {
			.icon.more { top: 12px; right: 24px; margin: 0px; }
			.icon.more:hover { background-color: #fff; }
		}

		.item.isFile:hover, .item.isFile.active {
			.clickable { width: calc(100% - 46px); }
		}
		.item:hover::before { background: rgba(172, 169, 150, 0.1); }
		.item:hover, .item.active {
			.icon.more { opacity: 1; }
		}

		.section:last-child { padding-bottom: 8px; }
	}
}