@import "~scss/_vars";

.menus {
	.menu.menuDataviewFilter { width: 446px; }
	.menu.menuDataviewFilter {
		.item { padding: 4px 40px 4px 10px; display: flex; position: relative; }
		.item {
			.icon.dnd { flex-shrink: 0; margin-top: 5px; }
			.input { flex-shrink: 2; border-radius: 4px; border: solid 1px #d2d0c2; padding: 0px 6px; }

			.icon.checkbox { width: 24px; height: 24px; margin-top: 3px; background-image: url('~img/icon/dataview/checkbox0.svg'); }
			.icon.checkbox.active { background-image: url('~img/icon/dataview/checkbox1.svg'); }

			.select { flex-shrink: 0; width: 100px; }
			.select.operator { width: auto; }
			.select.operator .name { overflow: visible; }
		}

		.item.add { display: block; }
		.item.add {
			.icon.dnd { margin-top: 0px; }
		}
	}
}