@import "~scss/_mixins";

.menus {
	.menu.menuDataviewFilterList { width: var(--menu-width-set); }
	.menu.menuDataviewFilterList {
		.content { overflow: visible !important; padding: 0px; }
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.items { flex-grow: 1; }

		.item { padding: 4px 10px; position: relative; white-space: nowrap; display: flex; align-items: center; }
		.item {
			.grey { color: var(--color-control-active); }
			.iconObject.mainIcon { margin-right: 10px; background-color: var(--color-shape-highlight-medium); }

			.buttons { line-height: 44px; display: none; gap: 0px 8px; margin: 0px 0px 0px 8px; }
			.buttons {
				.icon { vertical-align: middle; opacity: 1; }
			}

			.select { overflow: hidden; border: 0px; padding: 0px; display: block; }
			.select:hover, .select.isFocused { background: none; }
			.select {
				.icon.relation { display: none; }
				.icon.arrow { display: none; }
			}

			.tagItem { margin: 1px 4px 0px 0px; vertical-align: top; }

			.element { display: inline-block; vertical-align: top; margin-right: 4px; line-height: 22px; }
			.element {
				.iconObject { margin-right: 2px; }
			}

			.txt { line-height: 20px; height: 40px; display: flex; flex-direction: column; align-items: flex-start; flex-grow: 1; overflow: hidden; }
			.txt {
				> .name { @include text-overflow-nw; max-width: 100%; }
				> .flex { line-height: 20px; max-width: 100%; }
				> .name, > .flex { display: flex; align-items: center; }

				.condition { color: var(--color-text-secondary); margin-right: 4px; }
				.value { color: var(--color-text-secondary); white-space: nowrap; overflow: hidden; }
			}
		}
		.item.empty { margin: 8px 0px; padding: 14px 16px; }

		.item:not(.isReadonly) {
			.txt {
				> .name::after, > .flex::after { content: ''; width: 20px; height: 20px; flex-shrink: 0; }
				> .name::after { background-image: url('~img/arrow/select/dark.svg'); }
				> .flex::after { background-image: url('~img/arrow/select/light.svg'); }
			}
		}

		.item:not(.isReadonly):hover, 
		.item:not(.isReadonly).hover 
		{
			.buttons { display: flex; }
		}

		.item.add { display: block; }
		.item.add {
			.icon.dnd { margin-top: 0px; }
		}

		.bottom {  padding: 0px 0px 8px 0px; flex-shrink: 0; }
		.bottom {
			.line { margin-top: 0px; }
		}
	}

	.menu.menuDataviewFilterValues { width: var(--menu-width-value); }
	.menu.menuDataviewFilterValues {
		.inner {
			> .head { display: flex; align-items: center; justify-content: space-between; gap: 0px 4px; padding: 0px 10px; }
			> .head {
				.conditionSelect { padding: 4px 0px 4px 6px; border-radius: 6px; display: flex; align-items: center; gap: 4px; }
				.conditionSelect {
					.select {
						.currentSelected { text-transform: lowercase; }
					}
				}
				.conditionSelect:hover,
				.conditionSelect.hover { background-color: var(--color-shape-highlight-medium); }
				.conditionSelect:hover,
				.conditionSelect.hover {
					.select { background: none; }
				}

				.label { @include text-common; color: var(--color-text-primary); font-weight: 500; padding: 0px; margin: 0px; }
				.select {
					display: flex; border: 0px; padding: 0px; flex-shrink: 0;
					background-color: var(--color-bg-primary); color: var(--color-text-secondary);
				}
				.select {
					.icon.arrow { position: static !important; margin: 0px !important; }
				}
			}
			> .section {
				.item {
					.select { border: 0px; padding: 0px; display: block; width: 100%; }
					.select:hover, .select.isFocused { background: none; }
					.select {
						.icon.arrow { background-image: url('~img/arrow/filter.svg') !important; }
					}
					.select.checkboxValue {
						.item { @include text-common; }
						.icon.arrow { right: -8px !important; }
					}
				}

				.textInputWrapper { position: relative; margin: 0px 16px 4px; }
				.textInputWrapper {
					.input {
						padding: 6px 28px 8px 12px; border-radius: 18px; border: 1px solid var(--color-shape-secondary);
						background-color: var(--color-shape-highlight-light);
					}
					.input.isFocused { border-color: var(--color-shape-primary); background-color: var(--color-shape-highlight-medium); }
					.icon.clear { position: absolute; top: 5px; right: 8px; width: 20px; height: 20px; opacity: 0; background-image: url('~img/icon/filter/clear0.svg'); }
					.icon.clear:hover { background-image: url('~img/icon/filter/clear1.svg'); }
					.icon.clear.active { opacity: 1; }
				}
			}
		}
	}
}
