@import "~scss/_vars";

.menus {
	.menu.menuDataviewFilterList { width: 360px; }
	.menu.menuDataviewFilterList {
		.content { overflow: visible; max-height: unset; padding: 0px; }
		.scrollWrap { padding: 8px 0px; overflow-x: hidden; overflow-y: overlay; max-height: 350px; }

		.item { padding: 4px 0px 4px 10px; position: relative; white-space: nowrap; display: flex; }
		.item {
			.grey { color: $colorMediumGrey; }
			.iconObject { margin-right: 10px; }

			.buttons { line-height: 44px; opacity: 0; transition: $transitionFast; }
			.buttons {
				.icon { vertical-align: middle; opacity: 1; }
			}

			.name { @include text-overflow-nw; width: 100%; }

			.select { overflow: hidden; border: 0px; padding: 0px; display: block; }
			.select:hover, .select.active { background: none; }
			.select {
				.icon.relation { display: none; }
				.icon.arrow { display: none; }
			}

			.condition { color: $colorDarkGrey; margin-right: 4px; }
			.value { color: $colorDarkGrey; white-space: nowrap; overflow: hidden; line-height: 22px; }

			.tagItem { margin: 2px 4px 0px 0px; vertical-align: top; }

			.element { display: inline-block; vertical-align: top; margin-right: 4px; line-height: 22px; }
			.element {
				.iconObject { margin-right: 2px; }
			}

			.txt { width: calc(100% - 74px); line-height: 20px; height: 40px; }
			.flex { line-height: 22px; }
		}
		.item.empty { padding: 13px 16px; }

		.item:hover, .item.hover {
			.buttons { opacity: 1; }
			.txt { width: calc(100% - 116px); }
		}

		.item.add { display: block; }
		.item.add {
			.icon.dnd { margin-top: 0px; }
		}

		.bottom { padding: 0px 0px 8px 0px; }
		.bottom {
			.line { margin-top: 0px; }
		}
	}

	.menu.menuDataviewFilterValues { width: 288px; }
	.menu.menuDataviewFilterValues {
		.content { max-height: 300px; }
		.item { display: flex; }

		.select { border: 0px; padding: 0px; display: block; width: 100%; }
		.select:hover, .select.active { background: none; }
		.select {
			.icon.arrow { background-image: url('~img/arrow/filter.svg') !important; }
		}
		.item.add:hover::before, .item.add.hover:hover::before { opacity: 1 !important; }

		.item {
			.clickable { width: 100%; height: 20px; display: flex; }
			.buttons { position: absolute; right: 8px; top: 4px; }

			.icon.delete { transition: none; }
			.name { @include text-overflow-nw; width: calc(100% - 40px); }

			.input { width: calc(100% - 20px); }

			.icon.clear { 
				width: 20px; height: 20px; background-image: url('~img/icon/clear0.svg'); position: absolute; right: 10px; top: 4px;
				cursor: pointer; opacity: 0; margin: 0px; transition: opacity 0.2s ease-in-out;
			}
			.icon.clear:hover { background-image: url('~img/icon/clear1.svg'); }
			.icon.clear.active { opacity: 1; }
		}
		.item.withCaption {
			.clickable { width: calc(100% - 46px); }
		}
		.item.empty { padding: 13px 16px; }

		.item:hover, .item.hover {
			.clickable { margin-right: 6px; width: calc(100% - 30px); }
			.caption { display: none; }
		}

		.tagItem { vertical-align: top; margin-top: 1px; }

		.input { border: 0px; padding: 0px; height: 20px; }
	}
}