@import "~scss/_vars";

.menus {

	.menu.menuDataviewObjectList { width: 288px; }
	.menu.menuDataviewObjectList {
		.content { padding-bottom: 0px; transition: none; }
		.wrap { height: 100%; display: flex; flex-direction: column; }

		.items { height: calc(100% - 34px); }
		.item {
			.name { @include text-overflow-nw; width: calc(100% - 26px); }
		}
		.label { color: $colorMediumGrey; @include text-common; padding: 0px 16px; }
	}

	.menu.menuDataviewObjectList.single { width: 256px; }
	.menu.menuDataviewObjectList.single {
		.item {
			.name { margin: 0px; }
			.caption { display: none; }
		}
	}

	.menu.menuDataviewObjectValues { width: 288px; }
	.menu.menuDataviewObjectValues {
		.content { max-height: 280px; }

		.item { padding: 4px 16px 4px 10px; }
		.item {
			.name { @include text-overflow-nw; }

			.icon.delete { 
				width: 24px; height: 24px; background-size: 20px; right: 10px; margin-top: -12px; border-radius: 4px; 
				opacity: 0; z-index: 1; transition: none;
			}
			.icon.delete:hover { background-color: $colorHover; }
		}
		.item.hover, .item:hover {
			.caption { opacity: 0; }
			.icon.delete { opacity: 1; }
		}

		.item.add {
			.clickable { width: 100%; display: block; }
		}
		.item.add:hover::before { background: $colorHover; }
	}

	.menu.menuDataviewObjectValues.fromFilter {
		.item {
			.icon.dnd { display: none; }
		}
	}
}