/** @format */

@import '~scss/_vars';

.menus {
	.menu.menuDataviewOptionList {
		width: 288px;
	}
	.menu.menuDataviewOptionList {
		.content {
			overflow: visible;
			transition: none;
			padding: 0px;
			max-height: unset;
		}
		.content {
			.wrap {
				height: 100%;
				display: flex;
				flex-direction: column;
			}
			.wrap.noFilter {
				.items {
					height: 100%;
				}
			}

			.items {
				height: calc(100% - 34px);
			}
		}

		.item {
			.clickable {
				width: calc(100% - 20px);
			}
			.buttons {
				display: none;
				position: absolute;
				right: 8px;
				top: 4px;
			}
		}
		.item:hover,
		.item.hover {
			.clickable {
				width: calc(100% - 24px);
			}
			.buttons {
				display: block;
			}
			.icon.chk {
				right: 32px;
			}
		}
		.item.add {
			.name {
				@include text-overflow-nw;
				width: calc(100% - 24px);
			}
		}
	}

	.menu.menuDataviewOptionEdit {
		.content {
			overflow: visible;
			max-height: unset;
		}
		.filter {
			margin-bottom: 8px;
		}
		.item:hover::before {
			background: $colorShapeHighlightMedium;
		}
		.item.active::before {
			z-index: 1;
		}
	}

	.menu.menuDataviewOptionList.fromFilter {
		.item {
			.icon.more {
				display: none;
			}
		}
	}
}
