@import "~scss/_vars";

.menus {
	.menu.menuDataviewOptionList { width: 288px; }
	.menu.menuDataviewOptionList {
		.content { overflow: visible; transition: none; padding: 0px; max-height: unset; }
		.content {
			.wrap { height: 100%; display: flex; flex-direction: column; }
			.wrap.noFilter {
				.items { height: 100%; }
			}

			.items { height: calc(100% - 34px); }
		}

		.item {
			.clickable { width: calc(100% - 20px); }
			.buttons { display: none; position: absolute; right: 8px; top: 4px; }
		}
		.item:hover, .item.hover {
			.clickable { width: calc(100% - 24px); }
			.buttons { display: block; }
			.icon.chk { right: 32px; }
		}
		.item.add {
			.name { @include text-overflow-nw; width: calc(100% - 24px); }
		}
	}

	.menu.menuDataviewOptionEdit { width: 256px; }
	.menu.menuDataviewOptionEdit {
		.content { padding-top: 12px; overflow: visible; max-height: unset; }
		.filter { margin-bottom: 8px; }
		.item:hover::before { background: $colorShapeHighlightMedium; }
		.item.active::before { z-index: 1; }

		.section.colorPicker { padding: 8px 16px 0px; }
		.section.colorPicker {
			.items { width: 224px; display: flex; flex-wrap: wrap; gap: 8px; }
			.items {
				.item.color { width: 38px; height: 38px; border-radius: 50%; position: relative;; }
				.item.color::before { display: none; }
				.item.hover, .item:hover { box-shadow: 0px 0px 0px 1px $colorBgPrimary, 0px 0px 0px 3px $colorShapePrimary; }

				.item.color-grey { background: $colorControlActive; }
				.item.color-yellow { background: $colorYellow; }
				.item.color-orange { background: $colorOrange; }
				.item.color-red { background: $colorRed; }
				.item.color-pink { background: $colorPink; }
				.item.color-purple { background: $colorPurple; }
				.item.color-blue { background: $colorBlue; }
				.item.color-ice { background: $colorIce; }
				.item.color-teal { background: $colorTeal; }
				.item.color-lime { background: $colorLime; }

				.icon.tick { position: absolute; left: 50%; top: 50%; margin: -10px 0px 0px -10px; width: 20px; height: 20px; background-image: url('~img/icon/tick.svg'); }
			}
		}
		.section.colorPicker:after { margin: 16px 0px 0px 0px; }
	}

	.menu.menuDataviewOptionList.fromFilter {
		.item {
			.icon.more { display: none; }
		}
	}

	.menu.menuDataviewOptionList.featuredRelation {
		.titleWrapper { padding-bottom: 0px; }
		.item {
			.icon.chk { right: 8px; }
		}
		.item:hover, .item.hover {
			.buttons { display: block; }
			.icon.chk { display: none; }
		}
	}
}
