@import "~scss/_vars";

.menus {
	.menu.menuDataviewPropertyList { width: 224px; }
	.menu.menuDataviewPropertyList {
		.item {
			.icon.property { width: 16px; }
			.icon.plus { width: 12px; height: 12px; background-image: url('~img/icon/block/dataview/plus/light0.svg'); }
			.switch { position: absolute; right: 16px; top: 50%; margin-top: -8px; }
			.name { width: calc(100% - 73px); }
		}
		.item.add { color: $colorDarkGrey; }
	}
	
	.menu.menuDataviewPropertyEdit { width: 208px; }
	.menu.menuDataviewPropertyEdit {
		.wrap { padding: 8px 16px; }
		.line { height: 1px; margin: 8px 0px; background: $colorLightGrey; }
		.input { border: 1px solid $colorLightGrey; font-size: 13px; padding: 0px 8px; }
		
		.icon.arrow { 
			width: 20px; height: 20px; position: absolute; right: 14px; top: 50%; margin: -10px 0px 0px 0px; 
			background-image: url('~img/arrow/menu.svg'); 
		}
	}
}