@import "~scss/_vars";

.menus {
	.menu.menuDataviewSort { width: 360px; }
	.menu.menuDataviewSort {
		.content { overflow: visible; max-height: unset; padding: 0px; }
		.scrollWrap { padding: 8px 0px; overflow-x: hidden; overflow-y: auto; max-height: 350px; }

		.item { padding: 4px 40px 4px 10px; white-space: nowrap; }
		.item {
			.txt { width: calc(100% - 72px); }

			.iconObject { margin-right: 10px; }
			
			.select { border: 0px; padding: 0px; display: block; }
			.select:hover, .select.active { background: none; }
			.select.grey { color: $colorMediumGrey; }
			.select {
				.icon.relation { display: none; }
				.icon.arrow { display: none; }
			}

		}

		.bottom { padding: 0px 0px 8px 0px; }
		.bottom {
			.line { margin-top: 0px; }
		}
	}	
}