@import "~scss/_vars";

.menus {
	.menu.menuDataviewTagList { width: 228px; }
	.menu.menuDataviewTagList {
		.form { padding: 0px 10px; }
		.line { height: 1px; margin: 8px 0px; background: $colorLightGrey; }
		.input { padding: 0px; font-size: 12px; height: 18px; }
		.item { padding: 5px 10px; }
	}
	
	.menu.menuDataviewTagEdit { width: 208px; }
	.menu.menuDataviewTagEdit {
		.wrap { padding: 8px 16px; }
		.input { border: 1px solid $colorLightGrey; font-size: 13px; padding: 0px 8px; }
	}	
}