@import "~scss/_vars";

.menus {
    .menu.menuDataviewTemplateContext {
        #item-remove { color: $colorRed; }
    }

    .menu.menuDataviewTemplateList { width: 360px; }
    .menu.menuDataviewTemplateList {
        .titleWrapper + .content { padding-top: 8px; }

        .content { padding: 16px; max-height: 408px; }
        .content {
            .select { margin-bottom: 16px; }

            .title { padding: 4px 0; margin-bottom: 6px; }

            .items { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 12px; }
            .items {
                .previewObject.hover { background-color: $colorShapeHighlightLight; }
                .previewObject {
                    .add { width: 20px; height: 20px; @include pos-abs-mid; margin: -10px 0px 0px -10px; }
                }
                .previewObject.isDefault {
                    .border { border-color: $colorSystemAccent100; border-width: 2px; }
                }
            }

            .emptySearch {
                height: 112px; width: 100%; border-radius: 8px; border: 1px solid $colorShapeSecondary; @include text-small;
                display: flex; align-items: center; justify-content: center;
            }
        }
    }
    .menu.menuDataviewTemplateList.fromBanner { background-color: transparent; box-shadow: none; }
    .menu.menuDataviewTemplateList.fromBanner {
		.content { overflow: visible; padding: 0px; }
        .content {
            .items { justify-content: space-around; align-content: flex-start; }
            .items {
                .previewObject { background: $colorBgPrimary; box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.07); }
            }
        }
    }
}
