@import "~scss/_mixins";

.menus {

	.menu.menuDataviewText {
		#input {
			-webkit-user-modify: read-write-plaintext-only; white-space: normal; z-index: 1; @include text-common; overflow: auto; height: 100%; width: 100%;
			user-select: text; background: none; border-radius: 0px; min-height: 22px;
		}
		#input.input { border: 0px; padding: 0px; }

		&.fromBlockRelation {
			#input, #placeholder { padding: 5px 8px !important; }
		}

		&.fromSidebar {
			#input { min-height: 48px !important; }
		}

		&.withTitle {
			.inputWrapper { margin: 0px 8px; padding: 3px 8px; border-radius: 6px; position: relative; display: flex; align-items: center; }
			.inputWrapper {
				.icon.clear {
					display: none; position: absolute; right: 2px; top: 2px; width: 24px !important; height: 24px !important;
				}

				&:not(.focused) { cursor: default; }
				&:not(.focused):hover {
					.icon.clear { display: block; }
				}
			}

			.items {
				&:before { content: ''; display: block; height: 1px; background: var(--color-shape-secondary); margin: 8px 16px;  }
			}
		}

		&:not(.withTitle) { box-shadow: 0px 0px; background: transparent; }
		&:not(.withTitle) {
			.content { overflow: visible !important; max-height: none; height: 100%; transition: $transitionAllCommon; padding: 0px; }
			.editableWrap, .inputWrapper { height: 100%; }

			#input { border-radius: 4px; padding: 13px 14px; background: var(--color-bg-primary); }
			#placeholder { padding: 13px 14px; }

			&.isInline {
				#input, #placeholder { padding: 9px 14px; }
			}

			&.show {
				#input { box-shadow: 0px 0px 0px 2px var(--color-system-accent-50); }
			}
		}
	}
}