@import "~scss/_vars";

.menus {
	.menu.menuDataviewViewList { width: 360px; }
	.menu.menuDataviewViewList {
		.item.big { display: flex; padding: 10px; line-height: 26px; }
		.item.big {
			.icon.dnd { height: 26px; background-size: 20px; vertical-align: middle; }
			.buttons {
				.icon { vertical-align: middle; }
			}

			.name { @include text-header3; }

			.icon.view { width: 40px; height: 40px; margin-right: 10px; }
			.icon.view.c0 { background-image: url('~img/icon/dataview/view/grid1.svg'); }
			.icon.view.c1 { background-image: url('~img/icon/dataview/view/list1.svg'); }
			.icon.view.c2 { background-image: url('~img/icon/dataview/view/gallery1.svg'); }
			.icon.view.c3 { background-image: url('~img/icon/dataview/view/board1.svg'); }

			.clickable { width: calc(100% - 22px); }
		}

	}

	.menu.menuDataviewViewEdit { width: 360px; }
	.menu.menuDataviewViewEdit {
		.item {
			.icon.item-icon { background-image: url('~img/icon/menu/view/icon.svg'); }
			.icon.item-cover { background-image: url('~img/icon/menu/view/cover.svg'); }
			.icon.item-size { background-image: url('~img/icon/menu/view/size.svg'); }
			.icon.item-fit { background-image: url('~img/icon/menu/view/fit.svg'); }
		}

		.item.withCaption {
			.caption { @include text-common; line-height: 20px; width: 100px; }
			.caption::after {
				content: ""; width: 20px; height: 20px; background-image: url('~img/arrow/caption.svg'); background-repeat: no-repeat;
				background-size: 100% 100%; display: inline-block; vertical-align: middle; 
			}
		}
	}
}