@import "~scss/_vars";

.menus {
	.menu.menuDataviewViewList { width: 360px; }
	.menu.menuDataviewViewList {
		.content { overflow: hidden; max-height: unset; padding: 0px; }
		.wrap { height: 100%; display: flex; flex-direction: column; }
		.items { flex-grow: 1; }

		.item.big { display: flex; padding: 4px 10px; line-height: 40px; align-items: center; }
		.item.big {
			.icon.dnd { height: 26px; background-size: 20px; vertical-align: middle; }
			.buttons {
				.icon { vertical-align: middle; }
			}

			.name { 
				@include text-header3; @include text-overflow-nw; vertical-align: middle; 
				width: 100%;
			}

			.icon.view { width: 40px; height: 40px; margin-right: 10px; }
			.icon.view.c0 { background-image: url('~img/icon/dataview/view/grid1.svg'); }
			.icon.view.c1 { background-image: url('~img/icon/dataview/view/list1.svg'); }
			.icon.view.c2 { background-image: url('~img/icon/dataview/view/gallery1.svg'); }
			.icon.view.c3 { background-image: url('~img/icon/dataview/view/board1.svg'); }

			.clickable { width: calc(100% - 22px); margin-right: 10px; display: flex; align-items: center; }
		}
		.item.big:hover {
			.clickable { width: calc(100% - 52px); }
		}

		.item.add:hover::before { background: $colorHover; }

		.bottom {  padding: 0px 0px 8px 0px; flex-shrink: 0; }
		.bottom {
			.line { margin-top: 0px; }
		}
	}

	.menu.menuDataviewViewEdit { width: 360px; }
	.menu.menuDataviewViewEdit {
		.item {
			.icon.item-icon { background-image: url('~img/icon/menu/view/icon.svg'); }
			.icon.item-cover { background-image: url('~img/icon/menu/view/cover.svg'); }
			.icon.item-size { background-image: url('~img/icon/menu/view/size.svg'); }
			.icon.item-fit { background-image: url('~img/icon/menu/view/fit.svg'); }
		}

		.item.withCaption {
			.caption { @include text-common; line-height: 20px; width: 150px; padding-right: 16px; }
		}
	}
}